/* line 9, ../../sass/module/_base.scss */
body {
  background-image: url('../../images/bg.jpg?1490260139');
  position: relative;
  padding-top: 5px;
}

/* line 28, ../../sass/module/_base.scss */
.bottom_side {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #cdcdcd;
}

/* line 4, ../../sass/partical/buttom_side.scss */
.bottom_side {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
/* line 15, ../../sass/partical/buttom_side.scss */
.bottom_side div {
  padding: 0 6px;
  font-size: 9pt;
  color: #636363;
}
/* line 22, ../../sass/partical/buttom_side.scss */
.bottom_side div span {
  color: #80b600;
}
/* line 27, ../../sass/partical/buttom_side.scss */
.bottom_side ul {
  margin-bottom: 0;
}
/* line 31, ../../sass/partical/buttom_side.scss */
.bottom_side ul li {
  padding: 0 6px;
  display: inline;
  border-right: 1px solid #cdcdcd;
}
/* line 39, ../../sass/partical/buttom_side.scss */
.bottom_side ul li li.no_border {
  border: none;
}
/* line 43, ../../sass/partical/buttom_side.scss */
.bottom_side ul li a {
  font-size: 9pt;
  color: #636363;
  transition: color speed_quick;
}
/* line 48, ../../sass/partical/buttom_side.scss */
.bottom_side ul li a:hover {
  color: #80b600;
  text-decoration: none;
}
