/* line 16, ../../sass/module/_colors.scss */
.transparent_background {
  background-color: transparent;
}

/* line 11, ../../sass/module/_base.scss */
.content_background .content {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #cbcbcb;
}

/* line 21, ../../sass/module/_base.scss */
.content_background .content {
  box-shadow: 0 0 10px #959595;
}

/* line 6, ../../sass/module/function_card.scss */
.function_card {
  width: 230px;
  height: 283px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ededed;
  padding: 25px 35px;
  text-align: center;
  transition: background-color 0.3s, opacity 0.3s;
}
/* line 19, ../../sass/module/function_card.scss */
.function_card .card_title {
  font-size: 14px;
}
/* line 22, ../../sass/module/function_card.scss */
.function_card .card_icon {
  color: #cbcbcb;
  transition: color 0.3s;
  font-size: 52px;
}
/* line 27, ../../sass/module/function_card.scss */
.function_card .card_text {
  transition: color 0.3s;
  font-size: 9pt;
}
/* line 31, ../../sass/module/function_card.scss */
.function_card .card_btn {
  background: #cbcbcb;
  border: none;
  font-size: 9pt;
  padding: 5px 10px;
  align-self: center;
}
/* line 39, ../../sass/module/function_card.scss */
.function_card:hover {
  background-color: darkgray;
  opacity: 0.6;
  color: black;
}
/* line 43, ../../sass/module/function_card.scss */
.function_card:hover .card_title {
  color: white;
}
/* line 46, ../../sass/module/function_card.scss */
.function_card:hover .card_text {
  color: white;
}

/* line 4, ../../sass/module/array_icon.scss */
.array_icon {
  font-size: 16pt;
  /*size*/
  width: 40px;
  height: 40px;
  /*circle*/
  border-radius: 50%;
  /*align & justify*/
  line-height: 40px;
  text-align: center;
  /*color*/
  background-color: #cbcbcb;
  color: white;
}

/* line 15, ../../sass/partical/content.scss */
.content_background .content .content_items {
  padding: 24px;
}
/* line 17, ../../sass/partical/content.scss */
.content_background .content .content_items .function_card {
  position: relative;
  bottom: 12vh;
}
/* line 22, ../../sass/partical/content.scss */
.content_background .content .content_items ul.why_choose_us_list {
  padding-left: 0;
}
/* line 25, ../../sass/partical/content.scss */
.content_background .content .content_items ul.why_choose_us_list li {
  display: block;
  border-bottom: 1px solid #cbcbcb;
  padding: 14px 0;
}
/* line 32, ../../sass/partical/content.scss */
.content_background .content .content_items .line {
  border-top: solid 1px #cbcbcb;
  border-bottom: none;
  margin-top: 62px;
  margin-bottom: 40px;
}

/* line 41, ../../sass/partical/content.scss */
.content_unit {
  font-size: 9pt;
  color: #cbcbcb;
}
/* line 46, ../../sass/partical/content.scss */
.content_unit p {
  padding-top: 15px;
  margin-bottom: 0;
}
/* line 51, ../../sass/partical/content.scss */
.content_unit .read_more {
  color: #959595;
  padding-left: 2px;
}
/* line 55, ../../sass/partical/content.scss */
.content_unit .read_more:hover {
  color: light_gray;
}

/* line 61, ../../sass/partical/content.scss */
.news_item {
  display: flex;
  flex-direction: row;
}
/* line 65, ../../sass/partical/content.scss */
.news_item > div, .news_item img {
  margin: 5px;
}
/* line 69, ../../sass/partical/content.scss */
.news_item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 9pt;
}
/* line 73, ../../sass/partical/content.scss */
.news_item > div .news_date {
  font-size: 11pt;
  width: 76px;
  line-height: 28px;
  text-align: center;
  color: #FBFBFB;
  background-color: #8EBA26;
}
