/* line 9, ../../sass/module/_base.scss */
body {
  background-image: url('../../images/bg.jpg?1490260139');
  position: relative;
  padding-top: 5px;
}

/* line 28, ../../sass/module/_base.scss */
.footer {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #cdcdcd;
}

/* line 38, ../../sass/module/_base.scss */
.footer {
  box-shadow: 0 0 10px #9c9c9c;
}

/* line 27, ../../sass/module/talkbuble.scss */
.talkbuble {
  color: #cdcdcd;
  position: relative;
  padding: 15px;
  background-color: #cdcdcd;
  font-size: 1rem;
}
/* line 36, ../../sass/module/talkbuble.scss */
.talkbuble::before {
  position: absolute;
  top: 100%;
  left: 0%;
  content: "";
  border-top: 15px solid #cdcdcd;
  border-right: 15px solid transparent;
  z-index: 1;
}

/* line 3, ../../sass/module/about_author.scss */
.about_author {
  display: flex;
  flex-direction: row;
}

/* line 4, ../../sass/module/get_it_touch.scss */
.get_it_touch .text_area input, .get_it_touch .text_area textarea, .get_it_touch .btn_area input {
  line-height: 22px;
  padding: 2px 10px;
  border: solid 1px #cdcdcd;
}

/* line 11, ../../sass/module/get_it_touch.scss */
.get_it_touch {
  font-size: 9pt;
}
/* line 14, ../../sass/module/get_it_touch.scss */
.get_it_touch .text_area input {
  width: 100%;
  margin: 3px 0;
}
/* line 20, ../../sass/module/get_it_touch.scss */
.get_it_touch .text_area textarea {
  width: 100%;
  height: 90px;
}
/* line 28, ../../sass/module/get_it_touch.scss */
.get_it_touch .btn_area input {
  border: none;
  margin-top: 15px;
}
/* line 35, ../../sass/module/get_it_touch.scss */
.get_it_touch .clear_form_btn {
  background-color: #141414;
  color: white;
  margin-right: 3px;
}
/* line 40, ../../sass/module/get_it_touch.scss */
.get_it_touch .send_btn {
  background-color: #80b600;
  color: white;
}

/* line 9, ../../sass/module/flickr_imgs.scss */
.flickr_imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/* line 17, ../../sass/module/flickr_imgs.scss */
.flickr_imgs img {
  width: 52px;
  height: 52px;
}

/* line 8, ../../sass/partical/footer.scss */
.footer {
  background-color: #FBFBFB;
  background-image: url('../../images/subbg.gif?1490260139');
  margin-top: 35px;
  padding: 28px;
  font-size: 9pt;
}
/* line 19, ../../sass/partical/footer.scss */
.footer h5 {
  margin-bottom: 20px;
}
/* line 23, ../../sass/partical/footer.scss */
.footer .talkbuble {
  margin-bottom: 30px;
  color: black;
  font-size: 9pt;
}
/* line 30, ../../sass/partical/footer.scss */
.footer .about_author > div {
  margin-left: 15px;
}
/* line 33, ../../sass/partical/footer.scss */
.footer .about_author > div i {
  color: #80b600;
}
/* line 40, ../../sass/partical/footer.scss */
.footer .get_it_touch .text_area input, .footer .get_it_touch textarea {
  color: #9c9c9c;
}
/* line 47, ../../sass/partical/footer.scss */
.footer .flickr_imgs {
  margin-right: 1px;
  min-height: 165px;
}
/* line 50, ../../sass/partical/footer.scss */
.footer .flickr_imgs img {
  margin: 5px;
}
