/* line 9, ../../sass/module/_base.scss */
body {
  background-image: url('../../images/bg.jpg?1490260139');
  position: relative;
  padding-top: 5px;
}

/* line 22, ../../sass/module/_base.scss */
.heading {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #cdcdcd;
}

/* line 32, ../../sass/module/_base.scss */
.heading {
  box-shadow: 0 0 10px #9c9c9c;
}

/* line 4, ../../sass/partical/heading.scss */
.heading {
  background-image: url('../../images/subbg.gif?1490260139');
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 18, ../../sass/partical/heading.scss */
.heading .call_us {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 11pt;
}
/* line 26, ../../sass/partical/heading.scss */
.heading .call_us i {
  font-size: 22pt;
  margin: 0 6px;
}
