/* line 9, ../../sass/module/_base.scss */
body {
  background-image: url('../../images/bg.jpg?1490260139');
  position: relative;
  padding-top: 5px;
}

/* line 22, ../../sass/module/_base.scss */
.nav {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #cdcdcd;
}

/* line 3, ../../sass/partical/nav.scss */
.nav {
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 25px;
}
/* line 12, ../../sass/partical/nav.scss */
.nav .btn-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
}
/* line 17, ../../sass/partical/nav.scss */
.nav .btn-toolbar .btn {
  font-size: 9pt;
  padding: 18px 23px;
  border: none;
}
/* line 21, ../../sass/partical/nav.scss */
.nav .btn-toolbar .btn:hover {
  background-color: #80b600 !important;
  color: white;
}
/* line 26, ../../sass/partical/nav.scss */
.nav .btn-toolbar .form-inline {
  padding: 6px;
  background-color: white;
}
