.footer{
  .footerMain{
    padding: 0 30px 30px 30px;
    background: url(../img/subbg.gif);
    @include box-shadow(0 -2px 5px #666);
    >.row{
      overflow: hidden;
      >[class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
      }
    }
    h4{
      @include fontset(25px,100%,#000,padding,30px 0,border,0,margin,0);
    }
    p{
      @include fontset(16px,24px,#000,padding,0,border,0,margin,0);
    }
    .talking{
      position: relative;
      background: #e6e6e6;
      @include fontset(16px,24px,#57514c,padding,15px 10px 15px 25px,border,0,margin,0);
      @include border-radius(3px);
      &:after{
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -1px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 25px 0 0;
        border-color: #e6e6e6 transparent transparent transparent;
      }
    }
    .speaker{
      margin-top:30px;
      img{
        float: left;
        margin-right: 30px;
      }
      p{
        @include fontset(13px,20px,#57514c,padding-top,5px,border,0,margin,0);
        a{
          display: block;
          @include fontset(13px,20px,$rne_green,padding,0px,border,0,margin,0);
          font-style: italic;
        }
      }
    }
    form{
      .formControl{
        width: 100%;
        @include fontset(14px,20px,#818181,padding,5px,border,0,margin-bottom,10px);
        background: #e6e6e6;
        border: 1px solid #d9d9d9;
        @include border-radius(3px);
      }
      textarea{
        resize: none;
        height: 100px;
      }
      .formBtn{
        @include fontset(16px,100%,#fff,padding,10px,border,0,margin-right,15px);
        @include transition(0.3s);
        &:hover{
          @include transform(scale(1.2));
        }
      }
      button[type="reset"]{
        background: #000;
      }
      button[type="submit"]{
        background: $rne_green;
      }
    }
    .flicker{
      padding: 0 10px 10px 0;
      figure{
        overflow: hidden;
        position: relative;
        img{
          width: 100%;
        }
        &:hover .hover{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
        }
      }
    }
  }
  .footerBottom{
    background: #000;
    padding: 20px 0;
    margin-bottom: -230px;
    p{
      @include fontset(14px,20px,#5c5c5c,padding-left,10px,border,0,margin,0);
      a{
        color: $rne_green;
      }
    }
    ul{
      text-align: right;
      padding-top: 10px;
      li{
        display: inline-block;
        a{
          display: block;
          @include fontset(14px,20px,#5c5c5c,padding,0 10px,border,0,margin,0);
          &:hover{
            color: $rne_green;
          }
        }
      }
    }
  }
  .black{
    height: 230px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}










/*=====RWD===================================*/
/*768↓（480~768）*/
@media (max-width:767px){
  .footer{
    .footerBottom{
      ul{
        text-align: left;
      }
    }
  }
}



/*480↓*/
@media (max-width:479px){
}



/*768~1023*/
@media (min-width:768px) and (max-width:1023px){
}



/*1024↑（1024~1279）*/
@media (min-width:1024px){
  .footer{
    .footerBottom{
      p{
        float: left;
        padding-left: 0;
      }
      ul{
        float: right;
        padding-top: 0px;
      }
    }
  }
}



/*1280↑*/
@media (min-width:1280px){
}
