@mixin flex($direction,$distribution) {
  display: flex;
  flex-direction: $direction;
  justify-content: $distribution;
}


@mixin sprite($x, $y) {
  display: inline-block;

  background-image: url(../images/social.png);
  background-repeat: no-repeat;
  background-position: $x $y;
  width: 27px;
  height: 27px;
}

@mixin board-style($bg-color) {
  padding: 25px;
  border: 1px solid #dbdbdb;
  background-color: $bg-color;
  text-align: center;
  height: 100%;
}

@mixin button-style($btn-bg-color, $btn-text-color) {
  padding: 5px 10px;
  background-color: $btn-bg-color;
  color: $btn-text-color;
}


//breakpoints

@mixin tablet{
  @media(min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape{
  @media(min-width: 992px) {
    @content;
  }
}

@mixin desktop{
  @media(min-width: 1200px) {
    @content;
  }
}