//variables
$bg-color-1: #1d1d1d;
$bg-color-2: #fff;
 

$card-color-normal: #e7e7e7;
$card-color-hover: rgba(75, 74, 74, 0.9);
$card-button: #cdcdcd;
$card-button-text: #525252;

$chevron-color: #e0e0e0;

$font-size: (
  fs-1: 36px,
  fs-2: 32px,
  fs-3: 28px,
  fs-4: 24px,
  fs-5: 16px,
  fs-6: 14px,
  fs-7: 12px,
);
  
$link-bg-1: #fff;
$link-bg-2: #80B601;
$link-bg-3: #000;

$link-text-1: #000;
$link-text-2: #fff;
$link-text-3: #80B601;

$text-color-1: #000;
$text-color-2: #797979;
$text-color-3: #7f7f7f;
$text-color-4: #fff;
