//* 直立式
$phone-size: 375px;
$pad-size: 768px;
$pc-size: 992px;

// %phone-media {
//   @media ($phone-size) {
//   }
// }
// %pad-media {
//   @media ($pad-size) {
//   }
// }
// %pc-media {
//   @media ($pc-size) {
//   }
// }
