%title-size {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

$content-size: 12px;

%intro-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

%footer_title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
