@use "../../base/colors" as *;
@use "../../base/breakpoints" as *;
@use "../../base/fonts" as *;
@use "../../base/reset" as *;

.contact {
  input {
    background-color: #e6e6e6;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3%;
    padding: 5px 10px;
    margin-bottom: 8px;
  }
  textarea {
    background-color: #e6e6e6;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3%;
    padding: 5px 10px;
    margin-bottom: 8px;
  }

  .btn-clear {
    text-transform: uppercase;
    background: #000;
    font-weight: 700;
    color: #fff;
    padding: 0.4rem 0.8rem;
    font-size: 0.1rem;
    border: 0;
  }
  .btn-send {
    text-transform: uppercase;
    background: #80b600;
    color: #fff;
    padding: 0.4rem 0.8rem;
    font-size: 0.1rem;
    border: 0;
  }
}
