header {
  background-color: #333;
}

.website_title {
  background: url(/images/subbg.gif);
  display: flex;

  // *phone version
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .community {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    a {
      text-decoration: none;
      display: inline-block;
      color: #333;

      // container
      width: 25px;
      height: 25px;
    }
    svg {
      background-color: #333;
      color: aliceblue;
      border-radius: 50%;
      display: inline-block;
      padding: 5px;
      height: 100%;
      width: 100%;
      font-size: 20px;
    }
  }

  .contact {
    display: flex;

    a {
      text-decoration: none;
      color: #333;
    }
  }
}
