footer
  background-color: rgb(22,22,22)
  .footer-position
    margin: 0 30px
    position: relative
    top: -40px
  .log
    background-color: rgb(224,224,224)
    padding: 20px
  .arrow-corner
    width: 0
    height: 0
    border-style: solid
    border-width: 20px 40px 0 0
    border-color: #e0e0e0 transparent transparent transparent
  .img11
    margin: 10px 0
    div
      display: inline-block
  form
    input, textarea, button
      margin: 10px 0
  .t-size
    width: 60px
    height: 60px
    margin: 5px 0
  .footer-row
    margin: 0 30px !important
    color: #4a4a4a
    .active a
      color: #6ca905
    a:hover
      color: #6ca905
