.padding0
  padding: 0
.margin0
  margin: 0
.margin-center
  margin: 0 auto
.bg-white
  background-image: url("../img/header_bg.gif")
  +box-shadow(0px 0px 5px rgba(0, 0, 0, 0.7))
header
  background-color: rgb(22,22,22)
  height: 100px
  padding-top: 10px
  position: relative
  .headertop-position
    margin: 10px 30px 0px 30px
  .top-right
    float: right
    margin: 30px 20px
  img
    margin: 35px 20px
  .top-right a
    +bg("top_socials.png")
    display: inline-block
  .top2
    background-position: -37px 0
  .top3
    background-position: -74px 0
  .top4
    background-position: -111px 0
  .top5
    background-position: -150px 0
  .header-bottom
    margin: 20px 0px 0px 0px
  nav
    +box-shadow(0px 0px 5px rgba(0, 0, 0, 0.7))
    border-radius: 0 !important
