header {
	.main-header {
		margin-top: 10px;
		margin-bottom: 30px;
		padding: 25px;
		background-image: url(../images/white_bg.gif);
		.logo {
			float: left;
		}

		.social_connection {
			float: right;
			ul {
				list-style-type: none;
				text-align: right;
				li {
					padding: 0px 2px;
					a {
						background-image: url(../images/top_socials.png);
						display: block;
						width: 27px;
						height: 27px;
					}
					@include setNavLinkPic(5, 37, 27);
				}
			}
		}
	}
	#black-bar {
		position: absolute;
		background-color: black;
		height: 100px;
		width: 100%;
		z-index: -1;
		top: 0;
	}
}