// 顏色
$black : #000;
$white : #fff;
$gray : #DAD9D9;
$gray-text : #646363;
$gray-line : #E3E3E3;
$gray-dialogue : #E6E6E6;
$gray-service : #E7E7E7;
$gray-service-hover : #636363;
$gray-service-button : #CDCDCD;
$green : #80B601;