// sprite
$img-social :url("../../images/social.png");

@mixin sprite($x, $y) {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: $img-social;
    background-repeat: no-repeat;
    background-position: $x $y;

    &:hover {
        background-position: $x bottom;
    }
}