/* line 1, ../scss/con.scss */
.content {
  background-color: white;
  width: 83%;
  margin: 0 auto;
}
/* line 5, ../scss/con.scss */
.content img {
  width: 100%;
}
/* line 8, ../scss/con.scss */
.content .fix {
  padding: 100% 0;
}

/* line 12, ../scss/con.scss */
.items {
  background-color: #dde0e0;
  padding: 3% 0;
}
/* line 15, ../scss/con.scss */
.items h3 {
  width: 80%;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 10%;
  word-spacing: 5px;
}
/* line 23, ../scss/con.scss */
.items .itemimg {
  width: 30%;
  margin: 5% auto;
}
/* line 27, ../scss/con.scss */
.items p {
  width: 70%;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}
/* line 33, ../scss/con.scss */
.items a {
  display: block;
  width: 40%;
  padding: 2% 5%;
  text-align: center;
  background-color: #7a7877;
  color: white;
  margin: 5% auto;
}
/* line 42, ../scss/con.scss */
.items a:hover {
  color: white;
  text-decoration: none;
  background-color: #525051;
}

/* line 48, ../scss/con.scss */
.items:hover {
  background-color: rgba(93, 90, 92, 0.39);
}

/* line 51, ../scss/con.scss */
.item1 {
  margin-top: -2%;
}

/* line 52, ../scss/con.scss */
.info {
  border: 3px green solid;
  margin: 2% 0;
}
/* line 55, ../scss/con.scss */
.info h3 {
  padding: 2% 0;
}
/* line 58, ../scss/con.scss */
.info p {
  margin: 2% 0;
  color: #818380;
}
/* line 62, ../scss/con.scss */
.info a {
  color: black;
}

/* line 67, ../scss/con.scss */
.why {
  margin: 2% 0;
  display: flex;
  border-bottom: 1px grey solid;
}
/* line 71, ../scss/con.scss */
.why .whyimg {
  width: 20%;
}
/* line 74, ../scss/con.scss */
.why .whymeg {
  margin: auto 0;
  width: 80%;
}
/* line 77, ../scss/con.scss */
.why .whymeg a {
  display: block;
  margin: auto 0;
}
/* line 81, ../scss/con.scss */
.why .whymeg a:hover {
  text-decoration: none;
}

/* line 86, ../scss/con.scss */
.new {
  margin: 5% 0;
  display: flex;
  border: 2px purple solid;
}
/* line 90, ../scss/con.scss */
.new .newimg {
  width: 40%;
}
/* line 93, ../scss/con.scss */
.new .newinfo {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 2%;
  width: 57%;
  border: 1px green solid;
}
/* line 100, ../scss/con.scss */
.new .newinfo h5 {
  display: block;
  background-color: #7bb30f;
  color: white;
  margin-top: 1%;
  padding: 2% 0;
  font-weight: bold;
}

/* line 111, ../scss/con.scss */
.featured h3 {
  width: 68%;
  margin-left: 2%;
  display: block;
}
/* line 116, ../scss/con.scss */
.featured .controlbt {
  width: 100%;
  display: flex;
  border: 1px yellow solid;
  justify-content: space-around;
}
/* line 121, ../scss/con.scss */
.featured .controlbt a {
  display: flex;
  justify-content: center;
  float: left;
  width: 10%;
  margin: auto 0;
}
/* line 128, ../scss/con.scss */
.featured .controlbt a:hover {
  color: #92da1c;
  text-decoration: none;
}

/* line 134, ../scss/con.scss */
.list {
  border: 3px purple solid;
}
/* line 136, ../scss/con.scss */
.list img {
  display: block;
  border: 1px solid green;
  height: 25%;
  width: 25%;
}

/* line 143, ../scss/con.scss */
.whyimg:hover {
  width: 25%;
}
