/* line 1, ../scss/contact.scss */
.contact {
  background-color: white;
  width: 83%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 1% 0;
}
/* line 7, ../scss/contact.scss */
.contact h4 {
  line-height: 25px;
}
/* line 10, ../scss/contact.scss */
.contact .mes {
  background-color: #dbdbdb;
  display: block;
  padding: 10%;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  margin-bottom: 0;
}
/* line 18, ../scss/contact.scss */
.contact .tran {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #dbdbdb transparent transparent transparent;
}
/* line 26, ../scss/contact.scss */
.contact .testimg {
  width: 100%;
}
/* line 28, ../scss/contact.scss */
.contact .testimg img {
  width: 100%;
}
/* line 32, ../scss/contact.scss */
.contact h5 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 36, ../scss/contact.scss */
.contact .url {
  font-weight: bold;
  color: black;
  margin: 0 -2%;
  display: block;
}
/* line 42, ../scss/contact.scss */
.contact .url:hover {
  color: #92da1c;
  text-decoration: none;
}

/* line 47, ../scss/contact.scss */
.inputinfo {
  margin: 2% 0;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 100%;
}

/* line 53, ../scss/contact.scss */
.clear {
  display: block;
  margin-bottom: -3%;
  background-color: #94da22;
  color: white;
  font-weight: bold;
  width: 70%;
  padding: 1%;
}

/* line 62, ../scss/contact.scss */
.submit {
  display: block;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 40%;
  padding: 1%;
}

/* line 70, ../scss/contact.scss */
.flkimg {
  width: 100%;
}
/* line 72, ../scss/contact.scss */
.flkimg img {
  width: 100%;
}

/* line 76, ../scss/contact.scss */
.rowmargin {
  margin-bottom: 3%;
}

/* line 79, ../scss/contact.scss */
.flkimg:hover {
  cursor: pointer;
}
/* line 81, ../scss/contact.scss */
.flkimg:hover img {
  width: 130%;
  transition-property: all;
  transition-duration: 0.6s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in;
}
