/* line 1, ../scss/main.scss */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  word-break: break-all;
}

/* line 11, ../scss/main.scss */
body {
  background-image: url(/home/ray/git/t6/Ray/img/bg.jpg);
  background-position: center;
}
