* {
  color: #171717;
}

body {
  background-repeat: repeat;
  background-image: linear-gradient(#171717 0% 5%, rgba(255, 255, 255, 0) 5% 88%, #171717 88% 100%), url(../img/bg.jpg);
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1250px;
  }
}

.brand {
  display: flex;
  width: 100%;
  background-image: url(../img/subbg.gif);
  padding: 15px;
}
@media (min-width: 992px) {
  .brand {
    padding: 35px;
    box-shadow: 0 2px 4px #777;
    align-items: center;
    justify-content: space-between;
  }
}
.brand h1 {
  margin-bottom: 0;
}
.brand a {
  display: inline-block;
}
.brand img {
  width: 100%;
}

.logo {
  padding: 15px;
  margin-bottom: 0;
}
.logo img {
  width: 100%;
}

.brand_logo {
  flex-shrink: 1;
}
@media (min-width: 992px) {
  .brand_logo {
    flex: 0 0 30%;
  }
}

.hamburger_icon {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.hamburger_icon span {
  display: block;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  background-color: #81B700;
  margin: 0 auto;
}

.button_first {
  margin-left: auto;
}

.button {
  flex-shrink: 1;
  padding: 5px;
}
.button:focus {
  outline: none;
}

.menu_show {
  padding: 0 15px 15px 15px;
  align-items: stretch;
}
@media (min-width: 992px) {
  .menu_show {
    padding: 0;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0px -2px 4px #777;
  }
}

.menu_list li {
  border-bottom: 1px solid #81B700;
}
@media (min-width: 992px) {
  .menu_list li {
    display: flex;
    align-items: stretch;
    border-bottom: none;
    border-right: 1px solid #E8E8E8;
  }
}

.guide .menu_show .menu_list a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171717;
  font-size: 14px;
}
.guide .menu_show .menu_list a:hover {
  background-color: #81B700;
  color: white;
}
@media (min-width: 992px) {
  .guide .menu_show .menu_list a {
    padding: 0 15px;
  }
}
.guide .menu_show .menu_list .dropdown_list_icon::after {
  content: ">";
  font-family: "Poppins", sans-serif;
  font-size: 14px -2px;
  transform: rotate(90deg);
  margin-left: 5px;
}
.guide .menu_show .menu_list .dropdown_detail {
  border: none;
  border-radius: 0;
  padding: 0;
}
.guide .menu_show .menu_list .dropdown_detail a {
  padding: 10px 0;
}

.address-lg p, .address p {
  margin-bottom: 0;
}
.address-lg p a, .address p a {
  color: #171717;
}
.address-lg p a:hover, .address p a:hover {
  color: #171717;
}

.address {
  padding: 10px;
  background-color: white;
  text-align: right;
}
@media (min-width: 992px) {
  .address {
    display: none;
  }
}

.address-lg {
  display: none;
}
@media (min-width: 992px) {
  .address-lg {
    display: block;
    flex: 0 0 30%;
    text-align: right;
  }
}

.socila_media {
  margin-bottom: 10px;
  font-size: 0;
}
.socila_media a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url(../img/social.png);
}
.socila_media a:hover {
  background-position: 0 27px;
}
.socila_media a:not(:last-child) {
  margin-right: 10px;
}
.socila_media a:nth-child(2) {
  background-position: -37px 0;
}
.socila_media a:nth-child(2):hover {
  background-position: -37px 27px;
}
.socila_media a:nth-child(3) {
  background-position: -74px 0;
}
.socila_media a:nth-child(3):hover {
  background-position: -74px 27px;
}
.socila_media a:nth-child(4) {
  background-position: -111px 0;
}
.socila_media a:nth-child(4):hover {
  background-position: -111px 27px;
}
.socila_media a:nth-child(5) {
  background-position: -150px 0;
}
.socila_media a:nth-child(5):hover {
  background-position: -150px 27px;
}

.searchbar {
  padding: 5px 15px;
}
@media (min-width: 992px) {
  .searchbar {
    flex: 0 0 30%;
    background-color: white;
    box-shadow: -2px -2px 4px #777;
  }
}
.searchbar form {
  display: flex;
  border: 1px solid #E8E8E8;
  background-color: #F3F3F3;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
}
.searchbar input {
  flex: 0 0 90%;
  border: none;
  background-color: #F3F3F3;
  color: #9D9D9D;
}
.searchbar input:focus {
  outline: none;
}
.searchbar input::placeholder {
  color: #9D9D9D;
}
.searchbar input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-image: url(../img/criss-cross.svg);
  background-size: contain;
  cursor: pointer;
}
.searchbar button {
  width: 30px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
}
.searchbar button:hover, .searchbar button:focus {
  outline: none;
}

.guide {
  width: 100%;
  background-image: url(../img/subbg.gif);
}
@media (min-width: 992px) {
  .guide {
    display: flex;
    justify-content: space-between;
    background-image: none;
    margin-top: 30px;
  }
}

header.wrapper {
  padding: 0;
}
@media (min-width: 992px) {
  header.wrapper {
    margin-top: 10px;
  }
}

.whole_nav {
  padding: 0;
}
@media (min-width: 992px) {
  .whole_nav {
    flex-wrap: wrap;
  }
}

.banner {
  padding: 0;
  box-shadow: 0px -20px 0px white;
}

.slider .carousel img {
  min-height: 250px;
  object-fit: cover;
}
.slider .control_button {
  display: none;
}
@media (min-width: 576px) {
  .slider .control_button {
    display: block;
    width: 40px;
    height: 116px;
    background-image: url(../img/slider_prev.gif);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider .control_button:hover {
    background-position: 0 100%;
  }
}
.slider .control_button_next {
  background-image: url(../img/slider_next.gif);
}
@media (min-width: 576px) {
  .slider .carousel-indicators {
    display: none;
  }
}
.slider .carousel-indicators .indicator {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .service {
    margin-top: -45px;
  }
}

.service_card {
  margin-top: 20px;
}

.service_introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  outline: 1px solid #DCDCDC;
  background-color: #E8E8E8;
  padding: 40px 25px 15px;
  text-align: center;
}
.service_introduce h2 {
  font-size: 25px;
}
@media (min-width: 768px) {
  .service_introduce h2 {
    font-size: 19px;
  }
}
.service_introduce:hover {
  background-color: rgba(23, 23, 23, 0.7);
  outline: none;
}
.service_introduce:hover h2, .service_introduce:hover p {
  color: white;
}

.service_icon {
  margin: 25px 0;
}

.read_more_button {
  display: inline-block;
  background-color: #CECECE;
  margin-top: auto;
  padding: 5px 10px;
  color: #171717;
}
.read_more_button:hover {
  color: #171717;
  text-decoration: none;
}

.welcome .image {
  display: block;
  position: relative;
}
.welcome .image .hover_color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #171717;
  opacity: 0;
  transition: 0.4s;
}
.welcome .image .hover_color:hover {
  opacity: 0.8;
}
.welcome .image img.introduce_image {
  width: 100%;
}
.welcome p {
  font-size: 14px;
  margin-top: 20px;
}
.welcome a {
  color: #171717;
}

.advantage span {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #E8E8E8;
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  transition: 0.5s;
}
.advantage span:hover {
  background-color: #171717;
  transform: rotate(90deg);
}

.advantage div {
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 0;
  align-items: center;
  color: #808080;
}
.advantage div:first-of-type {
  padding-top: 0;
}
.advantage div:last-of-type {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .news {
    display: flex;
  }
}
@media (min-width: 992px) {
  .news {
    display: block;
  }
}
.news .each_news {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 20px;
}
.news .each_news img {
  width: 120px;
  flex: 0 1 auto;
  margin-right: 15px;
}
.news .each_news p {
  margin-bottom: 0;
}
.news .each_news .detail .date {
  display: inline-block;
  background-color: #81B700;
  padding: 5px 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}
.news .each_news .detail a {
  color: #171717;
}
@media (min-width: 768px) {
  .news .each_news {
    flex: 0 1 50%;
  }
  .news .each_news:first-child {
    margin-right: 15px;
  }
  .news .each_news:last-child {
    margin-left: 15px;
  }
}
@media (min-width: 992px) {
  .news .each_news:first-child {
    margin-right: 0;
  }
  .news .each_news:last-child {
    margin-left: 0;
  }
}

.featured_works .carousel_slide_medium {
  display: none;
}
@media (min-width: 768px) {
  .featured_works .carousel_slide_medium {
    display: block;
    position: relative;
  }
  .featured_works .carousel_slide_medium .carousel-item_medium .image {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -10px;
  }
  .featured_works .carousel_slide_medium .carousel-item_medium .image img {
    width: 25%;
    padding: 0 10px;
    flex: 1 1 auto;
  }
  .featured_works .carousel_slide_medium .click_button_next, .featured_works .carousel_slide_medium .click_button_pre {
    width: 20px;
    height: 20px;
    top: -33px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #9D9D9D;
  }
  .featured_works .carousel_slide_medium .click_button_pre {
    left: auto;
    right: 40px;
  }
  .featured_works .carousel_slide_medium .click_icon {
    background-image: none;
  }
}

.line {
  border-top: 1px solid #C7C7C7;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .line {
    margin-top: 50px;
  }
}

.featured_works {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .featured_works {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .featured_works .carousel_slide_small {
    display: none;
  }
}

main.wrapper {
  background-image: url(../img/subbg.gif);
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  main.wrapper {
    padding: 0 35px 60px 35px;
    box-shadow: 0 1px 4px #777;
  }
}
main.wrapper h3 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  main.wrapper h3 {
    margin-bottom: 30px;
  }
}
main.wrapper .introduce {
  margin-top: 20px;
}
@media (min-width: 768px) {
  main.wrapper .introduce {
    margin-top: 50px;
  }
}
main.wrapper .introduce p {
  color: #808080;
}

.dialogue {
  position: relative;
  background-color: #E8E8E8;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  padding: 15px 10px 15px 40px;
  font-size: 13px;
  color: #171717;
}
.dialogue::before {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #DCDCDC;
  border-bottom-left-radius: 4px;
}
.dialogue::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 0;
  height: 0;
  border-bottom: 18px solid transparent;
  border-left: 37px solid #E8E8E8;
  border-bottom-left-radius: 3px;
}
@media (min-width: 576px) {
  .dialogue {
    border-bottom-left-radius: 4px;
  }
  .dialogue::before {
    content: "";
    left: -40px;
    bottom: 20px;
    border-top: 15px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid #DCDCDC;
  }
  .dialogue::after {
    content: "";
    left: -37px;
    bottom: 21px;
    border-top: 14px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 19px solid #E8E8E8;
  }
}
@media (min-width: 768px) {
  .dialogue {
    border-bottom-left-radius: 4px;
  }
  .dialogue::before {
    content: "";
    left: -1px;
    bottom: -20px;
    border-bottom: 20px solid transparent;
    border-left: 40px solid #DCDCDC;
    border-bottom-left-radius: 4px;
    border-top: none;
    border-right: none;
  }
  .dialogue::after {
    content: "";
    left: 0;
    bottom: -18px;
    border-bottom: 18px solid transparent;
    border-left: 37px solid #E8E8E8;
    border-bottom-left-radius: 3px;
    border-top: none;
    border-right: none;
  }
}

.user {
  margin-top: 40px;
  display: flex;
}
@media (min-width: 576px) {
  .user {
    display: block;
    flex: 0 0 30%;
    margin-top: 0;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .user {
    display: flex;
    margin-top: 40px;
    margin-right: 0;
  }
}
.user img {
  width: 100%;
  flex: 0 0 30%;
  object-fit: contain;
  object-position: top;
  margin-right: 20px;
}
.user .user_profile p {
  font-size: 18px;
  color: #171717;
  margin-bottom: 5px;
}
.user .user_profile a {
  color: #81B700;
  font-style: italic;
  font-size: 16px;
}

@media (min-width: 576px) {
  .feedback {
    display: flex;
    align-items: flex-start;
  }
  .feedback .dialogue {
    order: 2;
    flex: 1 0 60%;
  }
}
@media (min-width: 768px) {
  .feedback {
    display: block;
  }
}

.information_block form textarea, .information_block form input.fill_in {
  width: 100%;
  background-color: #E8E8E8;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  padding: 5px 0 5px 5px;
  font-size: 13px;
  color: #808080;
}
.information_block form textarea:focus, .information_block form input.fill_in:focus {
  outline: none;
}

.information_block form input.fill_in {
  margin-bottom: 10px;
}
.information_block form textarea {
  height: 100px;
  margin-bottom: 15px;
  resize: none;
}
.information_block form button, .information_block form input.clear_button {
  border: none;
  font-size: 14px;
  color: white;
  padding: 5px 10px;
}
.information_block form button:focus, .information_block form input.clear_button:focus {
  outline: none;
}
.information_block form input.clear_button {
  background-color: #171717;
}
.information_block form button.send {
  background-color: #81B700;
}

.img_set {
  display: flex;
  flex-flow: row wrap;
  margin: -3px;
}
.img_set div {
  padding: 3px;
  flex: 0 0 25%;
}
.img_set div img {
  width: 100%;
}

.copyrights {
  background-color: #171717;
}
@media (min-width: 992px) {
  .copyrights {
    padding: 0;
  }
}

.copyrights_block {
  padding: 15px 0;
}
@media (min-width: 992px) {
  .copyrights_block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 10px 15px 0;
  }
}

.privacy_policy {
  font-size: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .privacy_policy {
    order: 1;
  }
}
.privacy_policy span {
  color: #9D9D9D;
  font-size: 14px;
}
.privacy_policy span::after {
  content: "|";
  margin: 0 5px;
}
.privacy_policy a {
  color: #81B700;
  font-size: 14px;
}

.guide_menu {
  font-size: 0;
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .guide_menu {
    margin-bottom: 0;
    order: 2;
  }
}
.guide_menu a {
  font-size: 14px;
  color: #9D9D9D;
}
.guide_menu a:not(:last-child)::after {
  content: "|";
  color: #E8E8E8;
  margin: 0 5px;
  vertical-align: top;
}
.guide_menu a:hover {
  color: #81B700;
  text-decoration: none;
}
.guide_menu a:hover:not(:last-child)::after {
  color: #E8E8E8;
}

footer.wrapper {
  background-image: url(../img/subbg.gif);
  margin-top: 20px;
  padding-top: 20px;
}
@media (min-width: 992px) {
  footer.wrapper {
    margin-top: 50px;
    padding: 20px 35px;
    box-shadow: 0 -1px 4px #777;
  }
}

.information_block {
  margin-bottom: 20px;
}
.information_block h4 {
  margin-bottom: 20px;
  font-size: 22px;
}

/*# sourceMappingURL=main.css.map */
