/* body.............................................*/
body
	background-image: url("../img/bg.jpg")
	clear: both 
	margin: 0
	padding: 0 150px

/* header.............................................*/
header
	background-image: url("../img/subbg.gif")
	box-shadow: 0px 0px 2px #888888
	height: 60px
	padding: 30px

.logo
	height: 53px
	width: 329px
	float: left

.social
	float: right
	img
		float: right
	p
		clear: both

.container
	background-image: url("../img/subbg.gif")
	box-shadow: 0px 0px 2px #888888

/* nav.............................................*/
.nav
	margin-top: 20px

nav
	clear: both
	float: left
	/* height: 45px */
	/* width: 870px */
	ul
		margin: 0 auto
		list-style: none
		padding-left: 0
		li
			border-right: #d0d0d0 solid 1px
			display: inline-flex
			padding: 10.5px 9px
		a
			color: black
			display: block
			text-align: center
			text-decoration: none
			width: 120px

.search
	

.search
	float: right
	height: 45px
	margin-left: 30px
	width: 240px

/* slider.............................................*/
.slider
	clear: both
	img
		max-width: 100%

/* gallery.............................................*/
.gallery
	display: inline-flex
	flex-flow: row nowrap
	.gBlock
		background-color: #dddddd
		padding: 19px 29px
		text-align: center
		.gTitle
			font-size: 16px
		p
			font-size: 12px
	.gBlock_1
		margin: 0 10px 0 39.5px
	.gBlock_2
		margin: 10px
	.gBlock_3
		margin: 10px
	.gBlock_4
		margin: 0 39.5px 0 10px

/* info/3-col.............................................*/
.info
	display: inline-flex
	flex-flow: row nowrap
	margin-top: 40px
	padding-bottom: 40px
	.iBlock
		flex: 1 1 33%  /*平均分配寬*/
		.iTitle
			font-size: 24px
		.iContent_1
			font-size: 13px
		.iContent_2
			display: inline
			font-size: 13px
		.iContent_3
			font-size: 13px 
		#welcome
			max-width: 100%
		.news
			display: inline-flex 
			flex: 1 1 50%
	.iBlock_1
		margin: 0 15px 0 39.5px
	.iBlock_2
		margin: 0 15px
	.iBlock_3
		margin: 0 39.5px 0 15px
		.news
			img
				height: 120px
				max-width: 100%

/* featured.............................................*/
.featured
	display: block
	flex-flow: row nowrap
	margin-top: 40px
	padding-bottom: 40px
	.fTitle
		font-size: 24px
		margin-left: 40px
	#fSection
		display: inline-flex
		.fBlock
			background-size: cover  /*讓 bg 和 div 一樣寬高*/
			height: 150px
			width: 250px
		.fBlock_1
			background-image: url("../img/g1.jpg")
			margin: 0 10px 0 39.5px
		.fBlock_2
			background-image: url("../img/g2.jpg")
			margin: 0 10px
		.fBlock_3
			background-image: url("../img/g3.jpg")
			margin: 0 10px
		.fBlock_4
			background-image: url("../img/g4.jpg")
			margin: 0 39.5px 0 10px

/* social media.............................................*/
.media
	background-image: url("../img/subbg.gif")
	border: 1px solid #cccccc
	box-shadow: 0px 0px 2px #888888
	display: inline-flex
	flex-flow: row nowrap
	margin: 50px 0 30px
	.mBlock
		flex: 1 1 25%  /*平均分配寬*/
		width: 250px
	.mTitle
		font-size: 24px
	.mBlock_1
		margin: 0 10px 0 39.5px
		padding: 10px 0
	.mBlock_2
		margin: 0 10px
		padding: 10px 0
	.mBlock_3
		margin: 0 10px
		padding: 10px 0 50px
		textarea
			border: 2px solid #cccccc
			border-radius: 4px
		#reset
			background-color: #000000
			border: none
			color: white
			text-align: center
		#submit
			background-color: #4CAF50
			border: none
			text-align: center
	.mBlock_4
		margin: 0 39.5px 0 10px
		padding: 10px 0

/* footer.............................................*/
footer
	display: inline-flex
	text-align: center
	p
		color: #888888
		margin-bottom: 10px
		a
			text-decoration: none




