body {
  background: linear-gradient(black 0%, transparent 0%, transparent 95%, black 95%), url(../images/bg.jpg);
}
@media (min-width: 768px) {
  body {
    background: linear-gradient(black 32px, transparent 32px, transparent 90%, black 90%), url(../images/bg.jpg);
  }
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

header .header_container {
  flex-wrap: wrap;
}

.logo_nav {
  background: url(../images/subbg.gif) repeat;
  box-shadow: 0px 0px 5px grey;
}

h1 {
  max-width: 70%;
  display: inline-block;
}

h1 a {
  display: block;
}

h1 img {
  width: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}

.phone_area {
  display: none;
  text-align: end;
}

@media (min-width: 768px) {
  .phone_area {
    display: inline-block;
  }
}
a.social_icon {
  display: inline-block;
}

.social_icon {
  background: url(../images/social.png) no-repeat 0 0;
  background-size: 89px 27px;
  width: 14px;
  height: 14px;
}

.social_icon_1 {
  display: inline-block;
  background: url(../images/social.png) no-repeat 0 0;
  background-size: 89px 27px;
  width: 14px;
  height: 14px;
}
.social_icon_1:hover {
  background-position: 0 -14px;
}

.social_icon_2 {
  display: inline-block;
  background: url(../images/social.png) no-repeat -19px 0;
  background-size: 89px 27px;
  width: 14px;
  height: 14px;
}
.social_icon_2:hover {
  background-position: -19px -14px;
}

.social_icon_3 {
  display: inline-block;
  background: url(../images/social.png) no-repeat -37px 0;
  background-size: 89px 27px;
  width: 14px;
  height: 14px;
}
.social_icon_3:hover {
  background-position: -37px -14px;
}

.social_icon_4 {
  display: inline-block;
  background: url(../images/social.png) no-repeat -56px 0;
  background-size: 89px 27px;
  width: 14px;
  height: 14px;
}
.social_icon_4:hover {
  background-position: -56px -14px;
}

.social_icon_5 {
  display: inline-block;
  background: url(../images/social.png) no-repeat -75px 0;
  background-size: 89px 27px;
  width: 14px;
  height: 14px;
}
.social_icon_5:hover {
  background-position: -75px -14px;
}

.tel_num {
  display: block;
  font-size: 0.8rem;
  color: #000000;
}

.navbar-collapse {
  background-color: white;
}

@media (min-width: 768px) {
  .navbar-collapse {
    background-color: unset;
  }
}
.search_icon {
  font-size: 0.8rem;
  flex: 0 0 auto;
  width: 100%;
  background: no-repeat right 5% bottom 50% url(../images/search.png);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 0.75rem;
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
  }
}

.navbar-collapse ul li a {
  color: #7F7F7F;
  font-size: 0.8rem;
}
.navbar-collapse ul li a:hover {
  background-color: #80B620;
  color: white;
}

@media (min-width: 768px) {
  .search_form {
    order: 2;
    background-color: white;
    box-shadow: black 0 0 2px;
    background: white;
    padding: 0.5rem 1rem;
    flex: 0 0 25%;
  }

  .search_form .d-flex {
    background-color: #f3f3f3;
  }

  .list_area {
    order: 1;
    background-color: white;
    box-shadow: black 0 0 2px;
    flex: 0 0 74%;
  }

  li.nav-item {
    border-right: #EAEAEA 1px solid;
  }
}
.form-control {
  border-radius: 0;
}

/*# sourceMappingURL=style.css.map */
