//carousel-button
@mixin button-normal($background-image) {
  background-image: $background-image;
  background-size: cover;
  background-position: top;
  width: 40px;
  height: 119px;
}

@mixin button-hover($background-image) {
  background-image: $background-image;
  background-position: bottom;
  
}