@use '../base/color';
@use '../base/breakpoints';
@use '../base/typography';


$sprite-image: url(../images/social.png);

@mixin sprite($x, $y) {
  display: inline-block;

  background-image: $sprite-image;
  background-repeat: no-repeat;
  background-position: $x $y;
  width: 27px;
  height: 27px;
}



.contact-channels {
  text-align: center;
  margin-top: 15px;

  @include breakpoints.tablet {
    text-align: right;
    margin-top: 0;
  }
}

//Social Links
.social-media a:first-child {
  @include sprite(0, 0);
  &:hover {
    @include sprite(0, bottom);
  }
}

.social-media a:nth-child(2) {
  @include sprite(-37px, 0);
  &:hover {
    @include sprite(-37px, bottom);
  }
}

.social-media a:nth-child(3) {
  @include sprite(-74px, 0);
  &:hover {
    @include sprite(-74px, bottom);
  }
}

.social-media a:nth-child(4) {
  @include sprite(-111px, 0);
  &:hover {
    @include sprite(-111px, bottom);
  }
}

.social-media a:nth-child(5) {
  @include sprite(-150px, 0);
  &:hover {
    @include sprite(-150px, bottom);
  }
} 

//Contact Number
.contact-channels {
  a {
    font-size: typography.$base-font-size * 0.875;
    color: color.$black;
    
    &:hover {
      color: color.$primary-color;
    }
  }
}