@use '../base/color';
@use '../base/typography';
@use './button';


%form-style {
  padding: 5px;
  border: 1px solid darken(color.$gray, 5%);
  border-radius: 3px;
  width: 100%;
  background-color: color.$gray;
  font-size: typography.$base-font-size * 0.75;
}


.contact-form {
  form {
    margin-top: 25px;
    font-size: 0;
  
    input {
      @extend %form-style;
    }
  
    input:nth-child(2) {
      margin-top: 5px;
    }
  
    textarea {
      @extend %form-style;
      margin-top: 5px;
      resize: none;
    }

    div {
      margin-top: 15px;

      button:first-child {
        @include button.button-style(color.$black, color.$secondary-color);
        // @extend %dark-button;
        border: 0;
        font-size: typography.$base-font-size * 0.75;
        text-transform: uppercase;
      }
    
      button:last-child {
        @include button.button-style(color.$primary-color, color.$secondary-color);
        // @extend %primary-button;
        border: 0;
        margin-left: 5px;
        font-size: typography.$base-font-size * 0.75;
        text-transform: uppercase;
      }
    }
  
    
  }
}

