@use '../base/color';
@use '../base/typography';
@use '../base/display';
@use '../base/breakpoints';




.company-strengths {
  ul {
    margin-top: 25px;
  }

  li {
    @include display.flex(row, flex-start);
    align-items: baseline;

    padding: 15px;
    border-bottom: 1px solid color.$gray;

    &:first-child {
      padding-top: 0;
    }
  
  a {
    flex: 0 0 40px;
    margin-right: 15px;
    line-height: 40px;
    border-radius: 50%;
    color: color.$secondary-color;
    background-color: color.$gray;
    text-align: center;

    @include breakpoints.desktop {
      flex: 0 0 50px;
      line-height: 50px;
    }

    &:hover {
      background-color: color.$primary-color;
    }
    }
  }

  p {
    font-size: typography.$base-font-size * 0.9;
    font-weight: 500;
    color: color.$dark-gray;
  }
}