@use '../base/color';
@use '../base/typography';
@use '../base/breakpoints';
@use './button';


.news-card {
  flex: 1 0 40%;

  @include breakpoints.tablet-landscape {
    flex: 1 0 100%;
  }
}


.news-card {
  .news-card-img {
    width: 45%;
  }

  .news-card-text {
    width: 50%;
  }
  
  img {
    width: 100%;
  }
}

.news-card-text {
  span {
    display: inline-block;
    padding: 5px 10px;
    background-color: color.$primary-color;
    color: color.$secondary-color;
    font-weight: 600;
  }

  p {
    position: relative;

    margin-top: 25px;

    color: color.$dark-gray;
    font-size: typography.$base-font-size * 0.875;
    font-weight: 500;
  }

  a {
    color: color.$black;
  }
}