@use '../abstract/variables';

//search box 
%searchbox {
  padding: 8px;
  border: 1px solid variables.$gray;
  width: 100%;
  font-size: variables.$base-font-size * 0.7;
  
  background: url(../images/search.png);      
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: variables.$light-gray;
}