@import "./base/reset";

@import "./abstract/color";
@import "./abstract/typography";
@import "./abstract/shadow";
@import "./abstract/mediaquery";
@import "./abstract/container";

@import "./component/button";
@import "./component/card";

@import "./layout/substrate";
@import "./layout/header";
@import "./layout/navbar";
@import "./layout/banner";
@import "./layout/service";

img {
  width: 100%;
}