$primary_background: url(../img/bg.jpg);
body {
    min-width: 360px;
    background: linear-gradient(to bottom, black 100px, transparent 100px, transparent 90%, black 90%, black 100%),
        $primary_background;
}
