$primary: rgb(129, 183, 0);
$dark_gray: rgb(206, 206, 206);
$light_gray: rgb(232, 232, 232);
$default_gray: grey;
$current: rgb(168, 223, 16);
$card_even: rgb(218, 224, 213);
$feature_hover: rgb(92, 84, 63);
