.carousel-item-prev {
  ~ .carousel-animate__container {
    .carousel-animate--move {
      transform: translateX(-200%);
      transition: all 0.6s;
      @include mixins.size-sm {
        transform: translateX(-50%);
      }
      @include mixins.size-lg {
        transform: translateX(-33.333%);
      }
      @include mixins.size-xl {
        transform: translateX(-25%);
      }
    }
  }
}
.carousel-item-next {
  ~ .carousel-animate__container {
    .carousel-animate--move {
      transform: translateX(-300%);
      transition: all 0.6s;
      @include mixins.size-sm {
        transform: translateX(-150%);
      }
      @include mixins.size-lg {
        transform: translateX(-100%);
      }
      @include mixins.size-xl {
        transform: translateX(-75%);
      }
    }
  }
}

.carousel-animate {
  &__control {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 60px;
    + span {
      right: 20px;
    }
    SVG {
      padding: 10px;
      height: 40px;
    }
  }

  &__act2.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(2) {
            order: 1;
          }
          :nth-child(3) {
            order: 2;
          }
          :nth-child(4) {
            order: 3;
          }
          :nth-child(5) {
            order: 4;
          }
          :nth-child(6) {
            order: 5;
          }
          :nth-child(7) {
            order: 6;
          }
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }
  &__act3.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(3) {
            order: 2;
          }
          :nth-child(4) {
            order: 3;
          }
          :nth-child(5) {
            order: 4;
          }
          :nth-child(6) {
            order: 5;
          }
          :nth-child(7) {
            order: 6;
          }
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }
  &__act4.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(4) {
            order: 3;
          }
          :nth-child(5) {
            order: 4;
          }
          :nth-child(6) {
            order: 5;
          }
          :nth-child(7) {
            order: 6;
          }
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }
  &__act5.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(5) {
            order: 4;
          }
          :nth-child(6) {
            order: 5;
          }
          :nth-child(7) {
            order: 6;
          }
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }
  &__act6.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(6) {
            order: 5;
          }
          :nth-child(7) {
            order: 6;
          }
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }
  &__act7.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(7) {
            order: 6;
          }
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }
  &__act8.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(8) {
            order: 7;
          }
          :nth-child(9) {
            order: 8;
          }
          :nth-child(10) {
            order: 9;
          }
          :nth-child(11) {
            order: 10;
          }
          :nth-child(12) {
            order: 11;
          }
        }
      }
    }
  }

  &--move {
    transform: translateX(-200%);
    @include mixins.size-sm {
      transform: translateX(-100%);
    }
    @include mixins.size-lg {
      transform: translateX(-66.666%);
    }
    @include mixins.size-xl {
      transform: translateX(-50%);
    }
  }

  &__animation {
    animation: moveSlideshow 15s linear infinite;
    /* animation-play-state: paused; */
    // animation-play-state: paused;
    @keyframes moveSlideshow {
      100% {
        transform: translateX(-400%);
      }
    }
    @include mixins.size-sm {
      @keyframes moveSlideshow {
        100% {
          transform: translateX(-200%);
        }
      }
    }
    @include mixins.size-lg {
      @keyframes moveSlideshow {
        100% {
          transform: translateX(-133.33%);
        }
      }
    }
    @include mixins.size-xl {
      @keyframes moveSlideshow {
        100% {
          transform: translateX(-100%);
        }
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  &--order {
    order: 20;
  }
}
