@use "../abstracts/breakpoint";

.carousel-animate {
  .carousel-item-prev {
    ~ .carousel-animate__container {
      .carousel-animate--move {
        transform: translateX(-100%);
        transition: all 0.6s;
        @include breakpoint.size-sm {
          transform: translateX(-50%);
        }
        @include breakpoint.size-lg {
          transform: translateX(-33.333%);
        }
        @include breakpoint.size-xl {
          transform: translateX(-25%);
        }
      }
    }
  }
  .carousel-item-next {
    ~ .carousel-animate__container {
      .carousel-animate--move {
        transform: translateX(-300%);
        transition: all 0.6s;
        @include breakpoint.size-sm {
          transform: translateX(-150%);
        }
        @include breakpoint.size-lg {
          transform: translateX(-100%);
        }
        @include breakpoint.size-xl {
          transform: translateX(-75%);
        }
      }
    }
  }
  &__control {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 30px;
    + span {
      right: 0px;
    }
    SVG {
      height: 20px;
    }
  }

  &__act2.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+2) {
            order: 1;
          }
        }
      }
    }
  }
  &__act3.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+3) {
            order: 1;
          }
        }
      }
    }
  }
  &__act4.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+4) {
            order: 1;
          }
        }
      }
    }
  }
  &__act5.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+5) {
            order: 1;
          }
        }
      }
    }
  }
  &__act6.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+6) {
            order: 1;
          }
        }
      }
    }
  }
  &__act7.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+7) {
            order: 1;
          }
        }
      }
    }
  }
  &__act8.active {
    ~ .carousel-animate__container {
      .carousel-animate__animation {
        > {
          :nth-child(n+8) {
            order: 1;
          }
        }
      }
    }
  }

  &--move {
    transform: translateX(-200%);
    @include breakpoint.size-sm {
      transform: translateX(-100%);
    }
    @include breakpoint.size-lg {
      transform: translateX(-66.666%);
    }
    @include breakpoint.size-xl {
      transform: translateX(-50%);
    }
  }

  &__animation {
    animation: moveSlideshow 15s linear infinite;
    /* animation-play-state: paused; */
    @keyframes moveSlideshow {
      100% {
        transform: translateX(-400%);
      }
    }
    @include breakpoint.size-sm {
      @keyframes moveSlideshow {
        100% {
          transform: translateX(-200%);
        }
      }
    }
    @include breakpoint.size-lg {
      @keyframes moveSlideshow {
        100% {
          transform: translateX(-133.33%);
        }
      }
    }
    @include breakpoint.size-xl {
      @keyframes moveSlideshow {
        100% {
          transform: translateX(-100%);
        }
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  &--order {
    order: 20;
  }
}
