@use "../abstracts/breakpoint";
@use "../abstracts/carousel-control";

.banner {
  .carousel-control-prev {
    @extend %carousel-control;
    background: url("../images/slider_prev.gif") no-repeat 0 0;
  }

  .carousel-control-next {
    @extend %carousel-control;
    background: url("../images/slider_next.gif") no-repeat 0 0;
  }

  .carousel-indicators {
    margin: 0 auto 0 0;
    [data-bs-target] {
      height: initial;
      text-indent: initial;
      border: 0;
      &.active {
        background-color: #fff;
      }
    }
  }

  .carousel-inner {
    height: 500px;
    @include breakpoint.size-md {
      height: initial;
      width: 100%;
    }
    :nth-child(1) {
      img {
        object-position: -300px;
      }
    }
    :nth-child(2) {
      img {
        object-position: -500px;
      }
    }
    :nth-child(n) {
      img {
        @include breakpoint.size-md {
          object-position: initial;
        }
      }
    }
  }

  .carousel-item {
    img {
      width: 100%;
    }
  }
}
