@use "../abstracts/text";
@use "../abstracts/color";

.comment {
  &__people {
    display: flex;
    &-introduction {
      margin-bottom: 0;
      padding: 0 8px;
      :last-child {
        @include text.font-style(inherit, color.$active, bold);
      }
    }
  }

  .card {
    border: 0;
    border-radius: 0;
    &-body {
      background-color: #e7e7e7;
      position: relative;
      margin-bottom: 50px;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        border-color: #e7e7e7 transparent transparent transparent;
        border-style: solid;
        border-width: 30px 40px 0px 0px;
      }
    }
  }
}
