@use "../abstracts/breakpoint";
@use "../abstracts/color";

.contact-us {
  input,
  textarea {
    background-color: #e7e7e7;
    resize: none;
    + .form-control {
      margin-top: 8px;
      @include breakpoint.size-lg {
        margin-top: 16px;
      }
    }
  }

  [name="text"] {
    margin-bottom: 24px;
  }

  [type="reset"] {
    color:  color.$text-light;
    font-weight: bold;
    background-color: #151515;
    border: 0;
  }

  [type="submit"] {
    @extend [type="reset"];
    background-color: #81b701;
  }

  button {
    padding: 5px 10px;
  }
}
