@use "animate-carousel";
@use "../abstracts/color";

.featured-works {
  &__hover {
    top: 100%;
    transition: all 1s;
    &-control {
      &:hover {
        .featured-works__hover {
          top: 0%;
        }
      }
    }
    &-content {
      width: 130%;
      height: 200%;
      transform: rotate(330deg);
      transform-origin: left;
      background: linear-gradient(
        to bottom,
        #00000080 0px,
        #00000080 20%,
        #00000000 20%,
        #00000000
      );
      padding-top: 50%;
      color: color.$text-light;
      font-weight: bold;
      p {
        font-size: 20px;
        padding: 10px 40px;
        border-bottom: 2px solid #ffffff;
      }
    }
    &-text {
      background-color: #00000080;
      height: 40%;
      padding: 0 15% 0 10%;
      border-bottom: 1px solid #82b600;
    }
  }
}
