@use "../abstracts/breakpoint";
@use "../abstracts/font-style";

.top-nav {
  .navbar-nav {
    @include breakpoint.size-lg {
      box-shadow: 0px 0px 8px black;
    }
  }

  .nav-item {
    @include breakpoint.size-lg {
      border-right: 1px solid #eeeeee;
    }
  }
  .nav-link {
    padding: 20px 16px;
    @include font-style.font-color(inherit, #000000, bold);

    &.active {
      @include breakpoint.size-lg {
        // @include mixins.color_bg-color(#ffffff, #80b701);
        color: #ffffff;
        background-color: #80b701;
      }
    }
    &:hover {
      // @include mixins.color_bg-color(#ffffff, #80b701);
      color: #ffffff;
      background-color: #80b701;
    }
    &.show {
      // @include mixins.color_bg-color(#ffffff, #80b70177);
      color: #ffffff;
      background-color: #80b70177;
    }
  }

  .dropdown-item {
    @extend .nav-link;
  }

  .dropdown-toggle {
    &::after {
      content: initial;
    }
  }

  form {
    padding: 13px 0;
    background-color: #ffffff;
    @extend .navbar-nav;
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }

    .btn {
      top: 13px;
      right: 16px;
    }
  }
}
