@use "../abstracts/breakpoint";
@use "../abstracts/font-style";

.under-nav{
  @include font-style.font-color(12px, #535353);
  .nav {
    @include breakpoint.size-lg {
      justify-content: end;
    }
  }
  .nav-link {
    text-align: center;
    flex: 1 0 auto;
    padding: 0;
    color: #535353;

    &.active,
    &:hover {
      color: #ffffff;
    }
    @include breakpoint.size-lg {
      padding: 0 8px;
      flex: 0 0 auto;
    }
    @include breakpoint.size-xl {
      padding: 0 16px;
    }

    + .nav-link {
      border-left: 1px solid #ffffff;
    }
  }

  &__copyright {
    text-align: center;
    @include breakpoint.size-md {
      text-align: left;
    }
    span {
      &:last-child {
        color: #ffffff;
      }
    }
  }
}
