// arrow style
%arrow{
  margin-right: 10px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  flex-shrink: 0; // flex-shrink default is 1
  background-color: #ddd;
  color: white;
  line-height: 40px; // 垂直置中
  text-align: center; // 水平置中
  transition: transform .3s;
  
  &:hover{
    @include primary-background-color;
    transform: rotate(90deg);
  }
}