// arrow style
%arrow{
  .arrow_style{
    margin: 0 10px;
    border-radius: 50px;
    padding: 0 18px;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: white;
    line-height: 40px;
    transition: transform .3s;

    &:hover{
      @extend %primary-background;
      transform: rotate(90deg);
    }
  }
}