@use '../utilities/mediaquery';

// banner control icon
@mixin banner-control-icon{
  width: 30px; // origin width is 40px
  height: 88px; // origin half height is 119px

  background-position: left top;
  background-size: 100%;
  
  &:hover{
    background-position: left bottom;
  }
  
  @content;
}

// main--banner
.banner_control{
  width: 30px;

  &_prev_icon{
    @include banner-control-icon{
      background-image: url(../img/slider_prev.gif);
    }
  }
  
  &_next_icon{
    @include banner-control-icon{
      background-image: url(../img/slider_next.gif);
    }
  }
}