@use '../utilities/color';
@use '../utilities/mediaquery';

.copyright{
  margin-top: 10px;

  flex: 1 0 100%;
  order: 2;

  text-align: center;
  
  @include mediaquery.mediaquery-tablet-L{
    margin-top: 0;

    flex: 1 0 50%;
    order: 1;

    text-align: left;
  }

  color: #555;
  line-height: 1;

  a{
    margin-left: 5px;

    border-left: 1px solid #555;
    padding-left: 5px;

    display: inline-block;

    color: color.$primary-color;
    
    &:hover{
      text-decoration: underline;
    }
  }
}