// deco-triangle
%deco-triangle-border{
  &::before{
    content: '';
    @include position-absolute(auto, auto, -17px, -1px);
    width: 0;
    height: 0;
    border-left: 30px solid #ddd;
    border-bottom: 17px solid transparent;
  }
}

%deco-triangle{
  &::after{
    content: '';
    @include position-absolute(auto, auto, -15px, 0);
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 27px solid #eee;
    border-bottom: 15px solid transparent;
  }
}