// triangle
%triangle-border{
  &::before{
    content: '';
    border-left: 30px solid #ddd;
    border-bottom: 17px solid transparent;
    width: 0;
    height: 0;
    @include position-absolute(auto, auto, -17px, -1px);
  }
}
%triangle{
  &::after{
    content: '';
    border-left: 27px solid #eee;
    border-bottom: 15px solid transparent;
    width: 0;
    height: 0;
    @include position-absolute(auto, auto, -15px, 0);
  }
}

// dialog box
.dialog_box{
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 0;
  position: relative;
  background-color: #eee;
  color: #555;
  @extend %triangle-border;
  @extend %triangle;
}