// more infomation
%more-info{
  label{
    margin-bottom: 0;
    @include hover-primary-color;
  }
  span,
  input,
  input:checked ~ label{
    display: none;
  }
  input:checked ~ span{
    display: block;
  }
}