@use '../utilities/mediaquery';
@use '../utilities/input-style';
@use '../utilities/position';


// searchbar
.search{
  &_form{
    padding: 10px 30px 10px 40%;
    @include mediaquery.mediaquery-mobile-L{
      padding: 10px 30px 10px 60%;
    }
    width: 100%;
    position: relative;
    background-color: #fff;
    @include mediaquery.mediaquery-tablet-L{
      margin: 0 0 0 10px;
      padding: 0 10px;
      width: 40%;
      box-shadow: -2px -2px 5px #777;
      display: flex;
      align-items: center;
      order: 2; // 置於 menu_collapse 順序之後
    }
  }

  &_input{
    @include input-style.input-style(0px);
  }

  &_button{
    padding: 5px 20px;
    @include position.position-absolute(0, 30px, 0, auto); // form padding right is 30px
    @include mediaquery.mediaquery-tablet-L{
      @include position.position-absolute(0, 10px, 0, auto); // form padding right is 10px
    }
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

    &:hover{
      background-image: url(../img/icon1.png);
      background-size: 70%;
    }

    &:focus{
      box-shadow: none;
    }

    @include mediaquery.mediaquery-tablet-L{
      // margin-right: 10px; // 填補 form padding 10px 的空間
    }
  }
}