@use "../utilities/color";
@use '../utilities/mediaquery';

// main--service
.service{
  &_group{
    padding: 30px 20px 20px;
    height: 100%; /* equal height */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: #eee;

    text-align: center;
    
    &:hover{
      background-color: rgba(0,0,0,.7);
    
      .service_title, .service_text{
        color: white;
      }
    }
  }

  &_body, &_image{
    margin-bottom: 20px;
  }

  &_button{
    padding: 5px 15px;
    display: inline-block;
    background-color: #ccc;

    color: #111;
    
    &:hover{
      @extend %primary-background-color;
      text-decoration: none;
    }
  }
}
