@use '../utilities/color';
@use '../utilities/mediaquery';

.sub_menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  flex: 1 0 100%;
  order: 1;

  @include mediaquery.mediaquery-tablet-L{
    justify-content: flex-end;

    flex: 1 0 50%;
    order: 2;
  }

  a{
    padding: 0 10px;

    color: #555;
    line-height: 1;

    &:not(:first-child){
      border-left: 2px solid #999;
    }
    
    &:hover{
      color: color.$primary-color;
      text-decoration: none;
    }
  }
}