@use '../utilities/color';
@use '../utilities/input-style';

// footer info--submit
.submit{
  form{
    font-size: 0;
  }

  input{
    margin-bottom: 5px;

    @include input-style.input-style(5px);
  }

  textarea{
    margin-bottom: 20px;

    @include input-style.input-style(5px);
    resize: none; // 關閉調整輸入框大小
  }

  button{
    border: none;
    padding: 5px 10px;

    background-color: black;

    font-size: 14px;
    color: white;
    
    &:hover{
      @extend %primary-background-color;
    }
  }

  button + button{
    margin-left: 10px;
  }
}