@use '../utilities/color';
@use '../utilities/position';

// footer info--dialog
.dialog{
  &_box{
    padding: 20px 15px 20px 30px;
    
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 0;
    position: relative;
    background-color: #eee;
    color: #555;
    
    &::before{
      content: '';
      border-left: 30px solid #ddd;
      border-bottom: 17px solid transparent;
      width: 0;
      height: 0;
      @include position.position-absolute(100%, auto, auto, -1px);
    }
    
    &::after{
      content: '';
      border-left: 27px solid #eee;
      border-bottom: 15px solid transparent;
      width: 0;
      height: 0;
      @include position.position-absolute(100%, auto, auto, 0);
    }
  }

  &_body{
    margin-top: 35px;

    display: flex;
  }

  &_text{
    margin-top: 7px;
    margin-left: 10px;

    line-height: 1;

    a{
      color: color.$primary-color;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}