@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 3, ../scss/index.scss */
body {
  background: url(../img/bg.jpg) repeat;
  padding: 0;
  margin: 0;
}

/* line 9, ../scss/index.scss */
.top_black_block {
  background-color: #000;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* line 18, ../scss/index.scss */
.down_black_block {
  background-color: #171717;
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 0;
}

/* line 26, ../scss/index.scss */
#page {
  width: 88%;
  padding: 5px 0 0 0;
  z-index: 1;
}

/*----------  common use  ----------*/
/* line 33, ../scss/index.scss */
.img {
  width: 100%;
}

/* line 36, ../scss/index.scss */
.content_block {
  padding: 0 35px;
}
/* line 38, ../scss/index.scss */
.content_block h3 {
  margin-bottom: 30px;
  color: #000;
  font-weight: bold;
}

/*----------  content  ----------*/
/* line 46, ../scss/index.scss */
.content {
  background: url(../img/subbg.gif) repeat;
}

/*----------  banner  ----------*/
/*----------  function  ----------*/
/* line 51, ../scss/index.scss */
.function_block {
  background-color: #e7e7e7;
  padding: 30px 0;
  margin-bottom: 30px;
  position: relative;
  top: -30px;
}
/* line 57, ../scss/index.scss */
.function_block h4 {
  font-weight: bold;
}
/* line 60, ../scss/index.scss */
.function_block .function_img {
  margin: 30px auto;
}
/* line 63, ../scss/index.scss */
.function_block .function_text {
  width: 81%;
  height: 100px;
}
/* line 68, ../scss/index.scss */
.function_block a .more_btn {
  border-radius: 5px;
  margin-top: 20px;
  color: #000;
  font-family: Montserrat;
}
/* line 74, ../scss/index.scss */
.function_block a:hover {
  text-decoration: none;
}
/* line 78, ../scss/index.scss */
.function_block:hover {
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

/*----------  info  ----------*/
/* line 85, ../scss/index.scss */
.info {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}
/* line 89, ../scss/index.scss */
.info .info_block p {
  padding-top: 25px;
  color: #7f7f7f;
}
/* line 92, ../scss/index.scss */
.info .info_block p a {
  color: #000;
}
/* line 94, ../scss/index.scss */
.info .info_block p a:hover {
  text-decoration: none;
}
/* line 97, ../scss/index.scss */
.info .info_block p a:focus {
  font-weight: bold;
  text-decoration: none;
}
/* line 103, ../scss/index.scss */
.info .info_block table {
  width: 100%;
  padding-right: 100px;
  margin-top: -10px;
}
/* line 107, ../scss/index.scss */
.info .info_block table tr {
  border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}
/* line 109, ../scss/index.scss */
.info .info_block table tr .td_icon {
  padding: 0 0 5px 10px;
}
/* line 111, ../scss/index.scss */
.info .info_block table tr .td_icon i {
  background-color: #D9D9D9;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 10px 0;
  color: #fff;
  line-height: 50px;
}
/* line 121, ../scss/index.scss */
.info .info_block table tr .td_text {
  padding: 0 15px 15px 15px;
  margin: auto;
  font-size: 14px;
  color: #7f7f7f;
}
/* line 129, ../scss/index.scss */
.info .info_block .news_img_block {
  padding: 0 20px 5px 0;
}
/* line 132, ../scss/index.scss */
.info .info_block .news_text_block {
  padding: 15px 0 15px 0;
}
/* line 134, ../scss/index.scss */
.info .info_block .news_text_block .date {
  padding: 5px 15px;
  width: 90px;
  font-size: 16px;
  color: #fff;
  background-color: #80b600;
}
/* line 141, ../scss/index.scss */
.info .info_block .news_text_block p {
  padding-top: 15px;
}

/*----------  feature  ----------*/
/* line 149, ../scss/index.scss */
.feature_block {
  padding-bottom: 50px;
}
/* line 151, ../scss/index.scss */
.feature_block h3 {
  margin: 30px 0 20px 0;
}
/* line 154, ../scss/index.scss */
.feature_block .feature_img {
  margin-bottom: 25px;
}

/*=============== RDW ===============*/
/*----- xs:768↓（480~768） -----*/
@media (max-width: 767px) {
  /* line 163, ../scss/index.scss */
  .function_block .function_text {
    height: 75px;
  }
}
/*----- sm:768~991 -----*/
@media (min-width: 768px) and (max-width: 991px) {
  /* line 172, ../scss/index.scss */
  .function_block .function_text {
    height: 80px;
  }
}
/*----- md:768~991 -----*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 181, ../scss/index.scss */
  .function_block .function_title {
    height: 30px;
    width: 150px;
    margin: auto;
  }
  /* line 186, ../scss/index.scss */
  .function_block .function_text {
    height: 150px;
  }
}
/*----- lg:768~991 -----*/
@media (min-width: 1200px) {
  /* line 195, ../scss/index.scss */
  .function_block .function_text {
    height: 130px;
  }
}
