@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 3, ../scss/navigation.scss */
.nav {
  padding: 0;
  margin-top: 30px;
}
/* line 6, ../scss/navigation.scss */
.nav .nav_content {
  background-color: #fff;
  margin-bottom: 0;
}
/* line 9, ../scss/navigation.scss */
.nav .nav_content ul {
  padding: 0;
  margin: 0;
}
/* line 12, ../scss/navigation.scss */
.nav .nav_content ul li {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
/* line 16, ../scss/navigation.scss */
.nav .nav_content ul li a {
  padding: 0 20px;
  color: #000;
  font-family: Montserrat;
  line-height: 48px;
}
/* line 21, ../scss/navigation.scss */
.nav .nav_content ul li a:hover {
  text-decoration: none;
}
/* line 24, ../scss/navigation.scss */
.nav .nav_content ul li a:focus {
  text-decoration: none;
}
/* line 28, ../scss/navigation.scss */
.nav .nav_content ul li:hover {
  transition-duration: 1s;
  background-color: #80b600;
}
/* line 31, ../scss/navigation.scss */
.nav .nav_content ul li:hover a {
  transition-duration: 1s;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 2px 1px 5px #fff;
}
/* line 41, ../scss/navigation.scss */
.nav .search {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  position: relative;
  top: 1px;
}
/* line 47, ../scss/navigation.scss */
.nav .search input {
  background-color: #f3f3f3;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  text-indent: 8px;
}
/* line 55, ../scss/navigation.scss */
.nav .search button {
  background-color: #f3f3f3;
  border: transparent;
  position: absolute;
  top: 11px;
  right: 15px;
}

/*=============== RDW ===============*/
/*----- xs:768↓（480~768） -----*/
@media (max-width: 767px) {
  /* line 68, ../scss/navigation.scss */
  .nav_content {
    margin: 0;
  }
  /* line 71, ../scss/navigation.scss */
  .nav_content ul li {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  /* line 76, ../scss/navigation.scss */
  .nav_content ul li a {
    letter-spacing: 8px;
    line-height: 36px;
  }
  /* line 81, ../scss/navigation.scss */
  .nav_content ul li:hover a {
    letter-spacing: 10px;
  }
}
/*----- sm:768~991 -----*/
@media (min-width: 768px) and (max-width: 991px) {
  /* line 92, ../scss/navigation.scss */
  .nav_content {
    margin: 0;
  }
}
/*----- md:768~991 -----*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 99, ../scss/navigation.scss */
  .nav_content {
    margin: 0;
  }
}
/*----- lg:768~991 -----*/
