@import "module/base";

.nav {
    display: flex;
    flex-direction: column;
    // @include partical_space(25px);
    @extend %partical_area;

    border: none;
    margin-top: 25px;

    .btn-toolbar {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
        .btn {
            font-size: 9pt;
            padding: 18px 23px;
            border: none;
            &:hover {
                background-color: $light_green!important;
                color: white;
            }
        }
        .form-inline{
            padding: 6px;
            background-color: white;
        }
    }

    .banner {}
}
