@import "module/base";

.navigate {
    @extend %partical_area;

    //flex box
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    //border
    border: none;

    .btn-toolbar {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
        .btn {
            font-size: 9pt;
            padding: 18px 23px;
            border: none;
            &:hover {
                background-color: $light_green!important;
                color: white;
            }
        }
        .form-inline{
            padding: 6px;
            background-color: white;
        }
    }
}
