@use "../utility/breakpoints";

html {
  font-size: 16px;
}

body {
  min-width: 375px;
  background: url(../images/bg.jpg), black;
  background-repeat: repeat-x, repeat;
  background-position: top 5rem center, center;
  background-size: 277px 85%, 100%;
  @include breakpoints.md {
    padding: 0 8%;
  }
}

* {
  // outline: 1px solid red;
}