@use "../../abstracts/color" as *;

// 黑色cover
%cover {
    display: block;
    content: '';
    width: 50%;
    height: 160%;
    background: black;
    opacity: 0;
    position: absolute;
    transition: all 0.3s 0.4s;
}

// hover link icon
%hover_icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
}

//fly in 效果
%fly-in {
    position: relative;
    overflow: hidden;
    &::before {
        @extend %cover;
        left: 0;
        bottom: 10%;
        border-left: 2px solid $color-highlight;
        transform: rotate(50deg) translateX(-100%);
    }
    &::after {
        @extend %cover;
        top: 10%;
        right: 0;
        border-right: 2px solid $color-highlight;
        transform: rotate(50deg) translateX(100%);
    }
    & .hover_link {
        width: 100%;
        position: absolute;
        top: 100%;
        text-align: center;
        transform: rotate(-90deg);
        opacity: 0;
        &_title {
            color: white;
            &::after {
                display: block;
                content: '';
                width: 50%;
                height: 1px;
                margin: 0 auto;
                background-color: white;
                margin-top: 5px;
            }
        }
        &_icon1 {
            @extend %hover_icon;
        }
        &_icon2 {
            @extend %hover_icon;
        }
    }
    &:hover {
        .hover_link {
            transform: rotate(0deg);
            transition: all 0.3s 0.4s;
            opacity: 1;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            transform: rotate(50deg) translateX(35%);
            transition: all 0.3s 0.2s;
            opacity: 0.7;
            bottom: 10%;
        }
        &::after {
            transform: rotate(50deg) translateX(-35%);
            transition: all 0.3s 0.2s;
            opacity: 0.7;
            top: 10%;
        }
    }
}
