@use "../../base/colors" as *;
@use "../../base/breakpoints" as *;
@use "../../base/fonts" as *;
@use "../../base/reset" as *;

.news {
  &_title {
    background-color: $primary-color;
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 20px;

    a {
      color: #fff;
    }
  }
}
