@use "../components/header/community" as *;
@use "../components/header/navigation" as *;

header .container {
  padding: 0;
}

.website_title {
  background: url(/images/subbg.gif);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
  margin-top: 5px;

  // ?與nav的距離
  margin-bottom: 10px;
}
