@use "../components/main/carousel" as *;
@use "../components/main/service" as *;
@use "../components/main/news" as *;
@use "../components/main/swiper" as *;
@use "../components/main/choose" as *;
// * use in news part
@use "../base/colors" as *;

$main-padding: 20px;

main {
  margin-bottom: 60px;
  .container {
    background-image: url(/images/subbg.gif);
    padding-top: 20px;
    // box-shadow: ;
  }
}
