// * use in news part
@use "../base/colors" as *;

$main-padding: 20px;

main {
  margin-bottom: 60px;
  .container {
    background-image: url(/images/subbg.gif);
  }
}

// * service

%title-size {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

$content-size: 12px;
$title-size: 16px;

.service {
  padding: 0 2rem;
  text-align: center;

  transform: translateY(-30px);
}
.service_box {
  align-items: center;
  justify-content: space-between;
  padding: $main-padding;
  height: 100%;

  background-color: #eee;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }

  div {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h3 {
    @extend %title-size;
  }
  p {
    font-size: $content-size;
  }

  button {
    background-color: #ccc;
  }
}

// * intro

%intro-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}
$intro-content: 16px;

.intro {
  padding: $main-padding;
  display: flex;

  h3 {
    @extend %intro-title;
  }
  .welcome div {
    margin-bottom: 15px;
  }

  .box {
    display: flex;
    flex-direction: column;
    .intro_content {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 12px;
      border-bottom: solid 1px gainsboro;

      p {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
    a {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: gainsboro;
      border-radius: 50%;

      width: 50px;
      height: 50px;
    }
  }
}

// *news

.news {
  &_title {
    background-color: $primary-color;
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 20px;

    a {
      color: #fff;
    }
  }
}

// * carousel

.featured {
  padding: $main-padding;
  h3 {
  }
}
