//container background
@mixin container-background{
  background-image: url(../img/subbg.gif);
}

// social media icon
@mixin connect-icon($x){
  background: {
    image: url(../img/social.png);
    position: $x top;
  }

  &:hover{
    background-position: $x bottom;
  }
}