// hover-primary-color
%hover-primary-color{
  &:hover{
    color: $primary-color;
  }
}
// primary-background
%primary-background{
  background-color: $primary-color;
  color: white;
}
// hover-primary-background
%hover-primary-background{
  &:hover{
    @extend %primary-background;
  }
}

// feature image
%hover-darker{
  content: url(../img/icon2.png) "";
  @extend %position-absolute-center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;

  &:hover{
    opacity: 0.6;
  }
}

