{
  "name": "evaeva",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/ie.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/ie.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/ie.css\"}"
    },
    {
      "path": "sass/main.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"stylesheets/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"path\":\"sass/main.sass\",\"libSass\":true,\"compass\":true,\"fullCompass\":true,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "sass/print.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/print.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/print.css\"}"
    },
    {
      "path": "sass/screen.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/screen.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/screen.css\"}"
    },
    {
      "path": "stylesheets/ie.css",
      "configJson": "{\"compiler-css\":{\"path\":\"stylesheets/ie.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"stylesheets/ie-dist.css\"}"
    },
    {
      "path": "stylesheets/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"stylesheets/main.css\"},\"autoCompile\":true,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"stylesheets/main-dist.css\"}"
    },
    {
      "path": "stylesheets/print.css",
      "configJson": "{\"compiler-css\":{\"path\":\"stylesheets/print.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"stylesheets/print-dist.css\"}"
    },
    {
      "path": "stylesheets/screen.css",
      "configJson": "{\"compiler-css\":{\"path\":\"stylesheets/screen.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"stylesheets/screen-dist.css\"}"
    },
    {
      "path": "template_6.png",
      "configJson": "{\"compiler-png\":{\"path\":\"template_6.png\",\"size\":2635975,\"initialSize\":2635975,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/bg.jpg\",\"size\":109734,\"initialSize\":109734,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f1.jpg\",\"size\":9145,\"initialSize\":9145,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f10.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f10.jpg\",\"size\":4696,\"initialSize\":4696,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f11.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f11.jpg\",\"size\":8782,\"initialSize\":8782,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f12.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f12.jpg\",\"size\":4354,\"initialSize\":4354,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f2.jpg\",\"size\":8687,\"initialSize\":8687,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f3.jpg\",\"size\":4710,\"initialSize\":4710,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f4.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f4.jpg\",\"size\":2775,\"initialSize\":2775,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f5.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f5.jpg\",\"size\":3623,\"initialSize\":3623,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f6.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f6.jpg\",\"size\":3201,\"initialSize\":3201,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f7.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f7.jpg\",\"size\":5151,\"initialSize\":5151,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f8.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f8.jpg\",\"size\":4249,\"initialSize\":4249,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/f9.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/f9.jpg\",\"size\":3858,\"initialSize\":3858,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/g1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/g1.jpg\",\"size\":331627,\"initialSize\":331627,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/g2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/g2.jpg\",\"size\":219728,\"initialSize\":219728,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/g3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/g3.jpg\",\"size\":222221,\"initialSize\":222221,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/g4.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/g4.jpg\",\"size\":190734,\"initialSize\":190734,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/icon1.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/icon1.png\",\"size\":2084,\"initialSize\":2084,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/icon2.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/icon2.png\",\"size\":2122,\"initialSize\":2122,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/logo.png\",\"size\":7151,\"initialSize\":7151,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/men.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/men.jpg\",\"size\":1287,\"initialSize\":1287,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/news1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/news1.jpg\",\"size\":24165,\"initialSize\":24165,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/news2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/news2.jpg\",\"size\":22362,\"initialSize\":22362,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/p1.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/p1.png\",\"size\":1873,\"initialSize\":1873,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/p2.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/p2.png\",\"size\":1417,\"initialSize\":1417,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/p3.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/p3.png\",\"size\":1917,\"initialSize\":1917,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/p4.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/p4.png\",\"size\":2187,\"initialSize\":2187,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/search.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/search.png\",\"size\":1427,\"initialSize\":1427,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/slide1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/slide1.jpg\",\"size\":190086,\"initialSize\":190086,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/slide2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/slide2.jpg\",\"size\":223968,\"initialSize\":223968,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/slide3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/slide3.jpg\",\"size\":354813,\"initialSize\":354813,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/social.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/social.png\",\"size\":5188,\"initialSize\":5188,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/welcome.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/welcome.jpg\",\"size\":96963,\"initialSize\":96963,\"optimized\":false,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass"
    ],
    "hideSystemFiles": true,
    "selectedPath": "sass/main.sass",
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}