$font-color-1:#5C5C5C;
$font-color-2:#80B600;
$font-color-3:white;
$font-color-4:black;

$back-color-1:#80B600;
$back-color-2:#3B3B3B;
$back-color-3:#E7E7E7;
$back-color-4:#c1bbbb;
$back-color-5:white;
$back-color-6:black;

$border-color-1:#EEE;
$border-color-2:#a6a0a0;
$border-color-3:#DBDBDB;
$border-color-4:black;
