.main-top{
  width:96%;
  margin: 0 auto;
  text-align: center;
  >div{
      margin: 5px auto;
  }
  .work-content{
    background-color: #E7E7E7;
    border: 1px solid #DBDBDB;
    padding: 10px 5px;
    width:90%;
    height:300px;
    margin: 0 auto;
    h4{
      font-variant: small-caps;
    }
    img{
      padding: 10px 0;
    }
    a{
      background-color: #c1bbbb;
      padding: 10px;
      color: black;
    }
    p{
      padding: 10px 0;
    }

  }
}
