.main-center{
  width:96%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  h1{
    font-variant: small-caps;
  }
  p{
    display: inline;
  }
  >div>div{
    padding: 10px 0;
  }
  h4{
    background-color: #80B600;
    color:white;
    padding: 5px;
    width:90px;
    margin: 0 0 20px 0;
  }
}
