.main-top{
  width:96%;
  margin: 0 auto;
  text-align: center;
  .work-content{
    background-color: #E7E7E7;
    width:24%;
    height:300px;
    margin: 0 5px;
    h4{
      font-variant: small-caps;
    }
    img{
      padding: 10px 0;
    }
    a{
      background-color: #c1bbbb;
      padding: 10px;
      color: black;
    }
    p{
      padding: 10px 0;
    }

  }


}
