@import "mixin";
@import "variable";
.page-footer{
  margin: 0 auto;
  padding: 40px 0;
  @include position_shift_vertical(relative,-120px);
  background: url("img/header_bg.gif");
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  h2{
    font-variant: small-caps;
    margin: 0 auto 20px;
  }
  .para-background{
    margin: auto;
    p{
      background-color: $back-color-3;
      border: 1px solid $border-color-3;
      padding: 20px;
      margin-bottom: -5px;
    }
  }
  .input-text{
    >input{
      width: 100%;
    }
    >div{
      padding: 10px 0;
    }
    #message{
      height:100px;
    }
    a{
      margin: 10px auto;
      font-variant: small-caps;
      text-decoration:none;
      color: $font-color-3;
      font-size: 16px;
      padding: 8px;
    }
    #clearform{
      background-color: $back-color-6;
    }
    #send{
      background-color: $back-color-1;
    }
  }
  .display-size{
    >div{
      >div{
        padding: 0;
        width: 22%;
        margin: 0 4px 4px 0;
        img{
          width: 100%;
        }
      }
    }
  }
}
