@import "mixin";
@import "variable";

.subfooter{
  height: 200px;
  background-color: $back-color-2;
  font-size: 18px;
  a{
    color: $font-color-2;
    text-decoration:none;
  }
  p{
    float: left;
    color: white;
    font-variant: small-caps;
    color: $font-color-1;
  }
  >div{
    @include container_width(98%,0,auto);
    @include position_shift_vertical(relative,-70%);
    ul{
      float: right;
      font-variant: small-caps;
      li{
        color: $font-color-2;
        padding: 0 5px;
      }
      .footer-item1>a{
        color: $font-color-1;
      }
      .border-right{
        border-right: solid 2px $border-color-2;
      }
    }
  }
}
