/* line 1, ../sass/main-header.scss */
.main-header {
  background-color: transparent;
  position: relative;
  bottom: 60px;
  display: flex;
}
/* line 6, ../sass/main-header.scss */
.main-header ul, .main-header div {
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
/* line 10, ../sass/main-header.scss */
.main-header > ul {
  width: 950px;
  font-variant: small-caps;
}
/* line 14, ../sass/main-header.scss */
.main-header > ul #item1 {
  background-color: #80B600;
}
/* line 17, ../sass/main-header.scss */
.main-header > ul li {
  border-right: solid 1px #EEE;
}
/* line 19, ../sass/main-header.scss */
.main-header > ul li a {
  color: black;
  font-size: 18px;
}
/* line 25, ../sass/main-header.scss */
.main-header > div {
  float: right;
  width: 280px;
  margin: 0 0 0 20px;
}
/* line 29, ../sass/main-header.scss */
.main-header > div input, .main-header > div a {
  position: relative;
  top: 10px;
}
/* line 33, ../sass/main-header.scss */
.main-header > div #search-bar {
  margin: 0 auto;
  width: 90%;
  left: 10px;
}
/* line 38, ../sass/main-header.scss */
.main-header > div #search-icon {
  right: 20px;
}
