/* line 1, ../sass/main-top.scss */
.main-top {
  width: 96%;
  margin: 0 auto;
  text-align: center;
}
/* line 5, ../sass/main-top.scss */
.main-top .work-content {
  background-color: #E7E7E7;
  width: 24%;
  height: 300px;
  margin: 0 5px;
}
/* line 10, ../sass/main-top.scss */
.main-top .work-content h4 {
  font-variant: small-caps;
}
/* line 13, ../sass/main-top.scss */
.main-top .work-content img {
  padding: 10px 0;
}
/* line 16, ../sass/main-top.scss */
.main-top .work-content a {
  background-color: #c1bbbb;
  padding: 10px;
  color: black;
}
/* line 21, ../sass/main-top.scss */
.main-top .work-content p {
  padding: 10px 0;
}
