.subfooter {
  height: 200px;
  background-color: #3B3B3B;
  font-size: 18px;
}
.subfooter a {
  color: #80B600;
  text-decoration: none;
}
.subfooter p {
  float: left;
  color: white;
  font-variant: small-caps;
  color: #5C5C5C;
}
.subfooter > div {
  width: 98%;
  margin: 0 auto;
  position: relative;
  bottom: -70%;
}
.subfooter > div ul {
  float: right;
  font-variant: small-caps;
}
.subfooter > div ul li {
  color: #80B600;
  padding: 0 5px;
}
.subfooter > div ul .footer-item1 > a {
  color: #5C5C5C;
}
.subfooter > div ul .border-right {
  border-right: solid 2px #a6a0a0;
}
