* {
  outline: solid red 1px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
      to bottom,
      #171717 0 90px,
      transparent 90px 92%,
      #171717 92% 100%
    ),
    url("../images/bg.jpg");
    min-width: 360px;
}
