@use "../utility/reset";
@use "../utility/base";
@use "../utility/breakpoint";
@use "../theme/color";
@use "../theme/font";
.product {
  @include breakpoint.pad {
    position: relative;
    bottom: 40px;
  }
  align-items: stretch;
  &_wrap {
    @include breakpoint.pad-lg {
      margin-bottom: 0;
    }
    margin-bottom: 20px;
  }
}

.product_item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px 15px;
  text-align: center;
  background-color: #e8e8e8;
  .product_img {
    margin: 10px 0;
  }
  a {
    margin-top: auto;
    color: color.$gray;
    padding: 6px 10px;
    background-color: #cecece;
    &:hover {
      @extend %hover;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 17px;
  }
  &:hover {
    background-color: color.$transparent_gray;
    h4,
    p {
      color: color.$light_gray;
    }
  }
}
