@use "../theme/color";
@use "../theme/font";

.service_text {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #ebebeb;
  p {
    flex: 1 0 0;
  }
  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: color.$light_gray1;
    &:hover {
      transform: rotate(90deg);
      background-color: color.$green;
    }
    a {
      display: block;
      margin-left: 5px;
      color: #f8f8f8;
    }
  }
}

.service_text + .service_text {
  padding-top: 10px;
}
