@use '../utilities/breakpoint' as *;
@use '../utilities/background' as *;
@use '../utilities/color' as *;

@use '../components/dialogue_box';
@use '../components/contacts';

.footer_list {
  padding: 1rem;
  @extend %white_line;
  @include min_width($sm) {
    @include shadow(0, 0, 2px);
    padding: 2.5rem;
  }
}
.show_case {
  display: flex;

  flex-wrap: wrap;
  gap: 0;
  @include min_width($sm) {
    flex-wrap: wrap;
    gap: 20px;
  }
  @include min_width($desktop) {
    flex-wrap: nowrap;
    gap: 20px;
  }

  &_item {
    flex: 100%;
    @include min_width($sm) {
      flex: 1 1 47%;
    }
    @include min_width($desktop) {
      flex: 1 1 23%;
    }
  }
}


.show_case {
  h4 {
    font-size: 1.4rem;
  }
  img {
    max-width: 100%;
  }

  &_item + &_item {
    margin-top: 2rem;
    @include min_width($sm) {
      margin-top: unset;
    }
  }
}
.flickr_album {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  a {
    overflow:hidden;
    img {
      width: 100%;
      transform: scale(1,1);
      transition: .2s;
      &:hover {
        transform: scale(1.2,1.2);
      }
    }
  }
<<<<<<< HEAD
  @include min_width($sm) {
=======
  @include mobile {
>>>>>>> c1b38115ed8c9495ca175cc208c4ac1289f12066
    grid-template-columns: repeat(4, 1fr);
  }
}

// copyright 字體和flex
%text_flex_warp_center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  font-size: .8rem;
  color: $grey_500;
  line-height: .9rem;
}
.copyright {
  margin: 1rem;
  color: gray;
  font-size: .8rem;
    ul {
    @extend %text_flex_warp_center;
    line-height: 1rem;
    list-style: none;
    // margin-bottom: .5rem;
<<<<<<< HEAD
    @include min_width($md) {
=======
    @include tablet {
>>>>>>> c1b38115ed8c9495ca175cc208c4ac1289f12066
      order: 2;
      // margin-bottom: 1rem;
    }
    li + li {
      border-left: 2px solid $grey_300;
    }
    a {
      padding: 0 .5rem;
      color: $grey_300;
      font-size: .7rem;
      font-weight: 500;
      // line-height: inherit;
      &:hover {
        color: $green;
      }
    }
  }
  span {
    display: block;
    text-align: center;
    // margin-bottom: 1rem;
    line-height: 1rem;
    a {
      color: $green;
    }
<<<<<<< HEAD
    // @include min_width($md) {
    //   order: 1;
    // }
  }
  @include min_width($md) {
=======
    // @include tablet {
    //   order: 1;
    // }
  }
  @include tablet {
>>>>>>> c1b38115ed8c9495ca175cc208c4ac1289f12066
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
  }
<<<<<<< HEAD
  @include min_width($desktop) {
=======
  @include desktop {
>>>>>>> c1b38115ed8c9495ca175cc208c4ac1289f12066
    margin: 1rem;
  }
}