@use '../utilities/background' as *;
@use '../utilities/breakpoint' as *;
@use '../utilities/color' as *;

header .header_container {
  flex-wrap: wrap;
}
.logo_nav {
  padding: 1rem;
  @extend %white_line;
  @include tablet {
    @include shadow(0, 0, 2px);
  }
  @include desktop {
    padding: 2rem;
  }
}

h1 {
  max-width: 70%;
  display: inline-block;
  a {
    display: block;
  }
  img {
    width: 100%;
  }
}

.navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,.1);
  &-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.phone_area {
  display: none;
  text-align: end;
  @include tablet {
    display: inline-block;
  }
}
// 社群icon
a.social_icon  {
  display: inline-block;
}
@mixin social_icon ($x) {
  display: inline-block;
  background: url(../images/social.png) no-repeat $x 0;
	&:hover {
    background-position: $x -27px;
  }
	width: 27px;
	height: 27px;
}
.facebook {
  @include social_icon(0)
}
.twitter {
  @include social_icon(-37px)
}
.dribbble {
  @include social_icon(-74px)
}
.flickr {
  @include social_icon(-111px)
}
.rss {
  @include social_icon(-150px)
}
.tel_num {
  display: block;
  font-size: .8rem;
  color: black;
  a {
    display: inline;
    text-decoration: none;
    color: inherit;
  }
}
.navbar-collapse {
  background-color: white;
}
@include tablet {
  .navbar-collapse {
    background: linear-gradient(transparent 50%, white 50%);
  }
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: .75rem;
  @include tablet {
    padding: 1rem;
  }
}

.navbar-collapse ul li a {
  color: $grey_700;
  font-size: .8rem;
  &:hover {
    background-color: $green;
    color: white;
  }
}
.search_form .d-flex {
  background-color: #f3f3f3;
  margin: .75rem;
  @include tablet {
    margin: unset;
  }
}
@include tablet {
  .search_form {
    order: 2;
    background-color: white;
    background: white;
    padding: .5rem 1rem;
    margin-left: .5rem;
    flex: 1 1 auto;
    // box-shadow: $shadow_x $shadow_y $blur $陰影顏色;
    @include shadow(0, 0, 2px);
  }
  .list_area {
    order: 1;
    background-color: white;
    flex: 1 1 70%;
    @include shadow(0, 0, 2px);
  }
  li.nav-item {
    border-right: #EAEAEA 1px solid;
  }
}
// 搜尋列放大鏡
.search_icon {
  font-size: .8rem;
  width: 100%;
  background: no-repeat right 5% bottom 50% url(../images/search.png);
}
.form-control {
  border-radius: 0;
  padding: .5rem 2.5rem .5rem 1rem;
}