@use '../utilities/breakpoint' as *;
@use '../utilities/background' as *;
@use '../utilities/color' as *;

@use '../components/bootstrap' as *;
@use '../components/service_box.scss' as *;
@use '../components/arrowcircle' as *;
@use '../components/activity' as *;
@use '../components/news_card' as *;
@use '../components/swiper.scss' as *;

main {
  @extend %white_line;
  @include shadow(0, 0, 2px);
    margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 3rem;
  }
}

article {
  padding: 1rem;
  @include mobile {
    padding: 1rem 2.5rem;
  }
}
section {
  padding: 2rem 0;
}
.section_line {
  &::before{
    position: relative;
    display: block;
    content: '';
    background: #C6C6C6;
    height: 1px;
    bottom: 2rem;
  }
}
.feature_slider {
  position: relative;
  height: 100%;
}