.clear{
  clear: both;
}

.main{
  margin-top: 50px;

  ul{
    list-style-type: none;
    padding-left: 0px;
    li{
      padding: 20px;
      float: left;
      border-right: 1px solid #d9d9d9;
      color: black;
    }
    a{
      text-decoration: none;
    }

    li:hover{
      background-color: #80b600;
      color: white;
    }
  }

  .col-md-9{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
  }

  .col-md-3{
    padding-right: 0px;

    .search-bg{
      background-color: white;
      height: 100%;
      width: 100%;
      padding: 6px;
    }

    textarea{
      background-color: #dddddd;
      border: 0px;
      width: 100%;
      height: 100%;
      resize: none;
    }

    button{
      background-color: #dddddd;
      border: 0px;
      position: absolute;
      right: 20px;
      top: 15px;
    }

  }
}
