/* line 4, ../sass/array_icon.scss */
.array_icon {
  /*size*/
  width: 40px;
  height: 40px;
  /*circle*/
  border-radius: 50%;
  /*align & justify*/
  line-height: 40px;
  text-align: center;
  /*color*/
  background-color: #cbcbcb;
  color: white;
}
