/* line 15, ../sass/_base.scss */
.content_background .content {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #636363;
}

/* line 6, ../sass/function_card.scss */
.function_card {
  width: 230px;
  height: 283px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dbdbdb;
  padding: 25px 35px;
  text-align: center;
  transition: background-color 0.3s, opacity 0.3s;
}
/* line 19, ../sass/function_card.scss */
.function_card .card_title {
  font-size: 14px;
}
/* line 22, ../sass/function_card.scss */
.function_card .card_icon {
  color: #636363;
  transition: color 0.3s;
  font-size: 52px;
}
/* line 27, ../sass/function_card.scss */
.function_card .card_text {
  transition: color 0.3s;
  font-size: 9pt;
}
/* line 31, ../sass/function_card.scss */
.function_card .card_btn {
  background: #636363;
  border: none;
  font-size: 9pt;
  padding: 5px 10px;
  align-self: center;
}
/* line 39, ../sass/function_card.scss */
.function_card:hover {
  background-color: black;
  opacity: 0.6;
  color: black;
}
/* line 43, ../sass/function_card.scss */
.function_card:hover .card_title {
  color: white;
}
/* line 46, ../sass/function_card.scss */
.function_card:hover .card_text {
  color: white;
}

/* line 6, ../sass/content.scss */
.content_background .content {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* line 14, ../sass/content.scss */
.content_background .content .content_items {
  padding: 24px;
}
/* line 16, ../sass/content.scss */
.content_background .content .content_items .function_card {
  position: relative;
  bottom: 12vh;
}
/* line 21, ../sass/content.scss */
.content_background .content .content_items ul.why_choose_us_list {
  padding-left: 0;
}
/* line 24, ../sass/content.scss */
.content_background .content .content_items ul.why_choose_us_list li {
  display: block;
  border-bottom: 1px solid #636363;
  padding: 14px 0;
}

/* line 34, ../sass/content.scss */
.content_unit {
  font-size: 9pt;
  color: #636363;
}
/* line 38, ../sass/content.scss */
.content_unit p {
  padding-top: 15px;
  margin-bottom: 0;
}
/* line 43, ../sass/content.scss */
.content_unit .read_more {
  color: #1C1C1C;
  padding-left: 2px;
}
/* line 47, ../sass/content.scss */
.content_unit .read_more:hover {
  color: light_gray;
}

/* line 53, ../sass/content.scss */
.news_item {
  display: flex;
  flex-direction: row;
}
/* line 57, ../sass/content.scss */
.news_item > div, .news_item img {
  margin: 5px;
}
/* line 61, ../sass/content.scss */
.news_item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 9pt;
}
/* line 65, ../sass/content.scss */
.news_item > div .news_date {
  font-size: 11pt;
  width: 76px;
  line-height: 28px;
  text-align: center;
  color: #FBFBFB;
  background-color: #8EBA26;
}
