/* line 15, ../sass/_base.scss */
.footer_background .footer {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #636363;
}

/* line 4, ../sass/footer.scss */
.footer_background .footer {
  margin-top: 35px;
  margin-bottom: 35px;
}
