section
  background-image: url("../img/main_bg.jpg")
  // position: relative
  top: 0
  padding-bottom: 300px
  // height: 2000px
  // z-index: -1
  #main_section
    +bg_setting
    top: 150px
    +top_bg

#main_content1
  // z-index: 1
  .lg_bg
    // background-image: url("../img/cover1.jpg")
    // background-repeat: no-repeat
    // background-size: cover
    // height: 100%
    // width: 100%
    img
      height: 100%
      width: 100%

.mc2_ul
  li
    position: relative
    top: -60px
    background-color: rgba(225,225,225,0)
    // margin: 10px
    padding: 20px
    // width: 23%
    // max-width: 80%
    height: 100%
    .mc2_box
      padding: 30px
      background-color: rgb(225,225,225)
      h4
        font-size: 16px
      p
        font-size: 12px
      a
        width: 50px
        height: 20px
        display: block
        margin: 10px auto
        background-color: rgb(194,194,194)
      a:hover
        background-color: rgb(29,36,39)
        color: white
        text-decoration: none
    .mc2_box:hover
      background-color: rgba(22, 22, 22,0.8)
      color: white


.mc2_ul
  .middle_icon1
    background-image: url("../img/icon1.png")
    +middle_icon
  .middle_icon2
    background-image: url("../img/icon2.png")
    +middle_icon
  .middle_icon3
    background-image: url("../img/icon3.png")
    +middle_icon
  .middle_icon4
    background-image: url("../img/icon4.png")
    +middle_icon
#main_content2
  // z-index: 1
#main_content3
  // z-index: 1
  margin: 10px
  padding: 10px
  h1
    +title_setting
  .mc3_box
    padding: 10px
    .mc3_img
      width: 90%
    .mc3_ul_middle
      margin: 5px
      a
        +mc3_middle_bg
        display: block
        margin: 20px 5px
        height: 60px
        vertical-align: middle
        p
          margin-left: 60px
          padding-top: 20px
          color: black
          // line-height: 60px
          font-size: 16px
      a:hover
        +mc3_middle_bg_hover


    .mc3_ul_right
      h5
        display: inline-block
        background-color: $color_green
        line-height: 30px
        color: $color_white
        width: 80px
        padding-left: 10px
      img
        float: left
        margin: 10px 20px 10px 0


#main_content4
  h1
    +title_setting
  padding-bottom: 100px
  ul
    li
      img
        height: 90%
        width: 90%
