@use "../settings/settings";

.album {
  font-size: 0;
  margin-top: - (settings.$album-margin);
  margin-left: - (settings.$album-margin);

  &_item {
    display: inline-block;
    margin-top: settings.$album-margin;
    margin-left: settings.$album-margin;

    img {
      width: 100%;
    }
  }
}