@use "../settings/colors" as color;
@use "../tools/breakpoint";

.header_brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 16px;
  background-color: color.$background-color;

  @include breakpoint.media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 32px;
    padding: 32px 40px;
  }
}

.logo {
  h1 {
    margin: 0;
  }
  img {
    width: 100%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @include breakpoint.media-breakpoint-up(md) {
    align-items: normal;
    margin-top: 0;
  }
}

.social {
  text-align: right;
  font-size: 0;
}

.icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(../../src/images/social.png) no-repeat;

  &:hover {
    background-position-y: -28px;
  }

  & + .icon {
    margin-left: 6px;
  }

  &_facebook {
    background-position: 0 0;
  }

  &_twitter {
    background-position: -38px 0;
  }

  &_flickr {
    background-position: -75px 0;
  }

  &_dribbble {
    background-position: -112px 0;
  }

  &_rss {
    background-position: right 0;
  }
}

.telephone {
  margin-top: 8px;

  @include breakpoint.media-breakpoint-up(md) {
    margin-top: 0;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}
