@use "../settings/colors" as color;

.header_navbar {
  display: flex;
  justify-content: space-between;

  .navbar {
    width: 830px;
    padding: 0;
    background-color: color.$color-background;
  }

  .navbar-nav > .nav-item {
    border-right: 1px solid color.$color-border;
  }

  .nav-item.active > .nav-link {
    background-color: color.$color-link-active-background;
    color: color.$color-link-hover;
  }

  .nav-item:hover > .nav-link {
    background-color: color.$color-link-hover-background;
    color: color.$color-link-hover;
  }

  .navbar-nav .nav-link {
    padding: 14px 24px;
    font-size: 13px;
    text-transform: uppercase;
    color: color.$color-link;
  }

  .navbar-toggler {
    border: none;
    height: 48px;
  }

  .dropdown.show .nav-link {
    background-color: color.$color-link-hover-background;
    color: color.$color-link-hover;
  }

  .dropdown-menu {
    padding: 0;
  }

  .dropdown-item {
    padding: 14px 24px;
    font-size: 13px;

    &:hover {
      background-color: color.$color-link-hover-background;
      color: color.$color-link-hover;
    }
  }
}

.search {
  width: 300px;
  padding: 8px 12px 8px 18px;
  background-color: color.$color-background;
}

.search_form {
  position: relative;

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid color.$color-border;
    background-color: color.$color-input-background;
    line-height: 14px;
  }

  button {
    height: 100%;
    border: none;
    position: absolute;
    right: 0;
    background-color: transparent;
  }
}
