.bgone{
  background-color: black;
  height: 80px;
}
.bgtwo{
  background-image: url("../images/bg.jpg");
  width: 100%;
  padding-bottom: 250px
}
.bgthree{
  background-color: black;
  padding-top: 250px;
  height: 300px;
}
.bgtwocontent{
  background-image: url("../images/subbg.gif");
}
.bgtwolistcontent{
  background-color: white;
}
