/* bd == border */
/* shH == shortHeight ; lgH == longHeight */
div#background {
	border: 0px solid red;
	position: relative;
	padding-top: 10px;
	background-color: grey;
	z-index: 0;
}

div#background div#backgroundHead {
	border: 0px solid yellow;
	height: 75px;
	background-color: #1c1c1c;
	position: absolute;
	top: 0;
	width: 100%;
}

div#background div#backgroundFoot {
	border: 0px solid cyan;
	height: 250px;
	background-color: #1c1c1c;
	position: absolute;
	bottom: 0;
	width: 100%;
}

div#background div#content {
	border: 0px solid red;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
	position: relative;
}

div#background div#content div#Header {
	border: 0px solid yellow;
	background-color: white;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Header div.container-fluid {
	border: 0px solid purple;
}

div#background div#content div#Header div.container-fluid div.row {
	border: 0px solid cyan;
	height: 100%;
}

div#background div#content div#Header div.container-fluid div.row div.col-sm-6 {
	border: 0px solid red;
	padding: 2vw;
	padding-bottom: 20px;
}

div#background div#content div#Header div.container-fluid div.row div.col-sm-6 img {
	border: 0px solid yellow;
	height: 55px;
	max-width: 100%;
}

div#background div#content div#Header div.container-fluid div.row div.col-sm-6 div#contactBox div#iconBox {
	height: 30px;
}

div#background div#content div#Header div.container-fluid div.row div.col-sm-6 div#contactBox div#iconBox a {
	display: block;
	float: right;
	margin-right: 10px;
}

div#background div#content div#Header div.container-fluid div.row div.col-sm-6 div#contactBox div#iconBox a img {
	height: 100%;
}

div#background div#content div#Header div.container-fluid div.row div.col-sm-6 div#contactBox div#telBox p {
	margin-bottom: 0;
	margin-top: 5px;
	margin-right: 10px;
	word-break: break-all;
	text-align: right;
}

div#background div#content div#Body {
	border: 0px solid purple;
	margin-top: 2vw;
	background-color: transparent;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div.foo {
	border: 0px solid cyan;
	background-color: #444;
	height: 500px;
}

div#background div#content div#Body div#navSearchBar {
	border: 0px solid purple;
}

div#background div#content div#Body div#navSearchBar div.row {
	border: 0px solid cyan;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 {
	border: 0px solid red;
	padding: 0;
	padding-left: 0.20vw;
	padding-right: 0.20vw;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav {
	border: 0px solid yellow;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-header {
	border: 0px solid purple;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-header button {
	border: 0px solid red;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse {
	border: 0px solid cyan;
	padding: 0;
	background-color: white;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul {
	margin: 0;
	border: 0px solid red;
	background-color: white;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li {
	border: 0px solid yellow;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li a {
	border-right: 1px solid #ccc;
	font-family: Arial;
	color: #262626;
	font-size: 14px;
	padding: 20px 19px;
	height: 60px;
	background-color: white;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li a:hover {
	color: white;
	background-color: #80b600;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li a:focus {
	color: white;
	background-color: #80b600;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li.dropdown {
	border: 0px solid purple;
	background-color: #aaa;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li.dropdown ul {
	border: 0px solid cyan;
	padding: 0;
	background-color: #aaa;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li.dropdown ul li {
	border: 0px solid red;
	border-top: 1px solid #ccc;
	background-color: #888;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li.dropdown ul li a {
	border: 0px solid yellow;
	margin: 0;
	background-color: #dddddd;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-9 nav div.navbar-collapse ul li.dropdown ul li a:hover {
	color: white;
	background-color: #6cac1e;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-3 {
	border: 0px solid red;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	height: 60px;
	background-color: white;
	padding: 12.5px 17.5px;
	position: relative;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-3 input {
	border: 0px solid yellow;
	height: 40px;
	width: 100%;
	padding: 10px;
	background-color: #f3f3f3;
	color: #a1a1a1;
	border: 1px solid #e5e5e5;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-3 div {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 12.5px;
	right: 17.5px;
	padding: 10px;
}

div#background div#content div#Body div#navSearchBar div.row div.col-md-3 div a img {
	height: 20px;
	width: 20px;
}

div#background div#content div#Body div#carousel {
	border: 0px solid red;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 0;
	margin-top: 0px;
	padding: 0;
}

div#background div#content div#Body div#featureBar {
	border: 0px solid yellow;
	margin-top: -3.25vw;
	background-color: #fcfcfc;
}

div#background div#content div#Body div#featureBar div.row {
	border: 0px solid purple;
	margin: 0;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 {
	border: 0px solid cyan;
	padding: 0;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row {
	border: 0px solid red;
	padding: 0;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 {
	border: 0px solid yellow;
	padding: 1vw;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.featureCard {
	border: 0px solid purple;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	background-color: #e6e6e6;
	padding-bottom: 20px;
	position: relative;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.featureCard p.featureTitle {
	border: 0px solid cyan;
	border: 0px solid yellow;
	font-family: Arial;
	font-size: 2.25vh;
	text-align: center;
	letter-spacing: 1px;
	padding: 2vw;
	margin-bottom: 0;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.featureCard img.featureIcon {
	border: 0px solid red;
	display: block;
	border: 0px solid red;
	margin: 0 auto;
	height: 65px;
	width: 65px;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.featureCard p.featureInfo {
	border: 0px solid yellow;
	font-family: Arial;
	font-size: 1.75vh;
	text-align: center;
	padding: 2vw;
	padding-bottom: 0;
	margin-bottom: 0.75vw;
	height: 10vw;
	text-overflow: ellipsis;
	overflow: hidden;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.featureCard a.more {
	display: block;
	border: 0px solid red;
	color: #1c1c1c;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	width: 60px;
	background-color: #cccccc;
	margin: 0 auto;
	text-decoration: none;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.premium {
	background-color: rgba(60, 60, 60, 0.79);
	border: 1px solid black;
}

div#background div#content div#Body div#featureBar div.row div.col-md-6 div.row div.col-xs-6 div.premium p {
	color: white;
}

div#background div#content div#Body div#introBar {
	border: 0px solid purple;
	background-color: #fcfcfc;
}

div#background div#content div#Body div#introBar div.row {
	border: 0px solid cyan;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin: 0;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 {
	border: 0px solid red;
	padding: 1.5vw;
	padding-top: 3vw;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 p.introTitle {
	border: 0px solid yellow;
	font-family: "Helvetica Neue";
	font-weight: 400;
	color: black;
	font-size: 22.5px;
	letter-spacing: 1px;
	margin-bottom: 2vw;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 img#building {
	border: 0px solid purple;
	display: block;
	width: 100%;
	max-width: 400px;
	margin-bottom: 1.5vw;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#introBar div.row div.col-md-4 p.introText {
	border: 0px solid cyan;
	margin-bottom: 0;
	color: #777;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 p.introText a {
	color: black;
	text-decoration: none;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.chooseBlock {
	border: 0px solid red;
	margin-top: 20px;
	height: 84px;
	border-bottom: 2px solid #eee;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.chooseBlock div.iconBlock {
	border: 0px solid cyan;
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 5px;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.chooseBlock div.iconBlock img {
	border: 0px solid yellow;
	width: 100%;
	height: 100%;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.chooseBlock div.textBlock {
	border: 0px solid yellow;
	float: left;
	width: 65%;
	padding-top: 15px;
	margin-left: 10px;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.chooseBlock div.textBlock p {
	border: 0px solid purple;
	color: #777;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock {
	border: 0px solid cyan;
	height: 140px;
	margin-bottom: 20px;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock div.newsImgBlock {
	border: 0px solid red;
	width: 40%;
	max-width: 150px;
	float: left;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock div.newsImgBlock img {
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock div.newsTextBlock {
	border: 0px solid purple;
	float: left;
	width: 50%;
	margin-left: 5%;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock div.newsTextBlock p.date {
	font-family: Arial;
	background-color: #82b500;
	display: inline-block;
	padding: 5px 12.5px;
	color: white;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock div.newsTextBlock p.newsText {
	border: 0px solid cyan;
	margin-bottom: 0;
	word-break: break-all;
	color: #777;
}

div#background div#content div#Body div#introBar div.row div.col-md-4 div.newsBlock div.newsTextBlock p.newsText a {
	color: black;
	text-decoration: none;
}

div#background div#content div#Body div.breakLine {
	border: 0px solid red;
	background-color: #fcfcfc;
	padding: 3vw 3vw;
	border-bottom: 0;
}

div#background div#content div#Body div.breakLine div.theLine {
	border: 0px solid purple;
	height: 1px;
	background-color: #ccc;
}

div#background div#content div#Body div#featuredWorksBlock {
	border: 0px solid purple;
	background-color: #fcfcfc;
	padding: 0 2vw;
	padding-bottom: 2.5vw;
}

div#background div#content div#Body div#featuredWorksBlock div.control-bar {
	border: 0px solid cyan;
	margin: 0 1vw;
	padding-top: 2vw;
	padding-bottom: 1.5vw;
}

div#background div#content div#Body div#featuredWorksBlock div.control-bar p.workTitle {
	border: 0px solid yellow;
	width: 250px;
	font-family: "Helvetica Neue";
	font-weight: 400;
	color: black;
	font-size: 22.5px;
	letter-spacing: 1px;
	margin-bottom: 0;
	display: inline-block;
}

div#background div#content div#Body div#featuredWorksBlock div.control-bar div {
	border: 0px solid red;
	position: relative;
	z-index: 10;
	float: right;
	background-image: none;
	background-color: transparent;
	opacity: 1;
	margin-top: 2vw;
	width: 35px;
	height: 35px;
	margin-left: 0px;
	cursor: pointer;
}

div#background div#content div#Body div#featuredWorksBlock div.control-bar div span {
	margin: auto;
	padding: 5px;
	border: 0px solid yellow;
	position: static;
	color: grey;
	font-size: 15px;
}

div#background div#content div#Body div#featuredWorksBlock div.col-lg-12 {
	border: 0px solid yellow;
	float: none;
	padding: 0;
}

div#background div#content div#Body div#featuredWorksBlock div.col-lg-12 div#myCarousel2 {
	border: 0px solid purple;
}

div#background div#content div#Body div#featuredWorksBlock div.col-lg-12 div#myCarousel2 div.inner-2 {
	border: 0px solid cyan;
}

div#background div#content div#Body div#featuredWorksBlock div.col-lg-12 div#myCarousel2 div.inner-2 div.item div.col-xs-3 {
	border: 0px solid yellow;
	padding: 1vw;
}

div#background div#content div#Body div#featuredWorksBlock div.col-lg-12 div#myCarousel2 div.inner-2 div.item div.col-xs-3 a img {
	border: 0px solid cyan;
	width: 100%;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div#background div#content div#Footer {
	border: 0px solid red;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	margin-top: 4vw;
	background-color: #fcfcfc;
	padding: 2vw;
}

div#background div#content div#Footer div.container-fluid {
	border: 0px solid yellow;
}

div#background div#content div#Footer div.container-fluid div.row {
	border: 0px solid purple;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 {
	border: 0px solid cyan;
	padding: 1vw;
	padding-bottom: 35px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 p.footerTitle {
	border: 0px solid red;
	margin: 0;
	font-family: "Helvetica Neue";
	font-weight: 400;
	color: black;
	font-size: 22.5px;
	letter-spacing: 1px;
	margin-bottom: 2vw;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 p.tweetText {
	border: 0px solid yellow;
	font-family: "Helvetica Neue";
	font-weight: 400;
	color: #1c1c1c;
	font-size: 16px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#chatBubble {
	border: 0px solid purple;
	padding: 1vw 2vw;
	border: 1px solid #bbb;
	background-color: #e2e2e2;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#headBox {
	border: 0px solid cyan;
	height: 50px;
	margin-top: 2.5vw;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#headBox div#headImgBox {
	border: 0px solid purple;
	width: 50px;
	height: 50px;
	float: left;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#headBox div#headImgBox img {
	width: 50px;
	height: 50px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#headBox div#headTextBox {
	border: 0px solid red;
	float: left;
	margin-left: 1vw;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#headBox div#headTextBox p#headName {
	border: 0px solid yellow;
	margin-bottom: 0;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #333;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 div#headBox div#headTextBox a#headSite {
	border: 0px solid purple;
	margin-bottom: 0;
	color: #80b600;
	font-style: italic;
	text-decoration: none;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 input {
	border: 1px solid #bbb;
	background-color: #e2e2e2;
	width: 100%;
	padding: 5px 7.5px;
	margin-bottom: 5px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 input::-webkit-input-placeholder {
	color: #888;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 textarea {
	width: 100%;
	height: 10vw;
	border: 1px solid #bbb;
	background-color: #e2e2e2;
	padding: 5px 7.5px;
	margin-bottom: 10px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 textarea::-webkit-input-placeholder {
	color: #888;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 a.clearButton {
	display: inline-block;
	font-family: Arial;
	font-size: 14px;
	background-color: #1c1c1c;
	color: #eee;
	text-decoration: none;
	padding: 5px 12.5px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 a.sendButton {
	display: inline-block;
	font-family: Arial;
	font-size: 14px;
	background-color: #80b600;
	color: #eee;
	text-decoration: none;
	padding: 5px 12.5px;
}

div#background div#content div#Footer div.container-fluid div.row div.col-md-3 img#flickr {
	width: 100%;
	max-width: 300px;
}

div#background div#content div#endBar {
	border: 0px solid red;
}

div#background div#content div#endBar div.container-fluid {
	border: 0px solid yellow;
}

div#background div#content div#endBar div.container-fluid div.row {
	border: 0px solid purple;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 {
	border: 0px solid cyan;
	padding: 1vw 0;
	position: relative;
	min-height: 55px;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 p.copyright {
	border: 0px solid red;
	display: inline-block;
	margin-bottom: 0;
	padding-right: 7.8px;
	border-right: 2px solid grey;
	font-size: 15px;
	color: #666;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 a.policy {
	border: 0px solid yellow;
	padding-left: 3.5px;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 0;
	font-size: 15px;
	color: #80b600;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 ul {
	border: 0px solid purple;
	list-style-type: none;
	margin: 0;
	display: inline-block;
	padding-left: 0;
	position: absolute;
	right: 0;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 ul li {
	border: 0px solid cyan;
	display: inline-block;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 ul li a {
	border: 0px solid red;
	font-size: 15px;
	color: #666;
	text-decoration: none;
	padding-left: 4px;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 ul li a.borderRight {
	border-right: 2px solid #ccc;
	padding-right: 8px;
}

div#background div#content div#endBar div.container-fluid div.row div.col-lg-6 ul li a.actived {
	color: #80b600;
}
