//flicke
@use '../base/breakpoint';
// @import '../base/breakpoint';
.flickr_inner {
    display: grid;
    grid-gap: 5px;
    .item {
        img {
            width: 100%;
        }
    }
    grid-template-columns: repeat(6, 1fr);
    @include breakpoint.min_width(breakpoint.$pc) {
        grid-template-columns: repeat(4, 1fr);
    }
}
