@use '../base/color';
@use '../base/breakpoint';
//carousel
$next_button: url(../img/slider_next.gif);
$prev_button: url(../img/slider_prev.gif);

@mixin carousel_button($height, $width) {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: $height;
    width: $width;

    background-position: 0% 0%;
    &:hover {
        background-position: top $height left 0px;
    }
}
.carousel_img {
    .next_banner {
        @include carousel_button(119px, 40px);
        background: $next_button;
    }
    .previous_banner {
        @include carousel_button(119px, 40px);
        background: $prev_button;
    }
    .carousel-item {
        height: 400px;
        @include breakpoint.min_width(breakpoint.$pc) {
            height: auto;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
