@use '../base/color';

.chat_box {
    p {
        margin-bottom: 0;
        padding: 20px;
        border-radius: 10px 10px 10px 0;
        border: 1px solid color.$dark_gray;
        background-color: color.$light_gray;
    }
    &:after {
        margin-left: 1px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        margin-top: -1px;
        border-style: solid;
        border-width: 17px 42px 0 0;
        border-color: color.$light_gray transparent transparent transparent;
        filter: drop-shadow(0px 1px color.$dark_gray) drop-shadow(-1px 0px color.$dark_gray);
    }
}
