@use '../base/font_size';
@use '../base/color';
$circle-size: 50px;
.choose {
    i {
        margin-right: 20px;
        border-radius: 50px;
        font-size: 20px;
        height: $circle-size;
        width: $circle-size;
        color: #fff;
        text-align: center;
        line-height: $circle-size;
        flex-shrink: 0;
        background-color: color.$dark_gray;
        &:hover {
            box-shadow: 2px 2px 5px color.$default_gray;
            transform: rotate(360deg);
            transition: all 2s;
            background-color: color.$primary;
        }
    }
}
