@use '../base/font_size';
@use '../base/color';
.choose div {
    i {
        margin-right: 20px;
        border-radius: 50px;
        font-size: 20px;
        height: font_size.$font-size;
        width: font_size.$font-size;
        color: #fff;
        text-align: center;
        line-height: font_size.$font-size;
        flex-shrink: 0;
        &:hover {
            box-shadow: 2px 2px 5px color.$default_gray;
            transform: rotate(360deg);
            transition: all 2s;
        }
    }
}
