@use '../base/color';
@use '../base/reset';
.copyright {
    color: color.$default_gray;
    display: flex;
    p {
        padding-right: 10px;
        border-right: 2px solid color.$default_gray;
        margin-bottom: 0;
    }
    & a:nth-child(2) {
        padding-left: 10px;
        font-weight: 500;
        color: color.$primary;
        &:hover {
            color: #fff;
        }
    }
}
