@use '../base/color';
@use '../base/reset';
.date {
    background-color: color.$primary;
    width: fit-content;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 24px;
}
