//flicke
@use '../base/breakpoint';
@use '../base/reset';
.flickr_inner {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    .item {
        height: fit-content;
        img {
            width: 100%;
        }
    }
    @include breakpoint.pad_row {
        grid-template-columns: repeat(4, 1fr);
    }
    // @media (min-width: 992px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
}
