@use '../base/color';
@use '../base/breakpoint';
//footer copyright
.footer_link nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @include breakpoint.min_width(breakpoint.$pc) {
        margin-top: 0;
        flex-direction: row;
    }
    a {
        @include breakpoint.min_width(breakpoint.$pc) {
            padding: 0 10px;
        }
        &:first-child {
            color: color.$primary;
            font-weight: 500;
        }
        @include breakpoint.min_width(breakpoint.$pc) {
            & + a {
                border-left: 2px solid grey;
            }
        }
    }
}
