@use '../base/breakpoint';
@use '../base/color';
@use '../base/font_size';
@use '../components/button_more';
$margin_auto: 0 auto;
// main
// card_banner
%margin-bottom {
    margin-bottom: 20px;
}
.card_banner {
    padding: 20px;
    text-align: center;
    @include breakpoint.pad_row {
        margin-top: -50px;
    }
    h3 {
        @extend %all_h3;
    }
    .card {
        display: flex;
        padding: 16px;
        border-radius: 0px;
        height: 100%;
    }
    .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        .card-text {
            flex-grow: 1;
        }
    }
    .card-title {
        @extend %margin-bottom;
        span {
            display: block;
            @include breakpoint.pad_row {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .wrap_img {
        @extend %margin-bottom;
    }
}
@mixin card($color) {
    background-color: $color;
    @media (min-width: 768px) {
        background-color: color.$light_gray;
    }
    &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
.card_banner .row > div:nth-child(odd) .card {
    @include card(color.$light_gray);
}
.card_banner .row > div:nth-child(even) .card {
    @include card(color.$card_even);
}
