@use '../base/breakpoint';
@use '../base/color';
@use '../base/font_size';
@use '../components/button_more';
// main
// card_banner
@mixin card($color) {
    background-color: $color;
    @include breakpoint.min_width(breakpoint.$pad) {
        background-color: color.$light_gray;
    }
    &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
.card_banner {
    padding: 20px;
    text-align: center;
    @include breakpoint.min_width(breakpoint.$pc) {
        margin-top: -50px;
    }
    .card {
        display: flex;
        padding: 16px;
        border-radius: 0px;
        height: 100%;
    }
    .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        .card-text {
            flex-grow: 1;
        }
    }
    .card-title {
        align-self: center;
        @include breakpoint.min_width(breakpoint.$pad) {
            width: min-content;
        }
        @include breakpoint.min_width(breakpoint.$pc_lg) {
            width: auto;
        }
        margin-bottom: 20px;
        span {
            display: block;
            @include breakpoint.min_width(breakpoint.$pc) {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .wrap_img {
        margin-bottom: 20px;
    }
}

.card_banner .row > div:nth-child(odd) .card {
    @include card(color.$light_gray);
}
.card_banner .row > div:nth-child(even) .card {
    @include card(color.$card_even);
}
