//header social
@use '../base/color';
@use '../base/breakpoint';

//main
.menu {
    background: linear-gradient(to bottom, transparent 30px, #fff 30px, #fff 100%);
    .navbar {
        padding: 0;
        filter: drop-shadow(1px 1px 3px rgb(51, 45, 45));
        z-index: 2;
    }
    .container {
        background-color: color.$light_gray;
        @include breakpoint.min_width(breakpoint.$pc) {
            background-color: #fff;
        }
        padding: 0;
        button {
            height: 54px;
            &:focus {
                box-shadow: initial;
            }
        }
    }
    .navbar-nav > li:first-child {
        background-color: color.$current;
    }
    ul {
        text-align: center;
        @include breakpoint.min_width(breakpoint.$pc) {
            text-align: left;
        }
    }
    li {
        @include breakpoint.min_width(breakpoint.$pc) {
            border-right: 1px color.$dark_gray solid;
        }
    }
    a {
        padding: 15px 20px;
        &:hover {
            color: #fff;
            background-color: color.$primary;
        }
    }
    button {
        border: 0;
        background-color: color.$light_gray;
        &:focus {
            box-shadow: initial;
        }
    }
}
