@use "../base/color";
.click_more {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    &:hover {
        color: color.$primary;
    }
}

.welcome a {
    @extend .click_more;
}
.news a {
    @extend .click_more;
}
