//header social
@use '../base/color';

//main
.menu {
    background: linear-gradient(to bottom, transparent 30px, #fff 30px, #fff 100%);
    .navbar {
        padding: 0;
        filter: drop-shadow(1px 1px 3px rgb(51, 45, 45));
        z-index: 2;
        .container {
        }
    }

    .container {
        padding: 0;
        button {
            height: 54px;
            &:focus {
                box-shadow: initial;
            }
        }
    }
    .navbar-nav > li:first-child {
        background-color: color.$current;
    }
    ul {
        text-align: center;
        @media (min-width: 992px) {
            text-align: left;
        }
    }
    li {
        border-right: 1px color.$dark_gray solid;
    }
    a {
        padding: 15px 20px;
        &:hover {
            color: #fff;
            background-color: color.$primary;
        }
    }
}
//footer copyright
.footer_bottom nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
        margin-top: 0;
        flex-direction: row;
    }
    a {
        @media (min-width: 992px) {
            padding: 0 10px;
        }
        &:first-child {
            color: color.$primary;
            font-weight: 500;
        }
        @media (min-width: 992px) {
            & + a {
                border-left: 2px solid grey;
            }
        }
    }
}
