@use '../components/date';
@use '../components/text_more';
.news {
    background-color: initial;
    .wrap_img img {
        width: 100%;
    }
}

.news {
    .card {
        border: 0;
        &:nth-child(2) {
            margin-bottom: 24px;
        }
        &-text {
            font-size: 14px;
        }
        &-body {
            padding: 0;
        }
    }
}
