@use '../base/color';
@use '../base/breakpoint';
//search
.search {
    // 放大鏡放進去
    input {
        background: url(../img/search.png) no-repeat color.$light_gray;
        background-position: top 50% right 1%;
        &:focus {
            background-color: color.$light_gray; // change default style
            // background-position: top 50% right 1%;
            box-shadow: initial;
            // 修改原始編框設定
            border: 2px solid color.$primary;
        }
    }
    // 其他
    padding: 8px 8px;
    filter: drop-shadow(1px 1px 3px rgb(51, 45, 45));
}
