@use '../base/color';
@use '../base/font_size';
@use '../base/breakpoint';
@use '../components/date';
@use '../components/text_more';
//footer>sharing
.sharing {
    margin-top: 30px;
    .card {
        border: 0;
        background: inherit;
    }
    a {
        font-style: italic;
        font-weight: 600;
        color: color.$primary;
        text-decoration: none;
        &:hover {
            font-weight: 600;
        }
    }
    .wrap_img {
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .card-body {
        padding: 10px;
    }
}
