@use '../base/color';
.subscribe textarea {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid color.$dark_gray;
}
.subscribe {
    button {
        border: 0;
        padding: 5px;
    }
    input {
        background-color: color.$light_gray;
        width: 100%;
        border: 1px solid color.$dark_gray;
        padding: 10px;
        margin-bottom: 20px;
    }
    textarea {
        background-color: color.$light_gray;
    }
}
.subscribe_button {
    font-size: 0;
    .clear {
        font-size: 16px;
        color: #fff;
        margin-right: 10px;
        background-color: #000;
    }
    .send {
        color: #fff;
        font-size: 16px;
        background-color: color.$primary;
    }
}
