@use '../base/breakpoint';
@use '../base/color';

%swiper_button {
    color: color.$dark_gray;
}
.feature_swiper {
    padding: 35px;
    @include breakpoint.min_width(breakpoint.$pc) {
        display: none;
    }
    .swiper-button-prev {
        @extend %swiper_button;
    }
    .swiper-button-next {
        @extend %swiper_button;
    }
    .swiper-container {
        height: 300px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
