@use '../abstracts/_color' as *;
@use '../abstracts/_text' as *;

//白條紋背景
%bg-strip {
    background: url('../images/subbg.gif');
}

//木紋背景
$bg-wood: url('../images/background.jpg');

//陰影
@mixin shadow($x, $y, $blur) {
    box-shadow: $x $y $blur $color-dark-grey;
}
