// ^字體
$font-reg: 1rem;
$font-sm: 0.8rem;
$font-subtitle: 1.5rem;

// ^顏色
$color-primary: black;
$color-basic: #ffffff;
$color-light-grey: #e8e8e8;
$color-grey: #cecece;
$color-dark-grey: #636363;
$color-news: #81b700;
