
section {
  z-index: -1;
  height: 500px;
  background: url('../images/bg.jpg');





  .container {
    width: 90%;
    background-color: red;
    // height: 200px;
    // z-index: 1;
    // left: 200px;
  }
}
