@import "modules/_variable.scss";
@import "modules/_Roun.scss";
@import "modules/_range-width.scss";

section {
  background: url('../images/bg.jpg');
  // z-index: -1;
  // height: 500px;
  .container {
    width: 100%;
    max-width: 91%;
    @include range-width(0, 400px) {
     max-width: 100%;
    }
    .form-inline {
      .form-control {
        position: relative;
        width: 100%;
        //  .fa-search {
        //    position: absolute;
        //    left: 100%;
        //
        //  }
        @media screen and (max-width: 480px) {
            width: 64%;
        }
      }
      button {
        position: absolute;
        padding: 6px 9px 6px;
        //  @media screen and (max-width: 480px) {
        //    top:-8px;
        //  }
      }
    }
  }

  #carouselExampleControls {
    // width: 100%;
    // .active {
    //   width: 100%;
    // }
    .carousel-inner > .carousel-item > img{
      max-width: 80%;
      margin:0 auto;
    }
    @include range-width(550px, 1500px) {

      width: 100%;
      max-width: 91%;
     }
    // @include range-width(0, 350px) {
    //   width: 100%;
    //   .carousel-inner {
    //    //  height: 120px;
    //    position: relative;
    //    width: 111%;
    //    right: 14px;
    //    overflow: hidden;
    //     .carousel-item {
    //       height: 120px;
    //     }
        // .bg1 {
        //   //  height: 200px;
        //   background: url('../images/banner1.jpg');
        //   background-size: cover;
        //   // background-position: center;
        //   // background-size: contain;
        //   background-repeat: no-repeat;
        //   // opacity: 0;
        // }
        // .bg2 {
        //   //  height: 200px;
        //   background: url('../images/banner2.jpg');
        //   background-size: cover;
        //   // background-position: center;
        //   // background-size: contain;
        //   background-repeat: no-repeat;
        //   // opacity: 0;
        // }
        // .bg3 {
        //   //  height: 200px;
        //   background: url('../images/banner3.jpg');
        //   background-size: cover;
        //   // background-position: center;
        //   // background-size: contain;
        //   background-repeat: no-repeat;
        //   // opacity: 0;
        // }
    //   }
    // }
  }
    //   .carousel-item {
    //     height: 500px;
    //     // height: 70vh;
    //     // background-size: contain;
    //   }
    //   .bg1 {
    //     background: url('../images/banner1.jpg');
    //     background-size: cover;
    //     // background-size: contain;
    //     // background-position: center;
    //     // background-repeat: no-repeat;
    //      img {
    //        opacity:0;
    //      }
    //   }
    //   .bg2 {
    //     background: url('../images/banner2.jpg');
    //     background-size: cover;
    //     // background-size: contain;
    //     // background-position: center;
    //     // background-repeat: no-repeat;
    //      img {
    //        opacity:0;
    //      }
    //   }
    // .bg3 {
    //   background: url('../images/banner3.jpg');
    //   background-size: cover;
    //   // background-size: contain;
    //   // background-position: center;
    //   // background-repeat: no-repeat;
    //    img {
    //      opacity:0;
    //    }
    // }
    // -------------------------
  .Content_block {
    width: 88.7%;
    @include range-width(0, 400px) {
     width: 100%;
    }
    padding:0 25px 35px;
    background: url('../images/subbg.gif');
    @include range-width(0, 400px) {
     padding: 0;
    }
    .cards_block {
      padding: 0 15px 0;
      @include range-width(0, 400px) {
       padding: 0;
      }
      .col-md-3 {
        @include range-width(0, 400px) {
          padding-bottom: 10px;
        }

        h6 {
          padding-bottom: 20px;
          @include range-width(0, 400px) {
              font-size: 15px;
          }
        }

        .cards {
          position: relative;
          bottom: 30px;
          @include range-width(0, 400px) {
            bottom: 15px;
            }
          padding: 30px 10px 50px;
          background-color: rgb(231, 231, 231);
          border: 1px white solid;
          box-shadow: 1px 4px 15px #646464;
          height: 400px;

          &:hover {
            background-color: rgba(100, 100, 100, 0.4);
            border: 1px gray solid;
            .more {
              background-color: rgb(100, 100, 100);
            }
          }

          p {
          // width: 200px;
          // height: 100px;
          font-size: 13px;
        }

          .more {
          font-size: 17px;
          padding: 5px 10px;
          background-color: rgb(205, 205, 205);
          @include range-width(0, 400px) {
            position: relative;
            bottom:0px;
          }
          &:hover {
            background-color: rgb(57, 57, 57);
            color: white;
          }
        }
        }
      }
    }

   // ------------------------
    .Introduce_block {
      margin: 80px 0 80px;
      font-size: 10px;

      @include range-width(0,400px){
        margin: 25px 0 25px;

      }



      .col-md-4:nth-child(1){
        figure {
          img {
            width: 100%;
            padding-bottom: 30px;
          }
          a {
            text-decoration: none;
          }
        }
      }

      .col-md-4:nth-child(2){
        .Option {
          padding: 7px 0;
          border-bottom: 1px lightgray solid;
          &:hover {
           #Roun {
             background-color: black;
           }
           #Roun ~ span {
             color: black;
            //  padding-left: 10px;
            //  line-height: 50px;
            //  color: gray;
           }
           #Option_text {
             display: block;
           }
          }

          #Roun {
            @include border-radius(50px);
            // width: 50%;
            background-color: lightgray;
            i {
              color: white;
              font-size: 30px
            }
          }

          #Roun ~ span {
            width: 70%;
           font-size: 15px;
            padding-left: 10px;
            // line-height: 50px;
            padding-top: 10px;
            color: gray;
            @include range-width(0,400px){
              // padding-left: 10px;
              color: gray;
            }
          }

          #Option_text {
            display: none;
            // transition: display
            // visibility: hidden;
            padding:0 5px 0 60px;
          }
        }
      }

      .col-md-4:nth-child(3){
         div > img {
           @include range-width(0,400px){
            width: 100%;
          }
         }
        .green_black {
          margin-top: 15px;
          width: 50%;
          padding: 5px 8px;
          margin-bottom: 15px;
          background-color: rgb(128, 182, 0);
        }
        p a {
          text-decoration: none;
        }
      }
    }

    .FEATURED_WORKS {
      h6 {
        @include range-width(400px,1500px){
         font-size: 28px;
        }
      }
      padding: 0 25px;
      .col-md-3 img {
        width: 100%;
        @include range-width(0,400px){
          margin-bottom: 10px;
        }
      }
    }
  }
}
