@import compass
@import page/mixin
@import page/header
@import page/content
@import page/footer

body
  background-image: url("../img/bg.jpg")
  font-family: "times new roman",times,serif
  position: relative