/*header ulist*/
.nav > li > a{
  color: black;
  border: 0px;
  margin: 0;
  border-right: 1px solid #D9D9D9;
  border-radius: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: white;
  background-color: green;
}
.dropdown-menu >li> a:hover{
  background-color: green;
  color: white;
}
.dropdown-menu{
  padding: 0;
}
/*end ulist*/
.ainline > li{
  display: inline;
}
.ainline> li > a{
  padding:0 20px;
  color: #D9D9D9;
  text-decoration: none;
}
.ainline > li > a:hover, .ainline > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: green;
}
.otherborder{
  color: #D9D9D9;
  border-radius: 0px;
  padding-top:  0;
  padding-bottom: 0;
  border-right : 1px solid  #D9D9D9;
}
