@use '../abstracts/breakpoint'as *;
@use '../abstracts/mixins'as *;
@use '../abstracts/color'as *;

@use '../components/flickr';
@use '../components/form';
@use '../components/testimonials';
@use '../components/copyright_box';

$img-subbg :url("../images/subbg.gif");


footer{
    margin-top: 4rem;
    h4{
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    .container{
        background-image: $img-subbg;   
    }
}
