@use "../settings/colors" as color;
@use "../settings/settings";

input {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid color.$input-border-color;
  background-color: color.$input-background-color;
  color: color.$input-text-color;
  font-family: settings.$form-font-family;
}

textarea {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid color.$textarea-border-color;
  background-color: color.$textarea-background-color;
  color: color.$textarea-text-color;
  font-family: settings.$form-font-family;
}

button {
  padding: 5px;
  border: 1px solid color.$button-border-color;
  background-color: color.$button-background-color;
  color: color.$button-text-color;
  font-family: settings.$form-font-family;
}
