@use "../base/color";

%dialog {
  position: relative;
  margin-bottom: 2rem;
  p {
    padding: 1rem;
    margin: 0;
    background-color: color.$light-gray;
    color: color.$dark-gray;
    border-radius: 5px;
    line-height: 1.2;
    border-radius: 5px;
    border: 1px solid color.$mid-gray;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: calc(1px - 1rem);
    left: 0;
    background-color: color.$light-gray;
    width: 1.5rem;
    height: 1.5rem;
    clip-path: polygon(0 0, 1.5rem 0, 0 1.5rem);
    border-left: 1px solid color.$mid-gray;
    border-bottom-left-radius: 3px;
  }

  &::before {
    position: absolute;
    left: calc(0.5rem);
    bottom: calc(-1px - 1rem);
    content: "";
    width: 1px;
    height: 1.3rem;
    background-color: color.$mid-gray;
    transform: rotate(45deg);
    z-index: 9;
  }
}
