@use "../base/color";

$dialog-bottom-pos: calc(100% - 1rem);

%dialog {
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
  background-color: color.$light-gray;
  color: color.$dark-gray;
  line-height: 1.2;
  border-radius: 5px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% $dialog-bottom-pos,
    10% $dialog-bottom-pos,
    0% 100%
  );
}
