@use "../base/color";

%person-template {
  display: flex;
  gap: 1rem;
  .person_img {
    width: 50px;
    flex: 0 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  p {
    margin: 0;
  }
  a {
    color: color.$main-green;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
  }
}
