@use "../base/color";
@use "../base/breakpoint";

%upper-header {
  margin: 0 0 1rem 0;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: color.$main-black;
}

%main-sub-header {
  font-size: 1.5rem;
  @extend %upper-header;
  @include breakpoint.lg {
    font-size: 1.8rem;
  }
}
