@use '../abstracts/background' as *;

@use '../component/carousel'; //輪播圖
@use '../component/card'; //四圖區
@use '../component/why-choose-us'; //why-choose-us
@use '../component/news-events'; //news and events
@use '../component/swiper'; //swiper
@use '../component/more-links'; //more link連結圖樣
//背景
main {
    @extend %bg-strip;
    @include shadow(0px, 0px, 2px);
}

//標題設定
.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
