/* body.css */
@import 'sections.css';

body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    position: relative;
}
#background {
    height: 100%;


    & .background-blackbar {
    width: 100%;
    background-color: black;
    z-index: 0;
    position: absolute;
    };

    & #bg-bar-top {
    top: 0%;
    height: 100px;
    };

    & #bg-bar-bottom {
    bottom: 0%;
    height: 50px;
    };
}

.content {
   position: absolute;
   top: 1%;
   bottom: 1%;
   left: 10%;
   right: 10%;
   margin: 0 auto;
   z-index: 1;
}
