/* body.css */
@import 'sections.css';
@custom-media --desktop (min-width: 992px);

body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    position: relative;
}
#background {
    height: 100%;


    & .background-blackbar {
    width: 100%;
    background-color: black;
    z-index: 0;
    position: absolute;
    }

    & #bg-bar-top {
        @media (--desktop) {
            height: 5%;
        }
    top: -1%;
    height: 2%;
    }

    & #bg-bar-bottom {
    bottom: 0%;
    height: 10%;
    }
}

@media (--desktop) {
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.content {
   position: relative;
   top: 1%;
   bottom: 1%;
   margin: 0 auto;
   z-index: 1;
}
