:root {
    --basecolor: #80B600;
}

@custom-media --desktop (min-width: 992px);
@custom-media --mobile (min-width: 992px);

.nomargin {
    margin-left: 0;
    margin-right: 0;
}

#footer {
    color: white;
    text-align: center;
    @media (--desktop) {
        text-align: initial;
    }
   & #links {
      text-align: center;
      @media (--desktop) {
          text-align: right;
      }
   }
}

.content {

    & #subscribe {
        & .subform {
            margin-top: 1px;
        }
        & input {
            width: 100%;
            margin-bottom: 5px;
            background-color: #e6e6e6;
            border: 0px;
        }
        & button {
           border-radius: 0px;
        }
        & #subcontent {
            height: 100px;
        }
    }
    & #testmonial {
        & .persona {
            margin-top: 20px;
            display: flex;
            & .position {
                align-self: center;
                margin-left: 10px;
            }
        }
        & .bubble {
            & p {
                padding: 10px;
            }
            position: relative;
            width: 250px;
            height: 120px;
            padding: 0px;
            background: #e6e6e6;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            margin-bottom: 25px;
        }
        & .bubble:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: #e6e6e6 transparent;
            display: block;
            width: 0;
            z-index: 1;
            margin-left: -15px;
            bottom: -15px;
            left: 6%;
        }
    }
    & #news {
        & .news-highlight {
            background-color: green;
            border-radius: 0px;
            cursor: default;
            /* line-height: 200%; */
            /* background-color: green; */
            /* padding: 10px; */
        }
        & p {
            margin-top: 10px;
        }
        & .custom-offset {
            /* margin-left: 10%; */
            overflow: hidden;
        }
    }
    & h2 {
        padding: 12px 0;
    }

    & .innercontent {
        padding: 2% 0;
    }
    & #searchbox {
        height: 39px;
    }
    & .card {
        border: 1px solid #000; 
        background-color: white;
        margin: 1% 0;

        & .row {
            width: 100%;
        }
    }
    & .serviceCard-outer {
        padding: 0% 15%;
        @media (--desktop) {
            padding-left: 15px;
            padding-right: 15px;
        }
        & .serviceCard {
            & .fa {
                padding: 12px 0 24px;
            }
            & div {
                font-size: 500%;
            }
            padding: 20px;
            top: -30px;
            position: relative;;
            background-color: #e7e7e7;
            text-align: center;
            margin-bottom: 10px;
            @media (--desktop) {
                margin-bottom: 0;
            }
        }
        & .serviceCard:hover  {
            background-color: #616161;
        }
    }
    & #banner {
        display: flex;
        align-items: center;
        padding: 2% 1%;
        & p {
            text-align: right;
        }
    }
    & .cardrow {
        & .card {
            margin-bottom: 0;
        }
        & #card-divided-7 {
            width: 100%;

            @media (--desktop) {
                width: 69%;
                float: left;
            }

            & ._navbar {
                @media (--desktop) {
                    width: 70%;
                }

                min-height: 39px;
                display: flex;
                width: 100%;

                & .navbutton-list {
                    display: flex;
                    text-align: center;
                    width: 100%;
                    @media (--desktop) {
                        width: initial;
                    }
                    & .navbutton-wrap {
                        background-color: var(--basecolor);
                        padding: 1%;
                        flex-grow: 1;
                        & .navbutton {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        & #card-divided-3 {
            width: 100%;
            @media (--desktop) {
                width: 30%;
                float: right;
            }
        }
    }
    & .pic1 {
        background-image: url(../images/banner1.jpg);
    }
    & .pic2 {
        background-image: url(../images/banner2.jpg);
    }
    & .pic3 {
        background-image: url(../images/banner3.jpg);
    }
    & #bigpicture {
        @media (--desktop) {
            height: 500px;
        }
        background-position: 50% 0;
        background-repeat: no-repeat;
        height: 200px;
        background-size: cover;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & #arrowbar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        & .arrow {
            width: 30px;
            height: 30px;
            background-color: color(black alpha(-50%));
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        & #leftarrow {
            align-self: flex-start;
        }
        & #rightarrow {
            margin-left: auto;
        }
    }
    & .notop {
        margin-top: 0;
    }
    & .nobottom {
        margin-bottom: 0; 
    }
    & .noleft {
        margin-left: 0;
    }
    & .noright {
        margin-right: 0;
    }
    & .noleftpad {
        padding-left: 0;
    }
    & #compare {
        & tr {
            & th {
                vertical-align: middle;
            }
        }
    }
}

.featuredwork > div > img {
    height: auto; 
    width: 100%;
}
#flickr > div {
    padding: 0 10px 10px 0;
}

.circle
    {
    margin: 10px 10px 10px 0;
    width:50px;
    height:50px;
    border-radius:25px;
    font-size:25px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:#000
    }


.small-circle {
    margin-left: 10px;
    float: right;
    border-radius:25px;
    color:#fff;
    text-align:center;
    background:#000;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    }
