// main--about
.about{
  padding: 0 30px 40px;
}
.about_box{
  @extend %row;  
}
.about_item{
  @extend %col;
}

// main--about--welcome
.welcome{
  img{
    margin-bottom: 20px;
    width: 100%;
  }
  a{
    @extend %more-info;
  }
}

// main--about--choose
.choose_item{
  &:not(:last-child){
    margin-bottom: 20px;
  }
  border-bottom: 1px solid #ddd;
  padding: 0 10px 20px;
  display: flex;
  align-items: center;
}
.arrow_style{
  @extend %arrow;
}

// main--about--news
.news_item{
  display: flex;
}
.news_image{
  margin-right: 20px;
  img{
    width: 100%;
  }
}
.news_body{
  flex: 1 0 50%;
  > span{
    margin-bottom: 20px;
    padding: 5px 10px;
    display: inline-block;
    @include primary-background-color;
  }
  a{
    @extend %more-info;
  }
}
.news_item + .news_item{
  margin-top: 20px;
}
