main{
  margin-bottom: 60px;
  @include mediaquery-tablet-L{
    box-shadow: 0 -25px white;
  }
  @include container-background;
}

// banner control icon
@mixin banner-control-icon{
  width: 30px; // origin width is 40px
  height: 88px; // origin half height is 119px
  background-position: left top;
  background-size: 100%;
  &:hover{
    background-position: left bottom;
  }
  @content;
}

// main--banner
.banner_control{
  width: 30px;
  .banner_control_prev_icon{
    @include banner-control-icon{
      background-image: url(../img/slider_prev.gif);
    }
  }
  .banner_control_next_icon{
    @include banner-control-icon{
      background-image: url(../img/slider_next.gif);
    }
  }
}