// main--feature
.feature{
  margin: 0 30px;
  border-top: 1px solid #ccc;
  padding: 40px 0;
  position: relative;
  h2{
    margin-bottom: 0;
  }
  a{
    display: inline-block;
  }
  i{
    color: #ccc;
    @include hover-primary-color;
  }
}
.arrow_left{
  @include position-absolute(50px, 20px, auto, auto);
}
.arrow_right{
  @include position-absolute(50px, 0, auto, auto);
}
.feature_box{
  @extend %row;
}
.feature_item{
  @extend %col;
}
.feature_item_link{
  position: relative;
  &::before{
    @extend %hover-darker;
  }
  img{
    width: 100%;
  }
}