@use '../components/testimonials';
@use '../components/submit-message';
@use '../components/flickr';
@use '../components/copyright';
@use '../components/sub-menu';


// footer info (testimonials, submit-message, flickr)
.footer_info{
  padding: 10px 30px 30px;

  background-image: url(../img/subbg.gif);
}

// footer bottom (copyright, sub-menu)
.footer_bottom{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap; // default is nowrap
  align-items: center;
}