@use '../utilities/background-theme';
@use '../utilities/mediaquery';

@use '../components/grid-spacing';
@use '../components/testimonials';
@use '../components/submit-message';
@use '../components/flickr';
@use '../components/copyright';
@use '../components/sub-menu';


// footer info
.footer_info{
  padding: 10px 30px 30px;
  @include background-theme.background;
}

.info{
  &_box{
    @extend %row;
  }
  &_item{
    @extend %col;
  }
}

// footer bottom
.footer_bottom{
  padding: 20px 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @include mediaquery.mediaquery-tablet-L{
    flex-direction: row;
    justify-content: space-between;
  }
}