// break points: 直式螢幕 Portrait, 橫式螢幕 Landscape
$mobile-P: 320px;
$mobile-L: 576px;
$tablet-P: 768px;
$tablet-L: 992px;
$desktop: 1200px;


// mediaquery
// mobile-Portrait: 320px
@mixin mediaquery-mobile-P {
  @media (min-width: $mobile-P) {
    @content;
  }
}
// mobile-Landscape: 576px
@mixin mediaquery-mobile-L {
  @media (min-width: $mobile-L) {
    @content;
  }
}
// tablet-Portrait :768px
@mixin mediaquery-tablet-P {
  @media (min-width: $tablet-P) {
    @content;
  }
}
// tablet-Landscape: 992px
@mixin mediaquery-tablet-L {
  @media (min-width: $tablet-L) {
    @content;
  }
}
// desktop: 1200px
@mixin mediaquery-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}




