// header--logo, connect social media & tel
header{
  margin-top: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaquery-tablet-P{
    flex-direction: row;
    justify-content: space-between;
  }
  @include container-background;
}
  
// left--logo
h1{
  margin-bottom: 15px;
  @include mediaquery-tablet-P{
    margin-bottom: 0;
  }
  font-size: 0;
  a{
    display: inline-block;
  }
}

// right top--social media
.connect{
  font-size: 0;
}
.connect_icon{
  margin-bottom: 5px;
  text-align: center;
  @include mediaquery-tablet-P{
    text-align: right;
  }

  a + a{
    margin-left: 10px;
  }
}

@mixin social-media-icon($x){
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url(../img/social.png);
  background-position: $x top;
  &:hover{
    background-position: $x bottom;
  }
}
.connect_icon_fb{
  @include social-media-icon(0%);
}
.connect_icon_twitter{
  @include social-media-icon(25%);
}
.connect_icon_flickr{
  @include social-media-icon(50%);
}
.connect_icon_dribbble{
  @include social-media-icon(75%);
}
.connect_icon_rss{
  @include social-media-icon(100%);
}

// right bottom--tel
.connect{
  span{
    vertical-align: middle;
  }
  a{
    vertical-align: middle;
    @include hover-primary-color;
  }
}