@use '../utilities/background-theme';
@use '../utilities/mediaquery';

@use '../components/brand-logo';
@use '../components/connect';


// header--brand logo, connect social media & tel
header{
  margin-top: 5px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaquery.mediaquery-tablet-P{
    flex-direction: row;
    justify-content: space-between;
  }

  @include background-theme.background;
}

