@use '../components/brand-logo';
@use '../components/connect';


// header--brand logo, connect social media & tel
header{
  margin-top: 5px;
  padding: 30px;

  display: flex;
  flex-wrap: wrap; // default is nowrap
  align-items: center;

  background-image: url(../img/subbg.gif);
}

