@use '../components/read-more';
@use '../components/banner';
@use '../components/service';
@use '../components/welcome';
@use '../components/choose';
@use '../components/news';
@use '../components/feature';

// main
main{
  margin-bottom: 60px;
  box-shadow: 0 -25px white;

  background-image: url(../img/subbg.gif);
}

// main--service
.service{
  padding: 0 30px;
  transform: translateY(-30px);
}

// main--about (welcome, choose, news)
.about{
  padding: 0 30px 40px;

  .read_more{
    @extend %read-more;
  }
}

// main--feature works
.feature{
  margin: 0 30px;
  padding: 40px 0;
  border-top: 1px solid #ccc;
}
