// main--search & nav
main{
  margin: 30px 0 60px;
  @include mediaquery-tablet-L{
    margin-top: 60px;
    padding-top: 30px;
  }
  @include container-background;
}

// main--navbar
.menu{
  padding: 10px 30px;
  @include mediaquery-tablet-L{
    margin-top: -60px; // main padding-top + menu margin-top -30px
    padding: 0;
  }
  align-items: stretch;
  position: relative;

  .menu_toggler{
    @extend %input-border;
  }
  
  .menu_collapse{
    @extend %input-border;
    @include container-background;
    @include mediaquery-tablet-L{
      border: none;
      @include box-shadow(2px);
    }

    .menu_item{
      @include mediaquery-tablet-L{
        border-right: 1px solid #eee;
      }
      
      .menu_link{
        padding: 15px;
        color: black;
        @extend %hover-primary-background;

        i{
          font-size: 10px;
        }
      
        &::after{
          display: none; /* bootstrap origin dropdown icon */
        }
      } 
      
      .menu_dropdown_item{
        @extend %hover-primary-background;
      }
    }
  }
}

// main--search bar
.search_form{
  position: relative;

  @include mediaquery-tablet-L{
    margin-left: 10px;
    padding: 0 10px;
    @include box-shadow(-2px);
    flex-grow: 1;
    order: 2;
    @include container-background;
    display: flex;
    align-items: center;
  }

  .search_input{
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 0;
    @extend %placeholder;
  }

  .search_button{
    margin: 5px 0;
    @include mediaquery-tablet-L{
      margin: 10px;
    }
    @extend %search-icon;
    
    &:focus{
      box-shadow: none;
    }
  }
}