@use '../utilities/background-theme';
@use '../utilities/mediaquery';

@use '../components/grid-spacing';
@use '../components/banner';
@use '../components/service';
@use '../components/welcome';
@use '../components/choose';
@use '../components/news';
@use '../components/feature';

// main
main{
  margin-bottom: 60px;
  
  @include mediaquery.mediaquery-tablet-L{
    box-shadow: 0 -25px white;
  }

  @include background-theme.background;
}

// main--service
.service{
  padding: 0 30px 20px;

  @include mediaquery.mediaquery-mobile-L{    
    padding-bottom: 0;

    transform: translateY(-40px);
  }

  &_box{
    @extend %row;
  }

  &_item{
    @extend %col;
  }
}

// main--about
.about{
  padding: 0 30px 40px;

  &_box{
    @extend %row;  
  }

  &_item{
    @extend %col;
  }
}

// main--feature works
.feature{
  margin: 0 30px;

  border-top: 1px solid #ccc;
  padding: 40px 0;
}
