@use '../components/navbar';
@use '../components/search';

.menu{
  margin-top: 30px;
  padding: 0;

  position: relative;

  justify-content: space-between; // bootstrap .navbar display:flex
  align-items: stretch; // bootstrap .navbar default is center
}
