// main--service
.service{
  padding: 0 30px 20px;
  @include mediaquery-mobile-L{    
    transform: translateY(-40px);
    padding-bottom: 0;
  }
}
.service_box{
  @extend %row;
  text-align: center;
}
.service_item{
  @extend %col;
  @extend %card;
}