// main--service
.service{
  padding: 0 30px 20px;
  @include mediaquery-mobile-L{    
    transform: translateY(-40px);
    padding-bottom: 0;
  }

  &_box{
    @extend %row;
    text-align: center;
  }

  &_item{
    @extend %col;
    @extend %card;
  }
}