// 木紋背景, 梯形漸層上下黑色塊,中間透明
$bg_wood: url(../images/bg.jpg);
@mixin background($color_value1, $color_value2) {
  background:
    linear-gradient(black $color_value1,
                      transparent $color_value1,
                      transparent $color_value2,
                    black $color_value2),
                            $bg_wood;
}

// 白條紋背景
%white_line {
  background: url(../images/subbg.gif) repeat;
}

// 改變xy跟模糊距離ex.(0, 0, 2px)
@mixin shadow($shadow_x, $shadow_y, $blur) {
  box-shadow: $shadow_x $shadow_y $blur black;
}
// $陰影顏色: black