// color control
$dark_grey: #1D1D1D;
$grey: #9C9C9C;
$light_grey1: #ADADAD;
$font_grey: #7F7F7F;
$button_grey: #CDCDCD;
$icon_grey: #D9D9D9;
$background_grey4: #E7E7E7;
$black: #000000;
$green: #80B620;