/* line 16, ../../sass/module/_colors.scss */
.transparent_background {
  background-color: transparent;
}

/* line 6, ../../sass/module/function_card.scss */
.function_card {
  width: 230px;
  height: 283px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ededed;
  padding: 25px 35px;
  text-align: center;
  transition: background-color 0.3s, opacity 0.3s;
}
/* line 19, ../../sass/module/function_card.scss */
.function_card .card_title {
  font-size: 14px;
}
/* line 22, ../../sass/module/function_card.scss */
.function_card .card_icon {
  color: #cbcbcb;
  transition: color 0.3s;
  font-size: 52px;
}
/* line 27, ../../sass/module/function_card.scss */
.function_card .card_text {
  transition: color 0.3s;
  font-size: 9pt;
}
/* line 31, ../../sass/module/function_card.scss */
.function_card .card_btn {
  background: #cbcbcb;
  border: none;
  font-size: 9pt;
  padding: 5px 10px;
  align-self: center;
}
/* line 39, ../../sass/module/function_card.scss */
.function_card:hover {
  background-color: darkgray;
  opacity: 0.6;
  color: black;
}
/* line 43, ../../sass/module/function_card.scss */
.function_card:hover .card_title {
  color: white;
}
/* line 46, ../../sass/module/function_card.scss */
.function_card:hover .card_text {
  color: white;
}
