/* line 3, ../../sass/module/news_item.scss */
.news_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 9, ../../sass/module/news_item.scss */
.news_item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 15, ../../sass/module/news_item.scss */
.news_item > div .news_date {
  width: 76px;
  line-height: 28px;
  text-align: center;
}
