/* line 27, ../../sass/module/talkbuble.scss */
.talkbuble {
  color: #cdcdcd;
  position: relative;
  padding: 15px;
  background-color: #cdcdcd;
  font-size: 1rem;
}
/* line 36, ../../sass/module/talkbuble.scss */
.talkbuble::before {
  position: absolute;
  top: 100%;
  left: 0%;
  content: "";
  border-top: 15px solid #cdcdcd;
  border-right: 15px solid transparent;
  z-index: 1;
}
