/* line 16, ../../sass/module/_colors.scss */
.transparent_background {
  background-color: transparent;
}

/* line 27, ../../sass/module/talkbuble.scss */
.talkbuble {
  color: #cbcbcb;
  position: relative;
  padding: 15px;
  background-color: #cbcbcb;
  font-size: 1rem;
}
/* line 36, ../../sass/module/talkbuble.scss */
.talkbuble::before {
  position: absolute;
  top: 100%;
  left: 0%;
  content: "";
  border-top: 15px solid #cbcbcb;
  border-right: 15px solid transparent;
  z-index: 1;
}
