
$light_green: #80b600;
$light_black: #636363;
$dark_gray: #9c9c9c;
$light_gray: #cdcdcd;
$light_white: #FBFBFB;

$shift_color: #444444;


@mixin border($color: $light_gray) {
    border: solid 1px $color;
}

@mixin line($color: $light_gray) {
    border-top: solid 1px $color;
    border-bottom: none;
}

@mixin btn_color($color: blue) {
    background-color: $color;
    color: white;
}
