// hover-primary-color
@mixin hover-primary-color{
  &:hover{
    color: $primary-color;
  }
}
// primary-background-color
@mixin primary-background-color{
  background-color: $primary-color;
  color: white;
}
// feature image
%hover-darker{
  content: url(../img/icon2.png);
  @include position-absolute(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity .5s;
  opacity: 0;
  &:hover{
    opacity: 0.6;
  }
}