@use '../utilities/breakpoint' as *;
@use '../utilities/color' as *;

@use '../components/arrowcircle';
@use 'sass:math';

%activity_text {
  font-size: .9rem;
  color: $grey_300;
}
.activity {
  h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    @include tablet {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }
  @extend %activity_text;
  &_item + &_item {
    margin-top: 2rem;
  }
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    &_item + &_item {
      margin-top: unset;
    }
    &_item {
      flex: 1 1 math.div(100%, 3);
      // flex: 1 1 calc(100%/3);
    }
  }
  &_img {
    margin-bottom: 2rem;
  }
  &_list {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
    & + & {
      padding-top: 1rem;
    }
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}
.more_link {
  color: black;
  &:hover {
    color: $green;
  }
}
.circle_arrow {
  @extend %arrowcircle;
}
