@use '../utilities/color' as *;

%circle_arrow {
  display: inline-block;
  width: 2.5rem;
  text-align: center;
  margin-right: .5rem;
  & i {
    font-size: 1rem;
    color: white;
    background-color: #D9D9D9;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 999px;
    &:hover {
      transform: rotate(90deg);
      background-color: $green;
    }
  }
}

