@use '../utilities/breakpoint' as *;
@use '../utilities/color' as *;

// 填寫表單設置
%contacts_form_style {
  color: $grey_300;
  border-radius: 3px;
  background-color: #E6E6E6;
  padding: 2px 5px;
  border: 1px solid #DBDBDB;
  font-size: .8rem;
}
.contacts {
  &_form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    input, textarea {
      @extend %contacts_form_style;
    }
  }
}
@mixin form_button {
  input {
    border: unset;
    border-radius: unset;
    background-color: unset;
    color: white;
    font-weight: 600;
    font-size: .8rem;
    padding: 5px 10px;
  }
}
@mixin contacts_button_box($color) {
  @include form_button;
  background-color: $color;
  display: inline-block;
  width: fit-content;
  text-align: center;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: #DBDBDB;
    input {
      color: black;
    }
  }
}
.contacts_clear {
  @include contacts_button_box(black);
}
.contacts_send {
  @include contacts_button_box($green);
}