@use '../utilities/color' as *;

// testimonials 推薦人對話框
.dialogue_box {
  position: relative;
  padding: 1rem 1.5rem;
  border: 1px solid #DBDBDB;
  border-radius: 3px 3px 3px 0;
  background: #E6E6E6;
  &::after {
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    border-top: 1.2rem solid #E6E6E6;
    border-right: 2.5rem solid transparent;
    filter: drop-shadow(0px 1px #DBDBDB) drop-shadow(-1px 0px #DBDBDB);
  }
  p {
    font-size: .7rem;
    color: $grey_700;
    line-height: 1.2rem;
  }
}
.referrer {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  p {
    display: flex;
    flex-direction: column;
  }
  a {
    color: $green;
    font-style: italic;
    font-weight: 700;
  }
}