@use '../Utility/reset';
@use '../Utility/color';
@use '../Utility/breakingpoint';
@use '../Utility/grid';

.nav{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 1020;

    &_wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
            @include breakingpoint.pad-width{
                flex-wrap: nowrap;
                justify-content: space-between;
            }
    }
}

.search_bar{
    box-shadow: 0px -1px 5px rgba(0,0,0,0.3);
    display: flex;
    flex:0 1 100%;
    padding: 16px;
    background-color: color.$white;

    @include breakingpoint.pad-width(){
        flex: 0 1 50%;
        order: 1;
    }

    @include breakingpoint.laptop-width(){
        flex: 0 1 26%;
        padding: 8px;
    }

    input[type="text"]{
        width: 100%;
        height: 100%;
        font-size: 1rem;
        background: url(../images/search.png) top 7px right 10px no-repeat ,color.$gray_light;
        padding: 8px;
        border:1px solid color.$gray_dark;
    }
}

.nav_bar{
    flex:0 1 100%;
    background-color: color.$white;
    position: relative;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.3);

    @include breakingpoint.pad-width(){
        flex: 0 1 49%;
    }

    @include breakingpoint.laptop-width(){
        flex: 0 1 73%;
    }

    label{
        padding: 16px;
        width: 100%;
        display: block;
        text-align: left;

        @include breakingpoint.pad-width{
            padding: 12px 14px;
            display: block;
            font-size: 1.6rem;
        }

        @include breakingpoint.laptop-width{
            display: none;
        }
    }

    #burger{
        display: none;
    }

    #burger:checked + ul{
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #fff;
    }

    ul{
        font-size: 0;
        display: none;

        @include breakingpoint.laptop-width{
            display: block;
        }
    }

    .current_page{
        background-color: color.$green;
        color: color.$white;
    }

    li{
        display: block;
        border-right: 1px solid color.$gray_light;
        position: relative;

        @include breakingpoint.laptop-width{
            display: inline-block;
        }
        
        &:hover > a{
            background-color: darken(color.$green,5%);
            color:color.$white;
        } 

        a{
            display: block;
            padding: 18px 20px;
            font-size: .9rem;
            color:color.$black;
        }
    }

    .drop_down_item:hover >ul{
        display: block;
        width: 50%;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 100%;
        border: 1px solid color.$gray_light ;

        @include breakingpoint.phone-width{
            right: 0;
            top:100%;
        }

        @include breakingpoint.pad-width{
            left: 100%;
            top:0;
        }

        @include breakingpoint.laptop-width(){
            width:100%;
            top:100%;
            left:0;
        }

        span{
            vertical-align: middle;
        }

        a{
            vertical-align: middle;
        }
    }

    .drop_down > li:hover > a{
        background-color:darken(color.$green,20%);
    }

    .drop_down{
        position: absolute;
        font-size: 1rem;
        display: none;

        li{
            width: 100%;
            background-color: color.$white;
        }
    }
}