@use '../Utility/reset';
@use '../Utility/background';
@use '../Utility/breakingpoint';
@use '../Utility/grid';
@use '../Utility/color';

@mixin section_content($mb:2.5rem){
    text-align: center;
    margin-bottom: $mb;

    @include breakingpoint.laptop-width(){
        text-align: left;
        margin-bottom: 0;
    }
}

.interact{
    @include background.background_image(main);
    padding-top: 40px;
    padding: 40px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

    h4{
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 24px;
    }
}

.tweets{
    @include section_content()
}

.testimonials{
    @include section_content()
}

.dialogue{
    font-size: 0.9rem;
    line-height: 1;
    color: color.$gray_text;
    text-align: left;
    background-color: color.$gray_light;
    border-radius: 3px 3px 3px 0;
    border: 1px solid color.$gray_dark;
    margin-bottom: 30px;
    padding: 1rem 1.35rem;
    position: relative;

    &:before{
        content:"";
        display: block;
        position: absolute;
        left: -1px;
        bottom: -15px;
        border: 10px solid transparent;
        border-left: 15px solid color.$gray_dark;
        border-top: 5px solid color.$gray_dark;
    }

    &:after{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        bottom: -13px;
        border: 10px solid transparent;
        border-left: 15px solid color.$gray_light;
        border-top: 5px solid color.$gray_light;
    }
}

.persona{
    display: flex;

    .photo{
        margin-right: 16px;
    }

    .introduction{
        text-align: left;

        .name{
            color:color.$gray_text;
            font-size: .9rem;
        }

        .org{
            font-size: .9rem;
            color:color.$green;
            font-style:italic;
        }
    }
}

.touch{
    @include section_content();

    .input_style{
        background-color: color.$gray_light;
        border: 1px solid color.$gray_dark;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 8px;
        width: 100%;
    }

    .reset_button{
        margin-right: 5px;
    }

    .button_group{
        display: flex;
    }

}

.flickr_gallery{
    @include section_content(0);

    .images_row{
        display: flex;
        flex-wrap: wrap;
        
        a{
            flex: 0 1 23%;
            margin-right: calc((100% - 92%) / 3);
            margin-bottom: calc((100% - 92%) / 3);
        }

        & a:nth-child(4n+4){
            margin-right: 0;
        }

        & a:nth-child(n+9){
            margin-bottom: 0;
        }
    }
}

