@use "../utility/breaking-point";
@use "../utility/grid";
@use '../theme/background-image';
@use '../theme/font';

.navbar {
  display: flex;
  flex: 0 1 0;
  @include breaking-point.breaking-point(lg) {
    flex: 0 1 70%;
  }
  position: relative;
  ul {
    @include background-image.content-background-image();
    display: none;
    flex: 0 1 100%;
    position: absolute;
    top: 100%;
    z-index: 50;
    margin-right: 8px;
    box-shadow: 0 0 5px 1px gray;
    @include breaking-point.breaking-point(lg) {
      display: flex;
      position: static;
    }

    li {
      position: relative;
      border-right: 0.5px solid darkgray;
      a {
        display: block;
        font-size: 1rem;
        @extend %font-text;
        text-decoration: none;
        padding: 20px 15px;
        cursor: pointer;
      }

      &:hover {
        background-color: #8db537;
      }

      &:hover > .dropdown-item {
        display: block;
        position: absolute;
        top: 0;
        left: 120px;
        width: 70%;
        text-align: center;
        box-shadow: 0 0 5px 1px gray;
        @include background-image.content-background-image();
        z-index: 99;
        @include breaking-point.breaking-point(lg) {
          top: 57px;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

.dropdown-item {
  display: none;
  a {
    display: block;
    &:hover {
      background-color: #8db537;
    }
  }
}

.burger {
  display: block;
  font-size: 1.5rem;
  box-shadow: 0 0 5px 1px gray;
  padding: 15px;
  @include breaking-point.breaking-point(lg) {
    display: none;
  }
}
#burger {
  display: none;
}
#burger:checked + ul {
  display: block;
}
.search {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex: 0 1 100%;
  position: relative;
  box-shadow: 0 0 5px 1px gray;
  padding: 10px;
  @include breaking-point.breaking-point(lg) {
    flex: 0 1 30%;
  }
}
#search-bar {
  width: 100%;
  font-size: 1rem;
  border: 1px solid darkgray;
  padding: 8px 8px;
  outline: none;
}
.search-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}
