.section1,.section3,.section4,.section5,.section6
	+img(subbg,gif)

.header-bg
	height: 80px
	background-color: #1d1d1d

.center-bg
	+img(bg,jpg)
	height: auto

.footer-bg
	height: 200px
	background-color: #1c1c1c
	margin-top: -200px


