.footer
	padding: 15px 0
	.row
		.copyright
			p
				color: #525252
				margin-bottom: 0
				a
					color: #67cc00
		.menu
			a
				color: #525252
				border-right: 1px solid #525252
				margin-right: 10px
				padding-right: 10px
			.contacts
				margin-right: 0
				border-right: none
			.home
				color: #67cc00

@media (max-width: 993px)
	.copyright,.menu
		text-align: center