.section3
	.s3-pd
		padding: 0 30px
		.fourcards
			.card:hover
				background-color: rgba(black,0.3)
			.card
				text-align: center
				padding: 25px
				position: relative
				bottom: 30px
				background-color: #e7e7e7
				h1
					font-size: 16px
				.card1Img,.card2Img,.card3Img,.card4Img
					margin: 15px 0
				.button
					margin: 15px 0
					a
						background-color: #cdcdcd
						padding: 10px
						color: black

