.s6-pd
	padding: 0 30px
	h1
		font-size: 20px
		padding: 10px 0

.s6-2
	.frame
		background-color: #e6e6e6
		border-radius: 5px
		padding: 10px
		text-align: center
		position: relative
		margin-bottom: 30px
		p
			font-size: 14px
			margin-bottom: 0px
		.frameAngle
			// background-color: #e6e6e6
			position: absolute
			bottom: -18px
			left: 0
			width: 0
			height: 0
			border-top: 20px solid #e6e6e6
			border-right: 20px solid transparent
	.testimonials
		.menImg
			display: inline-block
		.nameAndSite
			display: inline-block
			vertical-align: middle
			p
				margin-bottom: 0px
				a
					color: #67cc00
.s6-3
	input,textarea
		background-color: #e6e6e6
		border: none
		margin-bottom: 10px
		width: 100%
	button.clear
		background-color: #1c1c1c
		color: white
	button.send
		background-color: #67cc00
		color: white

.s6-4
	.row
		.flickrPhoto
			margin-bottom: 5px
			img
				width: 90%
				height: auto


.s6-1,.s6-2,.s6-3,.s6-4
	padding: 15px

.section6
	position: relative
	padding-bottom: 50px