.section1
	height: auto
	.logo
		line-height: 120px
		img
			width: 65%
			height: auto
	.iconAndTel
		text-align: right
		
		// line-height: 120px //part1

		// position: relative //part2
		.iconTel
			padding-top: 30px

			// display: inline-block
			// line-height: 1rem //part1

			// position: absolute
			// top: 0
			// bottom: 0
			// right: 15px
			// height: 60px
			// margin: auto 0 //part2
			.icon1
				@extend %icon
				background-position: 2px 3px
			.icon2
				@extend %icon
				background-position: -36px 3px
			.icon3
				@extend %icon
				background-position: -73px 3px
			.icon4
				@extend %icon
				background-position: -111px 3px
			.icon5
				@extend %icon
				background-position: -149px 3px

@media (max-width: 768px)
	.section1
		.logo
			line-height: 70px
			text-align: center
	.section1
		.iconAndTel
			.iconTel
				padding-top: 5px
				text-align: center