.section5
	margin-bottom: 70px

.s5-pd
	padding: 0 30px
	padding-bottom: 80px

.photo4
	img
		width: 100%
		height: auto
.rlsign
	float: right
	position: relative
	bottom: 40px
	a
		font-size: 32px
		color: gray
