.s4-pd
	padding: 0 30px
	padding-bottom: 50px

	.s4-left
		a
			font-weight: bold
			color: black
		p
			font-size: 14px
			color: gray
		.s4-left-img
			margin: 20px 0
			img
				width: 100%
				height: auto

	.s4-center
		.s4-center-1,.s4-center-2,.s4-center-3,.s4-center-4
			padding: 20px 0
			border-bottom: 1px solid #cdcdcd
			.icon
				font-size: 16pt
				/*size*/
				width: 40px
				height: 40px
				/*circle*/
				border-radius: 50%
				/*align & justify*/
				line-height: 40px
				text-align: center
				/*color*/
				background-color: #cdcdcd
				color: white

	.s4-right
		.s4-right-upper
			.upperImg
				img
					vertical-align: inherit
					display: block
					width: 100%
					height: auto
			.upperRight
				margin-left: 10px
				.date
					background-color: #67cc00
					color: white
					width: 50%
					height: 30px
					text-align: center
					padding: 3px 0
					font-weight: bold
				p
					font-size: 14px
					color: gray
					padding-top: 20px
					a
						color: black
						font-weight: bold

		.s4-right-lower
			.lowerImg
				img
					vertical-align: inherit
					display: block
					width: 100%
					height: auto
			.lowerRight
				margin-left: 10px
				.date
					background-color: #67cc00
					color: white
					width: 50%
					height: 30px
					text-align: center
					padding: 3px 0
					font-weight: bold
				p
					font-size: 14px
					color: gray
					padding-top: 20px
					a
						color: black
						font-weight: bold
	.border-bottom
		width: 100%
		border: 1px solid #cdcdcd

.s4-left,.s4-center,.s4-right
	h1
		font-size: 28px

.upperImg,.lowerImg,.upperRight,.lowerRight
	display: inline-block
	width: 47%
	vertical-align: text-top

@media (max-width: 1092px)
	.upperImg,.lowerImg,.upperRight,.lowerRight
		width: 95%