%carousel-control {
    width: 40px;
    height: 119px;
    background: 0 0 no-repeat;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        background-position-y: -119px;
    }
}



#banner {
    .carousel-control-prev {
        background-image: url(../images/slider_prev.gif);
        @extend %carousel-control;
    }
    .carousel-control-next {
        background-image: url(../images/slider_next.gif);
        @extend %carousel-control;
    }
}