#footer {
    background: url(../images/subbg.gif);
    padding: 0 15px;
    .footer-content {
        padding: 15px;
        .footer-title {
            text-transform: uppercase;
            padding: 20px 0;
        }
        .testimonials {
            background-color: rgb(230, 230, 230);
            padding: 10px 20px;
            position: relative;
            &::after {
                content: "";
                /* 定位 */
                position: absolute;
                bottom: -24px;
                left: 0px;
                /* 三角形 */
                border-left: 40px solid rgb(230, 230, 230);
                border-bottom: 24px solid transparent;
            }
        }
        .commissioner {
            margin-top: 40px;
            display: flex;
            img {
                margin-right: 10px;
                flex-basis: 0;
            }
            div {
                flex-basis: 0;
                flex-grow: 1;
            }
            a {
                color: rgb(140, 180, 55);
                opacity: .6;
                &:hover {
                opacity: 1;
                }
            }
        }
    }
}