#main{
    padding: 0 30px;
    #services {
        padding-top: 20px;
        margin-bottom: 30px;
        @media (min-width:768px) {
            padding-top: 0;
            margin-top: -30px;
        }
        .card {
            background-color: rgb(231, 231, 231);
            &:hover {
                color: white;
                background-color: rgb(100, 100, 100);
            }
            @media (min-width:768px) {
                height: 100%;
            }
            .card-body {
                text-align: center;
                .card-title {
                    text-transform: uppercase;
                }
            }
            @media (min-width:768px) {
                .card-body {
                    padding: 40px 30px;
                }
            }
        }
        @media (min-width: 768px) {
            .growth-strategies {
                margin-right: 30px;
            }
            .partners-programs {
                margin-right: 30px;
            }
        }
        @media (min-width: 1200px) {
            .perfect-support {
                margin-right: 30px;
            }
        }
    }
}


%more {
    color: black;
        opacity: .7;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

    #info {
        color: gray;
        .welcome {
            @media (min-width: 768px) {
                margin-right: 30px;
            }
            .info-title {
                color: black;
            }
            img {
                width: 100%;
                padding: 20px 0;
            }
            p {
                a{
                    @extend %more;
                }
            }
        }
        .choose {
            margin-top: 30px;
            @media (min-width: 768px) {
                margin-top: 0;
            }
            @media (min-width: 1200px) {
                margin-right: 30px;
            }
            .info-title {
                color: black;
            }
            .choose-content {
                padding: 20px;
                border-bottom: 1px solid #c1c1c1;
                
                .more-icon {
                    float: left;
                    margin-right: 5px;
                    width: 48px;
                    height:48px;
                    background: url(../images/h3_plus.png) no-repeat;
                    &:hover {
                        background-image: url(../images/h3_minus.png);
                    }
                }
                &::after {
                    content:"";
                    clear: left;
                    display: block;
                }
                p {
                    margin-left: 60px;
                }
            }
        }
        .news {
            margin-top: 30px;
            @media (min-width: 1200px) {
                margin-top: 0;
            }
            .info-title {
                color: black;
            }
            .news-content {
                .news-img-container {
                    padding: 20px 0;
                    img {
                        float: left;
                        width: 145px;
                        height: 142px;
                    }
                    .news-date {
                        margin-left: 160px;
                        color: #ffffff;
                        background-color: rgb(140, 180, 55);
                        width: 66px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .news-text {
                        margin-left: 160px;
                        a {
                            @extend %more;
                        }
                    }
                    &::after {
                        content: "";
                        clear: both;
                        display: block;
                    }
                }
            }
        }
    }
