#navigation {
    margin: 30px 0;
    .navigation {
        width: 66%;
        background-color: #ffffff;
        margin-right: 2%;
        padding: 0;
    }
    .search {
        width: 32%;
        background-color: #ffffff;
    }
}


