@use "../abstracts/mixins";

/* footer */

/* supplement */

footer {
  .supplement {
    background-image: url("../images/subbg.gif");
    // background-color: aqua;
    &__title,
    .card-title {
      font-size: 24px;
      font-weight: bolder;
      line-height: initial;
    }

    //  latest

    &__latest {
      min-height: 200px;
    }

    // testimonials

    &__testimonials-people {
      display: flex;
    }
    &__testimonials-introduction {
      margin-bottom: 0;
      padding: 0 8px;
      :last-child {
        @include mixins.font-color(inherit,#72a101,bold)
        // color: #72a101;
        // font-weight: bold;
      }
    }

    .card {
      border: 0;
      border-radius: 0;
      &-body {
        background-color: #e7e7e7;
        position: relative;
        margin-bottom: 50px;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          border-color: #e7e7e7 transparent transparent transparent;
          border-style: solid;

          border-width: 30px 40px 0px 0px;
        }
      }
    }
    // GET IN TOUCH!

    &__mail-us {
      input , textarea{
        background-color: #e7e7e7;
        + .form-control {
          margin-top: 8px;
          @include mixins.size-lg{
            margin-top: 16px;
          }
        }
      }
    }
    [name="text"] {
      margin-bottom: 24px;
    }
    [type="reset"] {
      color: #ffffff;
      font-weight: bold;
      background-color: #151515;
      border: 0;
    }
    [type="submit"] {
      @extend [type="reset"];
      background-color: #81b701;
    }

    // flickr
    &__flickr-img {
      width: 100%;
    }
  }
  .card {
    background-color: transparent;
  }
  
  @import "../components/under-nav";
}
