@use "../abstracts/breakpoint";
@use "../components/top-nav";
@use "../abstracts/color";

.header {
  &__background {
    background-image: url("../images/subbg.gif");

    @include breakpoint.size-lg {
      width: 100%;
    }
  }

  &__multimedia {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include breakpoint.size-lg {
      align-items: flex-end;
      justify-content: flex-end;
    }
    a{
      &:hover{
        color: color.$active;
      }
    }
  }

  &__medialink {
    a {
      display: inline-block;
      width: 27px;
      height: 27px;
      background-image: url("../images/social.png");
      &:hover {
        background-position-y: -27px;
      }
    }
  }

  &__twitter {
    background-position: -37px 0;
  }

  &__flickr {
    background-position: -74px 0;
  }

  &__disign-dribbble {
    background-position: -111px 0;
  }

  &__rss {
    background-position: -150px 0;
  }

  .navbar {
    &-toggler {
      border: 0;
      &:focus {
        box-shadow: initial;
      }
      &-icon {
        width: 50px;
        height: 50px;
        background: initial;
      }
    }
    &-collapse {
      column-gap: 10px;
    }
    &-nav {
      background-color: #ffffff;
      width: 100%;
      @include breakpoint.size-lg {
        width: 70%;
      }
    }
  }
}

