@use "../abstracts/breakpoint";
@use "../abstracts/separate";
@use "../components/banner";
@use "../components/card-group";
@use "../components/introduction";
@use "../components/featured-works";

main {
  background-image: url("../images/subbg.gif");
  @include breakpoint.size-lg {
    margin-top: -32px;
    padding-top: 32px;
  }
}

hr.separate {
  @include separate.separate(2px , 16px , #c7c7c7);
  margin: 48px 0 0;
  @include breakpoint.size-xl{
    padding: 0 48px;
  }
}