html,body,h1,h2,h3,p,div,ul,li,img{
	padding: 0;
	margin: 0;
}

body {
	background: url(../img/bg.jpg);
	
	position: relative;
	
}

.clear {
	clear: both;
}

#wrapper {
	width: 80%;
	margin: 0 auto;

}

#wrapper::before{
	content:"";
	display: block;
	height: 100px;
	background-color: black;
	position:absolute;
	width: 110%;
	left:-10%;
	top:-20px;
	z-index: 0;
}

#wrapper::after{
	content:"";
	display: block;
	height: 200px;
	background-color: black;
	position:absolute;
	width: 110%;
	left:-10%;
	top:93%;
	z-index: 0;
}

@media only screen and (max-width: 1000px) {
	#wrapper::after{
	content:"";
	display: block;
	height: 200px;
	background-color: black;
	position:absolute;
	width: 110%;
	left:-10%;
	top:96.5%;
	z-index: 0;
}
	
}


#testfluid {
	padding: 0;
}

#bs-example-navbar-collapse-1 {
	padding: 0;
}



#header img {
	padding: 40px 40px;
	float: left;
}


/*--header--*/
#header {
	background: url(../img/header_bg.gif);
	position: relative;
	z-index: 1;

	margin:20px 0;
}

@media only screen and (max-width: 1200px) {
	#Brand5 {
	text-align: center;
	
	width: 100%;
	margin: 0 auto;
	}

	#res_one {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}
	#header img{
		padding: 20px;
	}
}



#Brand5 {
	padding: 40px 0;
}

#Brand5 ul li {
	display: inline;
}

.col-lg-6 a {
	display: inline-block;
	height: 27px;
	width: 27px;
	background: url(../img/top_socials.png);

}

#bi {
	background-position: -37px 0; 
}

#point {
	background-position: -74px 0; 
}

#ball {
	background-position: -111px 0; 
}

#three {
	background-position: -150px 0; 
}

/*-nav-*/

#abc {
	margin: 30px 0 0 0;
}

/*--main1--*/

#main1 img{
	width: 100%;
	
}
























/*--main2--*/

#main2 {
	background: url(../img/subbg.gif);

}

.b1234 {
	display: inline-block;
	
	background-color: #DCD7D7;
	text-align: center;
	margin: 20px 5%;
	padding:40px 20px;
	position: relative;
	top:-35px;
}

.b1234 p {
	margin: 30px 0;
}

.b1234 h1 {
	margin-bottom: 40px;
}

.b1234 a {
	text-decoration: none;
	background-color: #BFB2B2;
	padding:5px 10px;
	color: black;
}

.b1234 h1 {
	font-size: 20px;
}



@media only screen and (max-width: 1000px) {

	.b1234 {
		display: inline-block;
		background-color: #DCD7D7;
		text-align: center;
		margin: 20px 5%;
		padding:5%;
		position: relative;
		top:-35px;
	}
	.b1234 h1 {
		margin-bottom: 20px;
	}
	.b1234 p {
		margin:15px;
	}
	.changemid {
		text-align: center;
	}
	.changemid h1 {
		text-align: center;
		margin: 40px 0 20px 0;
	}
	#welcome {
		
		margin: 20px auto;
	}
	#whiteL p{
		padding: 0 40px;
	}

	.arr img {
		margin:0 50px 0 10%;

	}
	.arr p {
		text-align: left;
		padding: 0;
		margin-left: 30px;
	}
	.arr {
		padding: 0;
	}
}





.white h1 {
	font-size: rem;
}

#whiteMid {
	margin:0 10px;
}



.arr p{
	padding: 10px 10px;
}

.arr {
	padding: 10px;
}

.arr img {
	float: left;
	margin-right: 15px;
}




#whiteMid {
	
	padding: 20px 0;
	border-bottom: solid #D5C8C8;
	margin-bottom: 50px;
}


#whiteR img{

	margin:0 5% 0 0;
}
#whiteR p {

	padding: 20px 10%;
}



#ptxt1 {
	
	height: 200px;
	margin: 20px 0;
}

#ptxt1 img{
	float: left;
}

#ptxt2 img{
	float: left;
}
.GreenA {
	text-decoration: none;
	color: white;
	background-color: #07D007;
	padding: 5px 10px;
	margin: 0 0 0 2%;
}






#last {
	clear: both;
	margin:10px 20px;
}

#last img {
	
	margin:0 20px 0 0;
}

@media only screen and (max-width: 1000px) {
	#last img {
			width: 90%;
			margin:50px auto;
	}
}
/*--main3--*/


























#main3 {
	margin-top: 80px;
	
	background: url(../img/subbg.gif);
	padding: 40px 40px;
	position : relative;
	z-index: 1;
	
}

#main33 {
	position : relative;
	z-index: 1;
}

#main3in2 {
	background-color: #E4DFDF;
	padding: 25px;
	margin: 20px 0;
	border-radius: 8px;
}

#main3in2::after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 35px 0 0;
	border-color: #E4DFDF transparent transparent transparent;
	position: relative;
	top: 65px;
	left: -25px;
}

#main3author {
	padding: 20px 0;
}

#main3author img {
	float: left;
	margin-right: 15px;
}

#main3author p {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

#main3author p:nth-child(3) {
	color: #2EDD52;
}

#main3 .col-md-3 h1 {
	margin-bottom: 30px;
}

#name input {
	background-color: #E3E0E0;
	border-radius: 5px;
	border: solid #FFFFFF;
	padding: 5px 5px;
	width: 100%;
}

#email input {
	background-color: #E3E0E0;
	border-radius: 5px;
	border: solid #FFFFFF;
	padding: 5px 5px;
	width: 100%;
}

#message input {
	background-color: #E3E0E0;
	border-radius: 5px;
	border: solid #FFFFFF;
	padding: 5px 5px;
	width: 100%;
	height: 150px;
	margin-bottom: 26px;
}

#clear {
	background-color: black;
	color: white;
	padding: 10px 20px;

}

#send {
	background-color: #2BE034;
	color: white;
	padding: 10px 20px;
	position: relative;
	z-index: 1;
}


/*--footer--*/

#footer {
	background-color: black;
	color: #6D6666;
	padding: 10px 20px;
}

#footer ul a {
	color: white;
	text-decoration: none;
}
#footer p{
	margin:0;
}

#policy {
	text-decoration: none;
	color: #2CEC6C;
}



#footer li {
	display: inline-block;
	margin: 0 5px;
}

#footer a:hover {
	color: #2CEC6C !important;
}

.navbar-nav li a:hover {
	background-color: #2EE631 !important;
}