@import 'reset';
@import 'extend'; //合併樣式
@import 'color'; //放置所有用到的顏色
@import 'media'; //設定media queries


body{
  background: center;
  @include bg-image('bg1.jpg');
  position: relative;
}
%dark-background{
  background: $secondary-color1;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.header-dark-background{
  @extend %dark-background;
  height: 72px;
  top: 0;
}
.footer-dark-background{
  @extend %dark-background;
  height: 102px;
  bottom: 0;
}
/*-----------------------------------
header
------------------------------------*/
header{
  background: $primary-color1;
  @include bg-image('bg2.gif');
  padding: 30px;
  margin-top: 1vh;
  img{
    max-width: 100%;
    margin: 0 auto;
    @include tables-medium{
      margin: 0;
    }
  }
  .link-icon{
    text-align: center;
    @include tables-medium{
      align-items: flex-end;
      text-align: right;
    }
  }
  .bg-icon{
    background: no-repeat;
    background-position: center 0;
    @include bg-image('icon1.png');
    height: 27px;
    @include tables-medium{
      background-position: right 0;
    }
  }
  .bg-icon:hover{
    background-position: center -27px;
    @include tables-medium{
      background-position: right -27px;
    }
  }
}
/*-----------------------------------
navigation
------------------------------------*/
nav{
  margin-top: 4vh;
  text-transform: uppercase;
  li{
    border-right: 1px solid $primary-color3;
  }
}
.navbar-expand-lg{
  @include tables-large{
    //change-bootstrapClass：navbar-expand-lg
    justify-content: space-between;
  }
}
.search{
  width: 30%;
  input{
    width: 100%;
    border: 1px solid $primary-color3;
    color:$primary-color3;
    background-color: $primary-color1;
    background-position: right center;
    background-repeat: no-repeat;
    @include bg-image('search.png');
  }
}
/*-----------------------------------
main
------------------------------------*/
main{
  @include bg-image('bg2.gif');
  margin-bottom: 8vh;
}
/*-----------------------------------
main > banner-Carousel
------------------------------------*/
.banner-Carousel{
  img{
    width: 100%;
  }
}
.carousel-control-prev,.carousel-control-next{
  //change-bootstrapClass：carousel-control-prev，carousel-control-next
    width: 10%;
    background-color: rgba(0,0,0,0.5);
}
/*-----------------------------------
main > services-card-group
------------------------------------*/
.services-card-group{
  padding: 20px 20px;
  img{
    max-width: 100%;
    margin: 3vh auto;
  }
  a{
    color: $secondary-color1;
    background-color: $primary-color2;
    padding: 1vh;
    width: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 3vh auto;
    bottom: 0;
  }
  a:hover{
    color: $primary-color1;
    background-color: $secondary-color2;
  }
  p{
    margin-bottom: 3vh;
  }
  .card-style{
    background-color: $primary-color1;
    padding: 3vh 4vw 10vh;
    border-radius: 5px;
    border: 1px solid $primary-color2;
    height: 100%;
    text-align: center;
    position: relative;
  }
  .card-style:hover{
    background-color: rgba($secondary-color1,0.7);
    color: $primary-color1;
  }
  @include tables-medium{
    margin-top: -5vh;
    .col-12:nth-child(odd)>.card-style{
      margin-right: 20px;
    }
  }
  @include desktops{
    .col-12:nth-child(2)>.card-style{
      margin-right: 20px;
    }
  }
}
/*-----------------------------------
main > introduction
------------------------------------*/
.introduction{
  padding: 0 20px;
  img{
    max-width: 100%;
  }
  h4{
    text-transform: uppercase;
    margin-bottom: 3vh;
  }
  a{
    display: inline-block;
  }
  .col-12>div{
    padding: 3vh 20px;
  }
  .welcome{
    padding-left: 0;
  }
  .news{
    padding-right: 0;
  }
  .bottom-line{
    border-bottom: 1px solid $primary-color1;
  }
}
.welcome{
  img{
    margin: 3vh 0;
  }
}
.point{
  vertical-align: middle;
  padding: 3vh 0;
  border-top: 1px solid $primary-color1;
  border-bottom: 1px solid $primary-color1;
  img{
    display: inline-block;
  }
  &:nth-of-type(1){
    border-top: 0;
  }
}
.new{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  img{
    margin-right: 15px;
    max-width: 100%;
  }
  .title{
    display: inline-block;
    padding: 5px;
    margin-bottom: 3vh;
    color: $primary-color1;
    background-color: $secondary-color2;
  }
}
/*-----------------------------------
main > featured-works
------------------------------------*/
.featured-works{
  padding: 5vh 20px;
  img{
    max-width: 100%;
    margin-bottom: 30px;
  }
  h4{
    margin-bottom: 3vh;
  }
  @include tables-medium{

  }
  @include desktops{
    img{
      padding-right: 15px;
    }
    .col-12:last-child>img{
      padding-right: 0px;
    }
  }
}
/*-----------------------------------
footer
------------------------------------*/
.site-message{
  @include bg-image('bg2.gif');
  .row>div{
    padding: 30px 10px;
  }
  h5{
    text-transform: uppercase;
    margin-bottom: 3vh;
  }
  input,textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid $primary-color3;
    color:$primary-color3;
    background-color: $primary-color1;
  }
  input{
    margin-bottom: 10px;
  }
  textarea{
    margin-bottom: 25px;
  }
  button{
    text-transform: uppercase;
    padding: 10px 15px;
  }
  button:nth-of-type(1){
    color: $primary-color1;
    background-color: $secondary-color1;
  }
  button:nth-of-type(2){
    color: $primary-color1;
    background-color: $secondary-color2;
  }
}
.people-talk{
  img{
    max-width: 100%;
    margin-right: 15px;
  }
  a{
    color: $secondary-color2;
  }
  a:hover{
    color: $primary-color3;
  }
}
.word-balloons{
  clip-path: polygon(100% 0, 100% 80%, 10% 80%, 0 100%, 0 0);
  background-color: $primary-color1;
  padding:15px 25px 40px;
}
.flickr-photo{
  display: flex;
  flex-wrap: wrap;
  img{
    max-width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.copyright{
  display: flex;
  flex-wrap: wrap;
  color: $primary-color3;
  background-color: $secondary-color1;
  text-align: center;
  a{
    color: $primary-color3;
  }
  a:hover{
    color: $secondary-color2;
  }
  >div{
    width: 100%;
  }
  @include tables-medium{
    >div{
      width: 50%;
    }
    div:first-child{
      text-align: left;
    }
  }
}
.footer-navigation{
  display: none;
  @include phones{
    display: flex;
    justify-content: space-around;
    li{
      flex-grow: 1;
      border-left: 1px solid $primary-color3;
    }
    li:nth-child(1){
      border-left: 0;
    }
  }
}
