@use '../components/breakpoints';
@use '../components/carousel';


//banner
.carousel-item {
  img {
    min-height: 60vh;
    object-fit: cover;
  }
}

.modify-button {
  @include breakpoints.tablet {
    width: fit-content;

    .modify-prev-icon {
      @include carousel.button-normal(url(../images/slider_prev.gif));
    
      &:hover {
        @include carousel.button-hover(url(../images/slider_prev.gif));
      }
    }
    
    .modify-next-icon {
      @include carousel.button-normal(url(../images/slider_next.gif));
    
      &:hover {
        @include carousel.button-hover(url(../images/slider_next.gif));
      }
    }
  }
  
}