@use '../base/color';
@use '../base/typography';
@use '../base/bg';
@use '../base/display';
@use '../base/breakpoints';

@use '../components/contact';


//Header
header {
  @include display.flex(row, center);
  flex-wrap: wrap;
  @include breakpoints.tablet {
    justify-content: space-between;
  }
  padding: 40px 30px;
  background-image: bg.$section-bg;
  box-shadow: 1px 0px 10px;
}


