
@use '../reset';
@use '../variables/color';
@use '../variables/typography';
@use '../components/mixin';
@use '../components/sprite';
@use '../components/breakpoints';

//header
header {
  @include mixin.flex(row, center);
  flex-wrap: wrap;
  @include breakpoints.tablet {
    justify-content: space-between;
  }
  
  padding: 40px 30px;

  background-image: url(../images/subbg.gif);
  

  .contact-channels {
    text-align: center;
    margin-top: 15px;

    @include breakpoints.tablet {
      text-align: right;
      margin-top: 0;
    }
  }

  .social-media a:first-child {
    @include sprite.sprite(0, 0);
    &:hover {
      @include sprite.sprite(0, bottom);
    }
  }

  .social-media a:nth-child(2) {
    @include sprite.sprite(-37px, 0);
    &:hover {
      @include sprite.sprite(-37px, bottom);
    }
  }

  .social-media a:nth-child(3) {
    @include sprite.sprite(-74px, 0);
    &:hover {
      @include sprite.sprite(-74px, bottom);
    }
  }

  .social-media a:nth-child(4) {
    @include sprite.sprite(-111px, 0);
    &:hover {
      @include sprite.sprite(-111px, bottom);
    }
  }

  .social-media a:nth-child(5) {
    @include sprite.sprite(-150px, 0);
    &:hover {
      @include sprite.sprite(-150px, bottom);
    }
  } 

  a {
    font-size: typography.$base-font-size * 0.6;
    color: color.$black;
    

    &:hover {
      color: color.$primary-color;
    }
  }
}