@use '../abstract/variables';
@use '../components/mixin';
@use '../components/breakpoints';
@use '../components/searchbox';


//navigation
.navigation {
  @include mixin.flex(row, space-between);
  margin-top: 30px;
  box-shadow: 0px 1px 5px;
  @include breakpoints.tablet-landscape {
    box-shadow: none;
  }

  .modify-navbar {
    flex: 1 0 70%;
    padding: 0;
    background-color: variables.$secondary-color;
  }
}

.modify-navbar {
  @include breakpoints.tablet-landscape {
    box-shadow: 0px 1px 5px;

    ul {
      flex-basis: 75%;
    }
  
    li {
      flex-grow: 1;
      text-align: center;
    }

    a {
      padding: 16px;
      border-right: 1px solid variables.$gray;
      font-size: variables.$base-font-size * 0.7;
      color: variables.$black;
      text-transform: uppercase;
    }
  }
}

.modify-navbar .navbar-nav .nav-item a:hover {
  background: variables.$primary-color;
  color: variables.$secondary-color;
}


.search {
  flex: 1 0 20%;
  padding: 7px 14px;
  background-color: variables.$secondary-color;
  
  @include breakpoints.tablet-landscape {
    margin-left: 10px;
    box-shadow: 0px 1px 5px;
  }


  input {
    @extend %searchbox;

    &::placeholder {
      color: transparent;

      @include breakpoints.tablet {
        color: variables.$dark-gray;
        }
      }
  }
}



