@use '../base/breakpoints';

@use '../components/navbar-menu';
@use '../components/dropdown';
@use '../components/search-box';



//Navigation
.navigation {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
  box-shadow: 0px 1px 5px;
  @include breakpoints.tablet-landscape {
    box-shadow: none;
    background: linear-gradient(180deg, transparent 60%, #fff 60%);
  }
}
