/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, ../sass/_reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 94, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 112, ../sass/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 117, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 122, ../sass/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

/* line 130, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_body_background.scss */
body,
html {
  height: 100%;
}

/* line 6, ../sass/_body_background.scss */
.body_background {
  height: 100%;
  background-color: #000;
  background-image: url("../image/bg.jpg");
  background-size: auto 85%;
  background-repeat: repeat-x;
  background-position: 0 33.333%;
}

/* line 1, ../sass/_header.scss */
.header {
  background-image: url("../image/subbg.gif");
  background-repeat: repeat;
  background-size: contain;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 8, ../sass/_header.scss */
.header .logo {
  display: inline-block;
}
/* line 11, ../sass/_header.scss */
.header .logo:hover {
  cursor: pointer;
}
/* line 16, ../sass/_header.scss */
.header .icon_tag {
  font-size: 0;
  text-align: right;
}
/* line 20, ../sass/_header.scss */
.header .icon_tag .facebook_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 23, ../sass/_header.scss */
.header .icon_tag .facebook_icon:hover {
  background-image: url("../image/social.png");
  background-position: 0px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 28, ../sass/_header.scss */
.header .icon_tag .twittwr_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -37px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 31, ../sass/_header.scss */
.header .icon_tag .twittwr_icon:hover {
  background-image: url("../image/social.png");
  background-position: -37px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 36, ../sass/_header.scss */
.header .icon_tag .center_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -74px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 39, ../sass/_header.scss */
.header .icon_tag .center_icon:hover {
  background-image: url("../image/social.png");
  background-position: -74px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 44, ../sass/_header.scss */
.header .icon_tag .backetball_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -111px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 47, ../sass/_header.scss */
.header .icon_tag .backetball_icon:hover {
  background-image: url("../image/social.png");
  background-position: -111px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 52, ../sass/_header.scss */
.header .icon_tag .wifi_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -150px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 55, ../sass/_header.scss */
.header .icon_tag .wifi_icon:hover {
  background-image: url("../image/social.png");
  background-position: -150px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 60, ../sass/_header.scss */
.header .icon_tag p {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 2;
}
