/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, ../sass/_reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 94, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 112, ../sass/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 117, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 122, ../sass/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

/* line 130, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_body_background.scss */
.body_background {
  background-color: #000;
  background-image: url("../image/bg.jpg");
  background-size: 25% 90%;
  background-repeat: repeat-x;
  background-position: 0 33.333%;
}

/* line 1, ../sass/_header.scss */
.header {
  background-image: url("../image/subbg.gif");
  background-repeat: repeat;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
}
@media screen and (max-width: 620px) {
  /* line 1, ../sass/_header.scss */
  .header {
    display: block;
    text-align: center;
  }
}
/* line 11, ../sass/_header.scss */
.header .logo {
  display: inline-block;
}
/* line 14, ../sass/_header.scss */
.header .logo img {
  width: 100%;
}
/* line 18, ../sass/_header.scss */
.header .logo:hover {
  cursor: pointer;
}
/* line 23, ../sass/_header.scss */
.header .icon_tag {
  font-size: 0;
  text-align: right;
}
@media screen and (max-width: 620px) {
  /* line 23, ../sass/_header.scss */
  .header .icon_tag {
    display: block;
    text-align: center;
  }
}
/* line 31, ../sass/_header.scss */
.header .icon_tag .facebook_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 34, ../sass/_header.scss */
.header .icon_tag .facebook_icon:hover {
  background-image: url("../image/social.png");
  background-position: 0px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 39, ../sass/_header.scss */
.header .icon_tag .twittwr_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -37px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 42, ../sass/_header.scss */
.header .icon_tag .twittwr_icon:hover {
  background-image: url("../image/social.png");
  background-position: -37px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 47, ../sass/_header.scss */
.header .icon_tag .center_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -74px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 50, ../sass/_header.scss */
.header .icon_tag .center_icon:hover {
  background-image: url("../image/social.png");
  background-position: -74px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 55, ../sass/_header.scss */
.header .icon_tag .backetball_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -111px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 58, ../sass/_header.scss */
.header .icon_tag .backetball_icon:hover {
  background-image: url("../image/social.png");
  background-position: -111px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 63, ../sass/_header.scss */
.header .icon_tag .wifi_icon {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: -150px 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
/* line 66, ../sass/_header.scss */
.header .icon_tag .wifi_icon:hover {
  background-image: url("../image/social.png");
  background-position: -150px -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 71, ../sass/_header.scss */
.header .icon_tag p {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 2;
}

/* line 1, ../sass/_content_background.scss */
.content_background {
  margin: 2.5% auto 0;
  background-image: url("../image/subbg.gif");
  background-repeat: repeat;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 980px) {
  /* line 1, ../sass/_nav.scss */
  .nav {
    text-align: center;
  }
}
/* line 6, ../sass/_nav.scss */
.nav .nav_tag {
  display: inline-flex;
}
@media screen and (max-width: 740px) {
  /* line 6, ../sass/_nav.scss */
  .nav .nav_tag {
    display: block;
  }
}
/* line 13, ../sass/_nav.scss */
.nav .nav_tag label:hover {
  background-color: #7fb61e;
  cursor: pointer;
  color: #fff;
}
/* line 18, ../sass/_nav.scss */
.nav .nav_tag img {
  display: none;
}
@media screen and (max-width: 740px) {
  /* line 18, ../sass/_nav.scss */
  .nav .nav_tag img {
    padding: 2%;
    display: block;
    margin: 0 auto;
  }
}
/* line 31, ../sass/_nav.scss */
.nav .nav_tag #toggle_menu {
  display: none;
}
/* line 35, ../sass/_nav.scss */
.nav .nav_tag #toggle_menu:checked ~ .nav_tag_style {
  display: block;
}
/* line 39, ../sass/_nav.scss */
.nav .nav_tag .nav_tag_style {
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}
@media screen and (max-width: 740px) {
  /* line 39, ../sass/_nav.scss */
  .nav .nav_tag .nav_tag_style {
    padding: 2%;
  }
}
/* line 47, ../sass/_nav.scss */
.nav .nav_tag .nav_tag_style:first-child {
  display: none;
}
@media screen and (max-width: 740px) {
  /* line 47, ../sass/_nav.scss */
  .nav .nav_tag .nav_tag_style:first-child {
    display: block;
  }
}
@media screen and (max-width: 740px) {
  /* line 54, ../sass/_nav.scss */
  .nav .nav_tag .nav_tag_style:not(first-child) {
    display: none;
  }
}
/* line 60, ../sass/_nav.scss */
.nav .nav_tag .nav_tag_style:hover {
  background-color: #7fb61e;
  cursor: pointer;
  color: #fff;
}
/* line 66, ../sass/_nav.scss */
.nav .nav_search {
  float: right;
  margin: 1%;
  background-image: url("../image/search.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 5px;
}
/* line 75, ../sass/_nav.scss */
.nav .nav_search:focus {
  background-color: #fff;
  background-image: none;
}
/* line 80, ../sass/_nav.scss */
.nav .nav_search::after {
  clear: both;
}
@media screen and (max-width: 980px) {
  /* line 66, ../sass/_nav.scss */
  .nav .nav_search {
    float: none;
    width: 95%;
  }
}

/* line 1, ../sass/_slide.scss */
.slide {
  position: relative;
  font-size: 0;
  z-index: 0;
}
/* line 6, ../sass/_slide.scss */
.slide img {
  width: 100%;
}
/* line 13, ../sass/_slide.scss */
.slide #slide_change {
  display: none;
}
/* line 17, ../sass/_slide.scss */
.slide .slide_arrow_left {
  background-image: url("../image/slider_prev.gif");
  background-position: 0 0;
  height: 119px;
  width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 0;
}
/* line 23, ../sass/_slide.scss */
.slide .slide_arrow_left:hover {
  background-position: 0 -119px;
  height: 119px;
  width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  cursor: pointer;
}
/* line 28, ../sass/_slide.scss */
.slide .slide_arrow_right {
  background-image: url("../image/slider_next.gif");
  background-position: 0 0;
  height: 119px;
  width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: 0;
}
/* line 33, ../sass/_slide.scss */
.slide .slide_arrow_right:hover {
  background-position: 0 -119px;
  height: 119px;
  width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  cursor: pointer;
}

/* line 1, ../sass/_content_top.scss */
.content {
  position: relative;
}
/* line 4, ../sass/_content_top.scss */
.content .content_top {
  display: inline-flex;
  z-index: 1;
  margin: -5% 3% 3%;
}
/* line 9, ../sass/_content_top.scss */
.content .content_top .content_top_info {
  padding: 2%;
  margin: 0 1%;
  display: inline-block;
  width: 20%;
  background-color: #d7d7d7;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: sans-serif;
  overflow: auto;
}
/* line 20, ../sass/_content_top.scss */
.content .content_top .content_top_info:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
}
/* line 26, ../sass/_content_top.scss */
.content .content_top .content_top_info .info_title {
  margin: 10px;
  font-size: 16px;
}
/* line 31, ../sass/_content_top.scss */
.content .content_top .content_top_info .info_img {
  margin: 10px;
}
/* line 35, ../sass/_content_top.scss */
.content .content_top .content_top_info .info_content {
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  color: #878787;
}
/* line 40, ../sass/_content_top.scss */
.content .content_top .content_top_info .info_button {
  text-align: center;
  background-color: #b4b4b4;
  width: 30%;
  padding: 5px 10px;
  margin: 10px auto;
  color: #000;
}

/* line 2, ../sass/_content_middle.scss */
.content .content_middle {
  display: flex;
  margin: 0 3%;
  padding: 3% 0;
  border-bottom: 1px solid rgba(199, 199, 199, 0.5);
}
/* line 8, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info {
  width: 33%;
  margin: 0 1%;
  font-family: sans-serif;
}
/* line 13, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info.middle_middle_info:first-child {
  padding-top: 20px;
}
/* line 17, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_title {
  font-size: 30px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  /* line 17, ../sass/_content_middle.scss */
  .content .content_middle .content_middle_info .middle_title {
    font-size: 22px;
  }
}
/* line 26, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_left_img img {
  width: 100%;
  margin-top: 20px;
}
/* line 32, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_left_info {
  margin-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #878787;
}
/* line 37, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_middle_list {
  margin-top: 10px;
}
/* line 40, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_middle_list .middle_middle_info {
  display: inline-flex;
  align-items: center;
  padding: 5% 0;
  border-bottom: 1px solid rgba(199, 199, 199, 0.5);
  width: 100%;
}
/* line 47, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_middle_list .middle_middle_info .right_arrow {
  margin: 0 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #c7c7c7;
  border-radius: 50%;
}
/* line 71, ../sass/_mixin.scss */
.content .content_middle .content_middle_info .middle_middle_list .middle_middle_info .right_arrow::after {
  display: inline-block;
  content: " ";
  height: 8px;
  width: 8px;
  border-width: 2px 2px 0 0;
  border-color: #fff;
  border-style: solid;
  transform: matrix(0.7, 0.7, -0.7, 0.7, 0, 0);
  margin: 14px;
}
/* line 51, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_middle_list .middle_middle_info p {
  color: #878787;
}
/* line 57, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right {
  margin-top: 20px;
}
/* line 60, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content {
  display: flex;
  margin-top: 20px;
}
/* line 64, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content .middle_right_img {
  width: 40%;
}
/* line 67, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content .middle_right_img img {
  width: 100%;
}
/* line 72, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content .middle_right_info {
  width: 60%;
  margin-left: 20px;
}
/* line 76, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content .middle_right_info .middle_right_button {
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 50%;
  padding: 5px 10px;
}
/* line 80, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content .middle_right_info .middle_right_button:hover {
  background-color: #7fb61e;
  cursor: pointer;
  color: #fff;
}
/* line 85, ../sass/_content_middle.scss */
.content .content_middle .content_middle_info .middle_right .middle_right_content .middle_right_info p {
  margin-top: 10%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: #878787;
}

/* line 2, ../sass/_content_bottom.scss */
.content .content_bottom {
  padding: 3%;
}
/* line 5, ../sass/_content_bottom.scss */
.content .content_bottom .content_bottom_title {
  display: inline-block;
  font-size: 30px;
  font-family: sans-serif;
  margin: 1.25%;
}
/* line 12, ../sass/_content_bottom.scss */
.content .content_bottom .content_arrow {
  float: right;
  padding: 1% 2% 0 0;
}
/* line 17, ../sass/_content_bottom.scss */
.content .content_bottom .content_left_arrow {
  display: inline-block;
  display: inline-block;
  content: " ";
  height: 8px;
  width: 8px;
  border-width: 2px 2px 0 0;
  border-color: #fff;
  border-style: solid;
  transform: matrix(0.7, 0.7, -0.7, 0.7, 0, 0);
  margin: 14px;
  border-color: #d7d7d7;
  border-width: 0 0 2px 2px;
}
/* line 24, ../sass/_content_bottom.scss */
.content .content_bottom .content_right_arrow {
  display: inline-block;
  display: inline-block;
  content: " ";
  height: 8px;
  width: 8px;
  border-width: 2px 2px 0 0;
  border-color: #fff;
  border-style: solid;
  transform: matrix(0.7, 0.7, -0.7, 0.7, 0, 0);
  margin: 14px;
  border-color: #d7d7d7;
}
/* line 30, ../sass/_content_bottom.scss */
.content .content_bottom .content_bottom_img {
  display: inline-flex;
  flex-wrap: wrap;
}
/* line 34, ../sass/_content_bottom.scss */
.content .content_bottom .content_bottom_img img {
  width: 22%;
  height: 50%;
  margin: 1.25%;
}

/* line 1, ../sass/_footer.scss */
.footer {
  margin-top: 5%;
  background-image: url("../image/subbg.gif");
  background-repeat: repeat;
  margin-left: 5%;
  margin-right: 5%;
  font-family: sans-serif;
}
/* line 6, ../sass/_footer.scss */
.footer .footer_top {
  display: flex;
  padding: 3%;
}
/* line 10, ../sass/_footer.scss */
.footer .footer_top .footer_content {
  width: 22%;
  margin: 1.25%;
}
/* line 14, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_title {
  margin-bottom: 20px;
  font-size: 22px;
}
@media screen and (max-width: 960px) {
  /* line 14, ../sass/_footer.scss */
  .footer .footer_top .footer_content .footer_title {
    font-size: 17px;
  }
}
/* line 22, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_message_style {
  background-color: #d7d7d7;
  padding: 20px;
  position: relative;
}
/* line 27, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_message_style::after {
  position: absolute;
  left: 0;
  bottom: -15px;
  content: '';
  border-top: 15px solid #d7d7d7;
  border-right: 24px solid transparent;
  z-index: 1;
}
/* line 38, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_second_info {
  margin-top: 10%;
  display: inline-flex;
  align-items: center;
}
/* line 45, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_second_info p {
  margin-left: 10px;
}
/* line 49, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_second_info span {
  color: #7fb61e;
}
/* line 54, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_input {
  background-color: #d7d7d7;
  padding: 5px;
  width: 100%;
  border: none;
  margin-bottom: 5%;
}
/* line 61, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_input:focus {
  background-color: white;
}
/* line 66, ../sass/_footer.scss */
.footer .footer_top .footer_content .input_fix_height {
  height: 30%;
  padding-top: 0;
}
/* line 71, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_button {
  margin-top: 5%;
  background-color: #000;
  color: #fff;
  width: auto;
  padding: 5px 10px;
  display: inline-block;
  font-size: 16px;
}
@media screen and (max-width: 1120px) {
  /* line 71, ../sass/_footer.scss */
  .footer .footer_top .footer_content .footer_button {
    font-size: 12px;
  }
}
/* line 80, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_button:hover {
  background-color: #7fb61e;
  cursor: pointer;
  color: #fff;
}
/* line 86, ../sass/_footer.scss */
.footer .footer_top .footer_content .footer_img_list img {
  width: 23%;
  align-items: center;
}
@media screen and (max-width: 960px) {
  /* line 86, ../sass/_footer.scss */
  .footer .footer_top .footer_content .footer_img_list img {
    width: 30%;
  }
}
/* line 97, ../sass/_footer.scss */
.footer .footer_bottom {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}
@media screen and (max-width: 960px) {
  /* line 97, ../sass/_footer.scss */
  .footer .footer_bottom {
    display: block;
    text-align: center;
  }
}
/* line 107, ../sass/_footer.scss */
.footer .footer_bottom p {
  color: gray;
}
/* line 110, ../sass/_footer.scss */
.footer .footer_bottom p span {
  color: #7fb61e;
}
/* line 115, ../sass/_footer.scss */
.footer .footer_bottom ul {
  display: inline-flex;
}
/* line 118, ../sass/_footer.scss */
.footer .footer_bottom ul li {
  border-right: 1px solid gray;
}
/* line 121, ../sass/_footer.scss */
.footer .footer_bottom ul li a {
  padding: 0 10px;
  color: gray;
  text-decoration: none;
}
/* line 126, ../sass/_footer.scss */
.footer .footer_bottom ul li a:hover {
  color: #7fb61e;
}
