@use "../abstracts" as *;

.divider {
  margin: 20px 0;
  width: 100%;
  border-bottom: 1px solid $gray-200;
}
.works_title {
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
}
.swiper_control {
  align-self: center;
  color: lightgray;
  i:hover {
    color: $green;
  }
}
.swiper-slide {
  position: relative;
  &:hover {
    .hover_link {
      display: flex;
      animation: text 1s ease-in-out;
    }
    @keyframes text {
      from {
        top: 100%;
      }
      to {
        top: 0px;
      }
    }
  }
  .hover_link {
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 36px;
    width: 100%;
    height: 100%;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      z-index: -1;
      background: linear-gradient(
        150deg,
        rgba(0, 0, 0, 0.5) 0 20%,
        rgba(255, 255, 255, 0) 20% 30%,
        rgba(0, 0, 0, 0.5) 30% 80%,
        rgb(113, 183, 0, 1) 80% 81%,
        rgba(255, 255, 255, 0) 81% 100%
      );
    }
    a {
      display: inline-block;
      width: 15%;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}
