body {
  background-image: 
  linear-gradient(to top, black 200px,0,transparent),
  linear-gradient(to bottom, black 83px,0,transparent),
  url(/Users/apple/front_end/t6/a-tony/images/bg.jpg);
  padding: 0 20px;
}

section {
  padding-bottom: 40px;
}
