// reset
$color-default: white;
$color-hot: #82b622;
$color-dark: #212529;
$color-shadow: gray;
$color-light: lightgray;


$bg-default: white;
$bg-light:#f3f3f3;
// $bg-nav: rgba(54,8,54,1);
// $bg-footer: rgba(170, 168, 168, 0.3);
// $text-nav: #FF5E8B;

// font-default
// $font-size-default:20px;
// $font-color: $color-default;
$color-font: #a9a9a9;
// $text-transform-default: capitalize;

// $font-family-default: Georgia, 'Times New Roman', Times, serif;
// $font-family-p: sans-serif ;

// $header-size: 60px;
// $p-size:14px;
