* {
  padding: 0;
  margin: 0;
}

footer h2, main h2 {
  font-size: 25px;
}

.card_banner h4 {
  font-size: 18px;
}

.social .facebook {
  display: inline-block;
  background: url("../../img/social.png");
  width: 27px;
  height: 27px;
}
.social .facebook:hover {
  background-position: 0px 27px;
}
.social .twitter {
  display: inline-block;
  background: url("../../img/social.png");
  width: 27px;
  height: 27px;
  background-position: -37px 0;
}
.social .twitter:hover {
  background-position: -37px 27px;
}
.social .flicker {
  display: inline-block;
  background: url("../../img/social.png");
  width: 27px;
  height: 27px;
  background-position: -74px 0;
}
.social .flicker:hover {
  background-position: -74px 27px;
}
.social .dribble {
  display: inline-block;
  background: url("../../img/social.png");
  width: 27px;
  height: 27px;
  background-position: -111px 0;
}
.social .dribble:hover {
  background-position: -111px 27px;
}
.social .rss {
  display: inline-block;
  background: url("../../img/social.png");
  width: 27px;
  height: 27px;
  background-position: -150px 0;
}
.social .rss:hover {
  background-position: -150px 27px;
}

.menu .navbar {
  padding: 0;
}
.menu .navbar .container {
  padding: 0;
}
.menu .navbar .container button {
  height: 54px;
}
.menu .navbar .container li {
  border-right: 1px #cecece solid;
}
.menu .navbar .container li a {
  padding: 15px 20px;
}
.menu .navbar .container li a:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .menu .col-lg-3 {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
}
.menu .navbar {
  filter: drop-shadow(1px 1px 3px #332d2d);
}

.copyright nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.copyright nav a:first-child {
  color: #81b700;
  font-weight: 500;
}

@media (min-width: 992px) {
  .copyright nav {
    margin-top: 0;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .copyright nav a {
    padding: 0 10px;
  }

  .copyright nav a + a {
    border-left: 2px solid grey;
  }
}
@media (min-width: 992px) {
  .copright nav {
    margin-top: 0;
  }
}
.menu button {
  width: 100%;
}

.menu .navbar button:focus {
  box-shadow: initial;
}

.carousel_img .previous_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 119px;
  width: 40px;
  background: url(../../img/slider_prev.gif);
}
.carousel_img .previous_banner:hover {
  background-position: top 119px left 0px;
}

.carousel_img .next_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 119px;
  width: 40px;
  background: url(../../img/slider_next.gif);
}
.carousel_img .next_banner:hover {
  background-position: top 119px left 0px;
}

.feature .feature_prev {
  color: grey;
  position: absolute;
  right: 20px;
  width: fit-content;
}
.feature .feature_prev:hover {
  color: lawngreen;
}
.feature .feature_prev i {
  font-size: 20px;
  line-height: 30px;
}
.feature .feature_next {
  position: absolute;
  width: fit-content;
  color: grey;
}
.feature .feature_next:hover {
  color: lawngreen;
}
.feature .feature_next i {
  font-size: 20px;
  line-height: 30px;
}

.card_banner .click_more {
  color: black;
  background-color: #cecece;
  border-radius: 0;
  padding: 6px 12px;
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
}
.card_banner .click_more:hover {
  background-color: #aa2e2e;
}

.feature .feature_button {
  height: 30px;
  width: 50px;
  position: relative;
}

.personal .get button {
  border: 0;
  padding: 5px;
}
.personal .get .clear {
  color: #fff;
  margin-right: 10px;
}
.personal .get .send {
  color: #fff;
}

.menu .search {
  padding: 8px 8px;
  filter: drop-shadow(1px 1px 3px #332d2d);
}

@media (min-width: 992px) {
  .menu .search {
    padding-right: 10px;
    width: 100%;
  }
}
.get input {
  width: 100%;
  border: 0;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
}

.carousel_img img {
  width: 100%;
}

.feature .carousel {
  position: initial;
}
.feature .carousel .carousel-inner {
  position: initial;
}

.flicker .flickr_inner {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, 100px);
}
.flicker .flickr_inner .item {
  height: fit-content;
}
.flicker .flickr_inner .item img {
  width: 100%;
}

@media (min-width: 992px) {
  .flicker .flickr_inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
.personal .get textarea {
  padding: 10px 0 0 10px;
  width: 100%;
  margin-bottom: 20px;
}

header {
  margin-bottom: 32px;
}

.header_inner {
  justify-content: space-between;
  padding: 32px;
  border: 1px solid #000;
  filter: drop-shadow(1px 1px 3px #332d2d);
}
.header_inner h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 0;
}
.header_inner h1 a {
  height: 100%;
  display: inline-block;
}
.header_inner h1 a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header_inner .social {
  font-size: 0;
}
.header_inner .social p {
  margin-bottom: 0;
  font-size: 16px;
}

@media (min-width: 992px) {
  .header_inner {
    display: flex;
    text-align: right;
  }
}
@media (min-width: 992px) {
  .header_inner h1 {
    margin-bottom: 0px;
  }
}
.header_inner .social a + a {
  margin-left: 10px;
}

.information h2, .card_banner .card .wrap_img, .card_banner .card .card-title {
  margin-bottom: 20px;
}

.card_banner .card {
  padding: 20px;
  height: 100%;
}

@media (min-width: 992px) {
  .card_banner .col-lg-3 {
    margin-top: -40px;
  }
}
.card_banner .wrap_img {
  width: 80px;
  height: 80px;
  margin: auto;
}

.container .card_banner {
  text-align: center;
}
.container .card_banner .card {
  padding: 16px;
  border-radius: 0px;
}
.container .card_banner .card:hover {
  color: #fff;
}
.container .card_banner .card .card-body {
  padding: 0;
}

@media (min-width: 768px) {
  .card_banner .card-text {
    height: 120px;
  }
}
@media (min-width: 992px) {
  .card_banner .card-text {
    height: 200px;
  }
}
@media (min-width: 992px) {
  .container .card-title {
    height: 42px;
  }
}
@media (min-width: 1200px) {
  .container .card-title {
    height: fit-content;
  }
}
.information {
  margin-bottom: 50px;
}

.welcome img {
  width: 100%;
}

.welcome p {
  word-spacing: 2px;
  color: #000;
}
.welcome p a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.welcome p a:hover {
  color: red;
}

.choose div {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #cecece;
}
.choose div i {
  margin-right: 20px;
  border-radius: 50px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
}
.choose div i:hover {
  transform: rotate(90deg);
  transition: color 0.7s;
}
.choose div p {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .choose div {
    align-items: initial;
  }
}
.news .card:nth-child(2) {
  margin-bottom: 24px;
}

.news .card_content {
  padding-left: 24px;
}

.news .card .card_content .card-text {
  font-size: 14px;
}

.news .card .card_content .date {
  width: fit-content;
  padding: 5px 10px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}

.news .card .wrap_img img {
  width: 100%;
}

.news .card .card_content .card-body {
  padding: 0;
}

.news .card .card_content .card-body a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

main {
  margin-bottom: 80px;
}

.feature:before {
  content: "";
  display: block;
  border: 1px solid #cecece;
  margin-bottom: 50px;
}

.feature h2 {
  margin-bottom: 30px;
}

.feature .feature_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_banner {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
}

.information {
  padding: 0 35px;
}

.feature {
  padding: 35px 35px;
}

.contact {
  padding: 50px 50px;
}

.contact .col-lg-3 {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .contact .col-lg-3 {
    margin-bottom: 0;
  }
}
.contact h2 {
  margin-bottom: 20px;
}

.testimonials p {
  margin-bottom: 0;
}

.testimonials .testimonials_text p {
  padding: 20px;
  border-radius: 5px;
}

.testimonials .testimonials_text:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -20px;
  border-style: solid;
  border-width: 40px 60px 0 0;
  border-color: #e8e8e8 transparent transparent transparent;
}

.testimonials .sharing {
  margin-top: 30px;
}

.testimonials .sharing a {
  font-style: italic;
  font-weight: 600;
  color: #81b700;
  text-decoration: none;
}
.testimonials .sharing a:hover {
  font-weight: 600;
}
.testimonials .sharing .wrap_img {
  height: 100%;
}
.testimonials .sharing .wrap_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.copyright {
  padding: 20px 0;
  justify-content: space-between;
}
.copyright a {
  color: #7d7d7d;
  text-decoration: none;
}
.copyright .copyright_text {
  color: #7d7d7d;
  display: flex;
}
.copyright .copyright_text p {
  padding-right: 10px;
  border-right: 2px solid grey;
  margin-bottom: 0;
}
.copyright .copyright_text a:nth-child(2) {
  padding-left: 10px;
  font-weight: 500;
  color: #81b700;
}
.copyright .copyright_text a:nth-child(2):hover {
  color: #fff;
}

@media (min-width: 992px) {
  .copyright {
    display: flex;
  }
}
body {
  min-width: 360px;
}

* {
  outline: 1px solid red;
}

body {
  background: linear-gradient(to bottom, black 100px, transparent 100px, transparent 90%, black 90%, black 100%), url(../../img/bg.jpg);
}

.bg_theme {
  background: url(../../img/subbg.gif);
  filter: drop-shadow(1px 1px 3px #332d2d);
}

.header_inner {
  background: url(../../img/subbg.gif);
}

.menu {
  background: linear-gradient(to bottom, transparent 20px, #fff 20px, #fff 100%);
}

.menu .navbar .container a:hover {
  background-color: #81b700;
}

.menu .search input {
  background: url(../../img/search.png) no-repeat #e8e8e8;
  background-position: top 50% right 10%;
}
.menu .search input:focus {
  background: #e8e8e8;
  box-shadow: initial;
  border-color: #e8e8e8;
}

@media (min-width: 992px) {
  .menu .search {
    background-color: #fff;
  }
}
.container .card_banner .card:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.container .card_banner .click_more {
  background-color: #cecece;
}
.container .card_banner .click_more:hover {
  background-color: #aa2e2e;
}

.card_banner .row > div:nth-child(odd) {
  background-color: #e8e8e8;
}

.card_banner .row > div:nth-child(even) {
  background-color: #dae0d5;
}

@media (min-width: 992px) {
  .card_banner .row > div:nth-child(odd) {
    background-color: initial;
  }

  .card_banner .row > div:nth-child(even) {
    background-color: initial;
  }
}
@media (min-width: 992px) {
  .container .card_banner .card {
    background-color: #e8e8e8;
  }
}
.choose div i {
  background-color: #cecece;
}
.choose div i:hover {
  background-color: #81b700;
}

.news .card .card_content .date {
  background-color: #81b700;
}

.contact {
  background: url(../../img/subbg.gif);
}

.testimonials .testimonials_text p {
  background-color: #e8e8e8;
}

.copyright {
  background-color: #000;
}

main .card {
  background-color: inherit;
  border: 0;
}

footer .card {
  background-color: inherit;
  border: 0;
}

.personal .get input {
  background-color: #e8e8e8;
}
.personal .get textarea {
  background-color: #e8e8e8;
}
.personal .get .clear {
  background-color: #000;
}
.personal .get .send {
  background-color: #81b700;
}

/*# sourceMappingURL=style.css.map */
