* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 0;
}

main h2 {
  font-size: 25px;
}

.card_banner h3 {
  font-size: 18px;
}

.contact h4 {
  font-size: 22px;
}

.social {
  font-size: 0;
  text-align: center;
}
.social .facebook {
  display: inline-block;
  background: url("../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 0 0px;
}
.social .facebook:hover {
  background-position: 0 27px;
}
.social .twitter {
  display: inline-block;
  background: url("../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 25% 0px;
}
.social .twitter:hover {
  background-position: 25% 27px;
}
.social .flicker {
  display: inline-block;
  background: url("../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 50% 0px;
}
.social .flicker:hover {
  background-position: 50% 27px;
}
.social .dribble {
  display: inline-block;
  background: url("../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 75% 0px;
}
.social .dribble:hover {
  background-position: 75% 27px;
}
.social .rss {
  display: inline-block;
  background: url("../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 100% 0px;
}
.social .rss:hover {
  background-position: 100% 27px;
}
.social .tel {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: black;
}
.social a:not(.tel) {
  margin-left: 10px;
}

.tel:hover {
  color: #81b700;
}

.search {
  padding: 8px 8px;
  filter: drop-shadow(1px 1px 3px #332d2d);
}
.search input {
  background: url(../img/search.png) no-repeat #e8e8e8;
  background-position: top 50% right 1%;
}
.search input:focus {
  background-color: #e8e8e8;
  box-shadow: initial;
  border: 2px solid #81b700;
}

.menu {
  background: linear-gradient(to bottom, transparent 30px, #fff 30px, #fff 100%);
}
.menu .navbar {
  padding: 0;
  filter: drop-shadow(1px 1px 3px #332d2d);
  z-index: 2;
}
.menu .container {
  background-color: #e8e8e8;
  padding: 0;
}
@media (min-width: 992px) {
  .menu .container {
    background-color: #fff;
  }
}
.menu .container button {
  height: 54px;
}
.menu .container button:focus {
  box-shadow: initial;
}
.menu .navbar-nav > li:first-child {
  background-color: #a8df10;
}
.menu ul {
  text-align: center;
}
@media (min-width: 992px) {
  .menu ul {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .menu li {
    border-right: 1px #cecece solid;
  }
}
.menu a {
  padding: 15px 20px;
}
.menu a:hover {
  color: #fff;
  background-color: #81b700;
}
.menu button {
  border: 0;
  background-color: #e8e8e8;
}
.menu button:focus {
  box-shadow: initial;
}
.menu .search {
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .menu .search {
    padding-right: 10px;
    width: 100%;
    background-color: #fff;
  }
}

.header_inner {
  padding: 32px;
  border: 1px solid #000;
  filter: drop-shadow(2px 2px 5px grey);
  margin-bottom: 20px;
  background-color: #fff;
}
@media (min-width: 992px) {
  .header_inner {
    display: flex;
    justify-content: space-between;
  }
}
.header_inner h1 {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .header_inner h1 {
    margin-bottom: 0px;
  }
}
.header_inner a {
  height: 100%;
  display: inline-block;
}
.header_inner a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  min-width: 360px;
  background: linear-gradient(to bottom, black 80px, transparent 80px, transparent 90%, black 90%, black 100%), url(../img/bg.jpg);
}

.carousel_img .next_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 119px;
  width: 40px;
  background-position: 0% 0%;
  background: url(../img/slider_next.gif);
}
.carousel_img .next_banner:hover {
  background-position: top 119px left 0px;
}
.carousel_img .previous_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 119px;
  width: 40px;
  background-position: 0% 0%;
  background: url(../img/slider_prev.gif);
}
.carousel_img .previous_banner:hover {
  background-position: top 119px left 0px;
}
.carousel_img .carousel-item {
  height: 400px;
}
@media (min-width: 992px) {
  .carousel_img .carousel-item {
    height: auto;
  }
}
.carousel_img .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.date {
  background-color: #81b700;
  width: fit-content;
  padding: 5px 10px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 12px;
}

.more, .news a, .welcome a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.more:hover, .news a:hover, .welcome a:hover {
  color: #81b700;
}

.news {
  background-color: initial;
}
.news .wrap_img img {
  width: 100%;
}

.news .card {
  border: 0;
}
.news .card:nth-child(2) {
  margin-bottom: 24px;
}
.news .card-text {
  font-size: 14px;
}
.news .card-body {
  padding: 0;
}

.click_more {
  color: black;
  text-decoration: none;
  background-color: #cecece;
  padding: 6px 12px;
  display: inline-block;
  align-self: center;
}
.click_more:hover {
  background-color: #81b700;
  color: #fff;
}

.card_banner {
  padding: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  .card_banner {
    margin-top: -50px;
  }
}
.card_banner .card {
  display: flex;
  padding: 16px;
  border-radius: 0px;
  height: 100%;
}
.card_banner .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.card_banner .card-body .card-text {
  flex-grow: 1;
}
.card_banner .card-title {
  align-self: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .card_banner .card-title {
    width: min-content;
  }
}
@media (min-width: 1200px) {
  .card_banner .card-title {
    width: auto;
  }
}
.card_banner .card-title span {
  display: block;
}
@media (min-width: 992px) {
  .card_banner .card-title span {
    display: inline-block;
    margin-right: 10px;
  }
}
.card_banner .wrap_img {
  margin-bottom: 20px;
}

.card_banner .row > div:nth-child(odd) .card {
  background-color: #e8e8e8;
}
@media (min-width: 768px) {
  .card_banner .row > div:nth-child(odd) .card {
    background-color: #e8e8e8;
  }
}
.card_banner .row > div:nth-child(odd) .card:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.card_banner .row > div:nth-child(even) .card {
  background-color: #dae0d5;
}
@media (min-width: 768px) {
  .card_banner .row > div:nth-child(even) .card {
    background-color: #e8e8e8;
  }
}
.card_banner .row > div:nth-child(even) .card:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.choose i {
  margin-right: 20px;
  border-radius: 50px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
  background-color: #cecece;
}
.choose i:hover {
  box-shadow: 2px 2px 5px grey;
  transform: rotate(360deg);
  transition: all 2s;
  background-color: #81b700;
}

.feature_swiper .swiper-button-next, .feature_swiper .swiper-button-prev {
  color: #cecece;
}

.feature_swiper {
  padding: 35px;
}
@media (min-width: 992px) {
  .feature_swiper {
    display: none;
  }
}
.feature_swiper .swiper-container {
  height: 300px;
}
.feature_swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature .feature_next, .feature .feature_prev {
  width: fit-content;
  color: grey;
}
.feature .feature_next:hover, .feature .feature_prev:hover {
  color: #5c543f;
}
.feature .feature_next i, .feature .feature_prev i {
  font-size: 20px;
  line-height: 30px;
}

.feature {
  display: none;
}
@media (min-width: 992px) {
  .feature {
    display: block;
  }
}
.feature .carousel {
  position: initial;
}
.feature .carousel-inner {
  position: initial;
}
.feature .feature_button {
  height: 30px;
  width: 50px;
  position: relative;
}

.feature h2, .description h2 {
  margin-bottom: 20px;
}

main {
  margin-bottom: 80px;
}

.background_theme {
  background: url(../img/subbg.gif);
  box-shadow: 2px 2px 5px grey;
}

.card_banner {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
}

.description {
  margin-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
}
.welcome {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .welcome {
    margin-bottom: 0;
  }
}
.welcome p {
  word-spacing: 2px;
  color: #000;
}
.welcome img {
  width: 100%;
  margin-bottom: 20px;
}

.choose {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .choose {
    margin-bottom: 0;
  }
}
.choose div {
  display: flex;
  align-items: baseline;
  padding: 20px;
  border-bottom: 1px solid #cecece;
}
.choose p {
  margin-bottom: 0;
}
.choose div:nth-child(2) {
  padding-top: 0px;
}

.feature {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 100px;
}
.feature:before {
  content: "";
  display: block;
  border: 1px solid #cecece;
}
.feature .feature_inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_box p {
  margin-bottom: 0;
  padding: 20px;
  border-radius: 10px 10px 10px 0;
  border: 1px solid #cecece;
  background-color: #e8e8e8;
}
.chat_box:after {
  margin-left: 1px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -1px;
  border-style: solid;
  border-width: 17px 42px 0 0;
  border-color: #e8e8e8 transparent transparent transparent;
  filter: drop-shadow(0px 1px #cecece) drop-shadow(-1px 0px #cecece);
}

.subscribe button {
  border: 0;
  padding: 5px;
}
.subscribe input {
  background-color: #e8e8e8;
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  margin-bottom: 20px;
}
.subscribe textarea {
  background-color: #e8e8e8;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid #cecece;
}

.subscribe_button {
  font-size: 0;
}
.subscribe_button .clear {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  background-color: #000;
}
.subscribe_button .send {
  color: #fff;
  font-size: 16px;
  background-color: #81b700;
}

.footer_link nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer_link nav {
    margin-top: 0;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .footer_link nav a {
    padding: 0 10px;
  }
}
.footer_link nav a:first-child {
  color: #81b700;
  font-weight: 500;
}
@media (min-width: 992px) {
  .footer_link nav a + a {
    border-left: 2px solid grey;
  }
}

.flickr_inner {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
}
.flickr_inner .item img {
  width: 100%;
}
@media (min-width: 992px) {
  .flickr_inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

.copyright {
  color: grey;
  display: flex;
}
.copyright p {
  padding-right: 10px;
  border-right: 2px solid grey;
  margin-bottom: 0;
}
.copyright a:nth-child(2) {
  padding-left: 10px;
  font-weight: 500;
  color: #81b700;
}
.copyright a:nth-child(2):hover {
  color: #fff;
}

.sharing {
  margin-top: 30px;
}
.sharing .card {
  border: 0;
  background: inherit;
}
.sharing a {
  font-style: italic;
  font-weight: 600;
  color: #81b700;
  text-decoration: none;
}
.sharing a:hover {
  font-weight: 600;
}
.sharing .wrap_img {
  height: 100%;
}
.sharing .wrap_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.sharing .card-body {
  padding: 10px;
}

.contact {
  padding: 50px 50px;
  box-shadow: 2px 2px 5px grey;
  background: url(../img/subbg.gif);
}
.contact h4 {
  margin-bottom: 20px;
}

.personal, .testimonials, .tweets {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .personal, .testimonials, .tweets {
    margin-bottom: 0;
  }
}

.tweets p {
  margin-bottom: 0;
}

.footer_link {
  padding: 20px 10px;
  justify-content: space-between;
  background-color: #000;
}
@media (min-width: 992px) {
  .footer_link {
    display: flex;
  }
}
.footer_link a {
  color: grey;
  text-decoration: none;
}
.footer_link a:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
