.header_inner h1 {
  font-size: 0;
}

.contact h2, .information h2, .feature h2 {
  font-size: 25px;
}

.card_banner h3 {
  font-size: 18px;
}

.information h2, .card_banner .card-title, .card_banner .wrap_img {
  margin-bottom: 20px;
}

.social {
  font-size: 0;
  text-align: center;
}
.social .facebook {
  display: inline-block;
  background: url("../../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 0 0px;
}
.social .facebook:hover {
  background-position: 0 27px;
}
.social .twitter {
  display: inline-block;
  background: url("../../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 25% 0px;
}
.social .twitter:hover {
  background-position: 25% 27px;
}
.social .flicker {
  display: inline-block;
  background: url("../../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 50% 0px;
}
.social .flicker:hover {
  background-position: 50% 27px;
}
.social .dribble {
  display: inline-block;
  background: url("../../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 75% 0px;
}
.social .dribble:hover {
  background-position: 75% 27px;
}
.social .rss {
  display: inline-block;
  background: url("../../img/social.png");
  width: 28px;
  height: 27px;
  background-position: 100% 0px;
}
.social .rss:hover {
  background-position: 100% 27px;
}
.social .tel {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: black;
}
.social a:not(.tel) {
  margin-left: 10px;
}

.header_inner h1 {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .header_inner h1 {
    margin-bottom: 0px;
  }
}

.header_inner {
  padding: 32px;
  border: 1px solid #000;
  filter: drop-shadow(1px 1px 3px #332d2d);
  background: url(../../img/subbg.gif);
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .header_inner {
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.header_inner a {
  height: 100%;
  display: inline-block;
}
.header_inner a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu button {
  width: 100%;
}
.menu button:focus {
  box-shadow: initial;
}

.menu {
  background: linear-gradient(to bottom, transparent 30px, #fff 30px, #fff 100%);
}
.menu .navbar {
  padding: 0;
  filter: drop-shadow(1px 1px 3px #332d2d);
  z-index: 2;
}
.menu .container {
  padding: 0;
}
.menu .container button {
  height: 54px;
}
.menu .container button:focus {
  box-shadow: initial;
}
.menu .navbar-nav > li:first-child {
  background-color: #a8df10;
}
.menu ul {
  text-align: center;
}
@media (min-width: 992px) {
  .menu ul {
    text-align: left;
  }
}
.menu li {
  border-right: 1px #cecece solid;
}
.menu a {
  padding: 15px 20px;
}
.menu a:hover {
  color: #fff;
  background-color: #81b700;
}

.footer_bottom nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer_bottom nav {
    margin-top: 0;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .footer_bottom nav a {
    padding: 0 10px;
  }
}
.footer_bottom nav a:first-child {
  color: #81b700;
  font-weight: 500;
}
@media (min-width: 992px) {
  .footer_bottom nav a + a {
    border-left: 2px solid grey;
  }
}

.search {
  padding: 8px 8px;
  filter: drop-shadow(1px 1px 3px #332d2d);
}
@media (min-width: 992px) {
  .search {
    padding-right: 10px;
    width: 100%;
    background-color: #fff;
  }
}
.search input {
  background: url(../../img/search.png) no-repeat #e8e8e8;
  background-position: top 50% right 10%;
}
.search input:focus {
  background: #e8e8e8;
  box-shadow: initial;
  border-color: #e8e8e8;
}

.subscribe button {
  border: 0;
  padding: 5px;
}
.subscribe input {
  background-color: #e8e8e8;
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  margin-bottom: 20px;
}
.subscribe textarea {
  background-color: #e8e8e8;
}
.subscribe .clear {
  color: #fff;
  margin-right: 10px;
  background-color: #000;
}
.subscribe .send {
  color: #fff;
  background-color: #81b700;
}
.subscribe :focus {
  border: 3px solid #81b700;
}

.carousel_img img {
  width: 100%;
}

.carousel_img .next_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 119px;
  width: 40px;
  background: url(../../img/slider_next.gif);
}
.carousel_img .next_banner:hover {
  background-position: top 119px left 0px;
}

.carousel_img .previous_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 119px;
  width: 40px;
  background: url(../../img/slider_prev.gif);
}
.carousel_img .previous_banner:hover {
  background-position: top 119px left 0px;
}

.feature {
  display: none;
}
@media (min-width: 992px) {
  .feature {
    display: block;
  }
}

.feature .feature_prev {
  position: absolute;
  width: fit-content;
  color: grey;
}
.feature .feature_prev:hover {
  color: lawngreen;
}
.feature .feature_prev i {
  font-size: 20px;
  line-height: 30px;
}

.feature .feature_next {
  position: absolute;
  width: fit-content;
  color: grey;
}
.feature .feature_next:hover {
  color: lawngreen;
}
.feature .feature_next i {
  font-size: 20px;
  line-height: 30px;
}

.feature .carousel {
  position: initial;
}
.feature .carousel-inner {
  position: initial;
}
.feature .feature_button {
  height: 30px;
  width: 50px;
  position: relative;
}

.date {
  background-color: #81b700;
  width: fit-content;
  padding: 5px 10px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}

.click_more, .news a, .welcome a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.click_more:hover, .news a:hover, .welcome a:hover {
  color: #81b700;
}

.information h2, .card_banner .wrap_img, .card_banner .card-title {
  margin-bottom: 20px;
}

.card_banner {
  padding: 20px;
  height: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .card_banner {
    margin-top: -50px;
  }
}
.card_banner .card {
  display: flex;
  padding: 16px;
  border-radius: 0px;
  height: 100%;
}
.card_banner .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.card_banner .card-body .card-text {
  flex-grow: 1;
}
.card_banner .card-title span {
  display: block;
}
@media (min-width: 992px) {
  .card_banner .card-title span {
    display: inline-block;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .card_banner div:nth-child(even) .card, .card_banner .row > div:nth-child(odd) .card {
    background-color: #e8e8e8;
  }
}
.card_banner div:nth-child(even) .card:hover, .card_banner .row > div:nth-child(odd) .card:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.card_banner .row > div:nth-child(odd) .card {
  background-color: #e8e8e8;
}

.card_banner div:nth-child(even) .card {
  background-color: #dae0d5;
}

.news .card {
  background-color: initial;
  border: 0;
}
.news .card:nth-child(2) {
  margin-bottom: 24px;
}
.news .card .card-text {
  font-size: 14px;
}
.news .card .wrap_img img {
  width: 100%;
}
.news .card .card-body {
  padding: 0;
}

.sharing {
  margin-top: 30px;
}
.sharing .card {
  border: 0;
  background: inherit;
}
.sharing a {
  font-style: italic;
  font-weight: 600;
  color: #81b700;
  text-decoration: none;
}
.sharing a:hover {
  font-weight: 600;
}
.sharing .wrap_img {
  height: 100%;
}
.sharing .wrap_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.sharing .card-body {
  padding: 10px;
}

.choose div i {
  margin-right: 20px;
  border-radius: 50px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
  background-color: #cecece;
}
.choose div i:hover {
  box-shadow: 2px 2px 5px grey;
  transform: rotate(360deg);
  transition: all 2s;
  background-color: #81b700;
}

.feature_swiper .swiper-button-next, .feature_swiper .swiper-button-prev {
  color: #cecece;
}

.feature_swiper {
  padding: 35px;
}
@media (min-width: 992px) {
  .feature_swiper {
    display: none;
  }
}
.feature_swiper .swiper-container {
  height: 300px;
}

.swiper-slide img {
  width: 100%;
}

.wiper-pagination-bullet {
  background-color: gainsboro;
}

.information h2 {
  margin-bottom: 20px;
}

.bg_theme {
  background: url(../../img/subbg.gif);
  filter: drop-shadow(1px 1px 3px #332d2d);
}

.information {
  margin-bottom: 50px;
}
.welcome p {
  word-spacing: 2px;
  color: #000;
}
.welcome img {
  width: 100%;
  margin-bottom: 20px;
}

.choose div {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #cecece;
}
@media (min-width: 992px) {
  .choose div {
    align-items: initial;
    padding: 20px;
  }
}
.choose div p {
  margin-bottom: 0;
}

main {
  margin-bottom: 80px;
}

.feature:before {
  content: "";
  display: block;
  border: 1px solid #cecece;
  margin-bottom: 50px;
}
.feature h2 {
  margin-bottom: 30px;
}
.feature .feature_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_banner {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
}

.information {
  padding-left: 35px;
  padding-right: 35px;
}

.feature {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 100px;
}

.testimonials_text p {
  margin-bottom: 0;
  padding: 20px;
  border-radius: 10px 10px 10px 0;
  border: 1px solid #cecece;
  background-color: #e8e8e8;
}
.testimonials_text:after {
  margin-left: 1px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -1px;
  border-style: solid;
  border-width: 17px 42px 0 0;
  border-color: #e8e8e8 transparent transparent transparent;
  filter: drop-shadow(0px 1px #cecece) drop-shadow(-1px 0px #cecece);
}

.subscribe textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid #cecece;
}

.flickr_inner {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
}
.flickr_inner .item {
  height: fit-content;
}
.flickr_inner .item img {
  width: 100%;
}
@media (min-width: 992px) {
  .flickr_inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

.copyright {
  color: grey;
  display: flex;
}
.copyright p {
  padding-right: 10px;
  border-right: 2px solid grey;
  margin-bottom: 0;
}
.copyright a:nth-child(2) {
  padding-left: 10px;
  font-weight: 500;
  color: #81b700;
}
.copyright a:nth-child(2):hover {
  color: #fff;
}

.contact {
  padding: 50px 50px;
  filter: drop-shadow(1px 1px 3px #332d2d);
  background: url(../../img/subbg.gif);
}
.contact .row {
  gap: 20px;
}
@media (min-width: 992px) {
  .contact .row {
    gap: 0;
  }
}
.contact h2 {
  margin-bottom: 20px;
}

.footer_bottom {
  padding: 20px 10px;
  justify-content: space-between;
  background-color: #000;
}
.footer_bottom a {
  color: grey;
  text-decoration: none;
}
.footer_bottom a:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .footer_bottom {
    display: flex;
  }
}
body {
  min-width: 360px;
  background: linear-gradient(to bottom, black 100px, transparent 100px, transparent 90%, black 90%, black 100%), url(../../img/bg.jpg);
}

* {
  outline: 1px solid red;
}

/*# sourceMappingURL=style.css.map */
