.padding0 {
  padding: 0;
}

.margin0 {
  margin: 0;
}

.margin-center {
  margin: 0 auto;
}

.bg-white {
  background-image: url("../img/header_bg.gif");
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

header {
  background-color: #161616;
  height: 100px;
  padding-top: 10px;
  position: relative;
}
header .headertop-position {
  margin: 10px 30px 0px 30px;
}
header .top-right {
  float: right;
  margin: 30px 20px;
}
header img {
  margin: 35px 20px;
}
header .top-right a {
  background-image: url("../img/top_socials.png");
  width: 27px;
  height: 27px;
  display: inline-block;
}
header .top2 {
  background-position: -37px 0;
}
header .top3 {
  background-position: -74px 0;
}
header .top4 {
  background-position: -111px 0;
}
header .top5 {
  background-position: -150px 0;
}
header .header-bottom {
  margin: 20px 0px 0px 0px;
}
header nav {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  border-radius: 0 !important;
}

main {
  background-image: url("../img/main_bg.jpg");
  padding-bottom: 120px;
}
main .middle {
  margin: 0 30px;
}
main .middle .middle-4 {
  position: relative;
  top: -40px;
}
main .middle .middle-4 .bg-gray {
  background-color: #e1e1e1;
  padding: 10px;
}
main .middle .middle-4 .bg-gray:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
main .middle .middle-4 .bg-gray div {
  margin: 20px auto;
}
main .middle .middle-4 .bg-gray .more {
  background-color: #c2c2c2;
  width: 50%;
}
main .middle .middle-4 .bg-gray a {
  text-decoration: none;
  color: black;
}
main .middle .post_blog {
  background-image: url("../img/post_blog.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 235px;
}
main .middle .choose {
  color: #6c6c6c;
  margin: 5px 0;
}
main .middle h5 {
  background-color: #6eab03;
  color: white;
  line-height: 30px;
  width: 80px;
}
main .middle .margin-bottom {
  margin-bottom: 20px;
}
main .middle .max-width {
  max-width: 260px;
  margin: 10px 0;
}
main .middle hr {
  border: 0.5px solid grey;
}
main .middle .padding-bottom {
  padding-bottom: 30px;
}

footer {
  background-color: #161616;
}
footer .footer-position {
  margin: 0 30px;
  position: relative;
  top: -40px;
}
footer .log {
  background-color: #e0e0e0;
  padding: 20px;
}
footer .arrow-corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 40px 0 0;
  border-color: #e0e0e0 transparent transparent transparent;
}
footer .img11 {
  margin: 10px 0;
}
footer .img11 div {
  display: inline-block;
}
footer form input, footer form textarea, footer form button {
  margin: 10px 0;
}
footer .t-size {
  width: 60px;
  height: 60px;
  margin: 5px 0;
}
footer .footer-row {
  margin: 0 30px !important;
  color: #4a4a4a;
}
footer .footer-row .active a {
  color: #6ca905;
}
footer .footer-row a:hover {
  color: #6ca905;
}
