@use '../abstracts/font' as *;
@use '../abstracts/breakpoint' as *;

//卡片mixin
@mixin card {
  background: $color-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  height: 100%;
  &:hover {
    background-color: $color-dark-grey;
    color: $color-basic;
    opacity: 0.9;
  }
  &_img {
    width: 62px;
    height: 59px;
  }
  &_text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    line-height: 1.2;
  }
  a {
    background: $color-grey;
    color: $color-primary;
    padding: 0.25rem 1.5rem;
    margin-top: auto;
  }
}

//~四圖區
.services {
  .content {
    @include card;
  }
}

//斷點
.services {
  @include desktop {
    position: relative;
    .row {
      position: absolute;
      top: -30px;
      left: 1.5rem;
      right: 1.5rem;
    }
  }
}
