@use '../abstracts/color' as *;
@use '../abstracts/breakpoint' as *;

/*頁尾bottom*/
.footer_bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    background: black;
    color: $color-dark-grey;
    font-size: 12px;
    @include ipad {
        font-size: 0.8rem;
    }
    @include desktop {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /*bottom-nav*/
    .footer_nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-weight: 500;
        a {
            flex: 1 1 33.333%;
            color: $color-dark-grey;
            &:hover {
                color: $color-highlight;
            }
            @include desktop {
                flex: 1 1 auto;
            }
        }
        @include mobile {
            row-gap: 0.5rem;
        }
        @include desktop {
            flex-wrap: nowrap;
            width: 50%;
        }
    }
}

/*copyright*/
.copyright > a {
    color: $color-highlight;
    &:hover {
        text-decoration: underline;
    }
}
