@use '../abstracts/color' as *;
@use '../abstracts/text' as *;
@use '../abstracts/breakpoint' as *;

/*頁尾bottom區*/
.footer_bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    background: black;
    color: $color-dark-grey;
    font-size: 12px;
    @include ipad {
        font-size: $font-sm;
    }
    @include desktop {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /*bottom-nav*/
    .footer_nav {
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr 1fr;
        width: 100%;
        row-gap: 0.25rem;
        font-weight: 500;
        a {
            flex: 1 1 auto;
            color: $color-dark-grey;
            &:hover {
                color: $color-highlight;
            }
        }
        @include mobile {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        @include desktop {
            width: 50%;
        }
    }
}

/*copyright*/
.copyright > a {
    color: $color-highlight;
    &:hover {
        text-decoration: underline;
    }
}
