@use '../abstracts/color' as *;
@use '../abstracts/text' as *;
@use '../abstracts/breakpoint' as *;

//卡片mixin
@mixin card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    background: $color-light-grey;
    &:hover {
        background-color: $color-dark-grey;
        color: $color-basic;
        opacity: 0.9;
    }
    &_img {
        width: 62px;
        height: 59px;
    }
    &_text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: 1.2;
        @include ipad {
            -webkit-line-clamp: 5;
        }
    }
    a {
        padding: 0.25rem 1.5rem;
        margin-top: auto;
        background: $color-grey;
        color: $color-primary;
    }
}

//~四圖區
.services {
    @include desktop {
        margin-top: -20px;
        position: relative;
    }
    .content {
        @include card;
    }
}
