@use '../abstracts/color' as *;
@use '../abstracts/breakpoint' as *;
@use '../abstracts/background' as *;

//form
@mixin form {
    background: $color-light-grey;
    border: 1px solid $color-grey;
    border-radius: 3px;
    font-size: 0.8rem;
    &:hover,
    &:focus {
        border: 1px solid $color-highlight;
    }
}

/*get in touch*/
form {
    input,
    textarea {
        @include form;
    }
    textarea {
        resize: none;
    }
    .clear {
        background: $color-primary;
        color: white;
        &:hover {
            @include shadow(-2px, 2px, 2px);
        }
    }
    .send {
        background: $color-highlight;
        color: white;
        &:hover {
            @include shadow(-2px, 2px, 2px);
        }
    }
}
