@use '../abstracts/color' as *;
@use '../abstracts/breakpoint' as *;

//more連結樣式
.more-link {
    font-weight: 500;
    color: $color-primary;
    &:hover {
        color: $color-highlight;
        text-decoration: underline;
    }
}
