@use '../abstracts/color' as *;
@use '../abstracts/breakpoint' as *;

//img-card
@mixin img_card {
    display: flex;
    gap: 1rem;
    &_img {
        width: 50%;
    }
    &_body {
        width: 50%;
        .date {
            width: fit-content;
            padding: 0 0.5rem;
            background: $color-highlight;
            color: $color-basic;
        }
        .ellipsis {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
    }
}

/*news and events*/
.news_and_events {
    .img_card_group {
        display: flex;
        flex-direction: column;
        @include ipad {
            flex-direction: row;
            gap: 1rem;
        }
        @include desktop {
            flex-direction: column;
        }
        .img_card {
            @include img_card;
            margin-bottom: 1rem;
        }
    }
}
