@use '../abstracts/color' as *;
@use '../abstracts/text' as *;
@use '../abstracts/breakpoint' as *;

.dialogue {
    background-color: $color-light-grey;
    color: $color-dark-grey;
    border: 1px solid $color-grey;
    border-radius: 3px 3px 3px 0;
    max-width: 400px;
    position: relative;
    &::after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        filter: drop-shadow(-1px 2px 0px $color-grey);
        border: {
            style: solid;
            width: 10px 15px;
            color: $color-light-grey transparent transparent $color-light-grey;
            radius: 0 0 0 3px;
        }
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -1px;
    }
    &_text {
        font-size: $font-sm;
        line-height: 1.2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}

.reviewer {
    display: flex;
    &_info {
        flex: 1 0 auto;
        a {
            color: $color-highlight;
        }
    }
}
