a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body::after, body::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  background: #1d1d1d;
}

body {
  position: relative;
  background: url(../images/bg.jpg);
}
body::before {
  height: 95px;
  top: 0;
}
body::after {
  height: 220px;
  bottom: 0;
}

.body_container {
  max-width: 1200px;
}

.logo_container {
  width: 100%;
  max-width: 350px;
}
.logo_container a {
  display: block;
}

.media-link ul {
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
}
.media-link li a {
  display: block;
  height: 27px;
  width: 28px;
  background: url(../images/social.png) no-repeat;
}
.media-link li:nth-child(1) a {
  background-position-x: 0;
}
.media-link li:nth-child(2) a {
  background-position-x: 25%;
}
.media-link li:nth-child(3) a {
  background-position-x: 50%;
}
.media-link li:nth-child(4) a {
  background-position-x: 75%;
}
.media-link li:nth-child(5) a {
  background-position-x: 100%;
}
.media-link .company_tel {
  display: inline-block;
  margin-top: 12px;
  text-transform: capitalize;
  color: #80b701;
}

.media-link.primary {
  display: none;
}
@media (min-width: 768px) {
  .media-link.primary {
    display: block;
  }
}
.media-link.primary ul {
  justify-content: end;
}
.media-link.primary li a:hover {
  background-position-y: 100%;
}
.media-link.primary .company_tel {
  color: #1d1d1d;
}
.media-link.primary .company_tel:hover {
  color: #80b701;
}

.media-link.dark {
  display: block;
}
@media (min-width: 768px) {
  .media-link.dark {
    display: none;
  }
}
.media-link.dark ul {
  justify-content: center;
}
.media-link.dark li a {
  background-position-y: 100%;
}
.media-link.dark li a:hover {
  transform: scale(1.2);
}
.media-link.dark .company_tel {
  color: #80b701;
}

header {
  display: flex;
  justify-content: center;
  padding: 36px 40px;
  background: url(../images/subbg.png);
}
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
}

.control-next, .control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 115px;
  border: none;
}
.control-next:hover, .control-prev:hover {
  background-position: 0 -120px;
}

.navbar {
  position: relative;
  padding: 0;
}
.navbar > div {
  gap: 8px;
}
.navbar .navbar-collapse {
  background-color: #ffffff;
}
.navbar::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 20px;
  bottom: 0;
  background: #eeeeee;
}
.navbar .navbar-nav .nav-link {
  position: relative;
  text-transform: uppercase;
  padding: 16px 28px;
  color: black;
  border-right: 1px solid #eeeeee;
}
.navbar .navbar-nav .nav-link:hover {
  background: #80b701;
  color: #ffffff;
}
.navbar .navbar-nav .nav-link i {
  position: absolute;
  margin-left: 4px;
  top: 50%;
  bottom: 50%;
}

.carousel-item {
  height: 300px;
}
@media (min-width: 768px) {
  .carousel-item {
    height: auto;
  }
}
.carousel-item img {
  object-fit: cover;
  object-position: center right;
}

.control-prev {
  left: 0;
  background: url(../images/slider_prev.png);
}

.control-next {
  right: 0;
  background: url(../images/slider_next.png);
}

.search_container {
  display: flex;
  flex-grow: 1;
  padding: 10px 14px 5px 18px;
  background-color: #ffffff;
  gap: 8px;
}
@media (min-width: 992px) {
  .search_container {
    order: 2;
  }
}

.search_form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 5px 9px 10px;
  outline: 1px solid #d9d9d9;
  background: #eeeeee;
}
@media (min-width: 1200px) {
  .search_form {
    min-width: 285px;
  }
}

.search_input {
  width: 100%;
  border: none;
  background: none;
  flex-grow: 1;
  flex-shrink: 1;
}
.search_input:focus-visible {
  outline: 3px #80b701 solid;
}

.search_button {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../images/search.png);
}

.card_list {
  display: grid;
  gap: 28px;
}
@media (min-width: 768px) {
  .card_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .card_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card_list .card_item {
  font-family: "Droid Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 26px 38px;
  gap: 26px;
  background: #eeeeee;
}
.card_list .card_item:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.card_list .card_title {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.card_list .img_container {
  max-width: 60px;
}
.card_list a {
  display: block;
  margin-top: auto;
  padding: 8px 16px;
  color: #1d1d1d;
  background: #cccccc;
}
.card_list a:hover {
  color: #ffffff;
  background: #80b701;
}

.info_list {
  display: grid;
  gap: 28px;
}
@media (min-width: 1200px) {
  .info_list {
    grid-template-columns: repeat(3, 1fr);
  }
  .info_list h2 {
    margin-bottom: 28px;
    font-size: 28px;
    text-transform: uppercase;
  }
  .info_list p {
    color: #838383;
  }
  .info_list p a {
    color: #1d1d1d;
  }
  .info_list p a:hover {
    color: #80b701;
    text-decoration: underline;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (min-width: 768px) {
  .welcome {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .welcome {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .welcome .img_container {
    min-width: 350px;
  }
}

.choose_us > div {
  display: flex;
  align-items: baseline;
  padding: 0 16px;
  gap: 10px;
  border-bottom: 1px solid #eeeeee;
}
.choose_us > div div {
  margin: 12px 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #d9d9d9;
}
.choose_us > div p {
  margin: 12px 0;
}
.choose_us > div i {
  color: #ffffff;
}

.news_events {
  display: flex;
  gap: 28px;
  flex-direction: column;
}
.news_events > div {
  display: flex;
  gap: 28px;
}
.news_events .img_container {
  max-width: 140px;
  flex-shrink: 0;
}
.news_events .date {
  padding: 5px 12px;
  width: 85px;
  background: #80b701;
  color: #ffffff;
}

.divider {
  margin: 80px 0 20px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.works_title {
  display: flex;
  justify-content: space-between;
}
.works_title h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.swiper_control {
  align-self: center;
  color: lightgray;
}
.swiper_control i:hover {
  color: #80b701;
}

.img_hover_link {
  position: relative;
}
.img_hover_link::before {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.5) 0 20%, rgba(255, 255, 255, 0) 20% 30%, rgba(0, 0, 0, 0.5) 30% 80%, rgb(113, 183, 0) 80% 81%, rgba(255, 255, 255, 0) 81% 100%);
}
.img_hover_link:hover::before,
.img_hover_link:hover .hover_link {
  display: flex;
  animation: text 1s ease-in-out;
}
@keyframes text {
  from {
    top: 100%;
  }
  to {
    top: 0px;
  }
}
.img_hover_link .hover_link {
  position: absolute;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 36px;
  width: 100%;
  height: 100%;
  transform: rotateZ(-30deg);
}
.img_hover_link .hover_link a {
  display: inline-block;
  width: 15%;
}
.img_hover_link .hover_link a:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}

main {
  margin-top: 30px;
}

.main_content_container {
  background: url(../images/subbg.png);
  padding: 0;
}

.main_info_container {
  position: relative;
  padding: 0px 40px 70px;
  margin-top: 26px;
}
@media (min-width: 768px) {
  .main_info_container {
    margin-top: -26px;
  }
}
.main_info_container > :nth-child(2) {
  margin-top: 60px;
}
.main_info_container > :last-child {
  margin-top: 50px;
}

.comment_content {
  padding: 16px 12px 16px 24px;
  background: #eeeeee;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.triangle_element {
  position: relative;
  margin-top: -1px;
  width: 25px;
  height: 15px;
  overflow: hidden;
}

.triangle_element:after {
  position: absolute;
  content: "";
  width: 185%;
  height: 200%;
  background: linear-gradient(30deg, #d9d9d9 0 50%, #eeeeee 50%);
  transform: rotate(60deg) translate(-34.7px, 5.5px);
  border: 1px solid #d9d9d9;
}

.comment_from {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}
.comment_from a {
  font-style: italic;
  color: #80b701;
}

.form_fillout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_fillout input,
.form_fillout textarea {
  background: #eeeeee;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  resize: none;
}
.form_fillout input:focus-visible,
.form_fillout textarea:focus-visible {
  outline: 3px solid #80b701;
}

.form_control {
  margin-top: 20px;
}
.form_control input {
  padding: 6px 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.form_control .reset_button {
  background: #1d1d1d;
}
.form_control .submit_button {
  background: #80b701;
}

.flickr_thumbnail {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
@media (min-width: 1200px) {
  .flickr_thumbnail {
    grid-template-columns: repeat(4, 1fr);
  }
}
.flickr_thumbnail > div:hover {
  transform: scale(1.1);
}

.community_info_container {
  display: grid;
  gap: 28px;
  padding: 36px 40px;
  background: url(../images/subbg.png);
}
@media (min-width: 768px) {
  .community_info_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .community_info_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.community_info_container h3 {
  text-transform: uppercase;
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 500;
}

.footer_nav_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  font-size: 12px;
  background: #1d1d1d;
}
@media (min-width: 992px) {
  .footer_nav_container {
    flex-direction: row;
  }
}
.footer_nav_container ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .footer_nav_container ul {
    display: flex;
  }
}
.footer_nav_container li {
  position: relative;
}
@media (min-width: 768px) {
  .footer_nav_container li + li::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 10px;
    content: "";
    background: #838383;
  }
}
.footer_nav_container li a {
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  color: #5c5c5c;
}
.footer_nav_container li a:hover {
  color: #80b701;
}

.copyright {
  color: #5c5c5c;
}
.copyright a {
  color: #80b701;
}

footer {
  margin-top: 72px;
}

/*# sourceMappingURL=style.css.map */
