main
  background-image: url("../img/main_bg.jpg")
  padding-bottom: 120px
  .middle
    margin: 0 30px
    .middle-4
      position: relative
      top: -40px
      .bg-gray
        background-color: rgba(225,225,225,1)
        padding: 10px
        &:hover
          background-color: rgba(0,0,0,0.5)
          color: white
        div
          margin: 20px auto
        .more
          background-color: rgb(194,194,194)
          width: 50%
        a
          text-decoration: none
          color: black
    .post_blog
      background-image: url("../img/post_blog.jpg")
      background-repeat: no-repeat
      background-size: contain
      min-height: 235px
    .choose
      color: rgb(108,108,108)
      margin: 5px 0
    h5
      background-color: rgb(110,171,3)
      color: white
      line-height: 30px
      width: 80px
    .margin-bottom
      margin-bottom: 20px
    .max-width
      max-width: 260px
      margin: 10px 0
    hr
      border: 0.5px solid grey
    .padding-bottom
      padding-bottom: 30px
