@use '../base/colors';

.primary-button {
  margin: 0 0 20px 0;
  
  color: white;
  border: 1px transparent solid;
  background-color: colors.$primary;
}


.secondary-light-round-button {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(215, 212, 212);
  border: 1px transparent solid;

  &:hover {
    background-color: colors.$primary;
  }

  i {
    color: white;
  }
}


// form button

.form-dark-button {
  border: 1px transparent solid;
  text-transform: uppercase;
  padding: 5px 10px;
  
  background-color: black;
  color: white;
  &:active {
    box-shadow: 0.5px 0.5px 1px 0.5px gray;
  }
}

.form-primary-button {
  border: 1px transparent solid;
  text-transform: uppercase;
  padding: 5px 10px;

  background-color: colors.$primary;
  color: white;

  &:active {
    box-shadow: 0.5px 0.5px 1px 0.5px gray;
  }
}