@use '../base/colors' as c;

.service__body {

  button {
    margin: 15px 0;
    padding: 3px 15px;
    background-color: rgb(206, 202, 202);
    border: 1px solid transparent;
  
    &:active {
      box-shadow: 0.5px 0.5px 1px 0.5px rgb(67, 66, 66);
      transform: translate(1px, 1px);
    }
  }
}

.advantages__body__text {

    button {
      flex: 0 0 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: rgb(206, 202, 202);
      border: 1px transparent solid;

      &:hover {
        background-color: c.$font_green;
      }

      i {
        padding: 10px;
        color: white;
      }
   }
}

.news__body__list__text {

  button {
    margin: 0 0 20px 0;
    
    width: 90px;
    height: 30px;

    color: white;
    border: 1px transparent solid;
    background-color: c.$font_green;
  }
}

.gallery {
  &__button {

    button {
      padding: 2px;

      background-color: transparent;
      border: 1px solid transparent;
    }
    i {
      color: rgb(171, 170, 170);
      font-size: 16px;
    }
  }
}



.contact__form__button {
  border: 1px transparent solid;
  text-transform: uppercase;
  padding: 5px 10px;

  &:active {
    box-shadow: 0.5px 0.5px 1px 0.5px gray;

  }
}

.contact__form__button.clear {
  background-color: black;
  color: white;
}

.contact__form__button.sent {
  background-color: c.$font_green;
  color: white;
}