@use '../abstracts/breakpoints';
@use '../base/colors';


.main {

  &__items {
    .service {
      margin: 20px 0 0 0;

      text-align: center;
      
      @include breakpoints.tablet_large {
        margin: 0;
        
        transform: translateY(-50px);
        }

      &__body {  
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
        padding: 20px;
        height: 100%;
        
        overflow: hidden;
        min-width: 0;

        background-color: colors.$secondary_light;
       
        h2 {
          margin: 0;

          font-size: 16px;
          text-transform: uppercase;
        }
        
        p {
          margin: 0;
          min-width: 0;

          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          
          @include breakpoints.tablet_small {
            text-overflow: initial;
            white-space: normal;
            overflow: initial;
          }
        }

        &:hover {
          background-color: rgba(58, 58, 58, 0.7);
          color: white;
        }

        button {
          margin-top: auto;
          padding: 3px 15px;
          background-color: rgb(206, 202, 202);
          border: 1px solid transparent;
        
          &:active {
            box-shadow: 0.5px 0.5px 1px 0.5px rgb(67, 66, 66);
            transform: translate(1px, 1px);
          }
        }
      }
    }
  }
}