@use '../base';

// input search body 

.search {
  display: flex;
  height: 100%;
  
  border: 1px solid base.$gray-400;
  background-color: base.$gray-100; 

  &__input {
    width: 100%;
    padding: 0 5px;

    border: 0;
    background-color: base.$gray-100;

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      color: base.$gray-500;
    }

    &:focus-visible {
      outline: 2px base.$primary solid;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }  
  }

  &__button {
    color: base.$gray-600;
    background: transparent;
    border: 1px transparent;
  }
}


// simple input

.input {
  padding: 0 5px;

  color: gray;
  text-transform: capitalize;

  background-color: base.$gray-200;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 2px;
  

  &:focus-visible {
    outline: 1px base.$primary solid;
  }
}