@use '../base/colors';


// search body 
@mixin search_body {
  display: flex;
  height: 100%;

  border: 1px solid gray;
  background-color: rgba(242, 238, 238, 1); 
} 

// search input 
@mixin search_input {
    width: 100%;
    padding: 0 5px;

    border: 0;
    background-color: rgba(242, 238, 238, 1);

    &::placeholder {
      font-size: 14px;
      text-transform: capitalize;
      color: colors.$secondary_dark;
    }

    &:focus-visible {
      outline: 2px colors.$primary solid;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }  
  }

  @mixin search_button {
    color: rgb(170, 169, 169);
    border: 1px solid transparent;
    background: transparent;
  }


// input form

@mixin input {
  padding: 0 5px;
  margin: 3px 0;
  
  color: gray;
  text-transform: capitalize;

  background-color: colors.$secondary_light;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2px;

  &::placeholder {
    padding: 2px;
  }  
  
  &:focus-visible {
    outline: 1px colors.$primary solid;
  }
}