@use  '../base/colors' ;
@use '../abstracts/mixins';


.container {

  .header__navbar {
    position: relative;

    background: linear-gradient(0deg, white 40%, transparent 40% 100%);
    
    &__body { 
      position: relative;
      z-index: 999;
      
      @include mixins.box_shadow_not_bottom;

      @media (min-width:992px) {
        display: flex;
        justify-content: space-between;

        background-image: url("../images/subbg.gif");
      }
      @media (min-width:1440px) {
        display: block;
        
        box-shadow: none;
        background: transparent;
      }

      .navbar {
        background-image: url("../images/subbg.gif");
        
        @media (min-width:1440px) {
          width: 78%;

          @include mixins.box_shadow_not_bottom; 
        }

        .container-fluid {
          justify-content: center;

          button {
            margin: 10px;
            border: 1px transparent;
          }

          @media (min-width:768px) {
            justify-content: space-between;
          }
    
        }
      }
    }
  
    &__search { 
      display: block;
      padding: 12px;

      background-image: url("../images/subbg.gif");
      
      @media (min-width: 992px) {
        box-shadow: none;
      }

      @media (min-width: 1440px) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        z-index: 2;

        @include mixins.box_shadow_not_bottom;
      }

      &__body {
        display: flex;
        height: 100%;

        border: 1px solid gray;
        background-color: rgba(242, 238, 238, 1);
    
        input {
          margin: 0;
          width: 100%;

          border: 0;
          background-color: rgba(242, 238, 238, 1);

          @media (min-width: 992px) {
            padding: 10px;
          }

          &::placeholder {
            text-transform: capitalize;
            color: colors.$bg_dark_gray;
          }

          &:focus-visible {
            outline: 2px colors.$font_green solid;
            border-radius: 5px;
          }
        }

        button {
          color: rgb(170, 169, 169);
          border: 1px solid transparent;
          background: transparent;
        }
      }
    }
  }
}

.header__navbar .navbar-light .navbar-nav .nav-item .nav-link.active {
  color: white;
  background-color: colors.$font_green;
}

.header__navbar .navbar-light .navbar-nav .nav-item .nav-link {
  color: black;
  border-right: 1px colors.$bg_light_gray solid;
  text-transform: uppercase;
}

.header__navbar .navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: white;
  background-color: colors.$font_green;
}

.container .header__navbar button:focus {
  box-shadow: 0.1px 0.1px 2px 2px colors.$font_green, -0.1px -0.1px 2px 2px colors.$font_green ;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  color: white;
  background-color: colors.$font_green;
}