@mixin icon_media_image($x, $y) {
  display: inline-block;

  width: 27px;
  height: 27px;
  background-image: url('../images/social.png');
  background-repeat: no-repeat;
  background-position: $x $y;
}