@use '../base';
@use 'icon';

.media-group--dark {

  &__icon {

    &__facebook {
      @include icon.icon_media_image(0, 0);
      &:hover {
      @include icon.icon_media_image(0, -27px);
    }
  }
   &__twitter {
      @include icon.icon_media_image(-37px, 0);
      &:hover {
      @include icon.icon_media_image(-37px, -27px);
    }
  }
  &__about {
      @include icon.icon_media_image(-74px, 0);
      &:hover {
      @include icon.icon_media_image(-74px, -27px);
    }
  }
  &__baseball {
     @include icon.icon_media_image(-111px, 0);
     &:hover {
       @include icon.icon_media_image(-111px, -27px);
     }
  }
  &__bluetooth {
     @include icon.icon_media_image(-150px, 0);
     &:hover {
       @include icon.icon_media_image(-150px, -27px);
     }
  }
 }
  &__contact {
   text-transform: capitalize;

    p {
     margin: 0%;
     font-size: 14px;
     a {
       color: black;

       &:hover {
         color: base.$primary;
        }
      }
    }
  }
}

.media-group--primary {

  &__icon {
    &__facebook {
      @include icon.icon_media_image(0, -27px);
      &:hover {
        @include icon.icon_media_image(0, 0);
      }
    }
    &__twitter {
      @include icon.icon_media_image(-37px, -27px);
      &:hover {
        @include icon.icon_media_image(-37px, 0);
      }
    }       
    &__about {
      @include icon.icon_media_image(-74px, -27px);
      &:hover {
        @include icon.icon_media_image(-74px, 0);
      }
    }
    &__baseball {
      @include icon.icon_media_image(-111px, -27px);
      &:hover {
        @include icon.icon_media_image(-111px, 0);
      }
    }
    &__bluetooth {
      @include icon.icon_media_image(-150px, -27px);
      &:hover {
        @include icon.icon_media_image(-150px, 0);
      }
    }
  }
  &__contact {
    text-transform: capitalize;

    p {
      margin: 0%;
      font-size: 14px;
      a {
        color: base.$primary;

        &:hover {
          color: black;
        }
      }
    }
  }
}