@use '../base';


%more_ellipsis {
  color: black;
  font-size: 14px;
  text-transform: capitalize;

  &:hover {
    color: base.$primary;
  }

  &::before {
    content: "... ";
    color: rgb(126, 125, 125);

    &:hover {
      color: black;
    }
  }
}   

