@use '../base';

.quote {
 
  filter: drop-shadow(1px 0 0 base.$gray-400) drop-shadow(0 1px 0 base.$gray-400) drop-shadow(-1px 0 0 base.$gray-400) drop-shadow(0 -1px 0 base.$gray-400);

  &-body {
    padding: 20px;

    border-radius: 1px;
    background-color: base.$gray-200;

    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 84%, 0 71%, 0 39%);
  }

  &-text {
    padding-bottom: 30px;
  }
}
