.cardGroup{
  margin-top: -35px;
  .row{
    margin: 0px;
    .col-sm-3{
      padding: 15px;
      .card{
        background: #e7e7e7;
        .cardTitle{
          padding: 20px;
        }
        .cardText{
          padding: 20px;
        }
        button{
          font-family: sans-serif;
          border: 0px;
          background: #CDCDCD;
          width: 70px;
          height: 1.8em;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        &:hover{
          color: #FFF;
          background: #1D1D1D;
        }
      }
    }
  }
}
