.feature{
  margin-top: 70px;
  border-top: 1px solid #e7e7e7;
  padding-top: 35px;
  padding-bottom: 80px;
  .featureTitle{
    font-size: 2em;
    padding: 0.5em 0;
  }
  img{
    width: 100%;
  }
}
