* {
  /* outline: 1px solid red; */
}

body, h1, p {
  margin: 0;
}

h2, h3, h4 {
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}

p, a, span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.info_box, .feature_box, .about_box, .service_box {
  margin: 0 -10px;
}

.info_item, .feature_item, .about_item, .service_item {
  padding: 20px 10px 0;
}

.feature_item_link::before {
  content: url(../img/icon2.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.5s;
  opacity: 0;
}
.feature_item_link:hover::before {
  opacity: 0.6;
}

.search_form {
  position: relative;
}

.search_input {
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 5px;
  width: 100%;
  background-color: #eee;
  color: #999;
  font-size: 14px;
  padding: 5px 10px;
}

.search_button {
  padding: 5px 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 1;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.search_button:hover {
  background-image: url(../img/icon1.png);
  background-size: 80%;
}
.search_button:focus {
  box-shadow: none;
}

.service_item .card_group {
  padding: 30px 20px 20px;
  height: 100%;
  /* equal height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
.service_item .card_group:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.service_item .card_group:hover .card_title,
.service_item .card_group:hover .card_text {
  color: white;
}
.service_item .card_body,
.service_item .card_image {
  margin-bottom: 20px;
}
.service_item .card_button {
  padding: 5px 15px;
  display: inline-block;
  background-color: #ccc;
  color: #111;
}
.service_item .card_button:hover {
  background-color: #82B800;
  color: white;
  text-decoration: none;
}

.news_body label, .welcome label {
  margin-bottom: 0;
}
.news_body label:hover, .welcome label:hover {
  color: #82B800;
}
.news_body span, .welcome span,
.news_body input,
.welcome input,
.news_body input:checked ~ label,
.welcome input:checked ~ label {
  display: none;
}
.news_body input:checked ~ span, .welcome input:checked ~ span {
  display: block;
}

.arrow_style {
  margin-right: 10px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: #ddd;
  color: white;
  line-height: 40px;
  text-align: center;
  transition: transform 0.3s;
}
.arrow_style:hover {
  background-color: #82B800;
  color: white;
  transform: rotate(90deg);
}

.dialog_box::before {
  content: "";
  border-left: 30px solid #ddd;
  border-bottom: 17px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: -1px;
  z-index: 1;
}

.dialog_box::after {
  content: "";
  border-left: 27px solid #eee;
  border-bottom: 15px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 1;
}

.dialog_box {
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 0;
  position: relative;
  background-color: #eee;
  color: #555;
}

body {
  background: linear-gradient(to bottom, #151515 0% 100px, transparent 100px 90%, #151515 90% 100%), url(../img/bg.jpg) center top;
}

.container_wrap {
  padding: 0;
}

header {
  margin-top: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/subbg.gif);
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

h1 {
  margin-bottom: 15px;
  font-size: 0;
}
@media (min-width: 768px) {
  h1 {
    margin-bottom: 0;
  }
}
h1 a {
  display: inline-block;
}
h1 img {
  width: 100%;
}

.connect {
  font-size: 0;
}

.connect_icon {
  margin-bottom: 5px;
  text-align: center;
}
@media (min-width: 768px) {
  .connect_icon {
    text-align: right;
  }
}
.connect_icon a + a {
  margin-left: 10px;
}

.connect_icon_fb {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url(../img/social.png);
  background-position: 0% top;
}
.connect_icon_fb:hover {
  background-position: 0% bottom;
}

.connect_icon_twitter {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url(../img/social.png);
  background-position: 25% top;
}
.connect_icon_twitter:hover {
  background-position: 25% bottom;
}

.connect_icon_flickr {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url(../img/social.png);
  background-position: 50% top;
}
.connect_icon_flickr:hover {
  background-position: 50% bottom;
}

.connect_icon_dribbble {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url(../img/social.png);
  background-position: 75% top;
}
.connect_icon_dribbble:hover {
  background-position: 75% bottom;
}

.connect_icon_rss {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url(../img/social.png);
  background-position: 100% top;
}
.connect_icon_rss:hover {
  background-position: 100% bottom;
}

.connect span {
  vertical-align: middle;
}
.connect a {
  vertical-align: middle;
}
.connect a:hover {
  color: #82B800;
}

.menu {
  margin-top: 30px;
  padding: 10px 30px;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  background-image: url(../img/subbg.gif);
}
@media (min-width: 992px) {
  .menu {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .menu {
    background-image: none;
  }
}

.menu_collapse {
  border: 1px solid #ddd;
  background-image: url(../img/subbg.gif);
}
@media (min-width: 992px) {
  .menu_collapse {
    box-shadow: 2px -2px 5px #777;
    border: none;
  }
}

@media (min-width: 992px) {
  .menu_item {
    border-right: 1px solid #eee;
  }
}

.menu .menu_item .menu_link {
  padding: 15px;
  color: black;
}
.menu .menu_item .menu_link:hover {
  background-color: #82B800;
  color: white;
}

.menu_link i {
  font-size: 10px;
}
.menu_link::after {
  display: none;
  /* cover bootstrap's dropdown icon */
}

.menu_dropdown_item:hover {
  background-color: #82B800;
  color: white;
}

@media (min-width: 992px) {
  .search_form {
    margin-left: 10px;
    box-shadow: -2px -2px 5px #777;
    padding: 0 10px;
    display: flex;
    align-items: center;
    order: 2;
    flex-grow: 1;
    background-image: url(../img/subbg.gif);
  }
}

@media (min-width: 992px) {
  .search_button {
    margin: 10px;
  }
}

main {
  margin-bottom: 60px;
  background-image: url(../img/subbg.gif);
}
@media (min-width: 992px) {
  main {
    box-shadow: 0 -25px white;
  }
}

.banner_control {
  width: 30px;
}
.banner_control .banner_control_prev_icon {
  width: 30px;
  height: 88px;
  background-position: left top;
  background-size: 100%;
  background-image: url(../img/slider_prev.gif);
}
.banner_control .banner_control_prev_icon:hover {
  background-position: left bottom;
}
.banner_control .banner_control_next_icon {
  width: 30px;
  height: 88px;
  background-position: left top;
  background-size: 100%;
  background-image: url(../img/slider_next.gif);
}
.banner_control .banner_control_next_icon:hover {
  background-position: left bottom;
}

.service {
  padding: 0 30px 20px;
}
@media (min-width: 576px) {
  .service {
    margin-top: -40px;
  }
}

.service_box {
  text-align: center;
}

.about {
  padding: 0 30px 40px;
}

.welcome img {
  margin-bottom: 20px;
  width: 100%;
}

.choose_item {
  border-bottom: 1px solid #ddd;
  padding: 0 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.choose_item:not(:last-child) {
  margin-bottom: 20px;
}

.news_item {
  display: flex;
}

.news_image {
  margin-right: 20px;
}
.news_image img {
  width: 100%;
}

.news_body {
  flex: 1 0 50%;
}
.news_body > span {
  margin-bottom: 20px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #82B800;
  color: white;
}

.news_item + .news_item {
  margin-top: 20px;
}

.feature {
  margin: 0 30px;
  border-top: 1px solid #ccc;
  padding: 40px 0;
  position: relative;
}
.feature h2 {
  margin-bottom: 0;
}
.feature a {
  display: inline-block;
}
.feature i {
  color: #ccc;
}
.feature i:hover {
  color: #82B800;
}

.arrow_left {
  position: absolute;
  top: 50px;
  right: 20px;
  bottom: auto;
  left: auto;
  z-index: 1;
}

.arrow_right {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 1;
}

.feature_item_link {
  position: relative;
}
.feature_item_link img {
  width: 100%;
}

.footer_info {
  padding: 10px 30px 30px;
  background-image: url(../img/subbg.gif);
}

.dialog_box {
  padding: 20px 10px 20px 30px;
}

.dialog_body {
  margin-top: 35px;
  display: flex;
}

.dialog_text {
  margin-top: 7px;
  margin-left: 10px;
  line-height: 1;
}
.dialog_text a {
  color: #82B800;
}

.submit form {
  font-size: 0;
}
.submit input {
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background-color: #eee;
  color: #999;
  font-size: 14px;
}
.submit textarea {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background-color: #eee;
  color: #999;
  font-size: 14px;
}
.submit button {
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  background-color: black;
  color: white;
}
.submit button:hover {
  background-color: #82B800;
  color: white;
}
.submit button + button {
  margin-left: 10px;
}

.flickr_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.flickr_box img {
  width: 100%;
}

.footer_bottom {
  padding: 20px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 992px) {
  .footer_bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyright {
  margin-top: 10px;
  color: #555;
  line-height: 1;
}
@media (min-width: 992px) {
  .copyright {
    margin-top: 0;
  }
}
.copyright a {
  margin-left: 5px;
  border-left: 1px solid #555;
  padding-left: 5px;
  display: inline-block;
  color: #82B800;
}

.sub_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub_menu a {
  padding: 0 10px;
  color: #555;
  line-height: 1;
}
.sub_menu a:not(:first-child) {
  border-left: 2px solid #999;
}
.sub_menu a:hover {
  color: #82B800;
}
.sub_menu a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
