@use '../base/color';
$sub_backgrpund: url(../../img/subbg.gif);
$primary_background: url(../../img/bg.jpg);
body {
    background: linear-gradient(to bottom, black 100px, transparent 100px, transparent 90%, black 90%, black 100%),
        $primary_background;
}
.bg_theme {
    background: $sub_backgrpund;
    filter: drop-shadow(1px 1px 3px rgb(51, 45, 45));
}
//header
.header_inner {
    background: $sub_backgrpund;
}
.menu {
    background: linear-gradient(to bottom, transparent 30px, #fff 30px, #fff 100%);
}
//main
//card_banner
.container .card_banner .card:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.card_banner .row > div:nth-child(odd) {
    background-color: color.$light_gray;
    @media (min-width: 768px) {
        background-color: initial;
    }
}
.card_banner .row > div:nth-child(even) {
    background-color: rgb(218, 224, 213);
    @media (min-width: 768px) {
        background-color: initial;
    }
}

//choose
.choose div i {
    background-color: color.$dark_gray;
    &:hover {
        background-color: color.$primary;
    }
}

//footer
.contact {
    background: $sub_backgrpund;
}

.footer_bottom {
    background-color: #000;
}
