.flickr_album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    img {
      filter: grayscale(100%);
    }

    img:hover {
      filter: grayscale(0);
    }
  }
}
