@use "../base/color" as *;

@use "../components/inputs";
@use "../components/buttons";

.contact {
  input,
  textarea {
    @extend .input-base;

    margin-bottom: 5px;
    width: 100%;
  }

  button {
    @extend .button_base;
    text-transform: uppercase;
  }

  .reset_button {
    background: black;
    color: white;
  }

  .submit_button {
    margin-left: 5px;
    background: $highlight-green;
    color: white;
  }
}
