@use "../base/color" as *;
@use "../base/breakpoint";

@use "../utilities/background";

.footer_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint.desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  padding: 15px 5px;
  background: black;
  color: $gray-400;

  text-transform: uppercase;

  .copyright {
    align-self: center;
  }

  .policy {
    color: $highlight-green;

    text-transform: capitalize;
  }

  .footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .footer_nav_item {
      padding: 0 10px;
      & + .footer_nav_item {
        border-left: 1px solid $gray-400;
      }

      &.active {
        color: $highlight-green;
      }

      &:hover {
        color: $highlight-green;
      }
    }
  }
}
