@use "../base/color" as *;

@use "../utilities/breakpoint";

@use "../components/widget-style/buttons";

.service_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 40px 20px 20px;
  height: 100%;
  background: $gray-200;

  text-align: center;

  &:hover {
    color: white;
    background: rgba($gray-500, 0.8);
    font-weight: 500;
  }

  div > *:not(:first-child) {
    margin-top: 10px;

    @include breakpoint.desktop {
      margin-top: 20px;
    }
  }

  .service_title {
    font-size: 20px;

    @include breakpoint.desktop {
      //預防 title 因為長度和行數不同造成沒有對齊
      display: flex;
      justify-content: center;
      align-items: center;

      height: 50px;
    }
  }

  .service_icon_wrapper {
    margin: 0 auto;
    height: 60px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  a {
    @extend .button_base;
    margin-top: 20px;

    color: black;
    background: $gray-300;

    text-transform: capitalize;
  }
}
