$horizontal-strips: "../images/subbg.gif";
$social-icons: "../images/social.png";
$magnifying-glass-img: "../images/search.png";
$carousel-next: "../images/slider_next.gif";
$carousel-prev: "../images/slider_prev.gif";
$body-bg: "../images/bg.jpg";
