.bar-bg
	position: relative
	margin-left: 5%
	.search-bar
		border: 2px solid #ccc
		border-radius: 4px
		font-size: $font-m
		background: #f3f3f3
		height: 100%
		width: 90%
		text-indent: 5px
	.search-submit
		width: 20px
		height: 20px
		background: url(../img/search.png) no-repeat
		position: absolute
		cursor: pointer
		right: 22px
		top: 9px	
		text-indent: -9999px
		border: 0
		overflow: hidden

.card-button
	+card-button