.header
	background: $bg-color	
	margin: 0 auto 20px auto
	display: flex
	justify-content: space-between
	align-items: center
	@media(max-width: 768px)
		display: block
	
	.head-logo
		margin: 20px 0 20px 10px
		line-height: 1.5
		@media(max-width: 768px)
			display: block
			margin: 20px auto
			img
				display: block
				margin: auto

.top-icon
	margin-right: 20px
	padding-bottom: 20px
	font-family: $font-style-s
	text-align: right
	line-height: 10px
	@media(max-width: 768px)
		margin: 20px 0
		text-align: center
