%text-center
	text-align: center

%text-right
	text-align: right

%div-center
	margin: 0 auto

%li-nostyle
	list-style: none

%h2-style
	font-size: $font-l
	color: #000
	font-family: serif

%form-bg
	background: $mod-color

%btn-mt
	margin-top: 15px
