$color-primary: #80b600; //主色：綠色
$white:#ffffff;
$gary-100:#f3f3f3;//243
$gary-200:#e6e6e6;//230
$gary-300:#d9d9d9;//217
$gary-400:#cdcdcd;//205
$gary-500:#7f7f7f;//127 text
$gary-600:#737373; //115
$black: #000000;
$color-gary:#e9e9e9;
// secondary