@use "../abstracts/mixins";

.featured-works {
  position: relative;
  .carousel-item-prev {
    ~ .featured-works__animate-container {
      .featured-works__animate--move {
        transform: translateX(-200%);
        transition: all 0.6s;
        @include mixins.size-sm {
          transform: translateX(-50%);
        }
        @include mixins.size-lg {
          transform: translateX(-33.333%);
        }
        @include mixins.size-xl {
          transform: translateX(-25%);
        }
      }
    }
  }
  .carousel-item-next {
    ~ .featured-works__animate-container {
      .featured-works__animate--move {
        transform: translateX(-300%);
        transition: all 0.6s;
        @include mixins.size-sm {
          transform: translateX(-150%);
        }
        @include mixins.size-lg {
          transform: translateX(-100%);
        }
        @include mixins.size-xl {
          transform: translateX(-75%);
        }
      }
    }
  }
  &__animate {
    animation: moveSlideshow 15s linear infinite;
    /* animation-play-state: paused; */
    // animation-play-state: paused;
    &:hover {
      animation-play-state: paused;
    }
    &--move {
      transform: translateX(-200%);
      @include mixins.size-sm {
        transform: translateX(-100%);
      }
      @include mixins.size-lg {
        transform: translateX(-66.666%);
      }
      @include mixins.size-xl {
        transform: translateX(-50%);
      }
    }
    &-control {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 60px;
      + span {
        right: 30px;
        // &:hover {
        //   ~ .featured-works__animate-container {
        //     .featured-works__animate {
        //       animation-direction: reverse;
        //     }
        //   }
        // }
      }
      // &:hover {
      //   ~ .featured-works__animate-container {
      //     .featured-works__animate {
      //       animation-duration: 10s;
      //     }
      //   }
      // }
      SVG {
        padding: 10px 16px;
        height: 40px;
      }
    }
    &--order {
      order: 20;
    }
    &--act2.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(2) {
              order: 1;
            }
            :nth-child(3) {
              order: 2;
            }
            :nth-child(4) {
              order: 3;
            }
            :nth-child(5) {
              order: 4;
            }
            :nth-child(6) {
              order: 5;
            }
            :nth-child(7) {
              order: 6;
            }
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &--act3.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(3) {
              order: 2;
            }
            :nth-child(4) {
              order: 3;
            }
            :nth-child(5) {
              order: 4;
            }
            :nth-child(6) {
              order: 5;
            }
            :nth-child(7) {
              order: 6;
            }
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &--act4.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(4) {
              order: 3;
            }
            :nth-child(5) {
              order: 4;
            }
            :nth-child(6) {
              order: 5;
            }
            :nth-child(7) {
              order: 6;
            }
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &--act5.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(5) {
              order: 4;
            }
            :nth-child(6) {
              order: 5;
            }
            :nth-child(7) {
              order: 6;
            }
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &--act6.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(6) {
              order: 5;
            }
            :nth-child(7) {
              order: 6;
            }
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &--act7.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(7) {
              order: 6;
            }
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &--act8.active {
      ~ .featured-works__animate-container {
        .featured-works__animate {
          > {
            :nth-child(8) {
              order: 7;
            }
            :nth-child(9) {
              order: 8;
            }
            :nth-child(10) {
              order: 9;
            }
            :nth-child(11) {
              order: 10;
            }
            :nth-child(12) {
              order: 11;
            }
          }
        }
      }
    }
    &-hover {
      top: 100%;
      transition: all 1s;
      &-control {
        &:hover {
          .featured-works__animate-hover {
            top: 0%;
          }
        }
      }
    }
    &-content {
      width: 130%;
      height: 200%;
      transform: rotate(330deg);
      transform-origin: left;
      background: linear-gradient(
        to bottom,
        #00000080 0px,
        #00000080 20%,
        #00000000 20%,
        #00000000
      );
      padding-top: 50%;
      color: #ffffff;
      font-weight: bold;
      p {
        font-size: 20px;
        padding: 10px 40px;
        border-bottom: 2px solid #ffffff;
      }
    }
    &-text {
      background-color: #00000080;
      height: 40%;
      padding: 0 15%;
      border-bottom: 1px solid #82b600;
    }
  }
  &__animate-control {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 80px;
    + span {
      right: 30px;
      // &:hover {
      //   ~ .featured-works__animate-container {
      //     .featured-works__animate {
      //       animation-direction: reverse;
      //     }
      //   }
      // }
    }
    // &:hover {
    //   ~ .featured-works__animate-container {
    //     .featured-works__animate {
    //       animation-duration: 10s;
    //     }
    //   }
    // }
  }
  // .carousel-item {
  //   transition: initial;
  // }
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-400%);
    }
  }
  @include mixins.size-sm {
    @keyframes moveSlideshow {
      100% {
        transform: translateX(-200%);
      }
    }
  }
  @include mixins.size-lg {
    @keyframes moveSlideshow {
      100% {
        transform: translateX(-133.33%);
      }
    }
  }
  @include mixins.size-xl {
    @keyframes moveSlideshow {
      100% {
        transform: translateX(-100%);
      }
    }
  }
}
