@use "../abstracts/mixins";
@use "../mixin/mixin-t6";

.introduction {
  // background-color: #ffffff;
  h2 {
    color: #000000;
  }
  .card {
    background-color: transparent;
    color: #939393;
    border: 0;
    &-text {
      span {
        color: #000000;
      }
    }
    i {
      @include mixin-t6.font-color(32px, #dadada ,900);
      // font-size: 32px;
      // color: #dadada;
      display: block;
      text-align: center;
      @include mixins.size-md {
        font-size: 48px;
      }
    }

    &-title:not(h2) {
      display: inline-block;
      background-color: #81b701;
      @include mixin-t6.font-color(18px, #ffffff);
      // font-size: 18px;
      // color: #ffffff;
    }
  }

  &__choose {
    .card {
      border: 0;
      border-bottom: 1px solid #e4e4e4;
    }
  }
}
