@use "../utility/color";

.text_more {
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  &:hover {
    color: color.$color-primary;
  }
}

.btn_primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: color.$gary-400;
  color: black;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    background-color: color.$color-primary;
    color: white;
  }
}

