@use "../utils/breakpoints";
@use "../utils/color";
@use "../utils/text";


.card_item {
    padding: 2rem 1rem;
    display: flex;
    background-color: color.$gary-200;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h4 {
        margin: 0;
        height: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        @include breakpoints.lg {
            font-size: 1rem;
        }
    }
    .image_box img {
        width: 100%;
    }
    p {
        display: none;
        @include breakpoints.md {
            display: block;
            margin: 0;
            text-align: center;
            @include text.ellipsis(3);
        }
    }
    &:hover {
        background-color: rgba(color.$gary-600, .9);
        box-shadow: 0px 0px 0px 1px color.$gary-600;
        // border: 1px solid color.$gary-600;
        color: white;
    }
}

.group_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include breakpoints.sm {
        flex-direction: row;
        gap: 1.5rem;
    }
    @include breakpoints.xl {
        flex-direction: column;
    }
    .item {
        display: grid;
        grid-template-rows: repeat(2,min-content);
        grid-template-columns: 40% minmax(auto, 60%);
        gap: 1.5rem;
        .image_box {
            grid-row: 1 / -1;
            grid-column: 1 / 2;
            img {
                width: 100%;
            }
        }
        .title {
            margin: 0;
            padding:.3rem .5rem;
            grid-row: 1 / 2;
            grid-column: 2 / -1;
            background-color: color.$color-primary;
            width: fit-content;
            align-self: flex-start;
            color: white;
            font-size: 1.25rem;
        }
        .text_box {
            grid-row: 2 / -1;
            grid-column: 2 / -1;
            .text {
                margin: 0;
                line-height: 1.2;
                color: color.$gary-500;
            }
        }
    }
}