@use "../utils/breakpoints";
@use "../utils/color";

@mixin icon_sprites {
    background: url("../images/social.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
@mixin icon_position ($x,$y) {
    background-position: top $x  left $y;
}
@mixin icon_position_hover ($x,$y) {
    background-position: bottom $x  left $y;
}

.social_media_light {
    .icon_list {
        display: flex;
        margin-bottom: .5rem;
        @include breakpoints.lg {
            justify-content: end;
        }
        a {
            @include icon_sprites;
            &:not(:first-child) {
                @include breakpoints.lg {
                    margin-left: .5rem;    
                }
            }
            &:nth-child(1) {
                @include icon_position(0px , 0px);
                &:hover {
                    @include icon_position_hover (0px, 0px);
                }
            }
            &:nth-child(2) {
                @include icon_position (0px , -37px);
                &:hover {
                    @include icon_position_hover (0px, -37px);
                }
            }
            &:nth-child(3) {
                @include icon_position (0px , -74px);
                &:hover {
                    @include icon_position_hover (0px, -74px);
                }
            }
            &:nth-child(4) {
                @include icon_position (0px , -111px);
                &:hover {
                    @include icon_position_hover (0px, -111px);
                }
            }
            &:nth-child(5) {
                @include icon_position (0px , -150px);
                &:hover {
                    @include icon_position_hover (0px, -150px);
                }
            }
        }
    }
    span {
        a {
            text-decoration: none;
            color: color.$black;
            &:hover {
                color: color.$color-primary;
            }
        }
    }
}

.social_media_dark {
    .icon_list {
        display: flex;
        margin-bottom: .5rem;
        justify-content: space-evenly;
        a {
            @include icon_sprites;
            background-color: color.$gary-500;
            border-radius: 50%;
            &:not(:first-child) {
                @include breakpoints.lg {
                    margin-left: .5rem;    
                }
            }
            &:hover {
                background-color: color.$white;
            }
            &:nth-child(1) {
                @include icon_position (0px , 0px);
                &:hover {
                    @include icon_position_hover (0px, 0px);
                }
            }
            &:nth-child(2) {
                @include icon_position (0px , -37px);
                &:hover {
                    @include icon_position_hover (0px, -37px);
                }
            }
            &:nth-child(3) {
                @include icon_position (0px , -74px);
                &:hover {
                    @include icon_position_hover (0px, -74px);
                }
            }
            &:nth-child(4) {
                @include icon_position (0px , -111px);
                &:hover {
                    @include icon_position_hover (0px, -111px);
                }
            }
            &:nth-child(5) {
                @include icon_position (0px , -150px);
                &:hover {
                    @include icon_position_hover (0px, -150px);
                }
            }
        }
    }
    span {
        color: color.$color-primary;
        a {
            text-decoration: none;
            color: color.$gary-500;
            &:hover {
                color: color.$white;
            }
        }
    }
}