* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ol, ul, li, label, input {
  margin: 0;
}

ol, ul, li {
  list-style: none;
  padding: 0;
}

a {
  display: block;
}
a:hover {
  text-decoration: none;
}

footer .footer_area .latest_tweets h4, footer .footer_area .testimonials h4, footer .footer_area .get_in_touch h4, footer .footer_area .flickr h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer .footer_area .latest_tweets p, footer .footer_area .testimonials .text_balloon p, footer .footer_area .testimonials .ceo_info .ceo_introduction span, footer .footer_area .testimonials .ceo_info .ceo_introduction a {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.2;
}

footer .footer_area {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

footer .footer_area .get_in_touch form .name_text, footer .footer_area .get_in_touch form .email_text, footer .footer_area .get_in_touch form .text_area {
  width: 100%;
  height: 12.5%;
  font-size: 10px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #e8e8e8;
  border-radius: 5px;
}

footer .footer_area .get_in_touch .clear_button {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #2c2d2f;
}

footer .footer_area .get_in_touch .send_button {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #81b70c;
}

.button_next {
  width: 2%;
  display: inline-block;
  transform: rotate(90deg);
}

.button_prev {
  width: 2%;
  display: inline-block;
  transform: rotate(-90deg);
}

footer {
  margin-top: 60px;
}
footer .footer_area {
  background-image: url(../images/subbg.gif);
  text-align: center;
  padding: 30px;
}
@media (min-width: 992px) {
  footer .footer_area {
    text-align: left;
  }
}
footer .footer_area .testimonials .text_balloon {
  background-color: #e8e8e8;
  border-radius: 5px;
  position: relative;
}
footer .footer_area .testimonials .text_balloon::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  border-top: solid 30px #e8e8e8;
  border-left: solid 0 #cecece;
  border-right: solid 60px transparent;
}
@media (min-width: 992px) {
  footer .footer_area .testimonials .text_balloon::before {
    left: 0;
    transform: translateX(0);
  }
}
footer .footer_area .testimonials .text_balloon p {
  color: #8f8f8f;
}
footer .footer_area .testimonials .ceo_info {
  margin-top: 30px;
}
footer .footer_area .testimonials .ceo_info .ceo_image {
  display: inline-block;
  vertical-align: middle;
}
footer .footer_area .testimonials .ceo_info .ceo_image img {
  object-fit: cover;
}
footer .footer_area .testimonials .ceo_info .ceo_introduction {
  display: inline-block;
  vertical-align: middle;
}
footer .footer_area .testimonials .ceo_info .ceo_introduction a {
  color: #81b70c;
  font-weight: 600;
  font-style: oblique;
}
footer .footer_area .get_in_touch form .name_text {
  padding: 5px;
}
footer .footer_area .get_in_touch form .email_text {
  padding: 5px;
}
footer .footer_area .get_in_touch form .text_area {
  padding: 5px;
}
footer .footer_area .get_in_touch .clear_button {
  padding: 5px 10px;
}
footer .footer_area .get_in_touch .send_button {
  padding: 5px 10px;
}
footer .footer_area .flickr .photo_area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer_area .flickr .photo_area a {
  width: calc((100% - 15px) / 4);
  margin-bottom: 5px;
}
footer .footer_area .flickr .photo_area img {
  width: 100%;
  object-fit: cover;
}
footer .copyright_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}
footer .copyright_area .copyright {
  flex: 0 0 100%;
  margin-bottom: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  footer .copyright_area .copyright {
    flex: 0 0 50%;
    text-align: left;
    margin-bottom: 0;
  }
}
footer .copyright_area .copyright .copyright_text {
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  text-transform: uppercase;
}
footer .copyright_area .copyright .copyright_text::after {
  content: "";
  height: auto;
  border-right: solid 2px #8f8f8f;
  margin-right: 5px;
}
footer .copyright_area .copyright a {
  font-size: 14px;
  font-weight: 600;
  color: #81b70c;
  display: inline-block;
}
footer .copyright_area .footer_menu {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  footer .copyright_area .footer_menu {
    flex: 0 0 50%;
    flex-direction: row;
    justify-content: flex-end;
  }
}
footer .copyright_area .footer_menu a {
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  text-transform: uppercase;
  padding: 5px 8px;
}
footer .copyright_area .footer_menu a:hover {
  color: #81b70c;
}
@media (min-width: 768px) {
  footer .copyright_area .footer_menu a {
    border-right: solid 2px #8f8f8f;
    padding: 0 8px;
  }
  footer .copyright_area .footer_menu a:nth-child(6) {
    border: none;
  }
}

/*# sourceMappingURL=footer.css.map */
