@use "../base/color";

%title-1 {
  color: color.$black;
  font: {
    size: 24px;
    weight: 500;
    family: Arial, sans-serif;
  }
}

%title-2 {
  color: color.$gray-400;
  font: {
    size: 20px;
    family: Arial, sans-serif;
  }
}

%body-1 {
  color: color.$gray-200;
  font: {
    size: 16px;
    family: Arial, sans-serif;
  }
}

%body-2 {
  color: color.$gray-200;
  font: {
    size: 14px;
    family: Arial, sans-serif;
  }
}

%body-3 {
  color: color.$gray-300;
  font: {
    size: 12px;
    family: Arial, sans-serif;
  }
}
