@use '../Utilities/reset';
@use '../Utilities/color.scss';
@use '../Utilities/sizing.scss';
@use '../Utilities/font.scss';
@use '../Utilities/background.scss';
@use '../element/button.scss';


.feature_works{
    .photo_gallery{
        h2{
            @extend %font-h2;
            @media (min-width:992px) {
                margin-bottom: 0;
            }
        }
        .gallery_button{
            text-align: right;
            @media (max-width:992px) {
                display: none;
            }
        }
        .gallery_item{
            box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
            img{
                width: sizing.$width-full;
            }
            .gallery_item_hover{
                @include background.image-hover;
                background: color.$background-black  url(../images/icon1.png) no-repeat top 50% left 50%;
            }
        }
    }
}