/* line 17, ../sass/partials/_reset.scss */
/* line 2, ../sass/partials/_reset.scss */
a {
  height: 10px;
}

/* line 6, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 27, ../sass/partials/_reset.scss */
/* line 17, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/partials/_reset.scss */
/* line 23, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/partials/_reset.scss */
/* line 29, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/partials/_reset.scss */
/* line 35, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
/* line 42, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 49, ../sass/partials/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/partials/_reset.scss */
/* line 57, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partials/_body.scss */
body {
  background: url(../images/bg.jpg);
  background-repeat: repeat-x;
  position: relative;
}
/* line 6, ../sass/partials/_body.scss */
body .topSec {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #e7e7e7;
  padding: 25px;
  text-indent: -999px;
  z-index: 1;
}
/* line 9, ../sass/partials/_body.scss */
body .downSec {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background: #e7e7e7;
  padding: 25px;
  text-indent: -999px;
  z-index: 1;
}

/* line 15, ../sass/partials/_body.scss */
.clearFloat {
  clear: both;
}

/* line 1, ../sass/partials/_selfContainer.scss */
.selfContainer {
  width: 80%;
  margin: 0 auto;
}

/* line 1, ../sass/partials/_header.scss */
.header {
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 20px;
}
/* line 7, ../sass/partials/_header.scss */
.header .logo {
  float: left;
}
/* line 10, ../sass/partials/_header.scss */
.header .contact {
  float: right;
  line-height: 100%;
}
/* line 14, ../sass/partials/_header.scss */
.header .contact .socialIcon li {
  display: inline-block;
}
/* line 17, ../sass/partials/_header.scss */
.header .contact .socialIcon li:nth-child(1) a {
  display: block;
  background: url(../images/social.png);
  background-position: 0px 0px;
  width: 37px;
  height: 27px;
}
/* line 22, ../sass/partials/_header.scss */
.header .contact .socialIcon li:nth-child(2) a {
  display: block;
  background: url(../images/social.png);
  background-position: -37px 0px;
  width: 37px;
  height: 27px;
}
/* line 27, ../sass/partials/_header.scss */
.header .contact .socialIcon li:nth-child(3) a {
  display: block;
  background: url(../images/social.png);
  background-position: -74px 0px;
  width: 37px;
  height: 27px;
}
/* line 32, ../sass/partials/_header.scss */
.header .contact .socialIcon li:nth-child(4) a {
  display: block;
  background: url(../images/social.png);
  background-position: -111px 0px;
  width: 37px;
  height: 27px;
}
/* line 37, ../sass/partials/_header.scss */
.header .contact .socialIcon li:nth-child(5) a {
  display: block;
  background: url(../images/social.png);
  background-position: right top;
  width: 37px;
  height: 27px;
  width: 29px;
}

/* line 1, ../sass/partials/_content.scss */
.content {
  background: #fff;
}

/* line 5, ../sass/partials/_content.scss */
.contentHeader {
  margin-top: 40px;
}

/* line 1, ../sass/partials/_nav.scss */
.navbar {
  padding: 0px;
}
/* line 3, ../sass/partials/_nav.scss */
.navbar .heightCenter {
  display: flex;
  align-items: center;
}
/* line 8, ../sass/partials/_nav.scss */
.navbar .liFix li {
  font-family: sans-serif;
  font-size: 1em;
  padding: 20px;
  height: 100%;
  border-right: 1px solid #e7e7e7;
}
/* line 14, ../sass/partials/_nav.scss */
.navbar .liFix li:hover {
  background: #62CD00;
  color: #fff;
}
/* line 19, ../sass/partials/_nav.scss */
.navbar .liFix .active {
  background: #62CD00;
  color: #fff;
}

/* line 26, ../sass/partials/_nav.scss */
.search {
  display: flex;
  align-items: center;
  background: #fff;
  height: 100%;
}
/* line 31, ../sass/partials/_nav.scss */
.search input {
  line-height: 1.5em;
  margin: 0 10px;
  width: 100%;
  padding: 5px;
}

/* line 3, ../sass/partials/_banner.scss */
.banner #carouselExampleControls .banner1 {
  background-size: cover;
  background-position: center;
  background-image: url('../images/banner1.jpg?1490260818');
  height: 500px;
  width: 100%;
}
/* line 6, ../sass/partials/_banner.scss */
.banner #carouselExampleControls .banner2 {
  background-size: cover;
  background-position: center;
  background-image: url('../images/banner2.jpg?1490260818');
  height: 500px;
  width: 100%;
}
/* line 9, ../sass/partials/_banner.scss */
.banner #carouselExampleControls .banner3 {
  background-size: cover;
  background-position: center;
  background-image: url('../images/banner3.jpg?1490260818');
  height: 500px;
  width: 100%;
}
/* line 12, ../sass/partials/_banner.scss */
.banner #carouselExampleControls a {
  height: 100%;
}

/* line 1, ../sass/partials/_cardGroup.scss */
.cardGroup {
  margin-top: -35px;
}
/* line 3, ../sass/partials/_cardGroup.scss */
.cardGroup .row {
  margin: 0px;
}
/* line 5, ../sass/partials/_cardGroup.scss */
.cardGroup .row .col-sm-3 {
  padding: 15px;
}
/* line 7, ../sass/partials/_cardGroup.scss */
.cardGroup .row .col-sm-3 .card {
  background: #e7e7e7;
}
/* line 9, ../sass/partials/_cardGroup.scss */
.cardGroup .row .col-sm-3 .card .cardTitle {
  padding: 20px;
}
/* line 12, ../sass/partials/_cardGroup.scss */
.cardGroup .row .col-sm-3 .card .cardText {
  padding: 20px;
}
/* line 15, ../sass/partials/_cardGroup.scss */
.cardGroup .row .col-sm-3 .card button {
  font-family: sans-serif;
  border: 0px;
  background: #CDCDCD;
  width: 70px;
  height: 1.8em;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 2, ../sass/partials/_wwn.scss */
.wwn .wwnTitle {
  font-size: 2em;
  padding: 0.5em 0;
}
/* line 6, ../sass/partials/_wwn.scss */
.wwn img {
  width: 100%;
}
/* line 9, ../sass/partials/_wwn.scss */
.wwn .wwnText {
  padding: 0.8em 0;
}
/* line 12, ../sass/partials/_wwn.scss */
.wwn .wwnLi {
  border-bottom: 1px solid #e7e7e7;
}
/* line 14, ../sass/partials/_wwn.scss */
.wwn .wwnLi i {
  margin: 10px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  background: #E7E7E7;
  border-radius: 50%;
}
/* line 25, ../sass/partials/_wwn.scss */
.wwn .picDateTextMarginTopFix {
  margin-top: 40px;
}
/* line 29, ../sass/partials/_wwn.scss */
.wwn .wwnDate {
  color: #fff;
  font-family: sans-serif;
  line-height: 1.5em;
  text-align: center;
  width: 100px;
  background: #62CD00;
}
