* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

body {
  font-size: 14px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container-small {
  padding: 0 35px;
  margin: 0 auto;
  background-image: url(../images/subbg.gif); }

.title {
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 0; }

.footer-nav::after {
  content: '';
  display: table;
  clear: both; }

.welcome p, .news-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

body {
  background-image: url(../images/bg.jpg); }

.bg-header, .bg-footer {
  background-color: #171717;
  width: 100%;
  z-index: -1; }

.bg-header {
  position: absolute;
  top: 0;
  height: 72px; }

body .bg-footer {
  position: relative;
  bottom: 0;
  height: 190px;
  margin-top: -190px; }

#header {
  background-image: url(../images/subbg.gif);
  background-repeat: repeat;
  padding: 35px 0; }

#social {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  #social li {
    padding-right: 10px; }
    #social li:last-child {
      padding-right: 0; }
    #social li:nth-child(1) a {
      width: 27px;
      height: 27px;
      background: url(../images/social.png); }
    #social li:nth-child(1) a:hover {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) 0 27px; }
    #social li:nth-child(2) a {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -37px 0px; }
    #social li:nth-child(2) a:hover {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -37px 27px; }
    #social li:nth-child(3) a {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -74px 0px; }
    #social li:nth-child(3) a:hover {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -74px 27px; }
    #social li:nth-child(4) a {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -111px 0px; }
    #social li:nth-child(4) a:hover {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -111px 27px; }
    #social li:nth-child(5) a {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -150px 0px; }
    #social li:nth-child(5) a:hover {
      width: 27px;
      height: 27px;
      background: url(../images/social.png) -150px 27px; }
    #social li a {
      display: block; }
  @media (max-width: 767.98px) {
    #social {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; } }

#contact {
  text-align: right; }
  @media (max-width: 767.98px) {
    #contact {
      text-align: left;
      font-size: 0.85rem; } }

#nav .nav-link {
  border-right: 0.5px solid #ccc;
  padding: 20px; }
  #nav .nav-link:hover {
    background-color: #81B700;
    color: white; }

.search-bar {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 5px; }

input.search-query {
  border: 1px solid transparent;
  background-color: #f3f3f3; }
  input.search-query:focus {
    outline: none; }

.search-btn {
  border: 1px solid transparent;
  background-color: #f3f3f3; }
  .search-btn img {
    display: inline-block; }
  .search-btn:hover {
    cursor: pointer; }
  .search-btn:focus {
    outline: none; }

@media (max-width: 575.98px) {
  .search-bar {
    width: 200px; }
  input.search-query {
    width: 145px; } }

@media (max-width: 991.98px) {
  #nav .nav-link {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.5rem; } }

.carousel-control-prev1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .carousel-control-prev1 .carousel-control-prev-icon1 {
    display: inline-block;
    width: 40px;
    height: 119px;
    background-image: url(../images/slider_prev.gif); }
    .carousel-control-prev1 .carousel-control-prev-icon1:hover {
      background-position: 0 119px; }

.carousel-control-next1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0; }
  .carousel-control-next1 .carousel-control-next-icon1 {
    display: inline-block;
    width: 40px;
    height: 119px;
    background-image: url(../images/slider_next.gif); }
    .carousel-control-next1 .carousel-control-next-icon1:hover {
      background-position: 0 119px; }

#promote {
  padding-bottom: 50px;
  margin-top: -25px; }

.promote-item {
  background-color: #E8E8E8;
  padding: 25px 35px;
  text-align: center; }
  .promote-item h5 {
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: 25px; }
  .promote-item img {
    padding-bottom: 25px;
    width: 50px; }
  .promote-item p {
    margin-bottom: 25px; }
  .promote-item button {
    background-color: #CECECE;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 2px 15px; }
  .promote-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white; }

#misc {
  padding-bottom: 75px;
  border-bottom: 1px solid #ccc; }
  @media (max-width: 991.98px) {
    #misc h3 {
      font-size: 1.2rem; } }

@media (max-width: 991.98px) {
  .welcome {
    margin-bottom: 15px; } }

.choose-item {
  padding: 15px 0;
  padding-left: 10px;
  border-bottom: 1px solid #E8E8E8; }
  .choose-item:first-child {
    padding-top: 0; }
  .choose-item .arrow {
    color: white;
    font-size: 18px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #DADADA;
    border-radius: 50%; }
  .choose-item p {
    margin-left: 10px; }
  @media (max-width: 991.98px) {
    .choose-item {
      margin-bottom: 15px; } }

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .news-item img {
    max-height: 121px;
    margin-right: 15px; }
    @media (max-width: 991.98px) {
      .news-item img {
        height: auto; } }
    @media (max-width: 575.98px) {
      .news-item img {
        height: 100px; } }
  .news-item .date {
    display: inline-block;
    color: white;
    background-color: #81B700;
    margin-bottom: 25px;
    padding: 5px 10px; }
    @media (max-width: 991.98px) {
      .news-item .date {
        margin-bottom: 25px; } }
    @media (max-width: 575.98px) {
      .news-item .date {
        margin-bottom: 10px; } }

#works {
  padding-top: 50px;
  padding-bottom: 60px; }

#footer {
  background-image: url(../images/subbg.gif);
  padding: 35px 0; }

.dialogue {
  background-color: #E8E8E8;
  padding: 20px;
  position: relative; }
  .dialogue::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid #E8E8E8;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    left: -15px; }

.witness {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .witness img {
    margin-right: 15px; }
  .witness a {
    color: #81B700;
    font-style: italic; }

.touch input, .touch textarea {
  background-color: #E8E8E8;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px; }

.touch input {
  margin-bottom: 10px; }

.touch textarea {
  height: 80px;
  margin-bottom: 15px;
  resize: none; }

.touch .clear {
  background-color: #000;
  border-style: none;
  color: white;
  padding: 5px 10px; }

.touch .send {
  background-color: #81B700;
  border-style: none;
  color: white;
  padding: 5px 10px; }

.flickr .flickr-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px; }
  @media (max-width: 767.98px) {
    .flickr .flickr-images {
      grid-template-columns: repeat(6, 1fr); } }
  @media (max-width: 445px) {
    .flickr .flickr-images {
      grid-template-columns: repeat(4, 1fr); } }

.flickr img {
  display: block; }

.footer-nav::after {
  content: '';
  display: table;
  clear: both; }

.welcome p, .news-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

#copyright-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0; }
  @media (max-width: 991.98px) {
    #copyright-nav {
      display: block;
      text-align: center; } }

.copyright {
  color: #E8E8E8; }
  .copyright a {
    color: #81B700; }

.footer-nav {
  justify-self: end; }
  .footer-nav li {
    float: left; }
    .footer-nav li a {
      color: #E8E8E8;
      padding: 0 10px;
      border-right: 1px solid #ccc; }
      .footer-nav li a:hover {
        color: #81B700; }
  @media (max-width: 991.98px) {
    .footer-nav {
      display: none; } }
