@define-extend header-pa {
  padding-top: 40px;
  padding-bottom: 40px;
}
@define-extend pad-0 {
  padding-left: 0px;
  padding-right: 0px;
}
@define-extend bk-1 {
  background-image: url(../img/crossword.png);
}
@define-extend bk-2{
  background-image: url(../img/footer_lodyas.png);
}
body {
  background-image: url(../img/bk_wood.png);
  /*background-color: #EFBB24;*/
}
.header {
  height: 120px;
  @extend bk-2;
}
.header-place {
  width: 88%;
  .header-row {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
}
.header-left {
  margin-top: 10px;
  padding: 40px 45px;
  @extend pad-0;
  @extend bk-1;
  img {
    margin-top: 3px;
    width: 51px;
    height: 51px;
  }
  li {
    float: left;
  }
  .clear {
    clear: both;
  }
  .li-m {
    margin-left: 20px;
  }
  p {
    font-weight: bold;
    font-size: 30pt;
  }
  span {
    color: #227700;
    display: inline-block;
  }
  .small-p {
    word-spacing: 16px;
  }
  .gre-p {
    color: #227700;
  }
}
.header-right {
  margin-top: 10px;
  padding: 34px 45px;
  @extend bk-1;
  text-align: right;
  ul {
    margin-top: 2px;
  }
  ul li {
    display: inline-block;
  }
  li:hover {
    border-radius: 99em;
    background-color: #000000;
    cursor: pointer;
    /*background-color: #FFFFFF;
  opacity: 0.5;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  p {
    margin-top: 8px;
    display: block;
  }
}
.menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  padding-left: 0px;
  background-color: #FFFFFF;
  ul li {
    float: left;
  }
  a {
    color:#000000;
    text-decoration: none;
  }
  li {
    text-align: center;
    padding: 15px 10px;
    border-right: 1px;
    border-color: #DDDDDD;
    border-style: solid;
  }
  li:hover {
    background-color: #FFDDAA;
  }
}
.search {
  margin-top: 20px;
  padding-right: 0px;
  .search-space {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    height: 46px;
  }
}
@media (max-width:991px) {
  .menu{
    padding-right: 0px;
    text-align: center;
    ul li{
      float: none;
    }
  }
  .search{
    padding-left: 0px;
    padding-bottom: 20px;
  }
.header-left li{
  float:none;
  text-align: center;
}
.header-right{
  margin-top:0px;
  text-align: center;
}
}
