@define-extend pad-0 {
  padding-left: 0px;
  padding-right: 0px;
}
@define-extend bk-1 {
  background-image: url(../img/crossword.png);
}
.picbroder {
  width: 88%;
  padding-top: 0px;
  .picbroder-place {
    padding-top: 0px;
    @extend pad-0;
  }
}
.info {
  width: 88%;
  .info-row {
    @extend bk-1;
    padding-right: 30px;
  }
  .info-place {
    margin-top: -50px;
    padding-left: 30px;
    padding-right: 0px;
  }
  .info-in {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    background-color: #FCFAF2;
    text-align: center;
    h1 {
      padding: 20px 0px;
      font-size: 16pt;
    }
    p {
      padding: 20px 0px;
    }
  }
  .info-in:hover {
    color: #FFFFFF;
    background-color: #89916B;
  }
  .info-button {
    padding-bottom: 30px;
    p {
      display: inline-block;
      cursor: pointer;
      text-align: center;
      background-color: #52433D;
      color: #FFFFFF;
      padding: 10px 20px;
      font-size: 12pt;
    }
    P:hover {
      background-color: #86A697;
      color: #000000;
    }
  }
}
.board {
  @extend bk-1;
  width: 88%;
  .board-row {
    padding-right: 30px;
  }
  .board-place {
    padding-left: 30px;
    h1 {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 16pt;
    }
    img {
      width: 100%;
    }
    p {
      padding-top: 20px;
      font-size: 12pt;
      color: #373C38;
    }
  }
  .info-why {
    td {
      border-bottom: 1px solid #91989F;
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }
  .info-why:hover {
    i {
      background-color: #FFFFFF;
      color: #1B813E;
    }
  }
  .food {
    margin-top: 0px;
    margin-bottom: 10px;
    img {
      width: 140px;
      height: 150px;
    }
    h1 {
      display: inline-block;
      text-align: center;
      margin-left: 10px;
      font-size: 12pt;
      background-color: #DDFF77;
      color: #000000;
      padding: 10px 15px;
    }
    p {
      word-break: break-word;
      margin-left: 10px;
    }
  }
}
.border-title {
  width: 88%;
  @extend bk-1;
  padding-bottom: 20px;
  .title {
    h1 {
      padding-left: 15px;
      font-size: 16pt;
      color: #000000;
    }
  }
}
.border-list {
  width: 88%;
  @extend bk-1;
  .border-row {
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .border-img {
    padding-left: 30px;
    padding-right: 0px;
    position: relative;
    img {
      width: 100%;
    }
    .img-r {
      width: 100%;
      transform: rotate(90deg);
    }
  }

}
@media (max-width:767px) {}
@media (max-width:991px) {
  .info {
    .info-place {
      margin-top: 0px;
    }
  }
  .picbroder{
    .picbroder-row{
          margin-top: 230px;
    }
  }
  .border-list {
    .border-row {
      padding-bottom: 0px;
    }
    .border-img {
      padding-bottom: 30px;
    }
  }
  .soical{
    .soical-space{
      h1{
        padding-top:20px;
      }
    }
  }
}
