/* line 1, ../scss/t6.scss */
body .contact .news th, body .contact .news table th {
  font-size: 15px;
}

/* line 4, ../scss/t6.scss */
.header .banner .bannerbot .bbl ul, body .contact .logo .logotext .logotext1 h1, body .contact .news h1, body .end .endl h1 {
  font-size: 20px;
}

/* line 7, ../scss/t6.scss */
body .contact .foot h1 {
  font-size: 25px;
}

/* line 11, ../scss/t6.scss */
.header .black {
  background-color: black;
  height: 100px;
}
/* line 15, ../scss/t6.scss */
.header .banner {
  background-color: white;
  position: relative;
  top: -70px;
}
/* line 21, ../scss/t6.scss */
.header .banner .bannertop .bannerright {
  height: 100px;
}
/* line 23, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}
/* line 27, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li {
  list-style: none;
}
/* line 29, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li a {
  background: url("../img/social.png") no-repeat;
  display: block;
  width: 32px;
  height: 27px;
}
/* line 35, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(1) a {
  background-position: top left;
}
/* line 37, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(1) a:hover {
  background-position: bottom left;
}
/* line 41, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(2) a {
  background-position: -37px 0;
}
/* line 43, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(2) a:hover {
  background-position: -37px -27px;
}
/* line 47, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(3) a {
  background-position: -74px 0;
}
/* line 49, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(3) a:hover {
  background-position: -74px -27px;
}
/* line 53, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(4) a {
  background-position: -111px 0;
}
/* line 55, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(4) a:hover {
  background-position: -111px -27px;
}
/* line 59, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(5) a {
  background-position: -148px 0;
}
/* line 61, ../scss/t6.scss */
.header .banner .bannertop .bannerright ul li:nth-child(5) a:hover {
  background-position: -148px -27px;
}
/* line 67, ../scss/t6.scss */
.header .banner .bannertop .bannerright p {
  text-align: right;
}
/* line 72, ../scss/t6.scss */
.header .banner .bannerbot {
  margin-top: 20px;
  padding: 0;
}
/* line 76, ../scss/t6.scss */
.header .banner .bannerbot .bbl ul {
  margin: 0;
  background-color: #67514F;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-top: 1%;
}
/* line 85, ../scss/t6.scss */
.header .banner .bannerbot .bbl ul li {
  text-align: center;
}
/* line 87, ../scss/t6.scss */
.header .banner .bannerbot .bbl ul li a {
  color: white;
}
/* line 94, ../scss/t6.scss */
.header .banner .bannerbot .bbr .bbrinput {
  padding: 2%;
  background-color: #67514F;
}
/* line 97, ../scss/t6.scss */
.header .banner .bannerbot .bbr .bbrinput input {
  width: 100%;
}

/* line 105, ../scss/t6.scss */
body {
  padding: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 110, ../scss/t6.scss */
body .contact {
  position: relative;
  top: -70px;
}
/* line 112, ../scss/t6.scss */
body .contact .container {
  background-color: beige;
  padding-bottom: 30px;
}
/* line 115, ../scss/t6.scss */
body .contact .container .photo {
  height: 450px;
  background-image: url("../img/photo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 122, ../scss/t6.scss */
body .contact .logo {
  display: flex;
  flex-wrap: wrap;
}
/* line 125, ../scss/t6.scss */
body .contact .logo .logotext {
  position: relative;
  background-color: white;
  opacity: 0.8;
  top: -40px;
  background-clip: content-box;
  margin-bottom: 2%;
}
/* line 132, ../scss/t6.scss */
body .contact .logo .logotext:hover {
  opacity: 1;
  background-color: #565151;
}
/* line 136, ../scss/t6.scss */
body .contact .logo .logotext .logotext1 {
  text-align: center;
}
/* line 139, ../scss/t6.scss */
body .contact .logo .logotext .logotext1 figcaption {
  padding: 10px 10px 20px;
  line-height: 18px;
}
/* line 143, ../scss/t6.scss */
body .contact .logo .logotext .logotext1 h1 {
  text-align: center;
}
/* line 147, ../scss/t6.scss */
body .contact .logo .logotext .logotext1:hover {
  opacity: 1;
  background-color: #565151;
}
/* line 151, ../scss/t6.scss */
body .contact .logo .logotext .logotext1 button {
  position: absolute;
  border-radius: 4px;
  height: 20px;
  width: 30%;
  bottom: 0;
  left: 35%;
  border: 0;
}
/* line 163, ../scss/t6.scss */
body .contact .news {
  border-bottom: 2px solid;
  border-bottom-color: #A3A092;
}
/* line 173, ../scss/t6.scss */
body .contact .news .day img {
  max-width: 100%;
}
/* line 179, ../scss/t6.scss */
body .contact .news table td .circle {
  margin: 10px 10px 10px 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #000;
}
/* line 195, ../scss/t6.scss */
body .contact .news .hot {
  margin-bottom: 20px;
}
/* line 197, ../scss/t6.scss */
body .contact .news .hot img {
  max-width: 100%;
  margin-bottom: 20px;
}
/* line 200, ../scss/t6.scss */
body .contact .news .hot img h1 {
  margin: 0;
}
/* line 204, ../scss/t6.scss */
body .contact .news .hot .hotr {
  overflow: hidden;
  height: 130px;
}
/* line 207, ../scss/t6.scss */
body .contact .news .hot .hotr h1 {
  margin: 0;
}
/* line 215, ../scss/t6.scss */
body .contact .bot .botimg img {
  max-width: 100%;
}
/* line 220, ../scss/t6.scss */
body .contact .foot {
  margin-top: 20px;
  padding-bottom: 0;
}
/* line 227, ../scss/t6.scss */
body .contact .foot .footerb2 p {
  background-color: rgba(91, 98, 99, 0.45);
  padding: 2%;
  margin: 0;
}
/* line 232, ../scss/t6.scss */
body .contact .foot .footerb2 .tri {
  width: 0;
  border: 10px;
  border-style: solid;
  border-color: rgba(91, 98, 99, 0.45) transparent transparent rgba(91, 98, 99, 0.45);
}
/* line 238, ../scss/t6.scss */
body .contact .foot .footerb2 .man {
  padding-top: 10px;
  display: flex;
}
/* line 241, ../scss/t6.scss */
body .contact .foot .footerb2 .man p {
  background-color: transparent;
}
/* line 244, ../scss/t6.scss */
body .contact .foot .footerb2 .man img {
  height: 50px;
  max-width: 100%;
}
/* line 251, ../scss/t6.scss */
body .contact .foot .footerb3 input {
  width: 100%;
}
/* line 254, ../scss/t6.scss */
body .contact .foot .footerb3 #subcontent {
  height: 100px;
}
/* line 257, ../scss/t6.scss */
body .contact .foot .footerb3 button {
  color: #CF968A;
}
/* line 263, ../scss/t6.scss */
body .contact .foot .footerb4 .pic {
  padding: 0 10px 10px 0;
}
/* line 266, ../scss/t6.scss */
body .contact .foot .footerb4 img {
  max-width: 100%;
}
/* line 272, ../scss/t6.scss */
body .end {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
/* line 277, ../scss/t6.scss */
body .end .endl h1 {
  color: white;
}
/* line 283, ../scss/t6.scss */
body .end .endr ul {
  margin-top: 10px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
/* line 289, ../scss/t6.scss */
body .end .endr ul li a {
  color: white;
}

/* line 297, ../scss/t6.scss */
.bl {
  margin-top: -200px;
  height: 200px;
  background: black;
}
