html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  padding-top: 10px;
  font-family: sans-serif;
  background-image: url("../img/main_bg.jpg");
  background-repeat: repeat;
  position: relative;
}

a {
  color: #80B600;
}

.clear {
  clear: both;
}

* {
  box-sizing: border-box;
}

.hearder-bg {
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #1D1D1D;
  z-index: -1;
}

.wrap {
  width: 95%;
  margin: 0 auto;
  background-color: transparent;
}

.header {
  margin: 0 20px;
  margin-bottom: 10px;
  background-image: url("../img/header_bg.gif");
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.logo {
  float: left;
  padding: 40px 0px 40px 40px;
}

.social {
  float: right;
  padding: 40px 40px 40px 0px;
  height: 53px;
  text-align: right;
}

.social li {
  display: inline-block;
  line-height: 30px;
}

.social a {
  display: block;
  margin: 3px 0px 3px 4px;
  height: 27px;
  width: 27px;
  background-image: url("../img/top_socials.png");
}

.facebook {
  background-position: 0 0;
}

.facebook:hover {
  background-position: 0 -27px;
}

.twitter {
  background-position: -37px 0;
}

.twitter:hover {
  background-position: -37px -27px;
}

.vimeo {
  background-position: -74px 0;
}

.vimeo:hover {
  background-position: -74px -27px;
}

.delicious {
  background-position: -111px 0;
}

.delicious:hover {
  background-position: -111px -27px;
}

.rss {
  background-position: -150px 0;
}

.rss:hover {
  background-position: -150px -27px;
}

.top-menu {
  padding-top: 3px;
  background-image: url("../img/top_menu_bg.png");
  background-color: transparent;
  border: 0px;
  margin: 0 20px;
  margin-top: 30px;
}

.top-menu .navbar-nav {
  min-height: 56px;
}

.top-menu .navbar-nav > li {
  border-right: 1px #eee solid;
}

.top-menu .navbar-nav > li > a {
  color: #000;
  padding: 0 25px;
  line-height: 57px;
  text-transform: uppercase;
}

.top-menu .navbar-nav > li > a:hover {
  color: #fff;
  background: #80B600;
}

.top-menu .navbar-nav .active > a, .top-menu .navbar-nav .active > a:hover, .top-menu .navbar-nav .active > a:active {
  color: #fff;
  background: #80B600;
}

.top-menu .search {
  margin: 10px 15px;
  padding: 7px;
  background-color: #F3F3F3;
  border: 1px #E5E5E5 solid;
  width: 287px;
}

.top-menu .search input {
  float: left;
  border: 0;
  background-color: inherit;
  vertical-align: middle;
  width: 90%;
}

.top-menu .search button {
  float: right;
  background-image: url("../img/search_btn.png");
  border: 0px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.content {
  margin: 0 20px;
  padding-bottom: 40px;
  background-image: url("../img/white_bg.gif");
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.content h2 {
  color: #000;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.slide {
  width: 100%;
  height: 500px;
  background-image: url("../img/cover1.jpg");
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.services {
  margin: 0 20px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.services .block {
  text-align: center;
  background-color: #E7E7E7;
  border: 1px rgba(0, 0, 0, 0.05) solid;
  padding: 30px 43px;
}

.services .block .title {
  font-size: 15px;
  text-transform: uppercase;
}

.services .block .icon {
  margin: 25px 0;
}

.services .block .description {
  margin-bottom: 30px;
}

.services .block .more {
  color: #000;
  padding: 7px 16px;
  background-color: #CDCDCD;
}

.services .block .more:hover {
  background-color: #393939;
  text-decoration: none;
  color: #fff;
}

.services .block:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px #000 solid;
}

.a {
  margin: 0 20px;
  color: #7F7F7F;
}

.a > h2 {
  color: #000;
  padding-left: 13px;
}

.a a {
  color: #000;
}

.a img {
  padding-bottom: 20px;
}

.a .reason {
  font-size: 16px;
  line-height: 70px;
  border-bottom: 1px #D9D9D9 solid;
  background-image: url("../img/h3_plus.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 60px;
}

.a .reason:hover {
  background-image: url("../img/h3_minus.png");
}

.a li {
  list-style: none;
}

.a li .date {
  color: #fff;
  background-color: #80B600;
  padding: 7px 16px;
}

.a li .post-body {
  padding-top: 30px;
}

.line {
  margin: 50px 33px;
  padding: 0px;
  height: 1px;
  width: 100%;
  background-color: #D9D9D9;
}

.footer {
  margin: 80px 20px 0px 20px;
  padding: 40px 30px;
  background-image: url("../img/white_bg.gif");
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

.footer h2 {
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 20px;
}

.footer .dialogue {
  background-color: #E6E6E6;
  border: 1px #D9D9D9 solid;
  border-radius: 3px;
  padding: 16px 18px 16px 24px;
}

.footer .arrow {
  margin-top: -2px;
  background-image: url("../img/testimonials_arrow.png");
  width: 26px;
  height: 15px;
}

.footer .testimony {
  font-size: 14px;
  margin-top: 20px;
}

.footer .testimony .pic {
  float: left;
  padding-right: 15px;
}

.footer input, .footer textarea {
  margin-bottom: 5px;
  background-color: #E6E6E6;
  border: 1px #D9D9D9 solid;
  border-radius: 3px;
  color: #757575;
  padding: 3px;
  padding-left: 6px;
  width: 100%;
}

.footer textarea {
  resize: none;
  margin-bottom: 20px;
}

.footer button {
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 16px;
  color: #fff;
}

.reset {
  background-color: #1C1C1C;
}

.submit {
  background-color: #80B600;
}

.flickr .avatar {
  float: left;
  height: 65px;
  width: 65px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.flickr .avatar img {
  height: 100%;
  width: 100%;
}

.bottom {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 20px;
  color: #939292;
}

.bottom .copyright {
  float: left;
}

.bottom .links {
  float: right;
}

.bottom .links a {
  color: #939292;
}

.bottom .links a:hover {
  color: #80B600;
}

.bottom .links li {
  display: inline-block;
  border-right: 2px #939292     solid;
  padding: 0px 10px;
  margin: 0px;
}

.bottom .links li:nth-last-child(1) {
  border-right: 0;
}

.bottom .links li .active {
  color: #939292;
}

.bottom-bg {
  position: absolute;
  bottom: 0px;
  height: 230px;
  width: 100%;
  background-color: #1D1D1D;
  z-index: -1;
}
