@use "../settings/colors" as color;

footer {
  margin-top: 72px;
}

.footer_list {
  padding: 34px 40px 38px;
  background-color: color.$footer_list-background-color;
}

.footer_item {
  padding: 0;
  font-size: 13px;

  .display-3 {
    margin-bottom: 25px;
  }
}

.footer_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

.footer_nav {
  margin-bottom: 10px;

  .nav {
    display: block;
    font-size: 0;
    text-align: center;


    &-item {
      display: inline-block;
    }
  }
}

.copyright {
  font-size: 14px;

  p {
    margin: 0;
    color: color.$copyright-text-color;
  }
  
  a {
    color: color.$copyright-link-color;
  }
}
