@use "../tools/breakpoint";

main {
  padding: 20px;
  
  @include breakpoint.media-breakpoint-up(md) {
    padding: 0px;
  }

  @include breakpoint.media-breakpoint-up(lg) {

  aside {
    padding-bottom: 44px;
  }
  }
}