@mixin box_shadow {
  box-shadow: 1px 1px 3px 1px rgb(146, 146, 146),-1px -1px 3px 1px rgb(146, 146, 146);
}

@mixin box_shadow_not_bottom {
  box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
}

@mixin box_shadow_both_sides {
  box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px 0 3px 0 rgb(146, 146, 146);
}