
//灰色
$light_grey: #E8E8E8;
$a_bit_lighter_grey: #808080;
$grey: #9D9D9D;
$dark_grey: #171717;

$bit_lighter_grey: #808080;

$bordergrey: #DCDCDC;

//綠色
$main_green: #81B700;

//物件
$linecolor :#C7C7C7;