//base

$text: 13px;

//-------header

$header_menu_list: 14px;

//-------main



$mainbody_title: 30px;
$introduce_text: 14px;


//-------footer

$footer_title: 22px;

//-------copyright

$copyright_text: 14px;