body{
	font-size: 24px;
}

$shadow_color: #929292;

// mixins
$black_color: #171717;

//background
$background_subbg: url(../images/subbg.gif);

//nav
$nav_background_color: #fff;
$hover_background_color: #81b80d;
$hover_font_color: #fff;

//section
$something_font_color: #858585;
$arrowhead_color: #dadada;
$article_title_size: 26px;
$color_green: #81b80d;