ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

button {
  border-style: none;
  background-color: white;
}

@media (min-width: 768px) {
  #header {
    margin: 0 auto;
  }
}

body .header-bg {
  background-color: #000000;
  width: 100%;
  position: absolute;
  z-index: -1;
}

body {
  background-image: url(../images/bg.jpg);
  /* .footer-bg {
      @extend %body-bg-style;
      bottom: 0;
      height: 140px;        
  } */
}
body .header-bg {
  top: 0;
  height: 70px;
}
body .main-bg {
  background: url(../images/subbg.gif);
}

#header {
  margin-top: 6px;
  background: url(../images/subbg.gif);
  padding: 30px;
}
@media (min-width: 768px) {
  #header {
    margin-top: 6px;
  }
}
#header .logo {
  text-align: center;
}
@media (min-width: 768px) {
  #header .logo {
    text-align: left;
  }
}
#header .logo img {
  height: 100%;
}
#header .header-contact {
  text-align: center;
}
@media (min-width: 768px) {
  #header .header-contact {
    text-align: right;
  }
}
#header .header-contact .contact-icon .facebook {
  background: url(../images/social.png) 0 0 no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}
#header .header-contact .contact-icon .facebook:hover {
  background-position-y: -27px;
}
#header .header-contact .contact-icon .tumblr {
  background: url(../images/social.png) -37px 0 no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}
#header .header-contact .contact-icon .tumblr:hover {
  background-position-y: -27px;
}
#header .header-contact .contact-icon .flicker {
  background: url(../images/social.png) -74px 0 no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}
#header .header-contact .contact-icon .flicker:hover {
  background-position-y: -27px;
}
#header .header-contact .contact-icon .dribbble {
  background: url(../images/social.png) -111px 0 no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}
#header .header-contact .contact-icon .dribbble:hover {
  background-position-y: -27px;
}
#header .header-contact .contact-icon .rss {
  background: url(../images/social.png) -150px 0 no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}
#header .header-contact .contact-icon .rss:hover {
  background-position-y: -27px;
}

#navigation {
  margin-top: 30px;
}
#navigation .navbar-light .navbar-toggler {
  border: none;
}
#navigation .navigation {
  width: 100%;
  background-color: #ffffff;
  padding: 0;
}
@media (min-width: 992px) {
  #navigation .navigation {
    width: 66%;
    margin-right: 2%;
  }
}
#navigation .navigation button {
  color: black;
}
#navigation .navigation .nav-item .nav-link {
  color: black;
  padding: 10px 20px;
  line-height: 2;
}
#navigation .navigation .nav-item .nav-link:hover {
  color: white;
  background-color: #8cb437;
}
@media (min-width: 992px) {
  #navigation .navigation .nav-item .nav-link {
    border-right: solid rgba(128, 128, 128, 0.5) 1px;
  }
}
#navigation .navigation .nav-item .dropdown-item {
  color: black;
}
#navigation .navigation .nav-item .dropdown-item:hover {
  color: white;
  background-color: #8cb437;
}
#navigation .search {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
}
@media (min-width: 992px) {
  #navigation .search {
    width: 32%;
  }
}
#navigation .search input {
  width: 100%;
  background: rgba(165, 164, 164, 0.466) url(../images/search.png) right 10px center no-repeat;
  border: 1px solid rgba(128, 128, 128, 0.562);
}

#banner .carousel-control-prev, #banner .carousel-control-next {
  width: 40px;
  height: 119px;
  background: 0 0 no-repeat;
  top: 50%;
  transform: translateY(-50%);
}
#banner .carousel-control-prev:hover, #banner .carousel-control-next:hover {
  background-position-y: -119px;
}

#banner .carousel-control-prev {
  background-image: url(../images/slider_prev.gif);
}
#banner .carousel-control-next {
  background-image: url(../images/slider_next.gif);
}

#main {
  padding: 0 30px;
}
#main #services {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #main #services {
    margin-top: -30px;
  }
}
#main #services .card {
  background-color: #e7e7e7;
}
#main #services .card:hover {
  color: white;
  background-color: #646464;
}
@media (min-width: 768px) {
  #main #services .card {
    height: 100%;
  }
}
#main #services .card .card-body {
  text-align: center;
}
#main #services .card .card-body .card-title {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #main #services .card .card-body {
    padding: 40px 30px;
  }
}
@media (min-width: 768px) {
  #main #services .growth-strategies {
    margin-right: 30px;
  }
  #main #services .partners-programs {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  #main #services .perfect-support {
    margin-right: 30px;
  }
}

#info .welcome img {
  width: 100%;
}
#info .content {
  padding: 20px;
  border-bottom: 1px solid #c1c1c1;
}
#info .content .more-icon {
  float: left;
  margin-right: 5px;
  width: 48px;
  height: 48px;
  background: url(../images/h3_plus.png) no-repeat;
}
#info .content .more-icon:hover {
  background-image: url(../images/h3_minus.png);
}
#info .content::after {
  content: "";
  clear: left;
  display: block;
}

/*# sourceMappingURL=index.css.map */
