header{
  background: url(../img/subbg.gif) repeat;
  padding: 30px;
  .logo {
    text-align: left;
    vertical-align: middle;
  }
  .social {
    text-align: right;
    ul li {
      a {
        background: url(../img/social.png) no-repeat;
        display: block;
        width: 32px;
        height: 27px;
      }
      &:nth-child(1) a{
        background-position: top left;
        &:hover {
          background-position: bottom left;
        }
      }
      &:nth-child(2) a{
        background-position: -37px 0;
        &:hover {
          background-position: -37px -27px;
        }
      }
      &:nth-child(3) a{
        background-position: -74px 0;
        &:hover {
          background-position: -74px -27px;
        }
      }
      &:nth-child(4) a{
        background-position: -111px 0;
        &:hover {
          background-position: -111px -27px;
        }
      }
      &:nth-child(5) a{
        background-position: -148px 0;
        &:hover {
          background-position: -148px -27px;
        }
      }
    }
    p {
      padding: 0 8px;
    }
  }
}

/*=============== RDW ===============*/
  /*----- xs:768↓（480~768） -----*/
@media (max-width:767px){
  header {
    .logo {
      text-align: center;
    }
    .social {
      margin-top: 20px;
      text-align: center;
    }
  }
}

  /*----- sm:768~991 -----*/
@media (min-width:768px) and (max-width:991px){
}

  /*----- md:768~991 -----*/
@media (min-width:992px) and (max-width:1199px){
}

  /*----- lg:768~991 -----*/
@media (min-width:1200px){
}
