main .container {
  padding: 0;
}
.carousel button.carousel-control-prev {
  height: 120px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
}

.carousel button.carousel-control-next {
  height: 120px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
}
