.content {
  &-background {
    padding-top: 110px;
    padding-bottom: 210px;
    background-image: url(../img/bg.jpg);
  }
  &-container {
    // background-image: url(../img/subbg.gif);
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    box-shadow: 0px -3px 15px -5px #000;
    // background-image: url(../img/subbg.gif);
  }
}

.link {
  &-container {
    display: flex;
    // flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    width: 100%;
    border-right: 1px solid #ededed;
    cursor: pointer;
    &:hover {
      background-color: #80b60a;
    }
  }
  &-address {
    color: black;
    line-height: 4em;
    font-family: "Red Hat Display", sans-serif;
    font-size: 17px;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

section {
  width: 80%;
  margin: 0 auto;
}
.carouselImg {
  @include mobile {
    min-height: 15rem;
  }
}
