.featureWork {
  width: 100%;
  padding: 10% 0;
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-imageLink {
    display: inline-block;
    :hover {
      filter: brightness(0.5);
    }
  }
}
