
$main-color: white;
  body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-image: url("../images/bg.jpg");
    header {
      background: black;
      color: white;
      height: 85px;
      margin-bottom: 40px;
      .header_content {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 25px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100px;
        background-color: white;
      }
      .icon-bar {
        text-align: right;
        color: black;
        line-height: 8px;
        ul {
          padding-top: 5px;
          margin-bottom: 10px;
          li {
            display: inline-block;
            margin: 1px;
           }
        }
        p {
          font-size: 13px;
        }
      }
      img:nth-child(0) {
        text-align: left;
      }
    }
    main {
      flex: 1;
      z-index: -1;
      padding-left: 35px;
      padding-right: 35px;
      .navigator {
        background: $main-color;
        padding: 0px;
        box-shadow: 1px -1px 10px rgb(100, 100, 100);
        ul {
          .active {
            background: rgb(116, 176, 0);
            border: rgb(116, 176, 0);
            color: $main-color;
          }
          li {
            font-size: 15px;
            padding: 15px;
            border: 0.5px solid rgb(237, 237, 237);
          }
        }
      }
      .search_line {
        box-shadow: -1px -1px 10px rgb(100, 100, 100);
        .search_input {
          input {
            height: 50px;
            background-color: rgb(240, 240, 240);
            width: 241px;
          }
          margin: 0px;
        }
      }

    }
    footer {
      background: black;
      color: white;
      text-align: center;
    }
  }
