/* line 1, ../sass/footer.scss */
.topfooter {
  background-image: url("../img/subbg.gif");
  margin-top: 100px;
  z-index: 999;
  position: relative;
}
/* line 6, ../sass/footer.scss */
.topfooter .row {
  margin: 10px;
}
/* line 9, ../sass/footer.scss */
.topfooter #fourfooter {
  padding: 20px 10px 10px 10px;
}
/* line 11, ../sass/footer.scss */
.topfooter #fourfooter .row {
  width: 100%;
  margin: 0;
}
/* line 14, ../sass/footer.scss */
.topfooter #fourfooter .row img {
  width: 100%;
}
/* line 18, ../sass/footer.scss */
.topfooter #fourfooter h1 {
  font-size: 20px;
  margin: 10px 0;
}
/* line 22, ../sass/footer.scss */
.topfooter #fourfooter p {
  margin: 10px 0;
  font-size: 14px;
}
/* line 26, ../sass/footer.scss */
.topfooter #fourfooter input {
  margin-bottom: 10px;
  height: 30px;
  text-indent: 8px;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
/* line 35, ../sass/footer.scss */
.topfooter #fourfooter textarea {
  margin-bottom: 10px;
  height: 100px;
  padding-left: 8px;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
/* line 44, ../sass/footer.scss */
.topfooter #fourfooter button {
  padding: 5px 15px;
  border: 1px solid #777;
  border-radius: 4px;
  margin: 5px 0 40px 0;
  color: #fff;
  font-size: 14px;
}
/* line 51, ../sass/footer.scss */
.topfooter #fourfooter button:hover {
  font-size: 16px;
  transition: 1s;
  text-shadow: 2px 2px #686868;
}

/* line 59, ../sass/footer.scss */
#flickr {
  padding: 0 0 5px 5px;
}

/* line 62, ../sass/footer.scss */
.clear {
  background-color: #000;
}

/* line 65, ../sass/footer.scss */
.send {
  background-color: #80b600;
}

/* line 68, ../sass/footer.scss */
.speak {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: justify;
}

/* line 75, ../sass/footer.scss */
.trangle {
  border-color: #e6e6e6 transparent transparent transparent;
  border-style: solid;
  border-width: 25px 40px 0 0;
  border-bottom-left-radius: 5px;
  margin-bottom: 10px;
  width: 0;
  height: 0;
  bottom: 5px;
  position: relative;
}

/* line 86, ../sass/footer.scss */
#men {
  margin: 0;
}
/* line 88, ../sass/footer.scss */
#men #menleft {
  padding: 0;
}
/* line 90, ../sass/footer.scss */
#men #menleft img {
  width: 100%;
}
/* line 95, ../sass/footer.scss */
#men #menright p {
  margin: 0;
  padding: 10px 5px;
}
/* line 99, ../sass/footer.scss */
#men #menright a {
  padding: 0 5px;
  font-style: italic;
  color: #80b600;
}

/* line 106, ../sass/footer.scss */
.author {
  float: left;
}
/* line 108, ../sass/footer.scss */
.author p {
  font-size: 14px;
  color: #7c7c7c;
}
/* line 111, ../sass/footer.scss */
.author p a {
  color: #80b600;
}
/* line 113, ../sass/footer.scss */
.author p a:hover {
  text-decoration: none;
}

/* line 119, ../sass/footer.scss */
.butfooter {
  line-height: 40px;
}
/* line 121, ../sass/footer.scss */
.butfooter ul {
  float: right;
}
/* line 123, ../sass/footer.scss */
.butfooter ul li {
  float: left;
  margin: 0 10px;
  font-size: 14px;
}
/* line 127, ../sass/footer.scss */
.butfooter ul li a {
  color: #7c7c7c;
}
/* line 129, ../sass/footer.scss */
.butfooter ul li a:hover {
  text-decoration: none;
  color: #80b600;
  transition: 0.5s;
  text-shadow: 1px 1px 1px #80b600;
}
