/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/index.scss */
html {
  font-family: sans-serif;
}
/* line 11, ../sass/index.scss */
html .main {
  margin: -75px 0 -80px 0;
}

/* line 15, ../sass/index.scss */
.black {
  background-color: #171717;
  height: 80px;
}

/* line 19, ../sass/index.scss */
body {
  background-image: url("../img/bg.jpg");
}

/* line 22, ../sass/index.scss */
.buttonblack {
  background-color: #171717;
  height: 150px;
  background-position: bottom;
}

/* line 27, ../sass/index.scss */
#bannerbar {
  background-image: url("../img/subbg.gif");
  padding: 0px;
}
/* line 30, ../sass/index.scss */
#bannerbar #bannerimg {
  width: 100%;
}

/* line 34, ../sass/index.scss */
#support {
  margin: -50px 15px 30px 15px;
}

/* line 38, ../sass/index.scss */
#box {
  padding: 40px 30px;
  background-color: #e7e7e7;
  text-align: center;
  height: 400px;
}
/* line 43, ../sass/index.scss */
#box:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: 1s;
}
/* line 48, ../sass/index.scss */
#box h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}
/* line 53, ../sass/index.scss */
#box img {
  margin: 20px;
}
/* line 56, ../sass/index.scss */
#box p {
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 60, ../sass/index.scss */
#box button {
  position: absolute;
  bottom: 30px;
  left: 40%;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: bold;
}

/* line 71, ../sass/index.scss */
#inform {
  padding: 40px;
  margin: 30px 10px;
  border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}
/* line 75, ../sass/index.scss */
#inform #information {
  padding: 20px;
}
/* line 77, ../sass/index.scss */
#inform #information h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}
/* line 82, ../sass/index.scss */
#inform #information h2 {
  background-color: #80b600;
  width: 90px;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  margin: 0;
}
/* line 90, ../sass/index.scss */
#inform #information img {
  width: 100%;
}
/* line 93, ../sass/index.scss */
#inform #information p {
  padding: 10px;
  font-size: 14px;
  color: #7f7f7f;
  line-height: 20px;
}
/* line 99, ../sass/index.scss */
#inform #information a {
  color: #000;
}
/* line 101, ../sass/index.scss */
#inform #information a:hover {
  text-decoration: none;
  font-weight: bold;
}
/* line 106, ../sass/index.scss */
#inform #information .choose {
  border-bottom: 1px #7f7f7f solid;
  padding: 0;
}
/* line 109, ../sass/index.scss */
#inform #information .choose .chooseicon {
  background-color: #D9D9D9;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 8px;
  display: inline-block;
}
/* line 116, ../sass/index.scss */
#inform #information .choose .chooseicon p {
  color: #fff;
  font-size: 2em;
  text-align: center;
  line-height: 30px;
  margin: 0;
}
/* line 124, ../sass/index.scss */
#inform #information .choose .choosetext {
  width: 200px;
  line-height: 40px;
  display: inline-block;
}
/* line 128, ../sass/index.scss */
#inform #information .choose .choosetext p {
  padding: 20px 0;
}

/* line 135, ../sass/index.scss */
#text {
  padding: 0;
}

/* line 138, ../sass/index.scss */
#feature {
  margin: 0 20px 30px 20px;
  padding-bottom: 30px;
}
/* line 141, ../sass/index.scss */
#feature h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
/* line 147, ../sass/index.scss */
#feature #featureimg img {
  width: 100%;
}

@media (max-width: 767px) {
  /* line 155, ../sass/index.scss */
  #box {
    margin-bottom: 20px;
  }
  /* line 157, ../sass/index.scss */
  #box button {
    left: 43%;
  }
}
