// color
$color-primary: rgb(140,181,54); //主色：綠色
$color-title: rgb(0,0,0); //標題顏色：黑色
$color-text: rgb(127,127,127); //內文顏色：灰色
$color-gary: rgb(231,231,231); // 灰色
$button-primary:rgb(181,181,181); //按鈕色

//breakpoints
$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;
$layout-breakpoint-xxl: 1400px;

body {
    min-width: 375px;
    background: url("../images/bg.jpg") repeat-x top 6rem center / 30% 80%, black;
}

* {
    // outline: 1px solid red;
}