.footer-vdivider
  height: $mainHeightUnit * 0.2
  width: 1px
  padding: 0
  // margin: 0
  background-color: $textColor-darkgray

#footer
  text-transform: uppercase
  padding: 0
  ul
    display: inline-block
    list-style-type: none
    padding: 2% 0
    margin: 0
    li
      float: left
      margin: 0 3px

.footerNavBar
  > li > a
    color: $textColor-darkgray

.footerNavBar
  > li
    > a:hover
      text-decoration: none
      color: $buttonColor-green

.footerNavBar
  > .active > a, > .active > a:hover, .active > a:focus
    color: $buttonColor-green


#pageSelector
  float: right
#statement
  float: left
