.imagelink:hover
  opacity: 0.5

#header
  img
    float: left
    max-width: 90%
    max-height: auto
    margin: 2.5% 3%

#linklist
  float: right
  padding: 0
  max-width: 90%
  margin: 2.5% 2%
  // background-color: $testBGColor2
  ul
    padding: 0
    display: inline-block
    float: right
    list-style-type: none
    margin: 0
  p
    clear: both
    text-align: right

  li
    margin: 0 auto
    padding: 0
    width: 3em
    height: 3em
    float: right
    img
      max-width: 100%
      height: auto
