$heightScale-bp4: 1.8/1.3 * $mainHeightUnit / 2
$heightScale-bp2: 1.6/1.3 * $mainHeightUnit / 2

$lg-mainContainerHeight: $mainContainerHeight + $centerBlocksHeight
$lg-centerBlocksHeight: $centerBlocksHeight * 2
$lg-heightDiff: $centerBlocksHeight
$lg-bgHeight: $backgroundHeight + $lg-heightDiff
$lg-backgroundImageLayerHeight: $lg-bgHeight * 0.9
@media only screen and (max-width: $bs-bp-lg)
  #background
    height: $lg-bgHeight
  #backgroundImageLayer
    height: $lg-backgroundImageLayerHeight
  #mainContainer
    height: $lg-mainContainerHeight
  .centerBlocks
    height: $lg-centerBlocksHeight
  .centerBlockDiv
    height: 50%
  #footer
    margin-top: 2.3em

$bp6-mainContainerHeight: $lg-mainContainerHeight - $mainFrontImageBlockHeight * 2.2 / 5.2 - $lg-centerBlocksHeight * 1.6 / 3.1
$bp6-mainFrontImageBlockHeight: $mainFrontImageBlockHeight * 3 / 5.2
$bp6-centerBlocksHeight: $lg-centerBlocksHeight * 1.5 / 3.1
$bp6-heightDiff: $bp6-mainContainerHeight - $lg-mainContainerHeight - 2em
$bp6-bgHeight: $lg-bgHeight + $bp6-heightDiff
$bp6-backgroundImageLayerHeight: $bp6-bgHeight * 0.9
@media only screen and (max-width: $bp-6)
  #background
    height: $bp6-bgHeight
  #backgroundImageLayer
    height: $bp6-backgroundImageLayerHeight
  #topNavBar
    width: 100%
  #searchBar
    width: 70%
    margin-top: 0
    font-size: 100%
    align-self: right
  #mainContainer
    height: $bp6-mainContainerHeight
  #mainFrontImageBlock
    max-height: $bp6-mainFrontImageBlockHeight
  .centerBlocks
    height: $bp6-centerBlocksHeight
  .centerBlockDiv
    height: 50%
    div
      padding: 2%
    img
      float: left
      margin: 0 auto
      height: 40%
      width: 15%
    button
      margin-top: 2%
      height: 20%
      width: 20%
  .newsEventBlocks
    img
      margin: 1%
      margin-left: 3%
      width: 20%
      height: 90%
    #newsText
      width: 75%
      margin-top: 1%

$bp5-mainFrontImageBlockHeight: $bp6-mainFrontImageBlockHeight
$bp5-centerBlocksHeight: $bp6-centerBlocksHeight
$bp5-bottomBlocksHeight: $bottomBlocksHeight * 2
$bp5-mainContainerHeight: $bp6-mainContainerHeight + $bottomBlocksHeight + $featureWorksHeight * 1.8
$bp5-subContainerHeight: $subContainerHeight * 1.7
$bp5-footerHeight: $footerHeight * 1.6
$bp5-heightDiff: $bottomBlocksHeight + ($bp5-mainContainerHeight - $bp6-mainContainerHeight)
$bp5-bgHeight: $bp6-bgHeight + $bp5-heightDiff
$bp5-backgroundImageLayerHeight: $bp5-bgHeight * 0.9
@media only screen and (max-width: $bp-5)
  #background
    height: $bp5-bgHeight
  #backgroundImageLayer
    height: $bp5-backgroundImageLayerHeight
  .centerBlocks
    height: $bp5-centerBlocksHeight
  .centerBlockDiv
    height: 50%
    button
      margin-top: 1%
  .bottomBlocks
    height: $bp5-bottomBlocksHeight
    margin-top: 0
  .bottomBlockDiv
    height: 50%
  .newsEventBlocks
    #newsText
      #dateDiv
        width: 30%
  #subContainer
    margin-top: 0
    height: $bp5-subContainerHeight
  .subCDiv
    padding: 0
  #footer
    margin-top: 0
    height: $bp5-footerHeight

$bp4-headerHeight: $headerHeight * 1.8/1.3
$bp4-mainFrontImageBlockHeight: $bp5-mainFrontImageBlockHeight
$bp4-centerBlocksHeight: $bp5-centerBlocksHeight
$bp4-bottomBlocksHeight: $bp5-bottomBlocksHeight
$bp4-mainContainerHeight: $bp5-mainContainerHeight
$bp4-subContainerHeight: $bp5-subContainerHeight
$bp4-footerHeight: $bp5-footerHeight * 0.9
$bp4-heightDiff: 0
$bp4-bgHeight: $bp5-bgHeight + $bp4-heightDiff
$bp4-backgroundImageLayerHeight: $bp4-bgHeight * 0.9
@media only screen and (max-width: $bp-4)
  #background
    height: $bp4-bgHeight
  #backgroundImageLayer
    height: $bp4-backgroundImageLayerHeight
  #header
    height: $bp4-headerHeight
  .featureWorks
    font-size: 90%
  #imgRollSelector
    width: 5%
    margin: -6% 0 0 0
  #footer
    height: $bp4-footerHeight

$sm-headerHeight: $bp4-headerHeight
$sm-mainFrontImageBlockHeight: $bp4-mainFrontImageBlockHeight
$sm-centerBlocksHeight: $bp4-centerBlocksHeight
$sm-bottomBlocksHeight: $bp4-bottomBlocksHeight * 2.8 / 2
$sm-featureWorksHeight: $featureWorksHeight
$sm-mainContainerHeight: $bp4-mainContainerHeight + $bp4-bottomBlocksHeight * 0.2
$sm-subContainerHeight: $bp4-subContainerHeight
$sm-footerHeight: $bp4-footerHeight
$sm-heightDiff: ($sm-mainContainerHeight - $bp4-mainContainerHeight) + 0.5em
$sm-bgHeight: $bp4-bgHeight + $sm-heightDiff
$sm-backgroundImageLayerHeight: $sm-bgHeight * 0.9
@media only screen and (max-width: $bs-bp-sm)
  #background
    height: $sm-bgHeight
  #backgroundImageLayer
    height: $sm-backgroundImageLayerHeight

  #searchBar
    width: 100%
    margin-top: 0
    font-size: 100%
    align-self: center
  #mainContainer
    height: $sm-mainContainerHeight
  .bottomBlocks
    height: $sm-bottomBlocksHeight
  .bottomBlockDiv
    height: 30%
  .bbdivText
    padding: 1%
    p
      margin-top: 3%
    img
      width: 8%
      height: 80%
  .newsEventBlocks
    margin-top: 5%
    height: 48%
  .featureWorks
    font-size: 80%
    height: $sm-featureWorksHeight
  .hr-style1
    margin-bottom: 12%
  #imgRollSelector
    width: 5%
    margin: -5% 0 0 0
  #footer
    font-size: 80%

$bp2-headerHeight: $sm-headerHeight * 1.6 / 1.8 * 1.3
$bp2-mainFrontImageBlockHeight: $sm-mainFrontImageBlockHeight * 1.5
$bp2-centerBlocksHeight: $sm-centerBlocksHeight
$bp2-bottomBlocksHeight: $sm-bottomBlocksHeight
$bp2-featureWorksHeight: $sm-featureWorksHeight
$bp2-mainContainerHeight: $sm-mainContainerHeight + $sm-mainFrontImageBlockHeight /2
$bp2-subContainerHeight: $sm-subContainerHeight
$bp2-footerHeight: $sm-footerHeight
$bp2-heightDiff: ($bp2-headerHeight - $sm-headerHeight) + ($bp2-mainContainerHeight - $sm-mainContainerHeight)
$bp2-bgHeight: $sm-bgHeight + $bp2-heightDiff
@media only screen and (max-width: $bp-2)
  #background
    height: $bp2-bgHeight
  #mainContainer
    height: $bp2-mainContainerHeight
  #header
    height: $bp2-headerHeight
  #mainFrontImageBlock
    max-height: $bp2-mainFrontImageBlockHeight
  .featureWorks
    font-size: 70%
  .centerBlockDiv
    button
      margin-top: 0
  .hr-style1
    margin-bottom: 25%
