#searchBar
  > input
    width: 95%
    height: 85%
    margin-top: 1.2%
    margin-left: 2%
    background-color: #E6E6E6
    color: #A4A4A4
    font-size: 110%

#searchText
  background-image: url("../images/search.png")
  background-repeat: no-repeat
  background-position: right
