.subCDiv
  height: 100%
  // background-color: $testBGColor1
  padding: 2% 1% 0 1%
  h4
    text-transform: uppercase

.subCDivBlock
  margin: 1% auto
  // background-color: $testBGColor3

// sub-div 2
#testimonial
  width: 98%
  padding: 8% 8% 4%
  background-color: #F2F2F2
  +border-radius(6px)
  p
    line-height: 98%
    font-size: 90%
    color: $textColor-darkgray

#personData
  img
    float: left
    margin-top: 10%
    width: 20%
    height: 20%
  p
    font-size: 80%
    float: left
    margin-left: 5%
    margin-top: 13%

// sub-div 3
.singleline-input
  height: 13%
  margin-bottom: 1%
#inputTextArea
  margin-bottom: 10%
.inputButtonStyle
  color: #FFFFFF
  text-transform: uppercase
  border-width: 0
#clearButton
  background-color: #000000
#sendButton
  background-color: #3ADF00

// sub-div 4
.tableDiv
  width: 100%
  height: 70%
  // background-color: $testBGColor2
  > table
    width: 100%
    height: 100%
    // background-color: $testBGColor1
    td
      img
        margin: 0 auto
        width: 90%
        height: 50%
