.container-fluid
  padding: 0
  margin: 0

.navbar-collapse
  padding: 0
  margin: 0

.customTopNavBar
  height: 100%
  border-width: 0
  padding: 0
  font-size: 130%
  text-transform: uppercase

.customTopNavBar
  background-color: #FFFFFF


.customTopNavBar .navbar-nav
  > li > a
    color: #1C1C1C
    line-height: 125%
    height: 100%

.customTopNavBar .navbar-nav
  > li
    > a:hover
      color: #FFFFFF
      background: #86B404

.customTopNavBar .navbar-nav
  > .active > a, > .active > a:hover, .active > a:focus
    color: #FFFFFF
    background-color: #86B404

.divider-vertical
  height: $topNavBarHeight * 0.7
  width: 2px
  padding: 0
  margin: 2px 0 0
  // margin: 0
  background-color: #F2F2F2

.icon-bar
  background-color: #86B404
