// break points
$bp-1: 320px
$bp-2: 480px
$bs-bp-sm: 768px
$bp-3:780px
$bp-4: 812px
$bp-5: 990px
$bs-bp-md: 992px
$bp-6: 1000px
$bs-bp-lg: 1200px

$backgroundWidth: 100%
$mainWidth: 80%
$mainHeightUnit: 7em
/* main theme section heights */

$headerHeight: $mainHeightUnit * 1.3
$topNavBarHeight: $mainHeightUnit * 0.55
$searchBarHeight: $mainHeightUnit * 0.55
// main container
$mainContainerHeight: $mainHeightUnit * 14.6
$mainFrontImageBlockHeight: $mainHeightUnit * 5.2
$centerBlocksHeight: $mainHeightUnit * 3.1
$bottomBlocksHeight: $mainHeightUnit * 3.5
$featureWorksHeight: $mainHeightUnit * 2.2
// sub container
$subContainerHeight: $mainHeightUnit * 3
$footerHeight: $mainHeightUnit * 0.6

$backgroundHeight: $mainHeightUnit * 20.6
$backgroundImageLayerHeight: $backgroundHeight * 0.9

$backgroundColor: #000000  // for background
$borderColor: #A4A4A4
$boxShadowColor: #BDBDBD

$textColor-lightgray: #BDBDBD
$textColor-darkgray: #6E6E6E
$buttonColor-green: #86B404

$testBGColor1: #6E6E6E  // for layout/design
$testBGColor2: #9AFE2E  // for layout/design
$testBGColor3: #FFFF00
