.icon-pic a {
  display: inline-block;
  width: 30px;
  height: 27px;
  background: #FFF url(../img/social.png); }
  .icon-pic a:nth-child(1) {
    background-position: 0 0; }
  .icon-pic a:nth-child(2) {
    background-position: -37px 0; }
  .icon-pic a:nth-child(3) {
    background-position: -74px 0; }
  .icon-pic a:nth-child(4) {
    background-position: -111px 0; }
  .icon-pic a:nth-child(5) {
    background-position: -147px 0; }
