@import "./modules/normalize.scss";
@import "./modules/variables-color.scss";
@import "./modules/variables-width.scss";
@import "./modules/mixin-mediaquery.scss";
@import "./modules/_extendclass.scss";
.content{
  background-image: url("../img/bg.jpg");
  padding: 190px 0 300px;
  @include mediaquery_minipad{
    padding-top: 130px;
  }
  &__container{
    @extend%container--fixed;
    background-image: url("../img/subbg.gif");
    padding-bottom: 90px;
  }
}
