@import "./modules/normalize.scss";
@import "./modules/variables-color.scss";
@import "./modules/variables-width.scss";
@import "./modules/mixin-mediaquery.scss";
@import "./modules/_extendclass.scss";
header {
   background-color: black;
   padding-top: 110px;
   position: relative;
}
.header__container {
   @extend%container--fixed;
   padding: 47px 50px 40px;
   background-image: url("../img/subbg.gif");
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   @include mediaquery_minipad{
     justify-content: space-between;
     flex-direction:row;
     align-items: stretch;
   }
}
.header__logo {
   width: 90%;
   margin-bottom: 20px;
   @include mediaquery_minipad{
     width: 50%;
     margin-bottom: 0px;
   }
   @include mediaquery_pc{
     width: 28%;
   }
   img {
      height: 100%;
      width: 100%;
   }
}
.header__contact {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__icons {
      text-align: right;
      a {
         display: inline-block;
         width: 28px;
         height: 27px;
         background-image: url("../img/social.png");
         margin-left: 10px;
         &:nth-child(2) {
            background-position-x: -37px;
         }
         &:nth-child(3) {
            background-position-x: -74px;
         }
         &:nth-child(4) {
            background-position-x: -110px;
         }
         &:nth-child(5) {
            background-position-x: -149px;
         }
         &:hover {
            background-position-y: -27.5px;
         }
      }
   }
   &__phone{
     text-align: right;
     font-size: 14px;
     @include mediaquery_phone{
       font-size: 18px;
     }
   }
}
