h1, ul, p {
  margin: 0; }

ul {
  padding: 0; }

header .header_nav {
  margin: 0 -15px; }

body {
  background: url("./img/bg.jpg");
  font-family: Arial, Helvetica, sans-serif; }
  body .header_background {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: -1; }

header {
  position: relative;
  margin-top: 10px; }
  header .header_content {
    background: url("./img/bg2.gif"); }
  header .header_social ul li {
    list-style: none; }
  header .header_social ul li + li {
    margin-left: 5px; }
  header .fb {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("./img/icon1.png") 0 0; }
  header .twitter {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("./img/icon1.png") 140px 0; }
  header .flickr {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("./img/icon1.png") 103px 0; }
  header .dribble {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("./img/icon1.png") 66px 0; }
  header .rss {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("./img/icon1.png") 27px 0; }
  header .header_nav li {
    border-right: 1px solid #e1e1e1;
    padding: 8px; }
    header .header_nav li a {
      color: black !important; }
  header .search {
    border-left: 1px solid #e1e1e1; }
    header .search input {
      width: 250px;
      height: 35px;
      border: 1px solid #CDCDCD;
      padding: 5px;
      background: url("./img/search.png") no-repeat 215px 5px #E6E6E6; }
