@use '../utilities/mediaquery';
@use '../theme/color';

.service {

    @include mediaquery.pad{
        margin-top: -45px;
    }

}

.service_card {

    margin-top: 20px
    
}

.service_introduce {

    display: flex;
    flex-direction: column; 
    align-items: center;

    height: 100%;

    outline: 1px solid color.$bordergrey;
    background-color: color.$light_grey;

    padding: 40px 25px 15px;
    text-align: center;

    h2 {
        font-size: 25px;

        @include mediaquery.pad{
        font-size: 19px;
        }

    }

    &:hover {
        background-color: rgba(23,23,23,0.7);
        outline: none;

        h2,p {
            color: white;
        }
    }

}

.service_icon {
    margin: 25px 0;
}

.read_more_button {
    background-color: #CECECE;

    margin-top: auto;

    padding: 5px 10px;

    color: color.$dark_grey;

    &:hover {
        color: color.$dark_grey;
        text-decoration: none;
    }
    
}