@use '../theme/color';
@use '../utilities/mediaquery';


.user {
    margin-top: 40px;
    display: flex;

    @include mediaquery.phone_horizontal{
        display: block;
        flex: 0 0 30%;
        margin-top: 0;
        margin-right: 50px;
    }

    @include mediaquery.pad{
        display: flex;
        margin-top: 40px;
        margin-right: 0;
    
    }

    img {
        width: 100%;
        flex: 0 0 30%;

        object-fit: contain;
        object-position: top;

        margin-right: 20px;
    }

    .user_profile {

        p {
            font-size: 18px;
            color: color.$darkgrey;
            margin-bottom: 5px;
        }

        a {
            color: color.$main_green;
            font-style: italic;
            font-size: 16px;
        }

    }
  }
