%service_title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

$content-size: 12px;

%intro_title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

%footer_title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
