#features
  @extend .mainWidth
#features-detail
  @extend #card-list
  padding-top: 44px
  padding-bottom: 70px
  h2
    margin-bottom: 15px
#pic-select
  position: relative
  span
    position: absolute
    left: 96%
    top: 50%
    color: #CFCFCF
