.main__carousel .carousel-item {
  height: 300px;
}
.main__carousel .carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: right center;
}
@media (min-width: 576px) {
  .main__carousel .carousel-item {
    height: auto;
  }
  .main__carousel .carousel-item img {
    height: auto;
    object-fit: initial;
    object-position: initial;
  }
}
.main__carousel .carousel-control-prev {
  width: initial;
}
.main__carousel .carousel-control-next {
  width: initial;
}

.main .main__carousel .carousel-control-next .carousel-control-next-icon:hover, .main .main__carousel .carousel-control-next .carousel-control-next-icon, .main .main__carousel .carousel-control-prev .carousel-control-prev-icon:hover, .main .main__carousel .carousel-control-prev .carousel-control-prev-icon {
  width: 40px;
  height: 119px;
}

.main .main__carousel .carousel-control-prev .carousel-control-prev-icon {
  background: url("../images/slider_prev.gif") no-repeat 0 0px;
}
.main .main__carousel .carousel-control-prev .carousel-control-prev-icon:hover {
  background: url("../images/slider_prev.gif") no-repeat 0 -119px;
}

.main .main__carousel .carousel-control-next .carousel-control-next-icon {
  background: url("../images/slider_next.gif") no-repeat 0 0px;
}
.main .main__carousel .carousel-control-next .carousel-control-next-icon:hover {
  background: url("../images/slider_next.gif") no-repeat 0 -119px;
}

.swiper-buttons button {
  padding: 2px;
  background-color: transparent;
  border: 1px solid transparent;
}
.swiper-buttons i {
  color: #CECDCD;
  font-size: 16px;
}

.swiper .swiper-slide {
  position: relative;
  overflow: hidden;
}
.swiper .swiper-slide .swiper__image_box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -25%;
  right: -25%;
  background-color: #0f0f0f;
  opacity: 0;
}
.swiper .swiper-slide .swiper__image_box__text p {
  color: white;
  text-transform: capitalize;
}
.swiper .swiper-slide .swiper__image_box__text a {
  color: rgb(129, 184, 0);
}
.swiper .swiper-slide:hover .swiper__image_box__text {
  opacity: 0.7;
  transition: 0.4s;
  top: 0;
  bottom: 0;
}

.button--primary {
  padding: 2px 10px;
  font-size: 14px;
  color: white;
  background-color: rgb(129, 184, 0);
  text-transform: uppercase;
  border: 1px transparent solid;
}
.button--primary:active {
  box-shadow: 0.5px 0.5px 1px 0.5px #808080;
  transform: translate(1px, 1px);
}

.button--dark {
  padding: 2px 10px;
  font-size: 14px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: 1px transparent solid;
}
.button--dark:active {
  box-shadow: 0.5px 0.5px 1px 0.5px #808080;
  transform: translate(1px, 1px);
}

.round-button--gray {
  margin-right: 10px;
  font-size: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D7D4D4;
  border: 1px transparent solid;
}
.round-button--gray:hover {
  background-color: rgb(129, 184, 0);
}
.round-button--gray i {
  color: white;
}

.card--gray {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: #E5E5E5;
}
.card--gray:hover {
  background-color: rgba(58, 58, 58, 0.7);
  color: white;
}
.card--gray__title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.card--gray__image-box a {
  display: inline-block;
}
.card--gray__text {
  margin: 0;
  font-size: 14px;
}
.card--gray__button {
  margin-top: auto;
  padding: 3px 15px;
  font-size: 14px;
  color: black;
  background-color: #CECDCD;
  border: 1px solid transparent;
}
.card--gray__button:hover {
  color: black;
}
.card--gray__button:active {
  color: black;
  box-shadow: 0.5px 0.5px 1px 0.5px #434242;
  transform: translate(1px, 1px);
}

.search {
  display: flex;
  height: 100%;
  border: 1px solid #CECDCD;
  background-color: #EAEAEA;
}
.search__input {
  width: 100%;
  padding: 0 5px;
  border: 0;
  background-color: #EAEAEA;
}
.search__input::placeholder {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #9A9A9A;
}
.search__input:focus-visible {
  outline: 2px rgb(129, 184, 0) solid;
}
.search__input::-webkit-search-cancel-button {
  display: none;
}
.search__button {
  color: #808080;
  background: transparent;
  border: 1px transparent;
}

.input {
  padding: 0 5px;
  color: gray;
  text-transform: capitalize;
  background-color: #E5E5E5;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 2px;
}
.input:focus-visible {
  outline: 1px rgb(129, 184, 0) solid;
}

.main__content .info .history__body__text a, .main__content .info .news__body__list__text a {
  color: black;
  font-size: 14px;
  text-transform: capitalize;
}
.main__content .info .history__body__text a:hover, .main__content .info .news__body__list__text a:hover {
  color: rgb(129, 184, 0);
}
.main__content .info .history__body__text a::before, .main__content .info .news__body__list__text a::before {
  content: "... ";
  color: rgb(126, 125, 125);
}
.main__content .info .history__body__text a::before:hover, .main__content .info .news__body__list__text a::before:hover {
  color: black;
}

.media-group--dark__icon__facebook {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.media-group--dark__icon__facebook:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 -27px;
}
.media-group--dark__icon__twitter {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.media-group--dark__icon__twitter:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px -27px;
}
.media-group--dark__icon__about {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.media-group--dark__icon__about:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px -27px;
}
.media-group--dark__icon__baseball {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.media-group--dark__icon__baseball:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px -27px;
}
.media-group--dark__icon__bluetooth {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.media-group--dark__icon__bluetooth:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px -27px;
}
.media-group--dark__contact {
  text-transform: capitalize;
}
.media-group--dark__contact p {
  margin: 0%;
  font-size: 14px;
}
.media-group--dark__contact p a {
  color: black;
}
.media-group--dark__contact p a:hover {
  color: rgb(129, 184, 0);
}

.media-group--primary__icon__facebook {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 -27px;
}
.media-group--primary__icon__facebook:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.media-group--primary__icon__twitter {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px -27px;
}
.media-group--primary__icon__twitter:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.media-group--primary__icon__about {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px -27px;
}
.media-group--primary__icon__about:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.media-group--primary__icon__baseball {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px -27px;
}
.media-group--primary__icon__baseball:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.media-group--primary__icon__bluetooth {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px -27px;
}
.media-group--primary__icon__bluetooth:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.media-group--primary__contact {
  text-transform: capitalize;
}
.media-group--primary__contact p {
  margin: 0%;
  font-size: 14px;
}
.media-group--primary__contact p a {
  color: rgb(129, 184, 0);
}
.media-group--primary__contact p a:hover {
  color: black;
}

.flickr__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.flickr__gallery a:hover {
  opacity: 0.8;
}
.flickr__gallery a img {
  width: 100%;
}

.quote {
  filter: drop-shadow(1px 0 0 #CECDCD) drop-shadow(0 1px 0 #CECDCD) drop-shadow(-1px 0 0 #CECDCD) drop-shadow(0 -1px 0 #CECDCD);
}
.quote-body {
  padding: 20px;
  border-radius: 1px;
  background-color: #E5E5E5;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 84%, 0 71%, 0 39%);
}
.quote-text {
  padding-bottom: 30px;
}

.label--primary {
  padding: 2px 10px;
  color: white;
  border: 1px transparent solid;
  background-color: rgb(129, 184, 0);
}

a {
  text-decoration: none;
}

.footer {
  margin-top: 70px;
  background-image: url("../images/subbg.gif");
}
.footer__information {
  padding: 40px;
  box-shadow: 2px -1px 3px 0 #9A9A9A, -2px -1px 3px 0 #9A9A9A;
}
.footer__information .detail .col-lg-3:nth-of-type(2) {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__information .detail .col-lg-3:nth-of-type(2) {
    margin-top: 0;
  }
}
.footer__information .detail .col-lg-3:nth-of-type(3), .footer__information .detail .col-lg-3:nth-of-type(4) {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__information .detail .col-lg-3:nth-of-type(3), .footer__information .detail .col-lg-3:nth-of-type(4) {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .footer__information .detail .col-lg-3:nth-of-type(3), .footer__information .detail .col-lg-3:nth-of-type(4) {
    margin-top: 0;
  }
}
.footer__information .detail .post h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__information .detail .post h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.footer__information .detail .witness h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__information .detail .witness h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.footer__information .detail .witness__people {
  display: flex;
  gap: 10px;
}
.footer__information .detail .witness__people__text p {
  margin: 0;
  text-transform: capitalize;
}
.footer__information .detail .witness__people__text a {
  color: rgb(129, 184, 0);
  font-style: italic;
}
.footer__information .detail .witness__people__text a:hover {
  color: black;
}
.footer__information .detail .contact h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__information .detail .contact h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.footer__information .detail .contact__form input + input {
  margin: 5px 0;
}
.footer__information .detail .contact__form__list textarea {
  resize: none;
}
.footer__information .detail .flickr h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__information .detail .flickr h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.footer__contact {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #595858;
  background-color: rgb(21, 21, 21);
}
@media (min-width: 992px) {
  .footer__contact {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contact__copyright p {
  margin: 0;
  text-transform: uppercase;
}
.footer__contact__copyright a {
  text-transform: lowercase;
  color: rgb(129, 184, 0);
}
.footer__contact__copyright a:hover {
  color: white;
}
.footer__contact__nav {
  display: none;
}
@media (min-width: 768px) {
  .footer__contact__nav {
    display: flex;
  }
}
.footer__contact__nav .nav-item:not(:last-of-type) {
  border-right: 2px #808080 solid;
}
.footer__contact__nav .nav-item .nav-link {
  padding: 0 10px;
  text-transform: uppercase;
}
.footer__contact .media-group--primary {
  display: block;
}
@media (min-width: 768px) {
  .footer__contact .media-group--primary {
    display: none;
  }
}
.footer__contact .media-group--primary__icon {
  text-align: center;
}
@media (min-width: 992px) {
  .footer__contact .media-group--primary__icon {
    text-align: right;
    padding: 0;
  }
}

.footer__contact__nav .nav .nav-item .nav-link {
  color: #626262;
}
.footer__contact__nav .nav .nav-item .nav-link:hover {
  color: white;
}

.footer__contact__nav .nav .nav-item .nav-link.active {
  color: rgb(129, 184, 0);
}
.footer__contact__nav .nav .nav-item .nav-link.active:hover {
  color: white;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/subbg.gif");
  box-shadow: 0 0 3px 2px #9A9A9A;
}
@media (min-width: 768px) {
  .header {
    padding: 35px;
    justify-content: space-between;
  }
}
.header__logo h1 {
  margin: 0;
}
.header__logo h1 a {
  display: inline-block;
}
.header__media .media-group--dark {
  display: none;
}
@media (min-width: 768px) {
  .header__media .media-group--dark {
    display: block;
  }
}
.header__media .media-group--dark__icon {
  text-align: right;
}

.main {
  background-image: url("../images/subbg.gif");
  box-shadow: 0 0 3px 2px #9A9A9A;
}
.main__content {
  padding: 0 40px 40px 40px;
}
.main__content .service {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .main__content .service {
    margin-top: 0;
    transform: translateY(-50px);
  }
}
.main__content .service .card--gray {
  height: 100%;
}
@media (min-width: 768px) {
  .main__content .service .card--gray {
    padding: 40px 10px 20px 10px;
  }
}
.main__content .service .card--gray__text {
  display: none;
}
@media (min-width: 576px) {
  .main__content .service .card--gray__text {
    display: block;
  }
}
.main__content .service .card--gray__button {
  display: none;
  color: black;
}
.main__content .service .card--gray__button:hover {
  color: black;
}
@media (min-width: 576px) {
  .main__content .service .card--gray__button {
    display: inline-block;
  }
}
.main__content .info {
  margin-top: 30px;
}
.main__content .info .col-lg-4:not(:first-of-type) {
  margin: 30px 0 0 0;
}
@media (min-width: 768px) {
  .main__content .info .col-lg-4:not(:first-of-type) {
    margin-top: 0;
  }
}
.main__content .info .history h3 {
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__content .info .history h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.main__content .info .history__body__text {
  margin: 30px 0 0 0;
}
.main__content .info .history__body__text p {
  margin: 0;
  font-size: 14px;
  color: #808080;
}
.main__content .info .advantages h3 {
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__content .info .advantages h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.main__content .info .advantages__body {
  padding: 0;
}
.main__content .info .advantages__body__text {
  padding: 10px 5px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #CECDCD;
}
.main__content .info .advantages__body__text .round-button--gray {
  flex: 0 0 auto;
}
.main__content .info .advantages__body__text p {
  margin: 0;
  color: #808080;
}
.main__content .info .news h3 {
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__content .info .news h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.main__content .info .news__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__content .info .news__body__list {
  flex: 1 1 0;
  display: flex;
}
.main__content .info .news__body__list__image-box {
  flex: 1 1 0;
}
.main__content .info .news__body__list__image-box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main__content .info .news__body__list__text {
  flex: 2 0 0;
  margin-left: 20px;
}
.main__content .info .news__body__list__text p {
  margin: 20px 0 0 0;
  font-size: 14px;
  color: #808080;
}
@media (min-width: 768px) {
  .main__content .info .news__body {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .main__content .info .news__body {
    flex-direction: column;
  }
}
.main__content hr {
  margin: 40px 0;
}
.main__content .multi-carousel__header {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__content .multi-carousel__header h3 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__content .multi-carousel__header h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1250px;
  }
}

.navigation {
  margin-top: 30px;
  position: relative;
  z-index: 3;
  background: linear-gradient(0deg, white 40%, transparent 40% 100%);
}
.navigation__navbar {
  background-image: url("../images/subbg.gif");
  box-shadow: 2px -1px 3px 0 #9A9A9A, -2px -1px 3px 0 #9A9A9A;
}
@media (min-width: 992px) {
  .navigation__navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    background: transparent;
  }
}
.navigation__navbar .navbar {
  background-image: url("../images/subbg.gif");
}
@media (min-width: 992px) {
  .navigation__navbar .navbar {
    flex: 1 0 0;
    margin-right: 10px;
    box-shadow: 2px -1px 3px 0 #9A9A9A, -2px -1px 3px 0 #9A9A9A;
  }
}
.navigation__navbar .navbar .container-fluid {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.navigation__navbar .navbar .container-fluid .navigation__search {
  width: 40%;
  display: block;
  padding: 10px 15px;
}
@media (min-width: 992px) {
  .navigation__navbar .navbar .container-fluid .navigation__search {
    display: none;
  }
}
.navigation__navbar .navbar .container-fluid button.navbar-toggler {
  width: 15%;
  border: 1px transparent solid;
}
.navigation__navbar .navbar .nav-link {
  padding: 15px;
  font-size: 14px;
}
.navigation__search {
  display: none;
}
@media (min-width: 992px) {
  .navigation__search {
    display: block;
    padding: 10px 15px;
    width: 300px;
    box-shadow: 2px -1px 3px 0 #9A9A9A, -2px -1px 3px 0 #9A9A9A;
    background-image: url("../images/subbg.gif");
  }
}

.navigation__navbar .navbar-light .navbar-nav .nav-item .nav-link.active {
  color: white;
  background-color: rgb(129, 184, 0);
}

.navigation__navbar .navbar-light .navbar-nav .nav-item .nav-link {
  color: black;
  border-right: 1px #E5E5E5 solid;
  text-transform: uppercase;
}

.navigation__navbar .navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: white;
  background-color: rgb(129, 184, 0);
}

.navigation__navbar button:focus {
  box-shadow: 0.1px 0.1px 2px 2px rgb(129, 184, 0), -0.1px -0.1px 2px 2px rgb(129, 184, 0);
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  color: white;
  background-color: rgb(129, 184, 0);
}

body {
  background-image: url("../images/bg.jpg");
}
@media (min-width: 576px) {
  body {
    background-image: linear-gradient(180deg, rgb(22, 22, 22) 0 90px, transparent 90px 92%, rgb(22, 22, 22) 92% 100%), url("../images/bg.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
