.main__carousel .carousel-item {
  height: 300px;
}
.main__carousel .carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: right center;
}
@media (min-width: 576px) {
  .main__carousel .carousel-item {
    height: auto;
  }
  .main__carousel .carousel-item img {
    height: auto;
    object-fit: initial;
    object-position: initial;
  }
}
.main__carousel .carousel-control-prev {
  width: initial;
}
.main__carousel .carousel-control-next {
  width: initial;
}

.main .main__carousel .carousel-control-next .carousel-control-next-icon:hover, .main .main__carousel .carousel-control-next .carousel-control-next-icon, .main .main__carousel .carousel-control-prev .carousel-control-prev-icon:hover, .main .main__carousel .carousel-control-prev .carousel-control-prev-icon {
  width: 40px;
  height: 119px;
}

.main .main__carousel .carousel-control-prev .carousel-control-prev-icon {
  background: url("/images/slider_prev.gif") no-repeat 0 0px;
}
.main .main__carousel .carousel-control-prev .carousel-control-prev-icon:hover {
  background: url("/images/slider_prev.gif") no-repeat 0 -119px;
}

.main .main__carousel .carousel-control-next .carousel-control-next-icon {
  background: url("/images/slider_next.gif") no-repeat 0 0px;
}
.main .main__carousel .carousel-control-next .carousel-control-next-icon:hover {
  background: url("/images/slider_next.gif") no-repeat 0 -119px;
}

.swiper .swiper-slide {
  position: relative;
  overflow: hidden;
}
.swiper .swiper-slide .swiper__image_box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -25%;
  right: -25%;
  z-index: 999;
  background-color: rgb(43, 42, 42);
  opacity: 0;
}
.swiper .swiper-slide .swiper__image_box__text p {
  color: white;
  text-transform: capitalize;
}
.swiper .swiper-slide .swiper__image_box__text a {
  color: rgb(129, 184, 0);
}
.swiper .swiper-slide:hover .swiper__image_box__text {
  opacity: 0.7;
  transition: 0.3s;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

.advantages__body__text button {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(215, 212, 212);
  border: 1px transparent solid;
}
.advantages__body__text button:hover {
  background-color: rgb(129, 184, 0);
}
.advantages__body__text button i {
  color: white;
}

.news__body__list__text button {
  margin: 0 0 20px 0;
  width: 90px;
  height: 30px;
  color: white;
  border: 1px transparent solid;
  background-color: rgb(129, 184, 0);
}

.gallery__button button {
  padding: 2px;
  background-color: transparent;
  border: 1px solid transparent;
}
.gallery__button i {
  color: rgb(171, 170, 170);
  font-size: 16px;
}

.contact__form__button {
  border: 1px transparent solid;
  text-transform: uppercase;
  padding: 5px 10px;
}
.contact__form__button:active {
  box-shadow: 0.5px 0.5px 1px 0.5px gray;
}

.contact__form__button.clear {
  background-color: black;
  color: white;
}

.contact__form__button.sent {
  background-color: rgb(129, 184, 0);
  color: white;
}

.main__items .info .history__body__text a, .main__items .info .news__body__list__text a {
  color: black;
  font-size: 14px;
  text-transform: capitalize;
}
.main__items .info .history__body__text a:hover, .main__items .info .news__body__list__text a:hover {
  color: rgb(129, 184, 0);
}
.main__items .info .history__body__text a::before, .main__items .info .news__body__list__text a::before {
  content: "... ";
  color: rgb(126, 125, 125);
}
.main__items .info .history__body__text a::before:hover, .main__items .info .news__body__list__text a::before:hover {
  color: black;
}

.media-group {
  display: none;
}
@media (min-width: 768px) {
  .media-group {
    display: block;
  }
}
.media-group-icon {
  text-align: right;
}
.media-group-icon-facebook {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.media-group-icon-facebook:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 -27px;
}
.media-group-icon-twitter {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.media-group-icon-twitter:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px -27px;
}
.media-group-icon-about {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.media-group-icon-about:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px -27px;
}
.media-group-icon-baseball {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.media-group-icon-baseball:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px -27px;
}
.media-group-icon-bluetooth {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.media-group-icon-bluetooth:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px -27px;
}
.media-group-numbers {
  text-transform: capitalize;
}
.media-group-numbers p {
  margin: 0%;
  font-size: 14px;
}
.media-group-numbers p a {
  color: black;
}
.media-group-numbers p a:hover {
  color: rgb(129, 184, 0);
}

.media-group-opposite {
  display: block;
}
@media (min-width: 768px) {
  .media-group-opposite {
    display: none;
  }
}
.media-group-opposite-icon {
  text-align: center;
}
@media (min-width: 768px) {
  .media-group-opposite-icon {
    padding: 0;
    text-align: right;
  }
}
.media-group-opposite-icon-facebook {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 -27px;
}
.media-group-opposite-icon-facebook:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.media-group-opposite-icon-twitter {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px -27px;
}
.media-group-opposite-icon-twitter:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.media-group-opposite-icon-about {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px -27px;
}
.media-group-opposite-icon-about:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.media-group-opposite-icon-baseball {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px -27px;
}
.media-group-opposite-icon-baseball:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.media-group-opposite-icon-bluetooth {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px -27px;
}
.media-group-opposite-icon-bluetooth:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.media-group-opposite-numbers {
  text-transform: capitalize;
}
.media-group-opposite-numbers p {
  margin: 0%;
  font-size: 14px;
}
.media-group-opposite-numbers p a {
  color: rgb(129, 184, 0);
}
.media-group-opposite-numbers p a:hover {
  color: black;
}

.header {
  background-image: url("/images/subbg.gif");
  box-shadow: 1px 1px 3px 1px rgb(146, 146, 146), -1px -1px 3px 1px rgb(146, 146, 146);
}
.header__items {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header__items {
    padding: 35px;
    justify-content: space-between;
  }
}
.header__items__logo h1 {
  margin: 0;
}
.header__items__contact {
  display: none;
}
@media (min-width: 768px) {
  .header__items__contact {
    display: block;
  }
}
.header__items__contact_icon {
  text-align: right;
}
.header__items__contact_icon_facebook {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header__items__contact_icon_facebook:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 -27px;
}
.header__items__contact_icon_twitter {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.header__items__contact_icon_twitter:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px -27px;
}
.header__items__contact_icon_about {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.header__items__contact_icon_about:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px -27px;
}
.header__items__contact_icon_baseball {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.header__items__contact_icon_baseball:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px -27px;
}
.header__items__contact_icon_bluetooth {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.header__items__contact_icon_bluetooth:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px -27px;
}
.header__items__contact_numbers {
  text-transform: capitalize;
}
.header__items__contact_numbers p {
  margin: 0%;
  font-size: 14px;
}
.header__items__contact_numbers p a {
  color: black;
}
.header__items__contact_numbers p a:hover {
  color: rgb(129, 184, 0);
}

.header__navbar {
  margin-top: 30px;
  background: linear-gradient(0deg, white 40%, transparent 40% 100%);
}
.header__navbar__body {
  position: relative;
  z-index: 999;
  background-image: url("/images/subbg.gif");
  box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
}
@media (min-width: 992px) {
  .header__navbar__body {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
@media (min-width: 1200px) {
  .header__navbar__body {
    box-shadow: none;
    background: transparent;
  }
}
.header__navbar__body .navbar {
  background-image: url("/images/subbg.gif");
}
@media (min-width: 1200px) {
  .header__navbar__body .navbar {
    flex: 1 0 0;
    box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
  }
}
.header__navbar__body .navbar .container-fluid {
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search {
  padding: 10px;
  display: block;
}
@media (min-width: 992px) {
  .header__navbar__body .navbar .container-fluid .header__navbar__search {
    display: none;
  }
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body {
  display: flex;
  height: 100%;
  border: 1px solid gray;
  background-color: rgb(242, 238, 238);
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input {
  width: 100%;
  border: 0;
  background-color: rgb(242, 238, 238);
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #626262;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input:focus-visible {
  outline: 2px rgb(129, 184, 0) solid;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input::-webkit-search-cancel-button {
  display: none;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body button {
  color: rgb(170, 169, 169);
  border: 1px solid transparent;
  background: transparent;
}
.header__navbar__body .navbar .container-fluid button {
  border: 1px transparent;
}
@media (min-width: 768px) {
  .header__navbar__body .navbar .container-fluid {
    justify-content: space-between;
  }
}
.header__navbar__body .navbar .nav-link {
  padding: 15px;
  font-size: 14px;
}
.header__navbar__search {
  display: none;
}
@media (min-width: 992px) {
  .header__navbar__search {
    display: block;
    padding: 10px;
    background-image: url("/images/subbg.gif");
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .header__navbar__search {
    box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
  }
}
.header__navbar__search__body {
  display: flex;
  height: 100%;
  border: 1px solid gray;
  background-color: rgb(242, 238, 238);
}
.header__navbar__search__body input {
  width: 100%;
  border: 0;
  background-color: rgb(242, 238, 238);
}
.header__navbar__search__body input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #626262;
}
.header__navbar__search__body input:focus-visible {
  outline: 2px rgb(129, 184, 0) solid;
}
.header__navbar__search__body input::-webkit-search-cancel-button {
  display: none;
}
.header__navbar__search__body button {
  color: rgb(170, 169, 169);
  border: 1px solid transparent;
  background: transparent;
}

.footer {
  background-image: url("/images/subbg.gif");
  margin-top: 70px;
}
.footer__items:first-of-type {
  padding: 40px;
  box-shadow: 1px 1px 3px 1px rgb(146, 146, 146), -1px -1px 3px 1px rgb(146, 146, 146);
}
.footer__items:first-of-type .detail .col-lg-3:not(:first-of-type) {
  margin: 30px 0 0 0;
}
@media (min-width: 768px) {
  .footer__items:first-of-type .detail .col-lg-3:not(:first-of-type) {
    margin: 0;
  }
  .footer__items:first-of-type .detail .col-lg-3:nth-of-type(3), .footer__items:first-of-type .detail .col-lg-3:nth-of-type(4) {
    margin: 30px 0 0 0;
  }
}
@media (min-width: 992px) {
  .footer__items:first-of-type .detail .col-lg-3:nth-of-type(3), .footer__items:first-of-type .detail .col-lg-3:nth-of-type(4) {
    margin: 0;
  }
}
.footer__items:first-of-type .detail .post h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__items:first-of-type .detail .post h3 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.footer__items:first-of-type .detail .witness h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__items:first-of-type .detail .witness h3 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.footer__items:first-of-type .detail .witness__quote {
  position: relative;
  height: 200px;
  width: 198px;
  filter: drop-shadow(1px 0 0 rgb(201, 201, 201)) drop-shadow(0 1px 0 rgb(201, 201, 201)) drop-shadow(-1px 0 0 rgb(201, 201, 201)) drop-shadow(0 -1px 0 rgb(201, 201, 201));
}
.footer__items:first-of-type .detail .witness__quote__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 198px;
  border-radius: 1px;
  background-color: rgb(229, 229, 229);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 84%, 0 71%, 0 39%);
}
.footer__items:first-of-type .detail .witness__quote__inner p {
  margin: 20px;
}
@media (min-width: 576px) {
  .footer__items:first-of-type .detail .witness__quote__inner {
    height: 167px;
    width: 270px;
  }
}
@media (min-width: 992px) {
  .footer__items:first-of-type .detail .witness__quote__inner {
    height: 200px;
    width: 198px;
  }
}
@media (min-width: 1440px) {
  .footer__items:first-of-type .detail .witness__quote__inner {
    height: 167px;
    width: 270px;
  }
}
@media (min-width: 576px) {
  .footer__items:first-of-type .detail .witness__quote {
    height: 167px;
    width: 270px;
  }
}
@media (min-width: 992px) {
  .footer__items:first-of-type .detail .witness__quote {
    height: 200px;
    width: 198px;
  }
}
@media (min-width: 1440px) {
  .footer__items:first-of-type .detail .witness__quote {
    height: 167px;
    width: 270px;
  }
}
.footer__items:first-of-type .detail .witness__people {
  display: flex;
  gap: 10px;
}
.footer__items:first-of-type .detail .witness__people__text p {
  margin: 0;
  text-transform: capitalize;
}
.footer__items:first-of-type .detail .witness__people__text a {
  color: rgb(129, 184, 0);
  font-style: italic;
}
.footer__items:first-of-type .detail .witness__people__text a:hover {
  color: black;
}
.footer__items:first-of-type .detail .contact h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__items:first-of-type .detail .contact h3 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.footer__items:first-of-type .detail .contact__form__list input, .footer__items:first-of-type .detail .contact__form__list textarea {
  padding: 0 5px;
  margin: 3px 0;
  color: gray;
  text-transform: capitalize;
  background-color: rgb(229, 229, 229);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2px;
}
.footer__items:first-of-type .detail .contact__form__list input::placeholder, .footer__items:first-of-type .detail .contact__form__list textarea::placeholder {
  padding: 2px;
}
.footer__items:first-of-type .detail .contact__form__list input:focus-visible, .footer__items:first-of-type .detail .contact__form__list textarea:focus-visible {
  outline: 1px rgb(129, 184, 0) solid;
}
.footer__items:first-of-type .detail .contact__form__list textarea {
  resize: none;
}
.footer__items:first-of-type .detail .media h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .footer__items:first-of-type .detail .media h3 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.footer__items:first-of-type .detail .media__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.footer__items:first-of-type .detail .media__gallery__box:hover {
  opacity: 0.8;
}
.footer__items:first-of-type .detail .media__gallery__box img {
  width: 100%;
}
.footer__items:last-of-type {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(21, 21, 21);
  color: rgb(89, 88, 88);
}
@media (min-width: 992px) {
  .footer__items:last-of-type {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__items:last-of-type .footer__items__copyright p {
  margin: 0;
  text-transform: uppercase;
}
.footer__items:last-of-type .footer__items__copyright a {
  text-transform: lowercase;
  color: rgb(129, 184, 0);
}
.footer__items:last-of-type .footer__items__copyright a:hover {
  color: white;
}
.footer__items:last-of-type .nav {
  display: none;
}
.footer__items:last-of-type .nav .nav-item:not(:last-of-type) {
  border-right: 2px gray solid;
}
.footer__items:last-of-type .nav .nav-item .nav-link {
  padding: 0 10px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer__items:last-of-type .nav {
    display: flex;
  }
}
.footer__items:last-of-type .footer__items__contact {
  display: block;
}
@media (min-width: 768px) {
  .footer__items:last-of-type .footer__items__contact {
    display: none;
  }
}
.footer__items:last-of-type .footer__items__contact_icon {
  text-align: center;
}
@media (min-width: 768px) {
  .footer__items:last-of-type .footer__items__contact_icon {
    padding: 0;
    text-align: right;
  }
}
.footer__items:last-of-type .footer__items__contact_icon_facebook {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 -27px;
}
.footer__items:last-of-type .footer__items__contact_icon_facebook:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer__items:last-of-type .footer__items__contact_icon_twitter {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px -27px;
}
.footer__items:last-of-type .footer__items__contact_icon_twitter:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.footer__items:last-of-type .footer__items__contact_icon_about {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px -27px;
}
.footer__items:last-of-type .footer__items__contact_icon_about:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.footer__items:last-of-type .footer__items__contact_icon_baseball {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px -27px;
}
.footer__items:last-of-type .footer__items__contact_icon_baseball:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.footer__items:last-of-type .footer__items__contact_icon_bluetooth {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px -27px;
}
.footer__items:last-of-type .footer__items__contact_icon_bluetooth:hover {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.footer__items:last-of-type .footer__items__contact_numbers {
  text-transform: capitalize;
}
.footer__items:last-of-type .footer__items__contact_numbers p {
  margin: 0%;
  font-size: 14px;
}
.footer__items:last-of-type .footer__items__contact_numbers p a {
  color: rgb(129, 184, 0);
}
.footer__items:last-of-type .footer__items__contact_numbers p a:hover {
  color: black;
}

.footer__items__nav .nav .nav-item .nav-link {
  color: #626262;
}
.footer__items__nav .nav .nav-item .nav-link:hover {
  color: white;
}

.footer__items__nav .nav .nav-item .nav-link.active {
  color: rgb(129, 184, 0);
}
.footer__items__nav .nav .nav-item .nav-link.active:hover {
  color: white;
}

.main {
  padding: 0 0 40px 0;
  background-image: url("/images/subbg.gif");
  box-shadow: 1px 1px 3px 1px rgb(146, 146, 146), -1px -1px 3px 1px rgb(146, 146, 146);
}
.main__items {
  padding: 0 40px;
}
.main__items .service {
  margin: 20px 0 0 0;
}
@media (min-width: 992px) {
  .main__items .service {
    margin: 0;
    transform: translateY(-50px);
  }
}
.main__items .service__body {
  padding: 20px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: rgb(229, 229, 229);
}
.main__items .service__body:hover {
  background-color: rgba(58, 58, 58, 0.7);
  color: white;
}
@media (min-width: 576px) {
  .main__items .service__body {
    padding: 40px 10px 20px 10px;
  }
}
.main__items .service__body h2 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.main__items .service__body p {
  display: none;
}
@media (min-width: 576px) {
  .main__items .service__body p {
    display: block;
    margin: 0;
    font-size: 14px;
  }
}
.main__items .service__body button {
  display: none;
}
@media (min-width: 576px) {
  .main__items .service__body button {
    display: inline-block;
    margin-top: auto;
    padding: 3px 15px;
    background-color: rgb(206, 202, 202);
    border: 1px solid transparent;
  }
  .main__items .service__body button:active {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(67, 66, 66);
    transform: translate(1px, 1px);
  }
}
.main__items .info {
  margin: 30px 0 0 0;
}
.main__items .info .col-lg-4:not(:first-of-type) {
  margin: 30px 0 0 0;
}
@media (min-width: 768px) {
  .main__items .info .col-lg-4:not(:first-of-type) {
    margin: 0;
  }
}
.main__items .info .history h3 {
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__items .info .history h3 {
    font-size: 30px;
  }
}
.main__items .info .history__body__text {
  margin: 30px 0 0 0;
}
.main__items .info .history__body__text p {
  margin: 0;
  font-size: 14px;
  color: rgb(126, 125, 125);
}
.main__items .info .advantages h3 {
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__items .info .advantages h3 {
    font-size: 30px;
  }
}
.main__items .info .advantages__body {
  padding: 0;
}
.main__items .info .advantages__body__text {
  padding: 10px 5px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgb(204, 203, 203);
}
.main__items .info .advantages__body__text p {
  margin: 0;
  font-size: 16px;
  color: rgb(126, 125, 125);
}
.main__items .info .news h3 {
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__items .info .news h3 {
    font-size: 30px;
  }
}
.main__items .info .news__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__items .info .news__body__list {
  flex: 1 1 0;
}
.main__items .info .news__body__list__text p {
  margin: 0;
  font-size: 14px;
  color: rgb(126, 125, 125);
}
@media (min-width: 768px) {
  .main__items .info .news__body {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .main__items .info .news__body {
    flex-direction: column;
  }
}
.main hr {
  margin: 40px;
}
.main__items .gallery__title {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__items .gallery__title h3 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__items .gallery__title h3 {
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1250px;
  }
}
.header__navbar__body {
  position: relative;
  z-index: 999;
  background-image: url("/images/subbg.gif");
  box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
}
@media (min-width: 992px) {
  .header__navbar__body {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
@media (min-width: 1200px) {
  .header__navbar__body {
    box-shadow: none;
    background: transparent;
  }
}
.header__navbar__body .navbar {
  background-image: url("/images/subbg.gif");
}
@media (min-width: 1200px) {
  .header__navbar__body .navbar {
    flex: 1 0 0;
    box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
  }
}
.header__navbar__body .navbar .container-fluid {
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search {
  padding: 10px;
  display: block;
}
@media (min-width: 992px) {
  .header__navbar__body .navbar .container-fluid .header__navbar__search {
    display: none;
  }
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body {
  display: flex;
  height: 100%;
  border: 1px solid gray;
  background-color: rgb(242, 238, 238);
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input {
  width: 100%;
  padding: 0 5px;
  border: 0;
  background-color: rgb(242, 238, 238);
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #626262;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input:focus-visible {
  outline: 2px rgb(129, 184, 0) solid;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body input::-webkit-search-cancel-button {
  display: none;
}
.header__navbar__body .navbar .container-fluid .header__navbar__search__body button {
  color: rgb(170, 169, 169);
  border: 1px solid transparent;
  background: transparent;
}
.header__navbar__body .navbar .container-fluid button {
  border: 1px transparent;
}
@media (min-width: 768px) {
  .header__navbar__body .navbar .container-fluid {
    justify-content: space-between;
  }
}
.header__navbar__body .navbar .nav-link {
  padding: 15px;
  font-size: 14px;
}
.header__navbar__search {
  display: none;
}
@media (min-width: 992px) {
  .header__navbar__search {
    display: block;
    padding: 10px;
    background-image: url("/images/subbg.gif");
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .header__navbar__search {
    box-shadow: 1px 0 3px 0 rgb(146, 146, 146), -1px -1px 3px 0 rgb(146, 146, 146);
  }
}
.header__navbar__search__body {
  display: flex;
  height: 100%;
  border: 1px solid gray;
  background-color: rgb(242, 238, 238);
}
.header__navbar__search__body input {
  width: 100%;
  padding: 0 5px;
  border: 0;
  background-color: rgb(242, 238, 238);
}
.header__navbar__search__body input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #626262;
}
.header__navbar__search__body input:focus-visible {
  outline: 2px rgb(129, 184, 0) solid;
}
.header__navbar__search__body input::-webkit-search-cancel-button {
  display: none;
}
.header__navbar__search__body button {
  color: rgb(170, 169, 169);
  border: 1px solid transparent;
  background: transparent;
}

.header__navbar__body .navbar-light .navbar-nav .nav-item .nav-link.active {
  color: white;
  background-color: rgb(129, 184, 0);
}

.header__navbar__body .navbar-light .navbar-nav .nav-item .nav-link {
  color: black;
  border-right: 1px rgb(229, 229, 229) solid;
  text-transform: uppercase;
}

.header__navbar__body .navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: white;
  background-color: rgb(129, 184, 0);
}

.header__navbar__body button:focus {
  box-shadow: 0.1px 0.1px 2px 2px rgb(129, 184, 0), -0.1px -0.1px 2px 2px rgb(129, 184, 0);
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  color: white;
  background-color: rgb(129, 184, 0);
}

body {
  background-image: url("/images/bg.jpg");
}
@media (min-width: 576px) {
  body {
    background-image: linear-gradient(180deg, rgb(22, 22, 22) 0 90px, transparent 90px 92%, rgb(22, 22, 22) 92% 100%), url("/images/bg.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
