@use "../utils/breakpoints";
@use "../utils/color";
@use "../utils/text";

.footer-row-1 {
    background-image: url("../images/subbg.gif");
    background-repeat: repeat;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0px 0px 5px -1px;
    @include breakpoints.sm {
        padding: 1.5rem;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;    
    }
    @include breakpoints.lg {
        padding: 2.5rem;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    }
    h3 {
        margin-bottom: 1rem;
        text-transform: uppercase;
        @include text.ellipsis(1);
        @include breakpoints.lg {
            margin-bottom: 1.5rem;
        }
    }
}

.footer-row-2 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @include breakpoints.lg {
        padding: 1rem 0;
        flex-direction: row;
        justify-content: space-between;

    }
    .copyright {
        margin-bottom: 1rem;
        @include breakpoints.lg {
            margin-bottom: 0;
        }
        p {
            margin: 0;
            color: color.$gary-600;
            text-align: center;
            text-transform: uppercase;
            span {
                color: color.$color-primary;
                text-transform: capitalize;
            }
        }
    }
}