@use "../utility/breakpoints";
@use "../utility/color";

footer {
  margin-top: 4rem;
}

.contact_container {
  background-image: url("../images/subbg.gif");
  background-repeat: repeat;
  box-shadow: 0px 0px 5px -1px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include breakpoints.sm {
    padding: 1.5rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;    
  }
  @include breakpoints.lg {
    padding: 2.5rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }
  h3 {
    height: 3.5rem;
    text-transform: uppercase;
    @include breakpoints.lg {
      margin-bottom: 1rem;
    }
  }
}

.footer_copyright {
  padding: 1rem;
  text-align: center;
  & > :not(:last-child) {
    margin-bottom: 1rem;
    @include breakpoints.xl {
      margin-bottom: 0;
    }
  }
  @include breakpoints.lg {
    padding: 1rem 0;
  }
  @include breakpoints.xl {
    text-align-last: justify;
  }
  & > :nth-child(2) {
    @include breakpoints.lg {
			display: none;
    }
  }
  .copyright {
    @include breakpoints.xl {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
    }
    p {
      margin: 0;
      color: color.$gary-600;
      text-align: center;
      text-transform: uppercase;
      span {
        color: color.$color-primary;
        text-transform: capitalize;
      }
    }
  }
}
.subnav {
  @include breakpoints.lg {
    display: inline-block;
    
    vertical-align: middle;
    font-size: 0;
  }
  a {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;
    color: color.$gary-600;
    text-transform: uppercase;
    padding: 0.5rem;
    &:hover {
      color: white;
    }
    &.active {
      color: color.$color-primary;
    }
    
    @include breakpoints.lg {
      display: inline-block;
      position: relative;
      font-size: 1rem;
      padding: 0 1rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      & + a::after {
        content: "";
        display: block;
        position: absolute;
        top: 10%;
        left: 0;
        width: 2px;
        height: 80%;
        background-color: color.$gary-500;
      }
    }
    
  }
  
  
}
// a {
  // 
  // font-size: 1rem;
  // @include breakpoints.xl {
    
// }
    