@use '../abstracts/breakpoint'as *;
@use '../abstracts/mixins'as *;
@use '../abstracts/color'as *;

.news_box {

    ul {
        padding-left: 0;
    }

    li {
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid $gray-line;

        a {
            flex: 0 0 24px;
            border-radius: 50%;
            background: $gray;
            color: $while;
            text-align: center;

            &:hover {
                background-color: $green;
                color: $while;
            }
        }

        p {
            margin: 0 0 0 1rem;
        }
    }

  
}

