@use '../abstracts/breakpoint'as *;
@use '../abstracts/color'as *;

.copyright_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
        color: $gray-text;
    }

    a {
        padding-left: 0.5rem;
        color: #4F4F4F;

        &:hover {
            color: $green;
        }
    }

    .copyright {
        a {
            color: $green;
        }
    }
}

@include ipad {
    .copyright_box {
        justify-content: space-between;
    }
}

.copyright_box a+a {
    border-left: 1px solid #8F8E8E;
}