@use "../abstracts/breakpoint";
@use "../abstracts/color";

.copyright_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    color: #4f4f4f;
  }

  a {
    color: #4f4f4f;

    &:hover {
      color: color.$green;
    }
  }

  a + a {
    padding-left: 0.5rem;
  }

  .copyright {
    a {
      color: color.$green;
    }
  }
}

@include breakpoint.ipad {
  .copyright_box {
    justify-content: space-between;
  }
}

.copyright_box a + a {
  border-left: 1px solid #8f8e8e;
}
