@use "../abstracts/breakpoint";
@use "../abstracts/color";

input,
textarea {
  background: color.$gray-dialogue;
  width: 100%;
  border: 1px solid #cccccc;

  &:focus {
    outline: 2px solid color.$green;
  }
}

%carousel_button {
  margin-top: 1rem;
  color: color.$white;
  text-transform: uppercase;
}

.reset {
  @extend %carousel_button;
  background-color: color.$black;
}

.submit {
  @extend %carousel_button;
  background-color: color.$green;
}
