@use '../abstracts/breakpoint'as *;
@use '../abstracts/mixins'as *;
@use '../abstracts/color'as *;

footer {
    .dialogue {
        P {
            background: $gray-dialogue;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 90%, 0 100%);
            padding: 1rem 1rem 2rem 1rem;
        }
    }

    .info_box {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .info_people {
            margin-left: 1rem;
        }

        a {
            display: block;
            color: $green;
        }
    }
}