@use '../abstracts/breakpoint'as *;
@use '../abstracts/mixins'as *;
@use '../abstracts/color'as *;

.work_box {
    &::before {
        display: block;
        content: "";
        position: relative;
        bottom: 1rem;
        border:1px solid $gray-line ;
    }
}
.work_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;  
    margin-bottom: 1rem;

}
