html {
  font-size: 16px;
}

body {
  min-width: 375px;
  background: url(../images/bg.jpg), black;
  background-repeat: repeat-x, repeat;
  background-position: top 5rem center, center;
  background-size: 277px 85%, 100%;
}
@media (min-width: 768px) {
  body {
    padding: 0 8%;
  }
}

* {
  outline: 1px solid red;
}

.social_media .icon_list {
  margin-bottom: 0.5rem;
  font-size: 0;
}
.social_media .icon_list a {
  background: url("../images/social.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}
.social_media .icon_list a:not(:first-child) {
  margin-left: 0.75rem;
}
.social_media p {
  margin-bottom: 0;
}
.social_media p a {
  text-decoration: none;
}

.icon_dark .icon_list a:nth-child(1) {
  background-position: top 0px left 0px;
}
.icon_dark .icon_list a:nth-child(1):hover {
  background-position: bottom 0px left 0px;
}
.icon_dark .icon_list a:nth-child(2) {
  background-position: top 0px left -37px;
}
.icon_dark .icon_list a:nth-child(2):hover {
  background-position: bottom 0px left -37px;
}
.icon_dark .icon_list a:nth-child(3) {
  background-position: top 0px left -74px;
}
.icon_dark .icon_list a:nth-child(3):hover {
  background-position: bottom 0px left -74px;
}
.icon_dark .icon_list a:nth-child(4) {
  background-position: top 0px left -111px;
}
.icon_dark .icon_list a:nth-child(4):hover {
  background-position: bottom 0px left -111px;
}
.icon_dark .icon_list a:nth-child(5) {
  background-position: top 0px left -150px;
}
.icon_dark .icon_list a:nth-child(5):hover {
  background-position: bottom 0px left -150px;
}
.icon_dark p a {
  color: #000000;
}
.icon_dark p a:hover {
  color: #80b600;
}

.icon_light .icon_list a:hover {
  background-color: #ffffff;
  border-radius: 50%;
}
.icon_light .icon_list a:nth-child(1) {
  background-position: bottom 0px left 0px;
}
.icon_light .icon_list a:nth-child(1):hover {
  background-position: top 0px left 0px;
}
.icon_light .icon_list a:nth-child(2) {
  background-position: bottom 0px left -37px;
}
.icon_light .icon_list a:nth-child(2):hover {
  background-position: top 0px left -37px;
}
.icon_light .icon_list a:nth-child(3) {
  background-position: bottom 0px left -74px;
}
.icon_light .icon_list a:nth-child(3):hover {
  background-position: top 0px left -74px;
}
.icon_light .icon_list a:nth-child(4) {
  background-position: bottom 0px left -111px;
}
.icon_light .icon_list a:nth-child(4):hover {
  background-position: top 0px left -111px;
}
.icon_light .icon_list a:nth-child(5) {
  background-position: bottom 0px left -150px;
}
.icon_light .icon_list a:nth-child(5):hover {
  background-position: top 0px left -150px;
}
.icon_light p {
  color: #7f7f7f;
}
.icon_light p a {
  color: #80b600;
}
.icon_light p a:hover {
  color: #ffffff;
}

.card_item {
  padding: 2rem 1rem;
  background-color: #e6e6e6;
  text-align: center;
}
.card_item :not(:last-child) {
  margin-bottom: 1rem;
}
.card_item h4 {
  margin: 0;
  height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .card_item h4 {
    font-size: 1rem;
  }
}
.card_item .image_box {
  display: inline-block;
  width: 20%;
}
.card_item .image_box img {
  width: 100%;
}
.card_item p {
  margin: 0;
  text-align: center;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media (min-width: 768px) {
  .card_item p {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
.card_item:hover {
  background-color: rgba(115, 115, 115, 0.9);
  box-shadow: 0px 0px 0px 1px #737373;
  color: white;
}

.group_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 576px) {
  .group_item {
    flex-direction: row;
    gap: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .group_item {
    flex-direction: column;
  }
}
.group_item .item {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 40% minmax(auto, 60%);
  gap: 1.5rem;
}
.group_item .item .image_box {
  grid-row: 1/-1;
  grid-column: 1/2;
}
.group_item .item .image_box img {
  width: 100%;
}
.group_item .item .title {
  margin: 0;
  padding: 0.3rem 0.5rem;
  grid-row: 1/2;
  grid-column: 2/-1;
  background-color: #80b600;
  width: fit-content;
  align-self: flex-start;
  color: white;
  font-size: 1.25rem;
}
.group_item .item .text_box {
  grid-row: 2/-1;
  grid-column: 2/-1;
}
.group_item .item .text_box .text {
  margin: 0;
  line-height: 1.2;
  color: #7f7f7f;
}

.text_more {
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}
.text_more:hover {
  color: #80b600;
}

.btn_primary {
  padding: 0.5rem 1rem;
  background-color: #cdcdcd;
  color: black;
  line-height: 1;
  text-decoration: none;
  text-transform: capitalize;
}
.btn_primary:hover {
  background-color: #80b600;
  color: #ffffff;
}

.dialogue_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dialogue_container .dialogue_box {
  filter: drop-shadow(0 0 1px #7f7f7f);
}
.dialogue_container .dialogue_box .dialogue {
  top: 1px;
  padding: 1.25rem 1.5rem 1.5rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 10% 90%, 0% 100%);
  background-color: #e6e6e6;
}
.dialogue_container .dialogue_box .dialogue p {
  margin: 0;
  line-height: 1.2;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.dialogue_container .person_info {
  display: flex;
  gap: 1rem;
}
.dialogue_container .image_box {
  width: 25%;
}
.dialogue_container .image_box img {
  width: 100%;
}
.dialogue_container .text_box {
  align-self: center;
}
.dialogue_container .text_box p {
  margin: 0;
}
.dialogue_container .text_box a {
  color: #80b600;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}
.dialogue_container .text_box a:hover {
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  transition: transform 0.15s;
}
.gallery .image_box:hover {
  transform: scale(95%);
}
.gallery .image_box img {
  width: 100%;
  height: 100%;
}

header {
  background-image: url("../images/subbg.gif");
  background-repeat: repeat;
  box-shadow: 0px 0px 5px -1px;
  padding: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  header {
    margin-top: 0.5rem;
  }
}
@media (min-width: 992px) {
  header {
    padding: 1.5rem 2.5rem;
    text-align-last: justify;
  }
}

h1 {
  margin: 0;
  font-size: 0;
}
h1 .image_box {
  display: inline-block;
}
h1 img {
  width: 100%;
}
@media (min-width: 992px) {
  h1 {
    display: inline-block;
    vertical-align: middle;
  }
}

.social_media.icon_dark {
  display: none;
}
@media (min-width: 992px) {
  .social_media.icon_dark {
    display: inline-block;
    vertical-align: middle;
  }
}
.social_media.icon_dark .icon_list {
  text-align-last: end;
}

.subnav {
  font-size: 0;
}
@media (min-width: 1200px) {
  .subnav {
    display: inline-block;
    vertical-align: middle;
  }
}
.subnav a {
  position: relative;
  padding: 0 1rem;
  color: #737373;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.subnav a:not(:first-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 0;
  width: 2px;
  height: 80%;
  background-color: #7f7f7f;
}
.subnav a:hover {
  color: #ffffff;
}
.subnav a:first-child {
  padding-left: 0;
}
.subnav a:last-child {
  padding-right: 0;
}
.subnav a.active {
  color: #80b600;
}

main {
  background-image: url("../images/subbg.gif");
  background-repeat: repeat;
  box-shadow: 0px 0px 5px -1px;
}
@media (min-width: 992px) {
  main {
    padding-bottom: 3rem;
  }
}

.product_service {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}
@media (min-width: 768px) {
  .product_service {
    padding: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (min-width: 992px) {
  .product_service {
    position: relative;
    top: -1.5rem;
    padding: 0 2.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.info_container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}
@media (min-width: 576px) {
  .info_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .info_container > :nth-child(1) {
    grid-column: 1/2;
  }
  .info_container > :nth-child(2) {
    grid-column: 2/-1;
  }
  .info_container > :nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) {
  .info_container {
    padding: 1.5rem;
  }
}
@media (min-width: 992px) {
  .info_container {
    padding: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .info_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .info_container > :nth-child(1) {
    grid-column: 1/2;
  }
  .info_container > :nth-child(2) {
    grid-column: 2/3;
  }
  .info_container > :nth-child(3) {
    grid-column: 3/-1;
  }
}
.info_container h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .info_container h2 {
    margin-bottom: 1.5rem;
  }
}
.info_container .company_info :not(:last-child) {
  margin-bottom: 1rem;
}
.info_container .company_info .image_box img {
  width: 100%;
}
.info_container .company_info p {
  margin: 0;
  line-height: 1.2;
  color: #7f7f7f;
}

hr {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  hr {
    margin: 0 1.5rem;
  }
}
@media (min-width: 992px) {
  hr {
    margin: 0 2.5rem;
  }
}

.featured {
  padding: 1rem;
}
@media (min-width: 768px) {
  .featured {
    position: relative;
    padding: 1.5rem;
  }
}
@media (min-width: 992px) {
  .featured {
    padding: 2.5rem;
  }
}
.featured h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .featured h2 {
    margin-bottom: 1.5rem;
  }
}

.contact_container {
  background-image: url("../images/subbg.gif");
  background-repeat: repeat;
  box-shadow: 0px 0px 5px -1px;
  margin-top: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 576px) {
  .contact_container {
    padding: 1.5rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (min-width: 992px) {
  .contact_container {
    padding: 2.5rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }
}
.contact_container h3 {
  height: 3.5rem;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .contact_container h3 {
    margin-bottom: 1rem;
  }
}

.footer_copyright {
  padding: 1rem;
  text-align: center;
}
.footer_copyright > :not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .footer_copyright > :not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer_copyright {
    padding: 1rem 0;
  }
}
@media (min-width: 1200px) {
  .footer_copyright {
    text-align-last: justify;
  }
}
@media (min-width: 992px) {
  .footer_copyright .social_media.icon_light {
    display: none;
  }
}
@media (min-width: 1200px) {
  .footer_copyright .copyright {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
  }
}
.footer_copyright .copyright p {
  margin: 0;
  color: #737373;
  text-align: center;
  text-transform: uppercase;
}
.footer_copyright .copyright p span {
  color: #80b600;
  text-transform: capitalize;
}

@media (min-width: 576px) {
  .accordion {
    margin-top: -1rem;
  }
}
.accordion .accordion-item {
  background-color: unset;
  border-bottom-color: #e6e6e6;
  border-right: 0;
  border-left: 0;
}
.accordion .accordion-item:first-of-type {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion .accordion-item:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion .accordion-button {
  background-color: inherit;
  color: #7f7f7f;
}
.accordion .accordion-button:focus {
  border-color: #80b600;
  box-shadow: none;
}
.accordion .accordion-button:hover {
  color: #80b600;
}
.accordion .accordion-button::after {
  display: none;
}
.accordion .accordion-button::before {
  font-family: "Bootstrap-icons";
  content: "\f285";
  flex-shrink: 0;
  margin-right: 1rem;
  transition: transform 0.2s ease-in-out;
  padding: 1rem;
  line-height: 1;
  background-color: #d9d9d9;
  color: white;
  border-radius: 50%;
}
.accordion .accordion-button:not(.collapsed) {
  background-color: #e6e6e6;
}
.accordion .accordion-button:not(.collapsed)::before {
  transform: rotate(90deg);
  background-color: #80b600;
}
.accordion .accordion-body {
  color: #7f7f7f;
  background-color: #e6e6e6;
}

.carousel {
  height: 50vh;
  box-shadow: 0px -2px 10px -4px #000000;
}
@media (min-width: 992px) {
  .carousel {
    height: auto;
  }
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner :nth-child(1) img {
  object-position: 36% 50%;
}
.carousel .carousel-inner :nth-child(2) img {
  object-position: 75% 50%;
}
.carousel .carousel-inner :nth-child(3) img {
  object-position: 3% 50%;
}
.carousel .carousel-item {
  height: 100%;
}
.carousel .carousel-item img {
  object-fit: cover;
}
.carousel .carousel_control {
  top: 50%;
  transform: translatey(-50%);
  width: 40px;
  height: 119px;
}
.carousel .carousel_control:hover {
  background-position: bottom;
}
.carousel .carousel-control-prev {
  background-image: url("../images/slider_prev.gif");
}
.carousel .carousel-control-next {
  background-image: url("../images/slider_next.gif");
}

.contact_form .input_box {
  margin-bottom: 1rem;
}
.contact_form .input_box .form-control {
  background-color: #e6e6e6;
}
.contact_form .input_box .form-control:focus {
  border-color: #80b600;
  box-shadow: 0 0 0 0.25rem #92d000;
}
.contact_form .input_box .form-control:not(:first-child) {
  margin-top: 0.5rem;
}
.contact_form .button_box {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.15s;
}
.contact_form .btn {
  background-color: #d9d9d9;
  color: #ffffff;
  border-radius: 0;
  text-transform: uppercase;
}
.contact_form .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #92d000;
}
.contact_form .btn:hover {
  transform: scale(95%);
}
.contact_form .btn:not(:first-child) {
  margin-left: 0.5rem;
}
.contact_form .botton_reset {
  background-color: #000000;
}
.contact_form .botton_send {
  background-color: #80b600;
}

.navbar {
  position: relative;
  margin-top: 2.5rem;
  padding: 0;
  align-items: stretch;
}
.navbar .navbar-toggler {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .search_form {
  position: relative;
  padding: 0.5rem 1rem;
  flex: 1 1 auto;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .navbar .search_form {
    flex: 0 1 30%;
    order: 2;
    box-shadow: 0px -4px 10px -4px #000000;
  }
}
.navbar .search_form .form-control {
  padding: 0.5rem 42px 0.5rem 1rem;
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  font-size: 20px;
}
.navbar .search_form .form-control:focus {
  border-color: #80b600;
  box-shadow: 0 0 0 3px #92d000;
}
.navbar .search_form .form-control:focus-visible {
  outline: none;
}
.navbar .search_form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.navbar .search_form button {
  background-color: #f3f3f3;
}
.navbar .search_form .botton_search {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  padding: 20px;
  border: 0px;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}
.navbar .search_form .botton_search:focus {
  box-shadow: none;
}
.navbar .navbar-collapse {
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse {
    margin-right: 0.7rem;
    flex: 1 1 auto;
    order: 1;
    box-shadow: 0px -4px 10px -4px #000000;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-nav .nav-item {
    border-right: 1px solid #d9d9d9;
  }
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:hover {
  background-color: #80b600;
  color: #ffffff;
}
@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    padding: 1.25rem 1rem;
  }
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #ffffff;
  text-align: center;
  border: 0;
  border-radius: 0;
}
.navbar::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 1.5rem;
  background-color: #f3f3f3;
}
@media (min-width: 992px) {
  .navbar::after {
    display: block;
  }
}

@media (min-width: 768px) {
  .swiper {
    position: unset;
  }
}
.swiper .swiper-slide {
  position: relative;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper .swiper-slide .link_container {
  display: none;
}
.swiper .swiper-slide .link_container .image_box {
  width: 15%;
}
@media (min-width: 992px) {
  .swiper .swiper-slide .link_container .image_box {
    width: 20%;
  }
}
.swiper .swiper-slide:hover .link_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
}
.swiper .swiper_button {
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.swiper .swiper_button:hover {
  background-color: #80b600;
}
.swiper .swiper_button:after {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .swiper .swiper_button {
    top: 2.5rem;
    padding: 0.5rem;
    width: auto;
    height: auto;
    background-color: inherit;
    color: #7f7f7f;
  }
  .swiper .swiper_button:hover {
    background-color: inherit;
    color: #80b600;
  }
  .swiper .swiper_button:after {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .swiper .swiper_button {
    top: 4rem;
  }
}
.swiper .swiper-button-prev {
  left: 0;
}
@media (min-width: 768px) {
  .swiper .swiper-button-prev {
    left: auto;
    right: 3.5rem;
  }
}
@media (min-width: 992px) {
  .swiper .swiper-button-prev {
    right: 4.5rem;
  }
}
.swiper .swiper-button-next {
  right: 0;
}
@media (min-width: 768px) {
  .swiper .swiper-button-next {
    right: 1.5rem;
  }
}
@media (min-width: 992px) {
  .swiper .swiper-button-next {
    right: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
