@import "../modules/basic";

.cardset{
  .card-deck{
    flex-direction: row;
    width: 98.5%;
    @include position(absolute,50,-30px,none,none,none);
    .card{
      height: 350px;
      width: 260px;
      @include bg-color($gray);
      &:hover {
        transition-duration: 1s;
        background-color: rgba(0, 0, 0, 0.6);
        color: $white;
      }
    }
    .card-body{
      text-align: center;
      img{
        height: 80px;
        width:80px;
      }
      a{
        color: $gray;
        @include bg-color(darken($gray,30%));
        &:hover{
          color:darken( $gray,30%);
          @include bg-color($gray);
        }
      }
    }
  }
}
