.body_background {
  // background: linear-gradient(#000, #000), linear-gradient(#000,#000), url("../image/bg.jpg");
  // background-repeat: no-repeat,no-repeat,repeat;
  // background-size: 100% 5%, 100% 10%,contain;
  // background-attachment: local, local,fixed;
  // background-position: top center,bottom center,center;
  background-color: #000;
  background-image: url("../image/bg.jpg");
  background-size: 25% 90%;
  background-repeat: repeat-x;
  background-position: 0 33.333%;
}