.content {
  .content_middle {
    display: flex;
    margin: 0 3%;
    padding: 3% 0;
    border-bottom: 1px solid rgba(199,199,199,0.5);

    .content_middle_info {
      width: 33%;
      margin: 0 1%;
      font-family: sans-serif;

      &.middle_middle_info:first-child {
        padding-top: 20px;
      }

      .middle_title {
        font-size: 30px;
        margin-top: 20px;
      }

      .middle_left_img {
        img {
          width: 100%;
          margin-top: 20px;
        }
      }

      .middle_left_info {
        margin-top: 20px;
        @include text_hidden($clamp:3);
      }

      .middle_middle_list {
        margin-top: 10px;

        .middle_middle_info {
          display: inline-flex;
          align-items: center;
          padding: 5% 0;
          border-bottom: 1px solid rgba(199,199,199,0.5);
          width: 100%;

          .right_arrow {
            @include right-arrow;
          }

          p {
            color: rgb(135,135,135);
          }
        }
      }

      .middle_right {
        margin-top: 20px;

        .middle_right_content {
          display: flex;
          margin-top: 20px;

          .middle_right_img {
            width: 40%;

            img {
              width: 100%;
            }
          }

          .middle_right_info {
            width: 60%;
            margin-left: 20px;

            .middle_right_button {
              text-align: center;
              @include button($width: 50%);

              &:hover {
                @include hover_in_button;
              }
            }

            p {
              margin-top: 10%;
              @include text_hidden($clamp:4);
            }
          }
        }
      }
    }
  }
}