.footer {
  margin-top: 5%;
  @include background_style_in_center;
  font-family: sans-serif;

  .footer_top {
    display: flex;
    padding: 3%;
    @media screen and (max-width: 650px) {
      display: block;
    }

    .footer_content {
      width: 22%;
      margin: 1.25%;
      @media screen and (max-width: 650px) {
        width: 100%;
      }

      .footer_title {
        margin-bottom: 20px;
        font-size: 22px;
        @media screen and (max-width:960px) {
          font-size: 17px;
        }
        @media screen and (max-width: 650px) {
          font-size: 24px;
          text-align: center;
        }
      }

      .footer_message_style {
        background-color: rgb(215,215,215);
        padding: 20px;
        position: relative;

        &::after {
          position: absolute;
          left: 0;
          bottom: -15px;
          content: '';
          border-top: 15px solid rgb(215,215,215);
          border-right: 24px solid transparent;
          z-index: 1;
        }
      }

      .footer_second_info {
        margin-top: 10%;
        display: inline-flex;
        align-items: center;
        @media screen and (max-width: 650px) {
          margin-top: 5%;
        }

        img {}

        p {
          margin-left: 10px;
        }

        span {
          color: #7fb61e;
        }
      }

      .footer_input {
        background-color: rgb(215,215,215);
        padding: 5px;
        width: 100%;
        border: none;
        margin-bottom: 5%;
        @media screen and (max-width: 650px) {
          margin-bottom: 2%;
          width: 90%;
        }

        &:focus {
          background-color: rgb(255,255,255);
        }
      }

      .input_fix_height {
        height: 30%;
        padding-top: 0;
      }

      .footer_button {
        margin-top: 5%;
        @include button($width: auto);
        display: inline-block;
        font-size: 16px;
        @media screen and (max-width: 1120px) {
          font-size: 12px;
        }
        @media screen and (max-width: 650px) {
          margin-top: 1%;
        }

        &:hover {
          @include hover_in_button;
        }
      }

      .footer_img_list {
        img {
          width: 23%;
          align-items: center;
          @media screen and (max-width:960px) {
            width: 30%;
          }
          @media screen and (max-width: 650px) {
            width: 15%;
          }
        }
      }
    }
  }

  .footer_bottom {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    @media screen and (max-width:960px) {
      display: block;
      text-align: center;
    }

    p {
      color: gray;
      @media screen and (max-width:370px) {
        font-size: 12px;
      }

      span {
        color: #7fb61e;
      }
    }

    ul {
      display: inline-flex;
      @media screen and (max-width: 600px) {
        display: none;
      }

      li {
        border-right: 1px solid gray;

        a {
          padding: 0 10px;
          color: gray;
          text-decoration: none;

          &:hover {
            color: #7fb61e;
          }
        }
      }
    }
  }
}