.header {
  @include background_style_in_center;
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  @media screen and (max-width: 635px) {
    display: block;
    text-align: center;
  }

  .logo {
    display: inline-block;

    img {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .icon_tag {
    font-size: 0;
    text-align: right;
    @media screen and (max-width: 635px) {
      display: block;
      text-align: center;
    }

    .facebook_icon {
      @include icon_postition($x:0px);

      &:hover {
        @include icon_hover($x:0px);
      }
    }

    .twittwr_icon {
      @include icon_postition($x:-37px);

      &:hover {
        @include icon_hover($x:-37px);
      }
    }

    .center_icon {
      @include icon_postition($x:-74px);

      &:hover {
        @include icon_hover($x:-74px);
      }
    }

    .backetball_icon {
      @include icon_postition($x:-111px);

      &:hover {
        @include icon_hover($x:-111px);
      }
    }

    .wifi_icon {
      @include icon_postition($x:-150px);

      &:hover {
        @include icon_hover($x:-150px);
      }
    }

    p {
      font-size: 16px;
      font-family: sans-serif;
      line-height: 2;
    }
  }
}