@mixin background_style_in_center {
  background-image: url("../image/subbg.gif");
  background-repeat: repeat;
  margin-left: 5%;
  margin-right: 5%;
}
@mixin icon_postition($x) {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: $x 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
@mixin icon_hover($x) {
  background-image: url("../image/social.png");
  background-position: $x -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
@mixin slide_img {
  background-position: 0 0;
  height: 119px;
  width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -60px;
}
@mixin slide_img_hover {
  background-position: 0 -119px;
  height: 119px;
  width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  cursor: pointer;
}
@mixin button($width) {
  background-color: #000;
  color: #fff;
  width: $width;
  padding: 5px 10px;
}
@mixin hover_in_button {
  background-color: #7fb61e;
  cursor: pointer;
  color: #fff;
}
@mixin text_hidden($clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
  color: rgb(135,135,135);
  // line-height: 24px;
  // height: 72px;
}
@mixin right-arrow {
  margin: 0 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(199,199,199);
  border-radius: 50%;

  &::after {
    @include right_arrow_display;
  }
}
@mixin right_arrow_display {
  display: inline-block;
  content: " ";
  height: 8px;
  width: 8px;
  border-width: 2px 2px 0 0;
  border-color: #fff;
  border-style: solid;
  transform: matrix(0.70, 0.70, -0.70, 0.70, 0, 0);
  margin: 14px;
}