@mixin background_style_in_center {
  background-image: url("../image/subbg.gif");
  background-repeat: repeat;
  background-size: contain;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
@mixin icon_postition($x) {
  display: inline-block;
  background-image: url("../image/social.png");
  background-position: $x 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
@mixin icon_hover($x) {
  background-image: url("../image/social.png");
  background-position: $x -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}