.nav {
  @media screen and (max-width: 980px) {
    text-align: center;
  }

  .nav_tag {
    display: inline-flex;
    @media screen and (max-width:740px) {
      display: block;
    }

    label {
      &:hover {
        @include hover_in_button;
      }
    }

    img {
      display: none;
      @media screen and (max-width: 740px) {
        padding: 2%;
        display: block;
        margin: 0 auto;
      }

      &:hover {
        // @include hover_in_button;
      }
    }

    #toggle_menu {
      display: none;
    }

    #toggle_menu:checked~.nav_tag_style {
      display: block;
    }

    .nav_tag_style {
      padding: 20px;
      border-right: 1px solid rgba(0,0,0,0.2);
      font-family: sans-serif;
      @media screen and (max-width: 740px) {
        padding: 2%;
      }

      &:first-child {
        display: none;
        @media screen and (max-width: 740px) {
          display: block;
        }
      }

      &:not(first-child) {
        @media screen and (max-width: 740px) {
          display: none;
        }
      }

      &:hover {
        @include hover_in_button;
      }
    }
  }

  .nav_search {
    float: right;
    margin: 1%;
    background-image: url("../image/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(gray,0.2);
    padding: 5px;

    &:focus {
      background-color: #fff;
      background-image: none;
    }

    &::after {
      clear: both;
    }
    @media screen and (max-width: 980px) {
      float: none;
      width: 95%;
    }
  }
}