.nav {
  .nav_tag {
    display: inline-flex;

    .nav_tag_style {
      padding: 20px;
      border-right: 1px solid rgba(0,0,0,0.2);
      font-family: sans-serif;

      &:hover {
        @include hover_in_button;
      }
    }
  }

  .nav_search {
    background-image: url("../image/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(gray,0.2);
    padding: 5px;

    &:focus {
      background-color: #fff;
      background-image: none;
    }
  }
}
// .nav_search_background {
//   @include background_style_in_center;
//   margin: auto;
//   display: inline-block;
// }