.nav {
  font-size: 0;
  margin: 2.5% auto 0;
  @media screen and (max-width:980px) {
    text-align: center;
  }

  .nav_tag {
    font-size: 16px;
    @include background_style_in_center;
    margin-right: 0;
    display: inline-flex;
    // padding-right: 42%;
    @media screen and (max-width: 980px) {
      width: 90%;
      margin-left: 0;
      // margin-right: 5%;
    }
    @media screen and (max-width:740px) {
      display: block;
      margin-left: 5%;
    }

    label {
      &:hover {
        @include hover_in_button;
      }
    }

    img {
      display: none;
      @media screen and (max-width: 740px) {
        padding: 2%;
        display: block;
        margin: 0 auto;
      }

      &:hover {
        // @include hover_in_button;
      }
    }

    #toggle_menu {
      display: none;
    }

    #toggle_menu:checked~.nav_tag_style {
      display: block;
    }

    .nav_tag_style {
      padding: 20px;
      border-right: 1px solid rgba(0,0,0,0.2);
      font-family: sans-serif;
      @media screen and (max-width: 740px) {
        padding: 2%;
      }

      &:first-child {
        display: none;
        @media screen and (max-width: 740px) {
          display: block;
        }
      }

      &:not(first-child) {
        @media screen and (max-width: 740px) {
          display: none;
        }
      }

      &:hover {
        @include hover_in_button;
      }
    }
  }

  .nav_search_background {
    // font-size: 0;
    padding: 13px;
    float: right;
    @include background_style_in_center;
    margin-left: 0;
    @media screen and (max-width: 980px) {
      float: none;
      margin-left: 5%;
    }

    .nav_search {
      // margin: 0;
      background-image: url("../image/search.png");
      background-repeat: no-repeat;
      background-position: right;
      background-color: rgba(gray,0.2);
      padding: 5px;

      &:focus {
        background-color: #fff;
        background-image: none;
      }

      &::after {
        clear: both;
      }
      @media screen and (max-width: 980px) {
        width: 95%;
      }
    }
  }
}