.slide {
  position: relative;
  font-size: 0;
  z-index: 0;

  img {
    // position: absolute;
    width: 100%;
  }
  // #toggle_menu:checked .img2 {
  //   z-index: 1;
  // }
  #slide_change {
    display: none;
  }

  .slide_arrow_left {
    background-image: url("../image/slider_prev.gif");
    @include slide_img;
    left: 0;
    @media screen and (max-width: 740px) {
      @include slide_img_rwd;
    }

    &:hover {
      @include slide_img_hover;
      @media screen and (max-width: 740px) {
        @include slide_img_hover_rwd;
      }
    }
  }

  .slide_arrow_right {
    background-image: url("../image/slider_next.gif");
    @include slide_img;
    right: 0;
    @media screen and (max-width: 740px) {
      @include slide_img_rwd;
    }

    &:hover {
      @include slide_img_hover;
      @media screen and (max-width: 740px) {
        @include slide_img_hover_rwd;
      }
    }
  }
}