//font
@mixin font-style($size, $weight){
  font: {
    family: 'Open Sans', sans-serif;
    size: $size;
    weight: $weight;
  }
}

h2{
  @include font-style(26px, 600);
}
h3{
  @include font-style(22px, 600);
  color: #333;
}

h4{
  @include font-style(16px, 400);
  color: #555;
}
p, a, span{
  @include font-style(14px, 400);
}