* {
  /* outline: solid red 1px;*/
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

.card {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

* {
  /* outline: solid red 1px;*/
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to bottom, #171717 0 90px, transparent 90px 92%, #171717 92% 100%), url("../images/bg.jpg");
  min-width: 360px;
}

.header .container-fluid {
  row-gap: 16px;
}

.header__background {
  background-image: url("../images/subbg.gif");
}

@media (min-width: 992px) {
  .header__background {
    width: 100%;
  }
}
.header__multimedia {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 992px) {
  .header__multimedia {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.header__medialink a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/social.png");
}

.header__medialink a:hover {
  background-position-y: -27px;
}

.header__twitter {
  background-position: -37px 0;
}

.header__double {
  background-position: -74px 0;
}

.header__basketball {
  background-position: -111px 0;
}

.header__wifi {
  background-position: -150px 0;
}

.header .navbar-toggler {
  border: 0;
}

.header .navbar-toggler:focus {
  box-shadow: initial;
}

.header .navbar-toggler-icon {
  width: 50px;
  height: 50px;
  background: initial;
}

.header .navbar-collapse {
  column-gap: 10px;
}

.header .navbar-nav {
  background-color: #ffffff;
  width: 100%;
}

@media (min-width: 992px) {
  .header .navbar-nav {
    width: 70%;
  }
}
.header .nav-item {
  border-right: 1px solid #eeeeee;
}

.header .nav-link, .header .dropdown-item {
  padding: 20px 16px;
  font-size: inherit;
  color: #000000;
  font-weight: bold;
}

.header .nav-link.active, .header .active.dropdown-item, .header .nav-link:hover, .header .dropdown-item:hover {
  color: #ffffff;
  background-color: #80b701;
}

.header .nav-link.show, .header .show.dropdown-item {
  color: #ffffff;
  background-color: rgba(128, 183, 1, 0.4666666667);
}

.header .dropdown-toggle::after {
  content: initial;
}

.header form {
  padding: 13px 0;
  background-color: #ffffff;
}

.header form .btn {
  top: 13px;
  right: 16px;
}

main {
  background-image: url("../images/subbg.gif");
}

/* banner */
.banner .carousel-control-prev, .banner .carousel-control-next {
  background: url("../images/slider_prev.gif") no-repeat 0 0;
  width: 40px;
  height: 119px;
  top: 50%;
  background-position-y: 0px;
  transform: translate(0, -50%);
}

.banner .carousel-control-prev:hover, .banner .carousel-control-next:hover {
  background-position-y: -119px;
}

.banner .carousel-control-next {
  background-image: url("../images/slider_next.gif");
}

.banner .carousel-indicators {
  margin: 0 auto 0 0;
}

.banner .carousel-indicators [data-bs-target] {
  height: initial;
  text-indent: initial;
  border: 0;
}

.banner .carousel-indicators [data-bs-target].active {
  background-color: #fff;
}

.card-group .card {
  color: #646464;
  background-color: #e8e8e8;
}

.card-group .card:hover, .card-group .card.active {
  color: #e8e8e8;
  background-color: #646464;
}

.card-group .card-title {
  font-size: 18px;
}

.card-group .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .card-group .card-text {
    height: 120px;
  }
}
@media (min-width: 992px) {
  .card-group .card-text {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .card-group .card-text {
    height: 120px;
  }
}
@media (min-width: 1400px) {
  .card-group .card-text {
    height: 100px;
  }
}
.card-group .btn {
  background-color: #cecece;
  color: #373737;
}

.introduction h2 {
  color: #000000;
}

.introduction .card {
  color: #939393;
  border: 0;
}

.introduction .card-text span {
  color: #000000;
}

.introduction .card i {
  font-size: 32px;
  color: #dadada;
  font-weight: 900;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .introduction .card i {
    font-size: 48px;
  }
}
.introduction .card-title:not(h2) {
  display: inline-block;
  background-color: #81b701;
  font-size: 18px;
  color: #ffffff;
  font-weight: inherit;
}

.introduction__choose .card {
  border: 0;
  border-bottom: 1px solid #e4e4e4;
}

hr.separate {
  opacity: 1;
  height: 2px;
  padding: 0 16px;
  background-color: #c7c7c7;
  background-clip: content-box;
  margin: 48px 0 0;
}

.featured-works {
  position: relative;
}

.featured-works .carousel-item-prev ~ .featured-works__animate-container .featured-works__animate--move {
  transform: translateX(-200%);
  transition: all 0.6s;
}

@media (min-width: 576px) {
  .featured-works .carousel-item-prev ~ .featured-works__animate-container .featured-works__animate--move {
    transform: translateX(-50%);
  }
}
@media (min-width: 992px) {
  .featured-works .carousel-item-prev ~ .featured-works__animate-container .featured-works__animate--move {
    transform: translateX(-33.333%);
  }
}
@media (min-width: 1200px) {
  .featured-works .carousel-item-prev ~ .featured-works__animate-container .featured-works__animate--move {
    transform: translateX(-25%);
  }
}
.featured-works .carousel-item-next ~ .featured-works__animate-container .featured-works__animate--move {
  transform: translateX(-300%);
  transition: all 0.6s;
}

@media (min-width: 576px) {
  .featured-works .carousel-item-next ~ .featured-works__animate-container .featured-works__animate--move {
    transform: translateX(-150%);
  }
}
@media (min-width: 992px) {
  .featured-works .carousel-item-next ~ .featured-works__animate-container .featured-works__animate--move {
    transform: translateX(-100%);
  }
}
@media (min-width: 1200px) {
  .featured-works .carousel-item-next ~ .featured-works__animate-container .featured-works__animate--move {
    transform: translateX(-75%);
  }
}
.featured-works__animate {
  animation: moveSlideshow 15s linear infinite;
  /* animation-play-state: paused; */
}

.featured-works__animate:hover {
  animation-play-state: paused;
}

.featured-works__animate--move {
  transform: translateX(-200%);
}

@media (min-width: 576px) {
  .featured-works__animate--move {
    transform: translateX(-100%);
  }
}
@media (min-width: 992px) {
  .featured-works__animate--move {
    transform: translateX(-66.666%);
  }
}
@media (min-width: 1200px) {
  .featured-works__animate--move {
    transform: translateX(-50%);
  }
}
.featured-works__animate-control {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 60px;
}

.featured-works__animate-control + span {
  right: 30px;
}

.featured-works__animate-control SVG {
  padding: 10px 16px;
  height: 40px;
}

.featured-works__animate--order {
  order: 20;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(2) {
  order: 1;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(3) {
  order: 2;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(4) {
  order: 3;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(5) {
  order: 4;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(6) {
  order: 5;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(7) {
  order: 6;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act2.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(3) {
  order: 2;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(4) {
  order: 3;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(5) {
  order: 4;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(6) {
  order: 5;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(7) {
  order: 6;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act3.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(4) {
  order: 3;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(5) {
  order: 4;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(6) {
  order: 5;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(7) {
  order: 6;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act4.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(5) {
  order: 4;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(6) {
  order: 5;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(7) {
  order: 6;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act5.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(6) {
  order: 5;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(7) {
  order: 6;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act6.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate--act7.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(7) {
  order: 6;
}

.featured-works__animate--act7.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act7.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act7.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act7.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act7.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate--act8.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(8) {
  order: 7;
}

.featured-works__animate--act8.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(9) {
  order: 8;
}

.featured-works__animate--act8.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(10) {
  order: 9;
}

.featured-works__animate--act8.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(11) {
  order: 10;
}

.featured-works__animate--act8.active ~ .featured-works__animate-container .featured-works__animate > :nth-child(12) {
  order: 11;
}

.featured-works__animate-hover {
  top: 100%;
  transition: all 1s;
}

.featured-works__animate-hover-control:hover .featured-works__animate-hover {
  top: 0%;
}

.featured-works__animate-content {
  width: 130%;
  height: 200%;
  transform: rotate(330deg);
  transform-origin: left;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5019607843) 0px, rgba(0, 0, 0, 0.5019607843) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
  padding-top: 50%;
  color: #ffffff;
  font-weight: bold;
}

.featured-works__animate-content p {
  font-size: 20px;
  padding: 10px 40px;
  border-bottom: 2px solid #ffffff;
}

.featured-works__animate-text {
  background-color: rgba(0, 0, 0, 0.5019607843);
  height: 40%;
  padding: 0 15%;
  border-bottom: 1px solid #82b600;
}

.featured-works__animate-control {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 80px;
}

.featured-works__animate-control + span {
  right: 30px;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-400%);
  }
}
@media (min-width: 576px) {
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-200%);
    }
  }
}
@media (min-width: 992px) {
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-133.33%);
    }
  }
}
@media (min-width: 1200px) {
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-100%);
    }
  }
}
/* footer */
/* supplement */
footer .supplement {
  background-image: url("../images/subbg.gif");
}

footer .supplement__title,
footer .supplement .card-title {
  font-size: 24px;
  font-weight: bolder;
  line-height: initial;
}

footer .supplement__latest {
  min-height: 200px;
}

footer .supplement__testimonials-people {
  display: flex;
}

footer .supplement__testimonials-introduction {
  margin-bottom: 0;
  padding: 0 8px;
}

footer .supplement__testimonials-introduction :last-child {
  font-size: inherit;
  color: #72a101;
  font-weight: bold;
}

footer .supplement .card {
  border: 0;
  border-radius: 0;
}

footer .supplement .card-body {
  background-color: #e7e7e7;
  position: relative;
  margin-bottom: 50px;
}

footer .supplement .card-body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  border-color: #e7e7e7 transparent transparent transparent;
  border-style: solid;
  border-width: 30px 40px 0px 0px;
}

footer .supplement__mail-us input, footer .supplement__mail-us textarea {
  background-color: #e7e7e7;
}

footer .supplement__mail-us input + .form-control, footer .supplement__mail-us textarea + .form-control {
  margin-top: 8px;
}

@media (min-width: 992px) {
  footer .supplement__mail-us input + .form-control, footer .supplement__mail-us textarea + .form-control {
    margin-top: 16px;
  }
}
footer .supplement [name=text] {
  margin-bottom: 24px;
}

footer .supplement [type=reset], footer .supplement [type=submit] {
  color: #ffffff;
  font-weight: bold;
  background-color: #151515;
  border: 0;
}

footer .supplement [type=submit] {
  background-color: #81b701;
}

footer .supplement__flickr-img {
  width: 100%;
}

footer .card {
  background-color: transparent;
}

footer .nav {
  font-size: 12px;
}

@media (min-width: 992px) {
  footer .nav {
    justify-content: end;
  }
}
footer .nav-link {
  text-align: center;
  flex: 1 0 auto;
  padding: 0;
  color: #535353;
}

footer .nav-link.active, footer .nav-link:hover {
  color: #72a101;
}

@media (min-width: 992px) {
  footer .nav-link {
    padding: 0 8px;
    flex: 0 0 auto;
  }
}
@media (min-width: 1200px) {
  footer .nav-link {
    padding: 0 16px;
  }
}
footer .nav-link + .nav-link {
  border-left: 1px solid #ffffff;
}

footer .copyright {
  font-size: 12px;
  color: #535353;
  font-weight: inherit;
  text-align: center;
}

@media (min-width: 768px) {
  footer .copyright {
    text-align: left;
  }
}
footer .copyright span:last-child {
  color: #72a101;
}

/*# sourceMappingURL=style.css.map */
