body {
  background: linear-gradient(to bottom, #151515 0% 100px, transparent 100px 90%, #151515 90% 100%), url(/images/bg.jpg) center top;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  margin-bottom: 0;
}

.intro .box a:hover, .service_box button:hover, .community svg:hover {
  background-color: #82b800;
  color: #fff;
}

.service_box h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.intro h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer .container h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.logo_box a {
  display: inline-block;
}

.community {
  text-align: right;
  font-size: 0;
}
.community a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  margin-right: 5px;
  font-size: 12px;
}
.community svg {
  background-color: #333;
  color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  height: 25px;
  width: 25px;
  font-size: 20px;
}
.community span {
  font-size: 12px;
}
.community .telephone:hover {
  text-decoration: underline;
}

nav {
  text-transform: uppercase;
}

.navbar-nav .nav-item {
  border-right: 1px solid #eee;
}
.navbar-nav .nav-item .nav-link:hover {
  background-color: #82b800;
  color: #fff;
}

.nav_box {
  justify-content: space-between;
}
.nav_box .navbar {
  flex-grow: 4;
  box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.5);
}
.nav_box .nav_form {
  flex-grow: 1;
  box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.5);
}
.nav_box .nav_form input {
  background: #e8e8e8 url(/images/search.png) no-repeat top 10px right 5px;
}
.nav_box .nav_form input:hover {
  background: #e8e8e8 url(/images/icon1.png) no-repeat top 0px right 5px;
}
.nav_box .nav_form input:focus {
  border-color: #82b800;
  box-shadow: 0 0 0 0.25rem #82b800;
}

@media (min-width: 992px) {
  .nav_box .navbar {
    margin-right: 10px;
  }
}
header .container {
  padding: 0;
}

.website_title {
  background: url(/images/subbg.gif);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

main .container {
  padding: 0;
}

.carousel button.carousel-control-prev {
  height: 120px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
}

.carousel button.carousel-control-next {
  height: 120px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
}

.service {
  padding: 0 2rem;
  text-align: center;
  transform: translateY(-30px);
}

.service_box {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  background-color: #eee;
}
.service_box:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.service_box div {
  margin: 0 auto;
  margin-bottom: 20px;
}
.service_box p {
  font-size: 12px;
}
.service_box button {
  background-color: #ccc;
  margin-top: auto;
}
.news_title {
  background-color: #82b800;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
}
.news_title a {
  color: #fff;
}

.featured {
  padding: 20px;
}
.featured h3 {
  font-size: 30px;
  text-transform: uppercase;
}
.featured > div {
  justify-content: space-between;
  margin-bottom: 16px;
}
.featured .featured_box {
  display: flex;
  align-items: center;
}
.featured .featured_box .alink_prev {
  margin-right: 10px;
  color: #dad2d2;
}
.featured .featured_box .alink_next {
  color: #dad2d2;
}

.swiper-container a {
  display: inline-block;
  width: 100%;
}
.swiper-container a img {
  width: 100%;
}

.intro {
  padding: 20px;
  display: flex;
}
.intro .welcome div {
  margin-bottom: 15px;
}
.intro .box {
  display: flex;
  flex-direction: column;
}
.intro .box .intro_content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: solid 1px gainsboro;
}
.intro .box .intro_content p {
  margin-bottom: 0;
  margin-left: 10px;
}
.intro .box a {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
main {
  margin-bottom: 60px;
}
main .container {
  background-image: url(/images/subbg.gif);
  box-shadow: 0 -20px #fff;
}

.testimonials .message {
  padding: 20px;
  background-color: #e6e6e6;
  position: relative;
  border: 1px solid #d9d9d9;
  margin-bottom: 40px;
}
.testimonials .message::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 15px;
  border-right-width: 20px;
  border-bottom-width: 15px;
  border-left-width: 20px;
  border-top-color: #d9d9d9;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #d9d9d9;
}
.testimonials .message_info {
  display: flex;
}
.testimonials .message_info .image_box {
  flex: 0 0 25%;
  margin-right: 1rem;
}
.testimonials .message_info a {
  text-decoration: none;
  color: #80b600;
  font-style: italic;
}

.contact input {
  background-color: #e6e6e6;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 3%;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.contact textarea {
  background-color: #e6e6e6;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 3%;
  padding: 5px 10px;
  margin-bottom: 8px;
  resize: none;
}
.contact .btn-clear {
  text-transform: uppercase;
  background: #000;
  font-weight: 700;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 0.1rem;
  border: 0;
}
.contact .btn-send {
  text-transform: uppercase;
  background: #80b600;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 0.1rem;
  border: 0;
}

.gallery {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 5px;
}
.gallery img {
  max-width: 100%;
}

.copyright {
  text-transform: uppercase;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.copyright_title {
  color: #5a5a5a;
}
.copyright_title a {
  text-decoration: none;
  color: #80b600;
  text-transform: capitalize;
}

.copyright_nav a {
  padding: 0 10px;
  border-right: solid 1px gainsboro;
  color: #5a5a5a;
}
.copyright_nav a:hover {
  color: #80b600;
}
.copyright_nav a:last-child {
  border-right: 0;
}
.copyright_nav .homemenu {
  color: #80b600;
}

footer .container .info {
  background: url(/images/subbg.gif) center top;
  padding: 30px;
}

/*# sourceMappingURL=main.css.map */
