a {
  text-decoration: none;
  color: #333;
}

body {
  background: linear-gradient(to bottom, #151515 0% 100px, transparent 100px 90%, #151515 90% 100%), url(/images/bg.jpg) center top;
}

.website_title {
  background: url(/images/subbg.gif);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.website_title .community {
  text-align: right;
}
.website_title .community a {
  text-decoration: none;
  display: inline-block;
  color: #333;
}
.website_title .community svg {
  background-color: #333;
  color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  height: 25px;
  width: 25px;
  font-size: 20px;
}

main {
  margin-bottom: 60px;
}
main .container {
  background-image: url(/images/subbg.gif);
}

.service_box h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.service {
  padding: 0 2rem;
  text-align: center;
  transform: translateY(-30px);
}

.service_box {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  background-color: #eee;
}
.service_box:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.service_box div {
  margin: 0 auto;
  margin-bottom: 20px;
}
.service_box p {
  font-size: 12px;
}
.service_box button {
  background-color: #ccc;
}

.intro h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.intro {
  padding: 20px;
  display: flex;
}
.intro .welcome div {
  margin-bottom: 15px;
}
.intro .box {
  display: flex;
  flex-direction: column;
}
.intro .box .intro_content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: solid 1px gainsboro;
}
.intro .box .intro_content p {
  margin-bottom: 0;
  margin-left: 10px;
}
.intro .box a {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.news_title {
  background-color: #82b800;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
}
.news_title a {
  color: #fff;
}

.featured {
  padding: 20px;
}
footer .container h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .container {
  background: linear-gradient(transparent 100px 90%, #151515 70% 100%), url(/images/subbg.gif) center top;
  padding: 30px;
}
.testimonials .message {
  padding: 20px;
  background-color: #e6e6e6;
  position: relative;
  margin-bottom: 40px;
}
.testimonials .message::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 15px;
  border-right-width: 20px;
  border-bottom-width: 15px;
  border-left-width: 20px;
  border-top-color: #e6e6e6;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #e6e6e6;
}
.testimonials .message_info {
  display: flex;
}
.testimonials .message_info .image_box {
  flex: 0 0 25%;
  margin-right: 1rem;
}
.testimonials .message_info a {
  text-decoration: none;
  color: #80b600;
  font-style: italic;
}

.gallery {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, 65px);
  grid-gap: 5px;
}
.gallery img {
  max-width: 100%;
}

nav {
  text-transform: uppercase;
}

.navbar-nav li {
  border-right: 1px solid gray;
}

/*# sourceMappingURL=main.css.map */
