// variables-breakpoints
// 共有三個斷點
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
// mediaquery
@mixin mediaquery-mobile {
    @media all and (min-width: $mobile) {
        @content;
    }
}

@mixin mediaquery-tablet {
    @media all and (min-width: $tablet) {
        @content;
    }
}

@mixin mediaquery-desktop {
    @media all and (min-width: $desktop) {
        @content;
    }
}