.gallery {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 5px;
  img {
    max-width: 100%;
  }
}
