a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

button {
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.media_box {
  text-align: center;
}
.media_box .social_media {
  font-size: 0;
}
.media_box .social_media a + a {
  margin-left: 0.5rem;
}
.media_box .social_media a:first-child {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.media_box .social_media a:first-child:hover {
  background-position: 0 bottom;
}
.media_box .social_media a:nth-child(2) {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.media_box .social_media a:nth-child(2):hover {
  background-position: -37px bottom;
}
.media_box .social_media a:nth-child(3) {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../images/social.png");
  background-repeat: no-repeat;
  background-position: -75px 0;
}
.media_box .social_media a:nth-child(3):hover {
  background-position: -75px bottom;
}
.media_box .social_media a:nth-child(4) {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../images/social.png");
  background-repeat: no-repeat;
  background-position: -110px 0;
}
.media_box .social_media a:nth-child(4):hover {
  background-position: -110px bottom;
}
.media_box .social_media a:nth-child(5) {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.media_box .social_media a:nth-child(5):hover {
  background-position: -150px bottom;
}

.media_box a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

header {
  padding: 1.5rem 1rem;
  background-image: url("../../images/subbg.gif");
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px;
}
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
}

body {
  background: linear-gradient(180deg, #000 100px, transparent 1%, transparent 97%, #000 0%, #000 100%), url(../images/bg.jpg);
}

@media (min-width: 992px) {
  .service {
    position: relative;
    z-index: 99999;
    transform: translateY(-3rem);
  }
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #E7E7E7;
  height: 95%;
}
.service:hover {
  color: #fff;
  background: rgba(99, 99, 99, 0.5);
}
.service a {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  color: #000;
  background: #CDCDCD;
}
.service img {
  object-fit: cover;
}
.service h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.news_box {
  text-transform: uppercase;
}
.news_box h3 {
  margin-bottom: 1rem;
}
.news_box p {
  margin: 1rem 0 0 0;
  color: #8F8F8F;
  font-size: 12px;
}
.news_box img {
  width: 100%;
  object-fit: cover;
}
.news_box a {
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
}
.news_box a:hover {
  color: #80B601;
}
.news_box ul {
  padding-left: 0;
}
.news_box li {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #E3E3E3;
}
.news_box li a {
  flex: 0 0 27px;
  border-radius: 50%;
  background: #DAD9D9;
  color: #fff;
  text-align: center;
}
.news_box li a:hover {
  background-color: #80B601;
  color: #fff;
}
.news_box li p {
  margin: 0 0 0 1rem;
}
.news_box .event_card {
  display: flex;
  justify-content: space-between;
}
.news_box .event_card .event_card_text {
  width: 55%;
}
.news_box .event_card .event_card_text span {
  display: inline-block;
  padding: 0 1rem;
  color: #fff;
  background-color: #80B601;
}
.news_box .event_card .event_card_img {
  width: 40%;
}
.news_box .event_card .event_card_img img {
  width: 100%;
}

.work_box::before {
  display: block;
  content: "";
  position: relative;
  bottom: 1rem;
  border: 1px solid #E3E3E3;
}

main {
  background-image: url("../../images/subbg.gif");
}

footer {
  margin-top: 5rem;
}
footer h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
footer .container {
  background-image: url("../../images/subbg.gif");
}
footer .dialogue P {
  background: #E6E6E6;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 90%, 0 100%);
  padding: 1rem 1rem 2rem 1rem;
}
footer .info_box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
footer .info_box .people_info {
  margin-left: 1rem;
}
footer .info_box a {
  display: block;
  color: #80B601;
}
footer form input, footer form textarea {
  background: #E6E6E6;
  width: 100%;
  border: 0;
}
footer form button {
  margin-top: 1rem;
  color: #fff;
  text-transform: uppercase;
}
footer form .buttonone {
  background-color: #000;
}
footer form .buttontwo {
  background-color: #80B601;
}
footer .flickr {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  gap: 1rem;
}
footer .footer_information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .footer_information span {
  color: #E6E6E6;
}
footer .footer_information a {
  color: #E6E6E6;
}
footer .footer_information a:hover {
  color: #80B601;
}
footer .footer_information .copyright a {
  color: #80B601;
}
@media (min-width: 768px) {
  footer .footer_information {
    justify-content: space-between;
  }
}

.nav_box {
  margin-top: 1rem;
  position: relative;
  background-color: #fff;
}
.nav_box .navbar .navbar-nav a:hover {
  background: #80B601;
  color: #fff;
}

.nav_box .search {
  position: absolute;
  top: 0.6rem;
  bottom: auto;
  right: 0.5rem;
}
.nav_box .search input {
  background: url(../../images/search.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #f3f3f3;
}

/*# sourceMappingURL=style.css.map */
