@use '../theme/color';
@use '../utilities/mediaquery';

* {
    color: color.$darkgrey;
    // outline: 1px solid pink;
}

body {
    background-repeat: repeat;
    background-image: linear-gradient(color.$darkgrey 0% 5%, rgba(255,255,255,0) 5% 88%, color.$darkgrey 88% 100%), url(../img/bg.jpg);
}

.wrap {
    @include mediaquery.laptop {
        max-width: 1250px;
    }
}