@use "../base/background";
@use "../utils/breakpoints";

body {
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(
      #1d1d1d 0 70px,
      transparent 70px 90%,
      #1d1d1d 90% 100%
    ),
    url(../images/bg.jpg);
  @include breakpoints.tablet {
    padding: 0 1rem;
  }
  @include breakpoints.desktop {
    padding: 0;
  }
  header {
    @include breakpoints.desktop {
      margin-bottom: 1.5rem;
    }
  }
  main {
    margin-bottom: 3rem;
  }
  footer {
  }
}
