@use "../base";
@use "../utils";

.a-subTitle {
  @extend %title-2;
  text-transform: uppercase;
}

.o-footer {
  &_content {
    @extend %bg-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "item1 item1 item1 item1"
      "item2 item2 item2 item2"
      "item3 item3 item3 item3"
      "item4 item4 item4 item4";
    gap: 1rem;
    padding: 2rem;
    @include utils.tablet {
      grid-template-areas:
        "item1 item1 item2 item2"
        "item3 item3 item4 item4";
    }
    @include utils.desktop {
      grid-template-areas: "item1 item2 item3 item4";
    }
  }

  &_item {
    > .a-subTitle {
      margin-bottom: 1rem;
    }
    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        grid-area: item#{$i};
      }
    }
  }
}
