@use "../utils/flex";
@use "../utils/breakpoints";

@use "../components/navbar";
@use "../components/social";

.o-header {
  @include flex.flex(between, center, row, nowrap);
  gap: 1rem;
  padding: 1rem;
  background: url("../images/subbg.gif");
  @include breakpoints.desktop {
    padding: 2rem;
  }
  &_item {
    &:nth-of-type(1) {
      flex: 0 1 auto;
      @include breakpoints.desktop {
        display: none;
      }
    }
    &:nth-of-type(2) {
      flex: 0 1 250px;
      max-width: 300px;
    }
    &:nth-of-type(3) {
      flex: 0 1 auto;
    }
  }
}

// logo
.a-logo {
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
