@use "../abstracts/color";
@use "../utils/breakpoints";

@use "../components/carousel";
@use "../components/services.scss";

.o-main {
  background-color: #fff;
  &_carousel {
    height: 250px;
    @include breakpoints.tablet {
      height: 300px;
    }
    @include breakpoints.desktop {
      height: 400px;
    }
  }
}
