/* line 1, ../sass/common/_header.sass */
header {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  height: 100px;
}
/* line 6, ../sass/common/_header.sass */
header #top_content {
  z-index: 1;
  position: relative;
  width: 90%;
  left: 5%;
  top: 10px;
}
/* line 10, ../sass/common/_header.sass */
header #top_content .top_logo {
  padding: 30px;
  background-image: url(../img/white_bg.gif);
}
/* line 13, ../sass/common/_header.sass */
header #top_content .top_logo img {
  float: left;
}
/* line 15, ../sass/common/_header.sass */
header #top_content .top_right_title {
  margin-left: 60%;
  text-align: right;
}
/* line 19, ../sass/common/_header.sass */
header #top_content .top_right_title .facebook {
  display: block;
  background-image: url(../img/top_socials.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  background-position: 0 0;
}
/* line 22, ../sass/common/_header.sass */
header #top_content .top_right_title .twitter {
  display: block;
  background-image: url(../img/top_socials.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  background-position: -37px 0;
}
/* line 25, ../sass/common/_header.sass */
header #top_content .top_right_title .vimeo {
  display: block;
  background-image: url(../img/top_socials.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  background-position: -74px 0;
}
/* line 28, ../sass/common/_header.sass */
header #top_content .top_right_title .delicious {
  display: block;
  background-image: url(../img/top_socials.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  background-position: -111px 0;
}
/* line 31, ../sass/common/_header.sass */
header #top_content .top_right_title .rss {
  display: block;
  background-image: url(../img/top_socials.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  background-position: -150px 0;
}
/* line 34, ../sass/common/_header.sass */
header .header_button {
  margin-top: 5%;
}
/* line 36, ../sass/common/_header.sass */
header .header_button .header_button1 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
/* line 39, ../sass/common/_header.sass */
header .header_button .header_button1 .container-fluid {
  padding: 0;
}
/* line 41, ../sass/common/_header.sass */
header .header_button .header_button1 .container-fluid .navbar-collapse {
  padding: 0;
}
/* line 43, ../sass/common/_header.sass */
header .header_button .header_button1 .container-fluid .navbar-collapse .left_nav {
  background-color: white;
}
/* line 48, ../sass/common/_header.sass */
header .header_button .header_button1 .container-fluid .navbar-collapse .right_form {
  margin-right: 0.5px;
  background-color: white;
}

/* line 1, ../sass/page/_main.sass */
section {
  background-image: url("../img/main_bg.jpg");
  top: 0;
  padding-bottom: 300px;
}
/* line 8, ../sass/page/_main.sass */
section #main_section {
  position: relative;
  width: 90%;
  left: 5%;
  top: 150px;
  background-image: url(../img/white_bg.gif);
}

/* line 21, ../sass/page/_main.sass */
#main_content1 .lg_bg img {
  height: 100%;
  width: 100%;
}

/* line 26, ../sass/page/_main.sass */
.mc2_ul li {
  position: relative;
  top: -60px;
  background-color: rgba(225, 225, 225, 0);
  padding: 20px;
  height: 100%;
}
/* line 35, ../sass/page/_main.sass */
.mc2_ul li .mc2_box {
  padding: 30px;
  background-color: #e1e1e1;
}
/* line 38, ../sass/page/_main.sass */
.mc2_ul li .mc2_box h4 {
  font-size: 16px;
}
/* line 40, ../sass/page/_main.sass */
.mc2_ul li .mc2_box p {
  font-size: 12px;
}
/* line 42, ../sass/page/_main.sass */
.mc2_ul li .mc2_box a {
  width: 50px;
  height: 20px;
  display: block;
  margin: 10px auto;
  background-color: #c2c2c2;
}
/* line 48, ../sass/page/_main.sass */
.mc2_ul li .mc2_box a:hover {
  background-color: #1d2427;
  color: white;
  text-decoration: none;
}
/* line 52, ../sass/page/_main.sass */
.mc2_ul li .mc2_box:hover {
  background-color: rgba(22, 22, 22, 0.8);
  color: white;
}

/* line 58, ../sass/page/_main.sass */
.mc2_ul .middle_icon1 {
  background-image: url("../img/icon1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-position: center;
  margin: 20px auto;
}
/* line 61, ../sass/page/_main.sass */
.mc2_ul .middle_icon2 {
  background-image: url("../img/icon2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-position: center;
  margin: 20px auto;
}
/* line 64, ../sass/page/_main.sass */
.mc2_ul .middle_icon3 {
  background-image: url("../img/icon3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-position: center;
  margin: 20px auto;
}
/* line 67, ../sass/page/_main.sass */
.mc2_ul .middle_icon4 {
  background-image: url("../img/icon4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-position: center;
  margin: 20px auto;
}

/* line 72, ../sass/page/_main.sass */
#main_content3 {
  margin: 10px;
  padding: 10px;
}
/* line 76, ../sass/page/_main.sass */
#main_content3 h1 {
  font-size: 30px;
  font-weight: normal;
  font-family: "Droid Sans", sans-serif;
  margin: 30px auto;
}
/* line 78, ../sass/page/_main.sass */
#main_content3 .mc3_box {
  padding: 10px;
}
/* line 80, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_img {
  width: 90%;
}
/* line 82, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_ul_middle {
  margin: 5px;
}
/* line 84, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_ul_middle a {
  background-image: url(../img/h3_plus.png);
  background-position: left;
  background-repeat: no-repeat;
  display: block;
  margin: 20px 5px;
  height: 60px;
  vertical-align: middle;
}
/* line 90, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_ul_middle a p {
  margin-left: 60px;
  padding-top: 20px;
  color: black;
  font-size: 16px;
}
/* line 96, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_ul_middle a:hover {
  background-image: url(../img/h3_minus.png);
  background-position: left;
  background-repeat: no-repeat;
}
/* line 101, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_ul_right h5 {
  display: inline-block;
  background-color: #5ba300;
  line-height: 30px;
  color: white;
  width: 80px;
  padding-left: 10px;
}
/* line 108, ../sass/page/_main.sass */
#main_content3 .mc3_box .mc3_ul_right img {
  float: left;
  margin: 10px 20px 10px 0;
}

/* line 113, ../sass/page/_main.sass */
#main_content4 {
  padding-bottom: 100px;
}
/* line 114, ../sass/page/_main.sass */
#main_content4 h1 {
  font-size: 30px;
  font-weight: normal;
  font-family: "Droid Sans", sans-serif;
  margin: 30px auto;
}
/* line 119, ../sass/page/_main.sass */
#main_content4 ul li img {
  height: 90%;
  width: 90%;
}

/* line 1, ../sass/common/_footer.sass */
footer {
  background-image: url("../img/bg.jpg");
}
/* line 2, ../sass/common/_footer.sass */
footer h2 {
  font-size: 24px;
  font-weight: normal;
  font-family: "Droid Sans", sans-serif;
  margin: 10px auto;
}
/* line 6, ../sass/common/_footer.sass */
footer #main_footer {
  position: relative;
  width: 90%;
  left: 5%;
  top: -60px;
}
/* line 9, ../sass/common/_footer.sass */
footer #main_footer .top_footer {
  background-image: url(../img/white_bg.gif);
}
/* line 11, ../sass/common/_footer.sass */
footer #main_footer .top_footer li {
  padding: 20px;
}
/* line 13, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .middle_footer_p {
  background-color: #e0e0e0;
  margin-bottom: 0;
  padding: 10px;
}
/* line 17, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .footer_tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 50px 0 0;
  border-color: #e0e0e0 transparent transparent transparent;
}
/* line 20, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .middle_footer_bottom img {
  float: left;
}
/* line 22, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .middle_footer_bottom .mfbb {
  margin-left: 70px;
}
/* line 24, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .middle_footer_bottom .mfbb a {
  color: #5ba300;
}
/* line 26, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .middle_footer_bottom .mfbb a:hover {
  color: #5ba300;
  text-decoration: none;
}
/* line 32, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .right_footer li {
  padding: 0 10px 10px 0;
}
/* line 37, ../sass/common/_footer.sass */
footer #main_footer .top_footer li .right_footer li a img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
}
/* line 42, ../sass/common/_footer.sass */
footer #main_footer .bottom_footer {
  margin: 10px auto;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
}
/* line 46, ../sass/common/_footer.sass */
footer #main_footer .bottom_footer nav {
  float: right;
}
/* line 48, ../sass/common/_footer.sass */
footer #main_footer .bottom_footer nav a {
  margin-left: 20px;
  color: #4a4a4a;
}
/* line 51, ../sass/common/_footer.sass */
footer #main_footer .bottom_footer nav a:hover {
  color: #5ba300;
  text-decoration: none;
}
/* line 54, ../sass/common/_footer.sass */
footer #main_footer .bottom_footer p {
  display: inline-block;
  color: #4a4a4a;
}
