// colors
$white: #fff;
$black: #000;
$black-100: #161616;
$gray: #636363;
$green: #81b800;
$light-green: #93d200;
$light-gray-100: #f3f3f3;
$light-gray-200: #ebebeb;
$light-gray-300: #e7e7e7;
$light-gray-400: #dcdcdc;
$light-gray-500: #cecece;
$light-gray-600: #c7c7c7;

// body color
$body-background-color: $white;
$body-color: $black;

// border color
$border-color: $light-gray-300;

// background color
$background-color: $white;

// link color
$link-color: $black;
$link-hover-color: $white;
$link-hover-background-color: $light-green;
$link-active-background-color: $green;



// *----------------------------------*\
// element color
// *----------------------------------*/

// input element
$input-background-color: $light-gray-300;
$input-border-color: $light-gray-400;
$input-text-color: $gray;

// textarea element
$textarea-background-color: $light-gray-300;
$textarea-border-color: $light-gray-400;
$textarea-text-color: $gray;

// button element
$button-background-color: $light-gray-300;
$button-border-color: $light-gray-400;
$button-text-color: $gray;



// *----------------------------------*\
// layout color
// *----------------------------------*/

$main-background-color: $white;
$hr-border-color: $light-gray-600;

// footer layout
$footer_list-background-color: $white;



// *----------------------------------*\
// component color
// *----------------------------------*/

// dropdown
$dropdown-border-color: $light-gray-200;

// search
$search-background-color: $light-gray-100;

// card
$card-background-color: $white;
$card-action-btn-background-color: $light-gray-500;

// presentation
$presentation-background-color: $light-gray-300;
$presentation-border-color: $light-gray-400;
$presentation-hover-background-color: $gray;
$presentation-hover-color: $white;
$presentation-hover-border-color: $black-100;

// welcome
$welcome-card-text-color: $gray;

// choose
$choose-img-background-color: $light-gray-400;
$choose-img-color: $white;

// news
$news-time-background-color: $green;
$news-time-color: $white;

// bubble
$bubble-background-color: $light-gray-300;
$bubble-border-color: $light-gray-400;

