// colors
$white: #fff;
$black: #000;
$green: #81b800;
$light-green: #93d200;
$light-gray-100: #f3f3f3;
$light-gray-200: #e7e7e7;
$light-gray-300: #cecece;

// body color
$body-background-color: $white;
$body-color: $black;

// border color
$border-color: $light-gray-200;

// background color
$background-color: $white;
$input-background-color: $light-gray-100;

// link color
$link-color: $black;
$link-hover-color: $white;
$link-hover-background-color: $light-green;
$link-active-background-color: $green;



// *----------------------------------*\
// component color
// *----------------------------------*/

// card color
$card-background-color: $white;
$card-action-btn-background-color: $light-gray-300;
