// colors
$white: #fff;
$black: #000;
$green: #81b800;
$light-green: #93d200;
$light-gray-100: #f3f3f3;
$light-gray-200: #e7e7e7;

// body color
$color-body-background: $white;
$color-body: $black;


// border color
$color-border: $light-gray-200;


// background color
$color-background: $white;
$color-input-background: $light-gray-100;


// link color
$color-link: $black;
$color-link-hover: $white;
$color-link-hover-background: $light-green;
$color-link-active-background: $green;