* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
}

ol,
ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

button {
  border: none;
}
