// s: for phone landscape
// ml: fot tablet & desktop landscape

//for spacing between major area(layout)
$sections-margin-s: 20px;
$sections-margin-ml: 40px;

//for main- sections and footer
$horizontal-padding-s: 20px;
$horizontal-padding-ml: 40px;
