@use "../base/color";
@use "../utils/flex";
@use "../utils/breakpoints";
@use "../utils/typography";

// nav漢堡
.a-navToggler {
  @include flex.flex(around, stretch, column, nowrap);
  width: 52px;
  height: 44px;
  padding: 8px;
  gap: 5px;
  cursor: pointer;
  @include breakpoints.desktop {
    display: none;
  }
  &:hover {
    span {
      background-color: color.$green;
    }
  }
  span {
    display: block;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    &:nth-of-type(1) {
      transform-origin: left top;
    }
    &:nth-of-type(2) {
      opacity: 1;
    }
    &:nth-of-type(3) {
      transform-origin: left bottom;
    }
  }
  &.-active {
    span:nth-of-type(1) {
      transform: rotate(45deg) translateY(-50%);
    }
    span:nth-of-type(2) {
      opacity: 0;
    }
    span:nth-of-type(3) {
      transform: rotate(-45deg) translateY(50%);
    }
  }
}

.a-navTrigger {
  display: none;
  &:checked {
    & ~ .o-navbar {
      max-height: 300px;
      @include breakpoints.tablet {
        max-height: 180px;
      }
    }
  }
}
.o-navbar {
  max-height: 0;
  transition: 0.6s ease-in-out;
  @include breakpoints.desktop {
    @include flex.flex(between, stretch, row, nowrap);
    gap: 10px;
    height: fit-content;
    max-height: none;
    overflow: visible;
  }
}
.m-searchbar {
  background-color: #fff;
  position: relative;
  @include breakpoints.desktop {
    flex: 0 1 30%;
    order: 2;
    box-shadow: 0 0 4px color.$gray-400;
  }
  &_inputbar {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    @include breakpoints.desktop {
      padding: 5px;
    }
  }
  &_magnifier {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 2px 5px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.25s;
    &:hover {
      background-color: color.$green;
      > i {
        color: #fff;
      }
    }
    > i {
      color: #bbb;
      transition: 0.25s;
    }
  }
}
.m-list {
  background-color: #fff;
  @include breakpoints.tablet {
    @include flex.flex(start, stretch, row, wrap);
    flex: 0 1 70%;
  }
  @include breakpoints.desktop {
    box-shadow: 0 0 4px color.$gray-400;
  }
  &_item {
    @extend %body-2;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px dashed color.$gray-300;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
    @include breakpoints.tablet {
      flex: 1 1 50%;
    }
    @include breakpoints.desktop {
      flex: 0 0 auto;
      padding: 10px 18px;
      border-bottom: none;
      border-right: 1px solid #eee;
    }
    &:hover {
      background-color: color.$green;
      a {
        color: #fff;
      }
      i {
        color: #fff;
      }
      > .m-list_drop {
        display: block;
        opacity: 0.7;
        animation: 250ms ease-in-out showDrop;
      }
    }
    a {
      vertical-align: middle;
    }
    i {
      margin-left: 8px;
      font-size: 8px;
      vertical-align: middle;
    }
  }
  &_drop {
    position: absolute;
    z-index: 10;
    top: 43px;
    right: 0;
    display: none;
    width: 50%;
    height: auto;
    color: #7f7f7f;
    background-color: #fff;
    transition: all 250ms linear;
    box-shadow: 1px 2px 6px #555;
    @include breakpoints.desktop {
      width: 180px;
    }
    &:hover {
      opacity: 1 !important;
    }
    > li {
      padding: 8px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
      &:hover {
        color: #fff;
        background-color: color.$green;
      }
    }
  }
}

@keyframes showDrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
