@use "../base/color";
@use "../utils/flex";
@use "../utils/breakpoints";
@use "../utils/typography";

@mixin text-ellipsis($num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

.o-services {
  display: grid;
  gap: 1rem;
  @include breakpoints.tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoints.desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

.o-card {
  @include flex.flex(start, center, column, nowrap);
  row-gap: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: #e7e7e7;
  cursor: pointer;
  &:hover {
    color: #fff;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.6);
    & .o-card_title {
      color: #fff;
      font-weight: 600;
    }
    & .o-card_body {
      color: white;
    }
    & .o-card_button {
      color: initial;
    }
  }
  &_title {
    @extend %body-2;
    text-transform: uppercase;
  }
  &_img {
    width: 62px;
    height: 62px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &_body {
    @include text-ellipsis(5);
    @extend %body-3;
    text-align: center;
  }
  &_button {
    padding: 3px 10px;
    background-color: #cdcdcd;
  }
}
