/* line 5, ../../sass/partials/bottomContent.scss */
.bottomContent {
  margin-top: 50px;
  margin-bottom: 80px;
}

/* line 11, ../../sass/partials/bottomContent.scss */
.bottomContent img {
  width: 100%;
}
