#banner {
  box-shadow: 0 -18px 0px 0px white;
  .carousel-control-prev{
    @extend %vertical-align-center;
    background: url(../images/slider_prev.gif) no-repeat left top;
    &:hover {
      background: url(../images/slider_prev.gif) no-repeat left bottom;
    }    
  }
  .carousel-control-next{
    @extend %vertical-align-center;
    background: url(../images/slider_next.gif) no-repeat right top;
    &:hover {
      background: url(../images/slider_next.gif) no-repeat right bottom;
    } 
  }
}
