$black: #080404;
$transparent_gray: rgba(#636363, 0.9);
$white: #ffffff;
$light_gray: #e7e7e7;
$light_gray0: #f4f8e9;
$light_gray1:#dadada;
$gray0: #818181;
$gray1: #555555;
$gray: #4b4b4b;
$green: #7db200;


