@use '../abstracts/breakpoints';
@use '../base/box_shadow';
@use '../base/colors';
@use '../base/fonts';
@use '../base/background';
@use '../layout/header';
@use '../components/forms';

.footer {
  @include background.background-image;
  margin-top: 70px;
  
  &__items:first-of-type {
    padding: 40px;

    @include box_shadow.box-shadow;

    .detail {
      
      .col-lg-3:not(:first-of-type) {
        margin: 30px 0 0 0;
      }

      @include breakpoints.tablet_small {
        .col-lg-3:not(:first-of-type) {
          margin:0;
        }
        .col-lg-3:nth-of-type(3), .col-lg-3:nth-of-type(4) {
          margin: 30px 0 0 0;
        }
      }
  
      @include breakpoints.tablet_large {
        .col-lg-3:nth-of-type(3), .col-lg-3:nth-of-type(4) {
          margin: 0;
        }   
      }

      .post {
          h3 {
            margin: 0 0 30px 0;

            @include fonts.h3_font_20;

            @include breakpoints.laptop_large {
              @include fonts.h3_font_25;
            }
          }
         } 

      .witness {
        h3 {
          margin: 0 0 30px 0;

            @include fonts.h3_font_20;
            
            @include breakpoints.laptop_large {
              @include fonts.h3_font_25;
            }
        }

        &__quote {
          position: relative;

          height: 200px;
          width: 198px;
          
          filter: drop-shadow(1px 0 0 rgb(201, 201, 201)) drop-shadow(0 1px 0 rgb(201, 201, 201)) drop-shadow(-1px 0 0 rgb(201, 201, 201)) drop-shadow(0 -1px 0 rgb(201, 201, 201));

          &__inner {
            position: absolute;
            top: 0;
            left: 0;

            height: 200px;
            width: 198px;

            border-radius: 1px;
            background-color: colors.$secondary_light;

            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 84%, 0 71%, 0 39%);
          
            p {
              margin: 20px;
            }
            @include breakpoints.mobile_large {
              height: 167px;
              width: 270px;
            }

            @include breakpoints.tablet_large {
              height: 200px;
              width: 198px;
            }
            @include breakpoints.laptop_large {
              height: 167px;
              width: 270px;
            }
          }

          @include breakpoints.mobile_large {
            height: 167px;
            width: 270px;
          }

          @include breakpoints.tablet_large {
            height: 200px;
            width: 198px;
          }
          @include breakpoints.laptop_large {
            height: 167px;
            width: 270px;
          }
        }

        &__people {
          display: flex;
          gap: 10px;

          &__text {
            p {
              margin: 0;

              text-transform: capitalize;
            }
            a {
              color: colors.$primary;
              font-style: italic;

              &:hover {
                color: black;
              }
            }
          }
        }

      }

      .contact {
        h3 {
          margin: 0 0 30px 0;

          @include fonts.h3_font_20;
            
          @include breakpoints.laptop_large {
            @include fonts.h3_font_25;
          }
        }

        &__form {
          &__list {

            input, textarea {
              @include forms.input;
            }
            textarea {
              resize: none;
            }
          }
        }
      }

      .media {
        h3 {
          margin: 0 0 30px 0;

          @include fonts.h3_font_20;
            
          @include breakpoints.laptop_large {
            @include fonts.h3_font_25;
          }
        }

        &__gallery {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 5px;

          &__box {
            &:hover {
              opacity: 0.8;
            }
            img {
              width: 100%;
            }
          }
        }

      }
    }
  }

  &__items:last-of-type {
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    background-color: rgba(21,21,21,255);
    color: rgb(89, 88, 88);
    
    @include breakpoints.tablet_large {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__items__copyright {
      p {
        margin: 0;

        text-transform: uppercase;
      }
      a {
        text-transform: lowercase;
        color: colors.$primary;
  
        &:hover {
          color: white;
        }
      }
    }

    .nav {
      display: none;

      .nav-item {
        &:not(:last-of-type){
          border-right: 2px gray solid;
        }

        .nav-link {
          padding: 0 10px;

          text-transform: uppercase;
        }
      }
      @include breakpoints.tablet_small {
        display: flex;       
      }
    } 

    .footer__items__contact {
      display: block;

      @include breakpoints.tablet_small {
        display: none;
      }

      &_icon {
        text-align: center;
  
        @media (min-width:768px) {
          padding: 0;
          text-align: right;
        }
  
        &_facebook {
          @include background.icon_image(0, -27px);
          &:hover {
            @include background.icon_image(0, 0);
          }
        }
        &_twitter {
          @include background.icon_image(-37px, -27px);
          &:hover {
            @include background.icon_image(-37px, 0);
          }
        }       
        &_about {
          @include background.icon_image(-74px, -27px);
          &:hover {
            @include background.icon_image(-74px, 0);
          }
        }
        &_baseball {
          @include background.icon_image(-111px, -27px);
          &:hover {
            @include background.icon_image(-111px, 0);
          }
        }
        &_bluetooth {
          @include background.icon_image(-150px, -27px);
          &:hover {
            @include background.icon_image(-150px, 0);
          }
        }
      }
      &_numbers {
        text-transform: capitalize;
  
        p {
          margin: 0%;
          font-size: 14px;
  
          a {
            color: colors.$primary;
    
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}

.footer__items__nav .nav .nav-item .nav-link {
  color: #626262;

  &:hover {
    color: white;
  }
}
.footer__items__nav .nav .nav-item .nav-link.active {
  color: colors.$primary;

  &:hover {
    color: white;
  }
}