@use '../abstracts/breakpoints';
@use '../base/box_shadow';
@use '../base/colors';
@use '../base/fonts';
@use '../base/background';

.footer {
  margin-top: 70px;
  @include background.background-image;
  
  &__items:first-child {
    padding: 40px;
    @include box_shadow.box-shadow;

    .detail {
      .col-lg-3:not(:first-of-type) {
        margin: 30px 0 0 0;
      }

      @include breakpoints.tablet_small {
        .col-lg-3:not(:first-of-type) {
          margin:0;
        }
        .col-lg-3:nth-of-type(3), .col-lg-3:nth-of-type(4) {
          margin: 30px 0 0 0;
        }
      }
  
      @include breakpoints.tablet_large {
        .col-lg-3:nth-of-type(3), .col-lg-3:nth-of-type(4) {
          margin: 0;
        }   
      }

      .post {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_20;

          @include breakpoints.laptop_large {
            @include fonts.title_font_25;
          }
        }
      } 

      .witness {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_20;
            
          @include breakpoints.laptop_large {
            @include fonts.title_font_25;
          }
        }

        &__people {
          display: flex;
          gap: 10px;

          &__text {
            p {
              margin: 0;
              text-transform: capitalize;
            }
            a {
              color: colors.$primary;
              font-style: italic;

              &:hover {
                color: black;
              }
            }
          }
        }
      }

      .contact {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_20;
            
          @include breakpoints.laptop_large {
            @include fonts.title_font_25;
          }
        }

        &__form {
          &__list {
            textarea {
              resize: none;
            }
          }
        }
      }

      .flickr {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_20;
            
          @include breakpoints.laptop_large {
            @include fonts.title_font_25;
          }
        }
      }
    }
  }

  &__items:last-child {
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    color: rgb(89, 88, 88);
    background-color: rgba(21,21,21,255);
    
    @include breakpoints.tablet_large {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__items__copyright {
      p {
        margin: 0;
        text-transform: uppercase;
      }
      a {
        text-transform: lowercase;
        color: colors.$primary;
  
        &:hover {
          color: white;
        }
      }
    }

    .nav {
      display: none;

      .nav-item {
        &:not(:last-of-type){
          border-right: 2px gray solid;
        }

        .nav-link {
          padding: 0 10px;
          text-transform: uppercase;
        }
      }
      @include breakpoints.tablet_small {
        display: flex;       
      }
    } 

    .media-group--primary {
      display: block;

      @include breakpoints.tablet_small {
        display: none;
      }

      &__icon {
        text-align: center;
 
        @media (min-width:768px) {
          padding: 0;
          text-align: right;
        }
      }
    }
  }
}

.footer__items__nav .nav .nav-item .nav-link {
  color: #626262;

  &:hover {
    color: white;
  }
}
.footer__items__nav .nav .nav-item .nav-link.active {
  color: colors.$primary;

  &:hover {
    color: white;
  }
}