@use '../abstracts/mixins' as m;
@use '../base/colors' as c;

.footer {
  margin-top: 70px;

  &__items {
    &__copyright {
      p {
        margin: 0;
      }
    }
  }
  
  &__items:first-of-type {
    @include m.box-shadow;

    .detail {
      margin: 0 40px;
      padding: 40px 0;

      .post {

      }

      .witness {

        &__quote {
          position: relative;
          height: 173px;
          width: 218px;
          border-radius: 2px;
          background-color: rgb(201, 201, 201);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 84%, 0 71%, 0 39%);
          
          &-inner {
            position: absolute;
            height: 170px;
            width: 216px;
            top: 1px;
            left: 1px;
            border-radius: 1px;
            background-color: c.$bg_light_gray;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 11% 76%, 0 84%, 0 71%, 0 39%);
          
            p {
              margin: 20px;
            }

            @media (min-width: 350px) {
              height: 167px;
              width: 270px;
            }
            @media (min-width: 992px) {
              height: 200px;
              width: 198px;
            }
  
            @media (min-width: 1440px) {
              height: 167px;
              width: 270px;
            }

          }

          @media (min-width: 350px) {
            height: 170px;
            width: 272px;
          }
          @media (min-width: 992px) {
            width: 200px;
            height: 203px;
          }

          @media (min-width: 1440px) {
            height: 170px;
            width: 272px;
          }


        }

        &__trangle {
          width: 0;
          height: 0;

          outline: 1px solid rgb(201, 201, 201);
          border-top: 15px c.$bg_light_gray solid;

          border-left: 15px c.$bg_light_gray solid;

          border-bottom: 15px transparent solid;

          border-right: 15px transparent solid;
        }

        &__people {
          display: flex;
          gap: 10px;

          &__text {
            p {
              margin: 0;
            }
          }
        }

      }

      .contact {
        &__form {

          &__list {
            input, textarea {
              padding: 0;
              margin: 3px 0;

              background-color: c.$bg_light_gray;
              color: gray;
              text-transform: capitalize;

              border: 1px solid rgb(201, 201, 201);
              border-radius: 2px;

              &::placeholder {
                padding: 2px;
              }  
              
              &:focus-visible {
                outline: 1px c.$font_green solid;
              }
            }

            textarea {
              resize: none;
            }
          }
        }

      }

      .media {

        &__gallery {
          display: grid;
          grid-template-columns: repeat(3, 63px);
          gap: 5px;

          @media (min-width: 375px) {
            grid-template-columns: repeat(4, 63px);
            
          }
          @media (min-width:992px) {
            grid-template-columns: repeat(3, 63px);
            
          }

          @media (min-width:1400px) {
            grid-template-columns: repeat(4, 63px);
            
          }

          &__box {
            height: 63px;
            width: 63px;

            &:hover {
              opacity: 0.8;
            }

            img {
              width: 100%;
            
            }
          }
        }

      }
    }
  }

  &__items:last-of-type {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    background-color: rgba(21,21,21,255);
    color: rgb(89, 88, 88);
    
    @media (min-width:992px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .nav {
      display: none;

      .nav-item {

        &:not(:last-of-type){
          border-right: 2px gray solid;
        }

        .nav-link {
          padding: 0 10px;

        }
      }

      @media (min-width: 576px) {
        display: flex;
        
      }
    }
    
  }
}