@use '../abstracts';
@use '../base';


.header {
  padding: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include base.background-image;
  @include base.box-shadow;

  @include abstracts.M-size {
    padding: 35px;
    justify-content: space-between;
  }

  &__logo {
    h1 {
      margin: 0;
      a {
        display: inline-block;
      }
    }
  }

  &__media {
    .media-group--dark {
      display: none;
    
      @include abstracts.M-size {
        display: block;
      }
  
      &__icon {
        text-align: right;
      }
    }
  } 
}