@use '../abstracts/breakpoints';
@use '../base/box_shadow';
@use '../base/colors';
@use '../base/background';


%icon_bg_image {
  display: inline-block;

  width: 27px;
  height: 27px;
  background-image: url('../images/social.png');
  background-repeat: no-repeat;
}

.header {
  @include background.background-image;

  @include box_shadow.box-shadow;

  &__items {
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include breakpoints.tablet_small {
      padding: 35px;
      flex-direction: row;
      justify-content: space-between;
    }


    &__logo {
      h1 {
        margin: 0;
      }
    }
    &__contact {
       display: none;
       
      @include breakpoints.tablet_small {
        display: block;
      }
      &_icon {
        text-align: center;
        padding: 10px 0 0 0;
  
        @media (min-width:768px) {
          padding: 0;
          text-align: right;
        }
  
        &_facebook {
          @extend %icon_bg_image;
          background-position: 0 0;
        }
        &_facebook:hover {
          @extend %icon_bg_image;
          background-position: 0 -27px;
        }
        &_twitter {
          @extend %icon_bg_image;
          background-position: -37px 0;
        }
        &_twitter:hover {
          @extend %icon_bg_image;
          background-position: -37px -27px;
        }
        &_about {
          @extend %icon_bg_image;
          background-position: -74px 0;
        }
        &_about:hover {
          @extend %icon_bg_image;
          background-position: -74px -27px;
        }
        &_baseball {
          @extend%icon_bg_image;
          background-position: -111px 0;
        }
        &_baseball:hover {
          @extend %icon_bg_image;
          background-position: -111px -27px;
        }
        &_bluetooth {
          @extend %icon_bg_image;
          background-position: -150px 0;
        }
        &_bluetooth:hover {
          @extend %icon_bg_image;
          background-position: -150px -27px;
        }
      }
      &_numbers {
        text-transform: capitalize;
  
        p {
          margin: 0%;
          font-size: 14px;
  
          a {
            color: black;
    
            &:hover {
              color: colors.$primary;
            }
          }
        }
      }
    }
  }
}

.header__navbar {
  margin-top: 30px;
  
  background: linear-gradient(0deg, white 40%, transparent 40% 100%);

  &__body { 
    position: relative;
    z-index: 999;

    @include background.background-image;
    @include box_shadow.box_shadow_not_bottom;

    @include breakpoints.tablet_large {
      display: flex;
      justify-content: space-between;
      gap: 15px;     
    }
    
    @include breakpoints.laptop_small {
      box-shadow: none;
      background: transparent;
    }

    .navbar {
      @include background.background-image;
      
      @include breakpoints.laptop_small {
        flex: 1 0 0;

        @include box_shadow.box_shadow_not_bottom;       
      }

      .container-fluid {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 10px;

        .header__navbar__search {
          padding: 10px;
          display: block;

          @include breakpoints.tablet_large {
            display: none;
          }

          &__body {
            display: flex;
            height: 100%;
    
            border: 1px solid gray;
            background-color: rgba(242, 238, 238, 1);
        
            input {
              width: 100%;
    
              border: 0;
              background-color: rgba(242, 238, 238, 1);
    
              &::placeholder {
                font-size: 14px;
                text-transform: capitalize;
                color: colors.$secondary_dark;
              }
    
              &:focus-visible {
                outline: 2px colors.$primary solid;
              }

              &::-webkit-search-cancel-button {
                display: none;
              }
            }
    
            button {
              color: rgb(170, 169, 169);
              border: 1px solid transparent;
              background: transparent;
            }
          }
        }

        button {
          border: 1px transparent;
        }

        @include breakpoints.tablet_small {
          justify-content: space-between;
        }
      }

      .nav-link {
        padding: 15px;

        font-size: 14px;
      }
    }
  }

  &__search { 
    display: none;

    @include breakpoints.tablet_large {
      display: block;
      padding: 10px;

      @include background.background-image;
      box-shadow: none;
    }
    
    @include breakpoints.laptop_small {
      @include box_shadow.box_shadow_not_bottom;
    }

    &__body {
      display: flex;
      height: 100%;

      border: 1px solid gray;
      background-color: rgba(242, 238, 238, 1);
  
      input {
        width: 100%;

        border: 0;
        background-color: rgba(242, 238, 238, 1);

        &::placeholder {
          font-size: 14px;
          text-transform: capitalize;
          color: colors.$secondary_dark;
        }

        &:focus-visible {
          outline: 2px colors.$primary solid;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }
      }

      button {
        color: rgb(170, 169, 169);
        border: 1px solid transparent;
        background: transparent;
      }
    }
  }
}