@use '../abstracts/breakpoints';
@use '../base/box_shadow';
@use '../base/fonts';
@use '../base/background';
@use '../components/cards';
@use '../components/more';

.main {  
 
  @include background.background-image;
  @include box_shadow.box_shadow;

  &__items {
    padding: 0 40px 40px 40px;

    .service {
      margin-top: 20px;
      
      @include breakpoints.tablet_large {
        margin-top: 0;
        transform: translateY(-50px);
        }

      .card-secondary-light {   
        height: 100%;
        
        @include breakpoints.tablet_small {
          padding: 40px 10px 20px 10px;
        }
        
        &__text {
          display: none;
          
          @include breakpoints.mobile_large {
            display: block;
          }
        }

        &__button {
          display: none;
          
          @include breakpoints.mobile_large {
            display: inline-block;    
          }
        }    
      }
    }

    .info {
      margin-top: 30px;

      .col-lg-4:not(:first-of-type) {
        margin: 30px 0 0 0;

        @include breakpoints.tablet_small {
          margin-top: 0;
        }
      }

      .history {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_25;

          @include breakpoints.laptop_large {
            @include fonts.title_font_30;
          }
        }

        &__body {
          &__text {
            margin: 30px 0 0 0;
            
            p {
              margin: 0;
              font-size: 14px;
              color: rgb(126, 125, 125);
            }
            
            a {
              @extend %more_ellipsis;
            }
          }
        }
      }

      .advantages {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_25;

          @include breakpoints.laptop_large {
            @include fonts.title_font_30;
          }
        }

        &__body {
          padding: 0;  

          &__text {
            padding: 10px 5px;

            display: flex;
            align-items: baseline;

            border-bottom: 1px solid rgb(204, 203, 203);

            .round-button-secondary-light {
              flex: 0 0 auto;
            }

            p {
              margin: 0; 

              font-size: 16px;
              color: rgb(126, 125, 125);
            }    
          }
        }
      }

      .news {
        h3 {
          @extend %title_margin;
          @include fonts.title_font_25;

          @include breakpoints.laptop_large {
            @include fonts.title_font_30;
          }
        }

        &__body {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__list {
            flex: 1 1 0;
            
            &__text {
              p {
                margin: 20px 0 0 0;

                font-size: 14px;
                color: rgb(126, 125, 125);
              }
                   
              a {
                @extend %more_ellipsis;
              }
            }
          }
          @include breakpoints.tablet_small {
            flex-direction: row;
          }
          @include breakpoints.tablet_large {
            flex-direction: column;
          }

        }     
      }
    }

    hr {
      margin: 40px;
    }

    .multi_carousel {
      &__header {
        @extend %title_margin;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          @include fonts.title_font_25;

          @include breakpoints.laptop_large {
            @include fonts.title_font_30;
          }
        }
      }
    }
  }
}




