@use '../abstracts/breakpoints';
@use '../base/box_shadow';
@use '../base/colors';
@use '../base/fonts';
@use '../base/background';
@use '../components/cards';
@use '../components/more';

.main {  
  padding: 0 0 40px 0;
  
  @include background.background-image;
  @include box_shadow.box_shadow;

  &__items {
    padding: 0 40px;

    .service {
      margin: 20px 0 0 0;
      
      @include breakpoints.tablet_large {
        margin: 0;
        transform: translateY(-50px);
        }

      &__body {   
        padding: 20px 10px;
        height: 100%;

        @include cards.card_body;
        
        @include breakpoints.mobile_large {
          padding: 40px 10px 20px 10px;
        }
       
        h2 {
          @include cards.card_title;
        }
        
        p {
          display: none;
          
          @include breakpoints.mobile_large {
            display: block;

            @include cards.card_text;
          }
        }

        button {
          display: none;
          
          @include breakpoints.mobile_large {
            display: inline-block;

            @include cards.card_button;        
          }
        }    
      }
    }

    .info {
      margin: 30px 0 0 0;

      // .col-lg-4 {
      //   margin: 30px 0 0 0;
        
      //   @include breakpoints.tablet_large {
      //     margin: 0;
      //   }
      // }

      .history {
        h3 {
          margin: 0 0 30px 0;

          @extend %main__items_h3_fz;
        }

        &__body {
          &__text {
            margin: 30px 0 0 0;
            
            p {
              margin: 0;
              font-size: 14px;
              color: rgb(126, 125, 125);
            }
            
            a {
              @include more.more_text;
            }
          }
        }
      }

      .advantages {
        h3 {
          margin: 0 0 30px 0;

          @extend %main__items_h3_fz
        }

        &__body {
          padding: 0;  

          &__text {
            padding: 10px 5px;

            display: flex;
            align-items: baseline;

            border-bottom: 1px solid rgb(204, 203, 203);

            p {
              margin: 0; 

              font-size: 16px;
              color: rgb(126, 125, 125);
            }
          }
        }
      }

      .news {
        h3 {
          margin: 0 0 30px 0;

          @extend %main__items_h3_fz;
        }

        &__body {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__list {
            flex: 1 1 0;
            
            &__text {

              p {
                margin: 0;

                font-size: 14px;
                color: rgb(126, 125, 125);
              }
              
              a {
                display: inline-block;
                
                font-size: 14px;
                text-transform: capitalize;
                color: black;

                &::before {
                  content: "... ";
                  color: rgb(126, 125, 125);
    
                  &:hover {
                    color: black;
                  }
                }

                &:hover {
                  color: colors.$primary;
                }
              }
            }
          }
          @include breakpoints.tablet_small {
            flex-direction: row;
          }
          @include breakpoints.tablet_large {
            flex-direction: column;
          }

        }     
      }
    }
  }

  hr {
    margin: 40px;
  }

  &__items {
    .gallery {

      &__title {
        margin: 0 0 30px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          @extend %main__items_h3_fz;
        }
      }
    }
  }
}




