@use '../abstracts';
@use '../base';

.navigation {
  margin-top: 30px;
  
  @include base.fixed;
  background: linear-gradient(0deg, white 40%, transparent 40% 100%);
  
  &__navbar {

    @include base.background-image;
    @include base.box-shadow--not-bottom;
    
    @include abstracts.L-size {
      display: flex;
      justify-content: space-between; 
      
      box-shadow: none;
      background: transparent;
    }

    .navbar {
      @include base.background-image;
      
      @include abstracts.L-size {
        flex: 1 0 0;
        margin-right: 10px;

        @include base.box-shadow--not-bottom;       
      }

      .container-fluid {
        flex-direction: row-reverse;
        justify-content: space-between;

        .navigation__search {
          width: 40%;
          display: block;
          padding: 10px 15px;

          @include abstracts.L-size {
            display: none;
          }
        }
        button.navbar-toggler {
          width: 15%;
          border: 1px transparent solid;
        }
      }
      .nav-link {
        padding: 15px;
        font-size: 14px;
      }
    }
  }

  &__search { 
    display: none;

    @include abstracts.L-size {
      display: block;
      padding: 10px 15px;
      width: 300px;

      @include base.box-shadow--not-bottom;
      @include base.background-image;
    } 
  }
}


.navigation__navbar .navbar-light .navbar-nav .nav-item .nav-link.active {
  color: white;
  background-color: base.$primary;
}

.navigation__navbar .navbar-light .navbar-nav .nav-item .nav-link {
  color: black;
  border-right: 1px base.$gray-200 solid;
  text-transform: uppercase;
}

.navigation__navbar .navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: white;
  background-color: base.$primary;
}

.navigation__navbar button:focus {
  box-shadow: 0.1px 0.1px 2px 2px base.$primary, -0.1px -0.1px 2px 2px base.$primary ;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  color: white;
  background-color: base.$primary;
}