@use "../settings/settings";
@use "../settings/colors" as color;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: settings.$font-size-base;
  font-family: settings.$font-family-base;
  font-weight: settings.$font-weight-base;
  line-height: settings.$line-height-base;
  color: color.$color-body;
  background-color: color.$color-body-background;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}