@use "../base/color" as *;
@use "../base/breakpoint";

@use "../utilities/background";

@use "../components/social-media";

header {
  padding: 15px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include background.section_bg;
  @include breakpoint.tablet {
    justify-content: space-between;
  }
}

.logo a {
  display: inline-block;

  img {
    max-width: 100%;
    height: auto;
  }
}

.connect {
  margin-top: 15px;

  @include breakpoint.tablet {
    margin: 0;
  }

  .telephone {
    margin-top: 10px;
  }

  .tel_link {
    &:hover {
      color: $highlight-green;
    }
  }
}

.social_media {
  display: flex;
  justify-content: center;

  @include breakpoint.tablet {
    justify-content: flex-end;
  }
}
