@use "../base/color" as *;
@use "../base/spacing";
@use "../base/font";
@use "../base/breakpoint";

@use "../utilities/background";

@use "../vendors/bootstrap/carousel";
@use "../vendors/swiper/navigation";

@use "../components/service-card";
@use "../components/choose-bar";
@use "../components/news-card";

main {
  @include background.section_bg;
}

.navigation {
  background: linear-gradient(180deg, transparent 60%, #fff 60%);
}

.service {
  padding: 0 spacing.$horizontal-padding-s;

  @include breakpoint.desktop {
    padding: 0 spacing.$horizontal-padding-ml;

    position: relative;
    z-index: 999;
    transform: translateY(-30px);
  }

  .row > div {
    margin-top: 10px;

    @include breakpoint.desktop {
      margin-top: 0;
    }
  }
}

.introduction {
  padding: 20px spacing.$horizontal-padding-s;

  @include breakpoint.desktop {
    padding: 20px spacing.$horizontal-padding-ml;
  }

  .row {
    > div + div {
      margin-top: 40px;
    }

    @include breakpoint.tablet {
      > div:not(:last-child) {
        margin-top: 0;
      }
    }

    @include breakpoint.desktop {
      > div:last-child {
        margin-top: 0;
      }
    }
  }

  .introduction_content_title {
    @extend .primary_title;
    margin-bottom: 20px;
  }
}

.welcome {
  p {
    margin-top: 20px;
  }
  .welcome_image_wrapper {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  a {
    font-weight: 600;
    text-transform: capitalize;

    &:hover {
      color: $highlight-green;
    }
  }
}

.news_cards {
  display: flex;
  flex-direction: column;

  @include breakpoint.tablet {
    flex-direction: row;
  }

  @include breakpoint.desktop {
    flex-direction: column;
  }

  .news_card {
    &:not(:first-child) {
      margin-top: 15px;

      @include breakpoint.tablet {
        margin-top: 0;
      }

      @include breakpoint.desktop {
        margin-top: 15px;
      }
    }
  }
}

.work_gallery {
  $gallery_top_space: 20px;

  padding: $gallery_top_space spacing.$horizontal-padding-s 20px;

  @include breakpoint.desktop {
    padding: $gallery_top_space spacing.$horizontal-padding-ml 20px;
  }

  .gallery_title {
    @extend .primary_title;
  }

  &::before {
    content: "";
    display: block;
    border: 1px solid $gray-200;

    position: relative;
    bottom: $gallery_top_space;
  }
}
