@use "../base/spacing";

@use "../utilities/breakpoint";
@use "../utilities/position";

@use "../vendors/bootstrap/navbar";
@use "../vendors/bootstrap/search";

.navigation {
  margin-top: spacing.$sections-margin-s;

  @include breakpoint.tablet {
    margin-top: spacing.$sections-margin-ml;
  }
}

.navigation {
  position: relative;

  .search {
    @include position.absolute(12px, 8px, auto, auto);
    margin-left: 20px;

    @include breakpoint.tablet {
      //turn to flex item
      position: static;
      margin: 0;
      padding: 10px;
    }
    @include breakpoint.desktop {
      //turn to flex item
      margin-left: 20px;
    }
  }

  @include breakpoint.tablet {
    display: flex;
    flex-wrap: wrap;

    .modify_navbar {
      flex: 1 0 100%;
    }

    .search {
      flex: 1 0 100%;
    }
  }

  @include breakpoint.desktop {
    .modify_navbar {
      flex: 1 0 70%;
    }

    .search {
      flex: 1 0 20%;
    }
  }
}
