@use "../abstracts" as *;
%body-pseudo-element {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  background: $black;
}

body {
  position: relative;
  background: $bg-wood;
  &::before {
    @extend %body-pseudo-element;
    height: 95px;
    top: 0;
  }
  &::after {
    @extend %body-pseudo-element;
    height: 220px;
    bottom: 0;
  }
}
.body_container {
  max-width: 1200px;
}
