@use "../abstracts/index" as *;

@use "../vendors/bootstrap";
@use "../components/search";
@use "../components/card";
@use "../components/info";
@use "../components/feature_works";

.main_content_container {
  background: $bg-notes;
  padding: 0;
}
.main_info_container {
  padding: 0px 40px;
}
