@use "../abstracts" as *;

@use "../vendors/bootstrap";
@use "../components/search";
@use "../components/card";
@use "../components/info";
@use "../components/feature_works";

.main_content_container {
  background: $bg-notes;
  padding: 0;
}
.main_info_container {
  position: relative;
  padding: 0px 40px 70px;
  margin-top: 26px;
  @include breakpoint($md) {
    margin-top: -26px;
  }
  & > :nth-child(2) {
    margin-top: 60px;
  }
  & > :last-child {
    margin-top: 50px;
  }
}
