body {
  background-image:url("/images/bg.jpg");
  background-position: center;
  background-size: 20%;
  box-shadow: 0 90px 1px -1px rgba(21,21,21,255) inset, 0 -200px 1px -1px rgba(21,21,21,255) inset;
}

.container {
  background-image: url("/images/subbg.gif");
}

@media (min-width:1440px) {
  .container {
    max-width: 1250px;
  }
}