body {
  background-image: linear-gradient(0deg, rgb(22, 22, 22) 0 10%, transparent 10% 96.5%, rgb(22, 22, 22) 96.5% 100%), url("/images/bg.jpg");
  background-position: center;
  background-size: 20%;
  // box-shadow: 0 90px 1px -1px rgba(21,21,21,255) inset, 0 -200px 1px -1px rgba(21,21,21,255) inset;
}