$primary:rgb(129, 184, 0);

$gray-100: #EAEAEA;
$gray-200: #E5E5E5;
$gray-300: #D7D4D4;
$gray-400: #CECDCD;
$gray-500: #9A9A9A;
$gray-600: #808080;
$gray-700: #626262;
$gray-800: #595858;
$gray-900: #434242;
$gray-1000:#3A3A3A;
$gray-1200: #0f0f0f;

// $gray-21: #EAEAEA;
// $gray-26: #E5E5E5;
// $gray-43: #D7D4D4;
// $gray-50: #CECDCD;
// $gray-101: #9A9A9A;
// $gray-127: #808080;
// $gray-157: #626262;
// $gray-167: #595858;
// $gray-189: #434242;
// $gray-197:#3A3A3A;
// $gray-240: #0f0f0f;
