@use '../abstracts/breakpoints';

@mixin h3_font_25 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin h3_font_20 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;   
}


