@use '../module/reset.scss';
@use '../Utilities/color.scss';
@use '../Utilities/sizing.scss';
@use '../Utilities/font-size.scss';
@use '../Utilities/background.scss';

.header{
    @extend %background-shadow;
    background-image: url(../images/subbg.gif);
    text-align: center;
    padding: 15px 30px;

    .logo{
        h1{
            margin: 0 auto 30px;
            width: sizing.$width-75;
            @media(min-width:768px) {
                margin: 0;
            }
            img{
                width: sizing.$width-full;
            }
        }
    }
    .social_media_area{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media (min-width:768px) {
            align-items: flex-end;
        }
        
        .social_media_icon{
            display: flex;
    
            a{
                .facebook{
                    @include background.social-media-image(2px,0px);
                    &:hover{
                        @include background.social-media-image(2px,-27px);
                    }
                }
                .twitter{
                    @include background.social-media-image(-35px,0px);
                    &:hover{
                        @include background.social-media-image(-35px,-27px);
                    }
                }
                .flickr{
                    @include background.social-media-image(-72px,0px);
                    &:hover{
                        @include background.social-media-image(-72px,-27px);
                    }
                }
                .dribbble{
                    @include background.social-media-image(-109px,0px);
                    &:hover{
                        @include background.social-media-image(-109px,-27px);
                    }
                }
                .rss{
                    @include background.social-media-image(-148px,0px);
                    &:hover{
                        @include background.social-media-image(-148px,-27px);
                    }
                }
            }
        }
        .telephone{
            a{
                color: color.$black;
                text-transform: capitalize;
            }
        }
    }
}