@use '../module/reset.scss';
@use '../Utilities/color.scss';
@use '../Utilities/sizing.scss';
@use '../Utilities/font-size.scss';
@use '../Utilities/background.scss';
@use '../components/form.scss';
@use '../element/button.scss';

footer{
    margin-top: 60px;
    .footer_area{
        @extend %background-shadow;
        background-image: url(../images/subbg.gif);
        text-align: center;
        padding: 30px;
        @media (min-width:992px) {
            text-align: left;
        }
        .latest_tweets{
            h4{
                @extend %font-h4;
            }
            p{
                @extend %context;
            }
        }
        .testimonials{
            h4{
                @extend %font-h4;
            }
            .text_balloon{
                background-color: color.$background-gray;
                // border: solid 1px color.$button-gray;
                border-radius: 5px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -15px;
                    transform: translateX(-50%);
                    @include background.balloon-triangle;
                    @media (min-width:992px) {
                        left: 0;
                        transform: translateX(0);
                    }
                }
                p{
                    @extend %context;
                    color: color.$font-gray;
                }
            }
            .ceo_info{
                margin-top: 30px;
                .ceo_image{
                    display: inline-block;
                    vertical-align: middle;
                    img{
                        object-fit: cover;
                    }
                }
                .ceo_introduction{
                    display: inline-block;
                    vertical-align: middle;
                    span{
                        @extend %context;
                    }
                    a{
                        color: color.$green;
                        @extend %context;
                        font-weight: 600;
                        font-style: oblique;
                    }
                }
            }
        }

        .get_in_touch{

            h4{
                @extend %font-h4;
            }
            form{
                .name_text{
                    @extend %input-style;
                    padding: 5px;
                }
                .email_text{
                    @extend %input-style;
                    padding: 5px;
                }
                .text_area{
                    @extend %input-style;
                    padding: 5px;
                }
            }
            .clear_button{
                @extend %form-darkgray-button;
                padding: 5px 10px;
            }
            .send_button{
                @extend %form-green-button;
                padding: 5px 10px;
            }
        }

        .flickr{
            h4{
                @extend %font-h4;
            }
            .photo_area{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                a{
                    width: calc((100% - 15px) / 4);
                    margin-bottom: 5px;
                    // margin-right: 5px;
                }
                img{
                    width: sizing.$width-full;
                    object-fit: cover;
                }
            }
        }
    }
    .copyright_area{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 0;

        .copyright{
            flex: 0 0 100%;
            margin-bottom: 15px;
            text-align: center;
            @media (min-width:992px) {
                flex: 0 0 50%;
                text-align: left;
                margin-bottom: 0;
            }
            .copyright_text{
                font-size: 14px;
                font-weight: 600;
                color: color.$font-gray;
                text-transform: uppercase;
                &::after{
                    content: "";
                    height: auto;
                    border-right: solid 2px color.$font-gray;
                    margin-right: 5px;
                }
            }
            a{
                font-size: 14px;
                font-weight: 600;
                color: color.$green;
                display: inline-block;
            }
        }

        .footer_menu{
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width:768px) {
                flex: 0 0 50%;
                flex-direction: row;
                justify-content: flex-end;
            }

            a{
                font-size: 14px;
                font-weight: 600;
                color: color.$font-gray;
                text-transform: uppercase;
                padding: 5px 8px;
                &:hover{
                    color: color.$green;
                }
                @media (min-width:768px) {
                    border-right: solid 2px color.$font-gray;
                    padding: 0 8px;
                    &:nth-child(6){
                        border: none;
                    }
                }
            }
        }
    }
}