header
  background-image: url("../img/bg.jpg")
  background-repeat: repeat
  // position: relative
  height: 100px
  #top_content
    z-index: 1
    +bg_setting
    top: 10px
    .top_logo
      padding: 30px
      +top_bg
      img
        float: left
    .top_right_title
      // float: right
      margin-left: 60%
      text-align: right
      .facebook
        +top_button
        background-position: 0 0
      .twitter
        +top_button
        background-position: -37px 0
      .vimeo
        +top_button
        background-position: -74px 0
      .delicious
        +top_button
        background-position: -111px 0
      .rss
        +top_button
        background-position: -150px 0
  .header_button
    margin-top: 5%
    .header_button1
      background-color: rgba(255, 255, 255, 0)
      border-color: rgba(255, 255, 255, 0)
      .container-fluid
        padding: 0
        .navbar-collapse
          padding: 0
          .left_nav
            // max-width: 100%
            background-color: white
          // width: 77%
          // display: inline-block
          .right_form
            margin-right: 0.5px
            background-color: white
          // margin-right: 0
      // background-color: rgba(255, 255, 255, 0)
        .left_nav
