@mixin top_button
  display: block
  background-image: url(../img/top_socials.png)
  background-repeat: no-repeat
  height: 27px
  width: 27px

@mixin bg_setting
  position: relative
  width: 90%
  left: 5%

@mixin top_bg
  background-image: url(../img/white_bg.gif)

@mixin middle_icon
  background-repeat: no-repeat
  background-size: cover
  height: 50px
  width: 50px
  background-position: center
  margin: 20px auto

@mixin mc3_middle_bg
  background-image: url(../img/h3_plus.png)
  background-position: left
  background-repeat: no-repeat

@mixin mc3_middle_bg_hover
  background-image: url(../img/h3_minus.png)
  background-position: left
  background-repeat: no-repeat

@mixin title_setting
  font-size: 30px
  font-weight: normal
  font-family: 'Droid Sans', sans-serif
  margin: 30px auto

@mixin title2_setting
  font-size: 24px
  font-weight: normal
  font-family: 'Droid Sans', sans-serif
  margin: 10px auto

@mixin triangle1
  width: 0
  height: 0
  border-style: solid
  border-width: 25px 50px 0 0
  border-color: #e0e0e0 transparent transparent transparent


$color_green: rgb(91,163,0)
$color_white: rgb(255,255,255)
