/* line 12, ../sass/_header.scss */
.clear {
  clear: both;
}

/* line 16, ../sass/_header.scss */
body {
  background-image: url("../img/bg.jpg");
}
/* line 19, ../sass/_header.scss */
body .black-top {
  background-color: black;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0px;
}
/* line 27, ../sass/_header.scss */
body .container {
  width: 1100px;
  margin: 0 auto;
}
/* line 31, ../sass/_header.scss */
body header {
  background-image: url("../img/subbg.gif");
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 30px;
}
/* line 42, ../sass/_header.scss */
body .social-pic {
  float: right;
  right: 10px;
}
/* line 45, ../sass/_header.scss */
body .social-pic ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 49, ../sass/_header.scss */
body .social-pic li {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
}
/* line 56, ../sass/_header.scss */
body #scl_pic1 {
  background-image: url("../img/social.png");
  display: inline-block;
  height: 27px;
  width: 27px;
  background-position: 0px 0px;
}
/* line 61, ../sass/_header.scss */
body #scl_pic2 {
  background-image: url("../img/social.png");
  display: inline-block;
  height: 27px;
  width: 27px;
  background-position: -37px 0px;
}
/* line 66, ../sass/_header.scss */
body #scl_pic3 {
  background-image: url("../img/social.png");
  display: inline-block;
  height: 27px;
  width: 27px;
  background-position: -74px 0px;
}
/* line 71, ../sass/_header.scss */
body #scl_pic4 {
  background-image: url("../img/social.png");
  display: inline-block;
  height: 27px;
  width: 27px;
  background-position: -111px 0px;
}
/* line 76, ../sass/_header.scss */
body #scl_pic5 {
  background-image: url("../img/social.png");
  display: inline-block;
  height: 27px;
  width: 27px;
  background-position: -150px 0px;
}
/* line 81, ../sass/_header.scss */
body #scl_pic1:hover {
  background-position: 0px -27px;
}
/* line 84, ../sass/_header.scss */
body #scl_pic2:hover {
  background-position: -37px -27px;
}
/* line 87, ../sass/_header.scss */
body #scl_pic3:hover {
  background-position: -74px -27px;
}
/* line 90, ../sass/_header.scss */
body #scl_pic4:hover {
  background-position: -111px -27px;
}
/* line 93, ../sass/_header.scss */
body #scl_pic5:hover {
  background-position: -150px -27px;
}

/* line 1, ../sass/_main.scss */
.main {
  margin-top: 50px;
}
/* line 4, ../sass/_main.scss */
.main ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 7, ../sass/_main.scss */
.main ul li {
  padding: 20px;
  float: left;
  border-right: 1px solid #d9d9d9;
  color: black;
}
/* line 13, ../sass/_main.scss */
.main ul a {
  text-decoration: none;
}
/* line 17, ../sass/_main.scss */
.main ul li:hover {
  background-color: #80b600;
  color: white;
}
/* line 23, ../sass/_main.scss */
.main .col-md-9 {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 29, ../sass/_main.scss */
.main .col-md-3 {
  padding-right: 0px;
}
/* line 32, ../sass/_main.scss */
.main .col-md-3 .search-bg {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 6px;
}
/* line 39, ../sass/_main.scss */
.main .col-md-3 textarea {
  background-color: #dddddd;
  border: 0px;
  width: 100%;
  height: 100%;
  resize: none;
}
/* line 47, ../sass/_main.scss */
.main .col-md-3 button {
  background-color: #dddddd;
  border: 0px;
  position: absolute;
  right: 20px;
  top: 15px;
}

/* line 17, ../sass/_content.scss */
.content #cover img {
  width: 100%;
}
/* line 22, ../sass/_content.scss */
.content button {
  width: 60px;
  height: 30px;
  color: black;
  background-color: #cdcdcd;
  border: none;
}
/* line 30, ../sass/_content.scss */
.content #service {
  background-image: url("../img/subbg.gif");
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* line 35, ../sass/_content.scss */
.content #service .col-bg {
  background-color: #e7e7e7;
  padding: 20px 30px 20px 30px;
  position: relative;
  top: -40px;
}
/* line 40, ../sass/_content.scss */
.content #service .col-bg p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10pt;
}
/* line 45, ../sass/_content.scss */
.content #service .col-bg img {
  padding-top: 10px;
}
/* line 50, ../sass/_content.scss */
.content #service .col-bg:hover {
  background-color: #646464;
  color: white;
}
/* line 56, ../sass/_content.scss */
.content #intro {
  background-image: url("../img/subbg.gif");
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
/* line 8, ../sass/_content.scss */
.content #intro h3 {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 61, ../sass/_content.scss */
.content #intro a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
/* line 67, ../sass/_content.scss */
.content #intro img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
/* line 73, ../sass/_content.scss */
.content #intro p {
  font-size: 10pt;
}
/* line 78, ../sass/_content.scss */
.content #intro .choose table {
  margin-top: -10px;
}
/* line 81, ../sass/_content.scss */
.content #intro .choose td {
  vertical-align: middle;
}
/* line 84, ../sass/_content.scss */
.content #intro .choose img {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  margin: 10px auto;
}
/* line 92, ../sass/_content.scss */
.content #intro .event1 {
  padding-bottom: 10px;
}
/* line 94, ../sass/_content.scss */
.content #intro .event1 h5 {
  background-color: #80b600;
  padding: 5px;
  width: 50%;
  text-align: center;
  margin-top: 0px;
  color: white;
}
/* line 105, ../sass/_content.scss */
.content #feature-work {
  background-image: url("../img/subbg.gif");
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
/* line 8, ../sass/_content.scss */
.content #feature-work h3 {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 109, ../sass/_content.scss */
.content #feature-work h3 {
  padding-left: 15px;
}
/* line 112, ../sass/_content.scss */
.content #feature-work img {
  width: 100%;
}

/* line 1, ../sass/_footer.scss */
#foter {
  background-image: url("../img/subbg.gif");
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-top: 80px;
  padding-bottom: 20px;
}
/* line 7, ../sass/_footer.scss */
#foter p {
  font-size: 10pt;
  margin: 0px;
}
/* line 12, ../sass/_footer.scss */
#foter input {
  background-color: #e6e6e6;
  border-width: 0px;
  margin-bottom: 10px;
  width: 100%;
}
/* line 19, ../sass/_footer.scss */
#foter .test-descript {
  padding: 20px;
  background-color: #e6e6e6;
}
/* line 24, ../sass/_footer.scss */
#foter #men {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 27, ../sass/_footer.scss */
#foter #men a {
  text-decoration: none;
  color: #80b600;
}
/* line 34, ../sass/_footer.scss */
#foter #link-pic textarea {
  width: 100%;
  height: 80px;
  background-color: #e6e6e6;
  border: 0px;
  resize: none;
  margin-bottom: 15px;
}
/* line 42, ../sass/_footer.scss */
#foter #link-pic button {
  font-size: 8pt;
  color: white;
  border: 0px;
  height: 30px;
  font-weight: bold;
  border: 0px;
}
/* line 50, ../sass/_footer.scss */
#foter #link-pic .clr-form {
  background-color: black;
  margin-right: 10px;
}
/* line 54, ../sass/_footer.scss */
#foter #link-pic .send {
  font-size: 8pt;
  background-color: #80b600;
}
/* line 60, ../sass/_footer.scss */
#foter .web-site {
  margin-left: -5px;
  margin-top: -5px;
}
/* line 63, ../sass/_footer.scss */
#foter .web-site img {
  width: 100%;
  height: 100%;
}
/* line 67, ../sass/_footer.scss */
#foter .web-site .col-md-3 {
  padding: 5px;
}

/* line 73, ../sass/_footer.scss */
#black-bot {
  background-color: black;
  color: #8e8e8e;
  padding: 20px 0px 20px 0px;
}
/* line 77, ../sass/_footer.scss */
#black-bot .col-md-6 {
  padding: 0px;
}
/* line 81, ../sass/_footer.scss */
#black-bot #copyright a {
  text-decoration: none;
  color: #80b600;
}
/* line 85, ../sass/_footer.scss */
#black-bot #copyright p {
  margin-bottom: 0px;
}
/* line 91, ../sass/_footer.scss */
#black-bot #bot-menu a {
  text-decoration: none;
  color: #8e8e8e;
}
/* line 95, ../sass/_footer.scss */
#black-bot #bot-menu a:hover {
  color: #80b600;
}
/* line 98, ../sass/_footer.scss */
#black-bot #bot-menu ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}
/* line 103, ../sass/_footer.scss */
#black-bot #bot-menu li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #8e8e8e;
}

/* line 112, ../sass/_footer.scss */
footer {
  margin-bottom: -200px;
}

/* line 116, ../sass/_footer.scss */
.bottom-bg {
  background-color: black;
  height: 200px;
  width: 100%;
  z-index: -1;
}
