@use '../base/color';
@use '../base/font_size';
@use "../layout/main";
@use '../components/chat_box';
@use '../components/input';
@use '../components/textarea';
@use '../components/grid';
@use "../components/copyright";
@use '../components/card';
@use "../base/background.scss";
// contact
.contact {
    padding: 50px 50px;
    // filter: drop-shadow(1px 1px 3px rgb(51, 45, 45));
    box-shadow: background.$box-shadow;
    background: background.$sub_background;
    .row {
        gap: 30px;
        @media (min-width: 992px) {
            gap: 0;
        }
    }
    h2 {
        margin-bottom: 20px;
        @extend %all_h2;
    }
}
.footer_bottom {
    padding: 20px 10px;
    justify-content: space-between;
    background-color: #000;
    a {
        color: color.$default_gray;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

@media (min-width: 992px) {
    .footer_bottom {
        display: flex;
    }
}
