@use '../base/font_size';
@use '../base/color';
@use '../base/background.scss';
@use '../base/breakpoint.scss';
@use '../components/chat_box';
@use '../components/subscribe';
@use '../components/footer_nav';
@use '../components/album';
@use '../components/copyright';
@use '../components/sharing';
// contact
.contact {
    padding: 50px 50px;
    box-shadow: background.$box-shadow;
    background: background.$sub_background;
    h4 {
        margin-bottom: 20px;
    }
}
%spacing {
    margin-bottom: 30px;
    @include breakpoint.min_width(breakpoint.$pc) {
        margin-bottom: 0;
    }
}
.tweets {
    @extend %spacing;
    p {
        margin-bottom: 0;
    }
}
.testimonials {
    @extend %spacing;
}
.personal {
    @extend %spacing;
}
.footer_link {
    padding: 20px 10px;
    justify-content: space-between;
    background-color: #000;
    @include breakpoint.min_width(breakpoint.$pc) {
        display: flex;
    }
    a {
        color: color.$default_gray;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}
