@use '../base/color';
@use '../base/font_size';
@use "../base/background.scss";
@use '../base/breakpoint.scss';
@use "../layout/main";
@use '../components/chat_box';
@use '../components/footer_subscribe';
@use '../components/footer_nav';
@use '../components/footer_textarea';
@use '../components/flicker_grid';
@use "../components/copyright";
@use '../components/footer_sharing';

// contact
.contact {
    padding: 50px 50px;
    // filter: drop-shadow(1px 1px 3px rgb(51, 45, 45));
    box-shadow: background.$box-shadow;
    background: background.$sub_background;
    .row {
        gap: 30px;
        @include breakpoint.pad_row {
            gap: 0;
        }
        // @media (min-width: 992px) {
        //     gap: 0;
        // }
    }
    h2 {
        margin-bottom: 20px;
        @extend %all_h2;
    }
}
.footer_bottom {
    padding: 20px 10px;
    justify-content: space-between;
    background-color: #000;
    @include breakpoint.pad_row {
        display: flex;
    }
    a {
        color: color.$default_gray;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

// @media (min-width: 992px) {
//     .footer_bottom {
//         display: flex;
//     }
// }
