//main> menu
@use '../base/color';
@use '../base/font_size';
@use '../base/breakpoint';
@use '../components/social';
@use '../components/menu';

.header_inner {
    padding: 32px;
    border: 1px solid #000;
    filter: drop-shadow(2px 2px 5px color.$default_gray);
    margin-bottom: 20px;
    background-color: #fff;
    @include breakpoint.min_width(breakpoint.$pc) {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 0;
        text-align: center;
        @include breakpoint.min_width(breakpoint.$pc) {
            margin-bottom: 0px;
        }
    }
    a {
        height: 100%;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
