@use '../base/color';
$margin_auto: auto;
// main
// card_banner
%margin-bottom {
    margin-bottom: 20px;
}

.card_banner .card {
    padding: 20px;
    height: 100%;
}

@media (min-width: 992px) {
    .card_banner .col-lg-3 {
        margin-top: -40px;
    }
}
.card_banner .card .card-title {
    @extend %margin-bottom;
}

.card_banner .card .wrap_img {
    @extend %margin-bottom;
}

.card_banner .wrap_img {
    width: 80px;
    height: 80px;
    margin: $margin_auto;
}
.container .card_banner {
    text-align: center;
    .card {
        padding: 16px;
        border-radius: 0px;
        &:hover {
            color: #fff;
        }
        .card-body {
            padding: 0;
        }
    }
}

@media (min-width: 768px) {
    .card_banner .card-text {
        height: 120px;
    }
}
@media (min-width: 992px) {
    .card_banner .card-text {
        height: 200px;
    }
}
@media (min-width: 1200px) {
    .card_banner .card-text {
    }
}
@media (min-width: 992px) {
    .container .card-title {
        height: 42px;
    }
}
@media (min-width: 1200px) {
    .container .card-title {
        height: fit-content;
    }
}

//information
.information {
    margin-bottom: 50px;
}
.information h2 {
    @extend %margin-bottom;
}

.welcome img {
    width: 100%;
}
.welcome p {
    word-spacing: 2px;
    color: #000;
    a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: red;
        }
    }
}
//choose
$font-size: 50px;
.choose div {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid color.$button_color;
    i {
        margin-right: 20px;
        border-radius: 50px;
        font-size: 20px;
        height: $font-size;
        width: $font-size;
        color: #fff;
        text-align: center;
        line-height: $font-size;
        flex-shrink: 0;
        &:hover {
            transform: rotate(90deg);
            transition: color 0.7s;
        }
    }

    p {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .choose div {
        align-items: initial;
    }
}
//news
.news .card:nth-child(2) {
    margin-bottom: 24px;
}
.news .card_content {
    padding-left: 24px;
}
.news .card .card_content .card-text {
    font-size: 14px;
}
.news .card .card_content .date {
    width: fit-content;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 24px;
}
.news .card .wrap_img img {
    width: 100%;
}
.news .card .card_content .card-body {
    padding: 0;
}
.news .card .card_content .card-body a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

main {
    margin-bottom: 80px;
}
//feature
.feature:before {
    content: '';
    display: block;
    border: 1px solid color.$button_color;
    margin-bottom: 50px;
}
.feature h2 {
    margin-bottom: 30px;
}
.feature .feature_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//together layout
.card_banner {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 80px;
}
.information {
    padding: 0 35px;
}
.feature {
    padding: 35px 35px;
}
